﻿@using SCA.Indigo.Web.UI.Resource;
@model SCA.Indigo.Web.UI.ViewModel.SearchViewModel
@using SCA.Indigo.Web.UI.Helper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Common.reslblTitle</title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">

        $jqComm(document).ready(function () {            

            $jqComm("#dock li ul").removeClass("free");
            $jqComm("#dock li ul").addClass("dock");
            $jqComm("#dock li ul").addClass("docked");
            $jqComm("#search_dock_bg").css('display', 'block');
            $jqComm("#dock li ul").animate({ left: "40px" }, 200);
            
            //$jqComm("#container").css("margin-left", "450px");
            //$jqComm("#container").css("width", "840px");

            $jqComm("a.undock").click(function () {
                //$jqComm("#container").css("margin-left", "auto");
                //$jqComm("#container").css("width", "960");
            });

            $jqComm("a.dock").click(function () {
                //$jqComm("#container").css("margin-left", "450px");
                //$jqComm("#container").css("width", "840px");
            });

      
        });
        $jqComm(function () {
            $jqComm("#DDLCustomer").multiselect({ noneSelectedText: 'Customer' });
            $jqComm("#DDLPatientStatus").multiselect({ noneSelectedText: 'Status' });
        });
    </script>

   
    @*<script type="text/javascript">
        $jqComm(window).load(function (e) {
            $jqComm("#gview_jqPatientAnalysis .ui-jqgrid-bdiv").mCustomScrollbar("destroy");
            $jqComm("#gview_jqMedicalStaffAnalysis .ui-jqgrid-bdiv").mCustomScrollbar("destroy");
        });
   </script>*@

    <script type="text/javascript">
    $jqComm(window).load(function (e) {
        $jqComm('input[type="radio"], .ui-corner-all input[type="checkbox"]').ezMark();
    });

    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {

        setTimeout(function () {
            @{
                   if (@Convert.ToBoolean(Session[Constants.SessionIsCalledFromSearch]))
                   {
                       Session[Constants.SessionIsCalledFromSearch] = false;
                   }

                   if (@Convert.ToBoolean(Session[Constants.SessionIsCalledFromCareHome]))
                   {
                       Session[Constants.SessionIsCalledFromCareHome] = false;
                   }
               }

            if ($jqGrid("#hdnIsCalledFromSearchPage").length > 0) {
                if ($jqGrid("#hdnIsCalledFromSearchPage").val().toLowerCase() == "true") {
                    $jqGrid("#hdnIsCalledFromSearchPage").val('false');
                }
            }

            if ($jqGrid("#hdnIsCalledFromCareHome".length > 0)) {
                if ($jqGrid("#hdnIsCalledFromCareHome").val().toLocaleLowerCase() == "true") {
                    $jqGrid("#hdnIsCalledFromCareHome").val('false');
                }
            }
        }, 200);
    });
    </script>

</head>
<body>
    <form id="SearchForm">
        <div id="searchMainDiv">
            <section id="search_pannel">
                <ul id="dock">
                    <li id="links">

                        <div class="docking_button">
                            <a href="javascript:void(0)" class="active">@Common.reslblSearch</a>
                        </div>

                        <ul class="free">
                            <li class="header">
                                <a href="javascript:void(0);" class="dock"><img src="~/Images/dock.png" class="dock_img"></a>
                                <a href="javascript:void(0);" class="undock"><img src="~/Images/undock.png" class="dock_img"></a>
                            </li>
                            <li>
                                <div id="searchPanelMain" class="search_pannel_main">
                                    <div class="search_pannel_options">
                                        <div class="search_pannel_searchbox">
                                            <span class="search_pannel_searchtxtbox">
                                                <input type="text" id="txtpatsearch" placeholder="Type to search" class="bg_eee" />
                                            </span>
                                            <span class="search_pannel_searchbtn">
                                                <a href="javascript:void(0);" id="btnPatientSearch"></a>
                                            </span>
                                            <span class="search_pannel_ordertxtbox" style="display:block">
                                                <input type="text" id="searchID" width="50%" placeholder="@Common.hdnPlaceholderSearchId" maxlength="20" />
                                            </span>
                                            <span class="inline_block float_right" id="btnClearSearchResults">
                                                <a href="javascript:void(0)" class="clear_search"><i class="fa fa-trash"></i> Clear Search</a>
                                            </span>

                                        </div>


                                        <span class="clear"></span>
                                        <span class="search_pannel_selectbox margin_left_0">
                                            @Html.DropDownList("DDLCustomer", (IEnumerable<SelectListItem>)ViewBag.Customer, new { multiple = "multiple", @class = "custom-select-2", @id = "DDLCustomer" })
                                        </span>
                                        <span class="search_pannel_selectbox">
                                            @Html.DropDownList("DDLPatientStatus", (IEnumerable<SelectListItem>)ViewBag.PateintStatus, new { multiple = "multiple", @class = "custom-select-2", @id = "DDLPatientStatus" })
                                        </span>


                                        <div class="search_cell new_select_for_search">
                                            <span class="search_cell_field select-style">
                                                @Html.DropDownList("DDLPatientType", (IEnumerable<SelectListItem>)ViewBag.PatientType, @Common.resSearchPatientTypeDropdown, new { @class = "custom-select", @id = "DDLPatientType" })
                                            </span>
                                        </div>

                                        @*<span class="search_pannel_selectbox">
                                                @Html.DropDownList("DDLPatientType", (IEnumerable<SelectListItem>)ViewBag.PatientType, @Common.resSearchPatientTypeDropdown, new { @class = "custom-select", @id = "DDLPatientType" })
                                            </span>*@

                                        <span class="search_pannel_ordertxtbox">
                                            <input type="text" id="orderNo" width="50%" placeholder="Order No." />


                                        </span>
                                        <span class="clear"></span>
                                    </div>
                                    @{Html.RenderPartial("_SearchResult");}
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </section>
        </div>

        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divErrorMessage" class="pop_error">
                    </div>
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok small_btn_2">@Common.resbtnErrorOk</a>
                    </div>
                </div>

                @*<div class="j_lightbox_error_close"></div>*@
            </div>
        </div>
        <div style="display: none">
            <input type="hidden" id="hdnerrorMsg" value="@Common.resSearchNoRecordFound" />
        </div>
        <div>
            <form id="Search">
                <div class="search_form_main_btns search_form_main_btns_1" id="divSearchScreenPatientDetails">
                    <div class="cust_pat_details width_605px" style="display:none">
                        <label title="Customer ID Customer Name (SAP ID)" id="lblCustomerName">Customer ID/Aron Watson/SAP ID</label>
                        <br />
                        <label title="Patient ID/Name" id="lblPatientName">Patient ID/Name</label>
                    </div>
                    <input type="button" value="@Common.resbtnSave" class="search_form_buttons padding_left_right_15 ClassSavePatient" id="btnSave" onclick="SavePatientDetails(this.id)">
                    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 BtnEditEnable" id="btnEdit">@Common.reslnkEdit</a>
                    <a class="search_form_buttons padding_left_right_15 BtnExitSearch" id="btnExit">@Common.resBtnGeneralUndo</a>
                    <a class="search_form_buttons padding_left_right_15" id="btnBackSearch">@Common.resBack</a>
                </div>
                <div class="patientinfo_main">
                    <span class="heading-1 patient-information-icon"><i class="fa fa-file-text-o"></i> @Common.resPatientInformationTitle</span>
                    <div id="DivPatientDetails" class="patient_information collapse">
                        @{Html.RenderPartial("_PatientInfo", Model.ViewModelPatientInfo);}
                    </div>

                    @{Html.RenderPartial("_PatientAnalysisMedicalStaff", Model.ViewModelPatientAnalysisMedicalStaff);}
                    <span class="heading-1 prescription-information-icon span_expnd"><i class="fa fa-file-o"></i> @Common.resheadingPrescriptionInformation</span>
                    <div class="prescription_nformation collapse">
                        <div class="prescription_dis_msg disable_msg">@Common.resMessageNoAccess</div>
                        @{Html.RenderPartial("_PatientPrescription", Model.ViewModelPatientPrescription);}
                    </div>
                </div>

                @*<div class="form_main_btns approver_section">
                    <input type="password" class="bg_eee" placeholder='@Common.resPlaceholderPIN' id="txtPIN">&nbsp;&nbsp;
                    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" id="btnApprove">@Common.resbtnApprove</a>&nbsp;&nbsp;
                    <a href="@Url.Action("Prescription", "Authorize")" class="search_form_buttons padding_left_right_20" id="btnPreExit">@Common.reslnkCancel</a>
                    <div id="prescriptionMessage" style="display: none" class="field-validation-error"></div>
                    <div id="divApprovalDialog" style="display:none" class="msgSuccess"></div>
                    </div>*@


                @*<div class="search_form_main_btns search_form_main_btns_1">
                        <input type="button" value="@Common.resbtnSave" class="search_form_buttons padding_left_right_15 ClassSavePatient" id="btnDownSave" onclick="SavePatientDetails()">&nbsp;
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 BtnEditEnable" id="btnDownEdit">@Common.reslnkEdit</a>&nbsp;
                        <a class="search_form_buttons padding_left_right_15 BtnExitSearch" id="btnDownExit">@Common.reslnkCancel</a>
                    </div>*@

                <section class="scrollup"><a href="javascript:void(0);">@Common.reslnkPageUp</a></section>
            </form>

        </div>
            
        <input type="hidden" id="hdnSessionDoNotShow" />
    
        <input type="hidden" id="hdnisRedirect" value="@Model.IsFromOrder" />
        <input type="hidden" id="hdnSearchParam" value="@Model.SearchParam" />
        <input type="hidden" id="hdnCustomer" value="@Model.Customer" />
        <input type="hidden" id="hdnSearchStatus" value="@Model.SearchStatus" />
        <input type="hidden" id="hdnSearchType" value="@Model.PatientType" />
        <input type="hidden" id="hdnSearchOrderNumber" value="@Model.OrderNubmer" />
        <input type="hidden" id="hdnSearchId" value="@Model.SearchId" />
        <input type="hidden" id="hdnTypeToSearch" value="@Model.TypeToSearch" />
        <input type="hidden" id="hdnIsCalledFromSearchPage" value="@Model.IsCalledFromSearch" />        
        <input type="hidden" id="hdnIsCalledFromCareHome" value="@Model.IsCalledFromCareHome" />
        <input type="hidden" id="hdnPlaceholderSearchId" value="@Common.hdnPlaceholderSearchId" />
        <input type="hidden" id="hdnAlertNotePage" value="Search" />
               @Scripts.Render("~/bundles/Search")
               @Scripts.Render("~/bundles/PatientInfo")
        <script src="~/Scripts/js/validations/Order.js"></script>
        <link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
    </form>
</body>
</html>
