﻿@model SCA.Indigo.Web.UI.ViewModel.HolidayProcessViewModel
@using SCA.Indigo.Web.UI.Resource
@using System.Configuration;
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Common.Enums

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript">
        $jqGrid = jQuery.noConflict();

        $jqGrid(document).ready(function () {
            $jqGrid("#jqHolidayProcessAdmin").jqGrid({                
                url: "@Url.Action(Constants.ActionNameGetCustomerDetails, Constants.HolidayProcessController)",
                datatype: "local",
                colNames: ['<input type="checkbox" id="chkRemoveHolidayAll"> Remove', '@Common.resNextDelDate', '@Common.resStartTime', '@Common.resEndTime', '@Common.resArrangedNDD'],
                colModel: [
                    { name: 'Remove', index: 'Remove', edittype: 'checkbox', width: '110', classes: 'align_center', formatter: HolidayProcessAdminObj.RemoveNDDRows, editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false },
                    { name: 'NDD', index: 'NDD', editable: false, width: '230px', classes: 'align_center padding_left_10' },
                    { name: 'StartTime', index: 'StartTime', editable: false, width: '160px', classes: 'align_center padding_left_10' },
                    { name: 'EndTime', index: 'EndTime', editable: false, width: '160px', classes: 'align_center padding_left_10' },
                    { name: 'ArrangedNDD', index: 'ArrangedNDD', editable: false, width: '210px', classes: 'align_center padding_left_10' },                    
                ],
                height: '140',
                width: 'auto',
                toppager: false,
                jsonReader: { repeatitems: false },
                pager: $jqGrid("#jqHolidayProcessAdminTablePager"),
                rowNum: 50,
                rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
                viewrecords: true,
                autowidth: false,
                sortname: "",
                sortorder: "asc",
                gridComplete: function () {
                    $jqGrid('#jqHolidayProcessAdminTablePager_left').hide();
                    $jqGrid('.ui-paging-info').css("text-align", "left");
                    var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                    if (rowcount == 0) {
                        $jqGrid('#jqHolidayProcessAdminTablePager_center').hide();
                        $jqGrid('#chkRemoveHolidayAll').attr("disabled", true);
                    }
                    else {
                        $jqGrid('#jqHolidayProcessAdminTablePager_center').show();
                        $jqGrid('#chkRemoveHolidayAll').removeAttr("disabled");
                        $jqGrid('#chkRemoveHolidayAll').attr("disabled", false);
                        $jqGrid('#chkRemoveHolidayAll').removeClass("ez-hide");
                    }
                    $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                        var val = $jqGrid(this).val().trim();
                        ValidationGridPageInput(e, val);
                    });
                },
                onCellSelect: function (rowid, iCol) {
                    $jqGrid(this).jqGrid('editRow', rowid, true);
                },
                ondblClickRow: function (rowid) {
                },
                loadComplete: function (data) {
                    var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                    if (rowcount < 1) {
                        $jqGrid('#chkRemoveHolidayAll').attr("disabled", true);
                    }
                    else {
                        $jqGrid('#chkRemoveHolidayAll').attr("disabled", false);
                        $jqGrid('#chkRemoveHolidayAll').removeClass("ez-hide");

                    }
                },

            }).navGrid("#jqHolidayProcessAdminTablePager",
            { search: false, refresh: false, add: false, edit: false, del: false },
            {},
            {},
            {}
        );

            $jqGrid('.CalenderImg').datepicker({  
                yearRange: "0:+100",
                dateFormat: 'dd/mm/yy',
                buttonImage: '../../Images/calander_icon.png',
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true,
                showOn: 'both',                
                firstDay: 1,
                minDate: '0'
            });

            $jqGrid('#chkRemoveHolidayAll').click(function (event) {
                if ($jqGrid("#chkRemoveHolidayAll").is(":checked")) {
                    $jqGrid(".chkRemoveClass").prop("checked", true);
                    HolidayProcessAdminObj.ShowRemoveWarningMessage();
                } else {
                    $jqGrid(".chkRemoveClass").prop("checked", false);
                }
            });
                       
            $jqGrid("#jqHolidayProcessAdmin").trigger("reloadGrid");
            $jqGrid("#jqgh_jqHolidayProcessAdmin_Remove").removeClass("ui-jqgrid-sortable");

            // Check for ViewOnly
            //linkId: - Menu Link Id, element: - Main Div of the Form
            CommonScriptObj.DisableFormControls("frm_HolidaProcessAdmin");

            // Clear Patient Sesion
            CommonScriptObj.ClearPatientSession();

        });//end of ready
    </script>
    <style>
    </style>

</head>
<body>
    <form id="frm_HolidaProcessAdmin">
        <span class="page_heading">@Common.resHolidayProcessTitle</span>
        <div>
            <ul class="holiday_ul">
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="patientinfo_col2_lable font_12bold width_60">@Common.resCustomerDropdown</span>
                        <span class="map_rols_user_input select-style">
                            @Html.DropDownList("ddlCustomer", (IEnumerable<SelectListItem>)Model.Customers, @Common.resGeneralCustomerDefaultValue,
                        new { @class = "custom-select", @onchange = "HolidayProcessAdminObj.LoadCustomerExistingDetails(this);", tabindex = "1" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="patientinfo_cell">
                        <span class="patientinfo_col2_lable font_12bold">@Common.resNextDelDate</span>
                        <span class="patientinfo_col2_field">
                            @Html.TextBoxFor(a => a.NDD, new { @id = "txtNDD", @class = "CalenderImg datepicker", placeholder = "dd/mm/yy", tabindex = "2"})                            
                        </span>
                    </div>

                </li>
            </ul>

            <ul class="holiday_ul">
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="patientinfo_col2_lable font_12bold width_60">@Common.resStartTime</span>
                        <span class="holiday_hour_input select-style">
                            @Html.DropDownList("ddlStartHour", (IEnumerable<SelectListItem>)Model.Hours, "Hour", new { @id = "ddlStartHour", @class = "custom-select", tabindex = "3" })
                        </span>
                        <span class="holiday_hour_input select-style">
                            @Html.DropDownList("ddlStartMinute", (IEnumerable<SelectListItem>)Model.Minutes, "Minutes", new { @id = "ddlStartMinute", @class = "custom-select", tabindex = "4" })
                        </span>
                        <span class="holiday_hour_input select-style">
                            <select class="custom-select" id="ddlStartFormat" tabindex="5">
                                <option value=AM>AM</option>
                                <option value=PM>PM</option>
                            </select>
                        </span>
                    </div>
                </li>

                <li>
                    <div class="patientinfo_cell">
                        <span class="patientinfo_col2_lable font_12bold">@Common.resArrangedNDD</span>
                        <span class="patientinfo_col2_field">
                            @Html.TextBoxFor(a => a.ArrangedNDD, new { @id = "txtArrangedNDD", @class = "CalenderImg datepicker", placeholder = "dd/mm/yy", tabindex = "6" })                            
                        </span>
                    </div>
                </li>
            </ul>

            <ul class="holiday_ul">

                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="patientinfo_col2_lable font_12bold width_60">@Common.resEndTime</span>
                        <span class="holiday_hour_input select-style">
                            @Html.DropDownList("ddlEndHour", (IEnumerable<SelectListItem>)Model.Hours, "Hour", new { @id = "ddlEndHour", @class = "custom-select", tabindex = "7" })
                        </span>
                        <span class="holiday_hour_input select-style">
                            @Html.DropDownList("ddlEndMinute", (IEnumerable<SelectListItem>)Model.Minutes, "Minutes", new { @id = "ddlEndMinute", @class = "custom-select", tabindex = "8" })
                        </span>
                        <span class="holiday_hour_input select-style">
                            <select class="custom-select" id="ddlEndFormat" tabindex="9">
                                <option value=AM>AM</option>
                                <option value=PM>PM</option>
                            </select>
                        </span>
                    </div>

                </li>
                <li class="clear"></li>

            </ul>

            <div class="holiday_main_btns">
                <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" tabindex="10" onclick="return HolidayProcessAdminObj.AddCustomerDetails();"
                   id="btnAddHolidayProcess">@Common.resAddNDD</a>
                <div id="msgRemoveNDD" style="display: none" class="field-validation-error disp_block padding_bot_5">@Common.resNDDRemove</div>
            </div>
        </div>

        <!--table_section-->
        <div id="diva" class="table_section_2 mCustomScrollbar">
            <table id="jqHolidayProcessAdmin" class="analysis_information_table"></table>
            <div id="jqHolidayProcessAdminTablePager"></div>
        </div>
        <!--table_section-->

        <div class="form_main_btns  ">
            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" tabindex="12" onclick="HolidayProcessAdminObj.SaveHolidayProcessDetails();" id="btnSaveHolidayProcess">@Common.resBtnNameSave</a>
            <a href="javascript:void(0);" tabindex="13" class="search_form_buttons padding_left_right_20" onclick="HolidayProcessAdminObj.ShowTrackDirtyMessage();">@Common.resBtnGeneralReset</a>
        </div>

        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divErrorMessage" class="pop_error">
                    </div>
                    <br />
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: none">
            <input type="hidden" id="hdnresddlCUstomerDefaultValue" value="@Common.resCustomerDropdown" />                                    
            <div id="divErrorHolidayProcess" style="display:none;min-height: 19px;">@Common.resErrorHolidayProcess</div>
            <div id="divSaveHolidayProcess" style="display:none;min-height: 19px;">@Common.resSaveHolidayProcess</div>            
            <input type="hidden" id="hdnerrorInvalidCustomer" value="@Common.resErrorMessageCustomer" />
            <input type="hidden" id="hdnerrorStartTime" value="@Common.resErrorStartTime" />
            <input type="hidden" id="hdnerrorEndTime" value="@Common.resErrorEndTime" />
            <input type="hidden" id="hdnerrorNDDRemove" value="@Common.resNoNDDRows" />            
            <input type="hidden" id="hdnerrorInvalidDates" value="@Common.resStartTimeEndTime" />
            <input type="hidden" id="hdnerrorInvalidNDDDate" value="@Common.resInvalidPastDate" />
            <input type="hidden" id="hdnerrorInvalidArrangedNDDDate" value="@Common.resInvalidPastDate" />            
            <input type="hidden" id="hdnerrorGeneralInvalidDate" value="@Common.resGeneralInvalidDate" />          
            <input type="hidden" id="hdnerrorGeneralNoModification" value="@Common.resGeneralNoModification" />          

        </div>        
        <input type="hidden" id="hdnerrorHolidayOverlapping" value="@Common.resHolidayOverlapping" />      
        <div id="divHolidayProcess" class="j_lightbox_error">@Common.resGeneralRemove</div>
        <div id="divTrackDirty" class="j_lightbox_error">@Common.resGeneralTrackDirty</div>

        @Scripts.Render("~/bundles/HolidayProcessAdmin")
    </form>
</body>
</html>
