﻿@model SCA.Indigo.Web.UI.ViewModel.ReportBuilderViewModel
@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/ReportBuilder")
    <script type="text/javascript">
    $jqComm(function () {
        $jqComm("#ddlPatientTypeListReport").multiselect({ noneSelectedText: 'Patient Type' });
        $jqComm("#ddlPatientStatusListReport").multiselect({ noneSelectedText: 'Patient Status' });
        $jqComm("#ddlCustomerColumns").multiselect({ noneSelectedText: 'Customer' });
        $jqComm("#ddlPatientColumns").multiselect({ noneSelectedText: 'Patient' });
        $jqComm("#ddlPrescriptionColumns").multiselect({ noneSelectedText: 'Prescription' });
        $jqComm("#ddlCareHomeColumns").multiselect({ noneSelectedText: 'Carehome' });
        $jqComm("#ddlOrderColumns").multiselect({ noneSelectedText: 'Order' });
        $jqComm("#ddlUserMaintenanceColumns").multiselect({ noneSelectedText: 'User Maintenance' });
        $jqComm("#ddlCustomersReport").multiselect({ noneSelectedText: 'Customer' });
        $jqComm("#ddlCareHomeReport").multiselect({ noneSelectedText: 'Carehome' });
        $jqComm("#ddlClinicalContactsColumns").multiselect({ noneSelectedText: 'Clinical Contacts' });
        $jqComm("#ddlCustomerProducts").multiselect({ noneSelectedText: 'Product' });

        $jq("#dtpPatientDeliveryDateFrom").datepicker({
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            buttonImage: '../../Images/calander_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            beforeShowDay: $jq.datepicker.noWeekends
        });

        $jq("#dtpPatientDeliveryDateTo").datepicker({
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            buttonImage: '../../Images/calander_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            beforeShowDay: $jq.datepicker.noWeekends
        });

        $jq("#dtpOrderDateFrom").datepicker({
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            buttonImage: '../../Images/calander_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            beforeShowDay: $jq.datepicker.noWeekends
        });

        $jq("#dtpOrderDateTo").datepicker({
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            buttonImage: '../../Images/calander_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            beforeShowDay: $jq.datepicker.noWeekends
        });

        $jq("#dtpInvoiceDateFrom").datepicker({
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            buttonImage: '../../Images/calander_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            beforeShowDay: $jq.datepicker.noWeekends
        });

        $jq("#dtpInvoiceDateTo").datepicker({
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            buttonImage: '../../Images/calander_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            beforeShowDay: $jq.datepicker.noWeekends
        });

        $jq("#dtpPatientCreateDateFrom").datepicker({
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            buttonImage: '../../Images/calander_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            beforeShowDay: $jq.datepicker.noWeekends
        });

        $jq("#dtpPatientCreateDateTo").datepicker({
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            buttonImage: '../../Images/calander_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            beforeShowDay: $jq.datepicker.noWeekends
        });

        $jq("#dtpNextAssessmentDateFrom").datepicker({
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            buttonImage: '../../Images/calander_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            beforeShowDay: $jq.datepicker.noWeekends
        });

        $jq("#dtpNextAssessmentDateTo").datepicker({
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            buttonImage: '../../Images/calander_icon.png',
            buttonImageOnly: true,
            showOn: 'both',
            beforeShowDay: $jq.datepicker.noWeekends
        });

    });

    </script>

    <script type="text/javascript">
        $jqComm(window).load(function (e) {
            $jqComm('.ui-corner-all input[type="checkbox"]').ezMark();
        });
    </script>

</head>
<body>
    <div id="divReportBuilder">
        <form id="frm_ReportBuilder">
            <span class="page_heading">@Common.resReportBuilder</span>

            <div class="report_builder_select_fields margin_top_0">
                <span class="heading-1 span_expnd width_100p">@Common.resSelectFields</span>
                <div class="report_builder_select_fields_2 width_100p collapse" style="display:block;">
                    <div class="report_builder_criteria_cell_3 padding_left_30">
                        <span class="input_lable width_164">@Common.resReportFormat</span>
                        <span class="report_builder_cust_name_select_2 width_603 select-style_big">
                            @if (Model.ReportFormatList != null)
                            {
                                @Html.DropDownList("ddlReportFormats", Model.ReportFormatList, @Common.resSelect, new { @class = "custom-select", tabindex = "1" })
                            }
                            else
                            {
                                @Html.DropDownList("ddlReportFormats", Enumerable.Empty<SelectListItem>(), @Common.resSelect, new { @class = "custom-select", tabindex = "1" })
                            }
                        </span>
                    </div>

                    <ul class="report_builder_criteria_ul">
                        <li>
                            <div class="report_builder_criteria_cell_2">
                                <span class="input_lable width_155">@Common.resCustomerDropdown</span>
                                <span class="report_builder_cust_name_select_2 select-style">
                                    @Html.DropDownList("ddlCustomerColumns", Model.CustomerColumnsList, new { multiple = "multiple", @class = "custom-select-2 bg_white", tabindex = "11" })
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_2">
                                <span class="input_lable  width_130 padding_left_10">@Common.resPrescription</span>
                                <span class="report_builder_cust_name_select_2 select-style">
                                    @Html.DropDownList("ddlPrescriptionColumns", Model.PrescriptionColumnsList, new { multiple = "multiple", @class = "custom-select-2 bg_white", tabindex = "12" })
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_2">
                                <span class="input_lable width_155">@Common.reslblPatient</span>
                                <span class="report_builder_cust_name_select_2 select-style">
                                    @Html.DropDownList("ddlPatientColumns", Model.PatientColumnsList, new { multiple = "multiple", @class = "custom-select-2 bg_white", tabindex = "13" })
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_2">
                                <span class="input_lable  width_130 padding_left_10">@Common.resCareHomeType</span>
                                <span class="report_builder_cust_name_select_2 select-style">
                                    @Html.DropDownList("ddlCareHomeColumns", Model.CareHomeColumnsList, new { multiple = "multiple", @class = "custom-select-2 bg_white", tabindex = "14" })
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_2">
                                <span class="input_lable  width_155">@Common.resPageNameOrder</span>
                                <span class="report_builder_cust_name_select_2 select-style">
                                    @Html.DropDownList("ddlOrderColumns", Model.OrderColumnsList, new { multiple = "multiple", @class = "custom-select-2 bg_white", tabindex = "15" })
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_2">
                                <span class="input_lable  width_130 padding_left_10">@Common.resClinicalContactsAnalysis</span>
                                <span class="report_builder_cust_name_select_2 select-style">
                                    @Html.DropDownList("ddlClinicalContactsColumns", Model.ClinicalContactsColumnsList, new { multiple = "multiple", @class = "custom-select-2 bg_white", tabindex = "15" })
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_2" id="divUser">
                                <span class="input_lable  width_155 ">@Common.resUserMaintenance</span>
                                <span class="report_builder_cust_name_select_2 select-style">
                                    @Html.DropDownList("ddlUserMaintenanceColumns", Model.UserMainTenanceColumnsList, new { multiple = "multiple", @class = "custom-select-2 bg_white", tabindex = "16" }) &nbsp; &nbsp;
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_2" id="divUserDataOnly">
                                <span class="input_lable  width_130 padding_left_10">@Common.resUserDataOnly</span>
                                <span class="report_builder_cust_name_select_2">
                                    @Html.CheckBox("chkUserData", Model.UserDataOnly, new { id = "chkUserData", onchange = "ReportBuilderObj.ConfirmUserDataOnly()" })
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="report_builder_criteria_cell_2">
                                <span class="input_lable width_155">@Common.resReportFormatName</span>
                                <span class="input_field">
                                    @Html.TextBoxFor(m => m.SelectedFieldsName, new { @id = "txtSelectedFieldsName", tabindex = "17" })&nbsp;&nbsp;
                                </span>
                                <span class="form_main_btns">
                                    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" onclick="ReportBuilderObj.ReportBuilderSave()">@Common.resbtnSave</a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="report_builder_select_criteria margin_top_15">
                <span class="heading-1 prescription-information-icon width_100p span_expnd">@Common.resSelectCriteria</span>
                <div class="report_builder_select_fields_2 width_100p collapse">
                    <ul class="report_builder_criteria_ul">
                        <li>
                            <div class="report_builder_criteria_cell_3">
                                <span class="input_lable">@Common.resCustomerName</span>
                                <span class="report_builder_cust_name_select_2 select-style">
                                    @if (Model.CustomersList != null)
                                    {
                                        @Html.DropDownList("ddlCustomersReport", Model.CustomersList, new { multiple = "multiple", @class = "custom-select-2 bg_white", @id = "ddlCustomersReport", tabindex = "1" })
                                    }
                                    else
                                    {
                                        @Html.DropDownList("ddlCustomersReport", Enumerable.Empty<SelectListItem>(), new { multiple = "multiple", @class = "custom-select-2 bg_white", @id = "ddlCustomersReport", tabindex = "1" })
                                    }
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_3 width_380">
                                &nbsp;

                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_3">
                                <span class="input_lable">@Common.reslblPatientId</span>
                                <span class="input_field">
                                    @Html.TextBoxFor(m => m.PatientNameId, new { @id = "txtPatientNameId", tabindex = "2" })
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="report_builder_criteria_li_txt padding_right_10">@Common.resOR</div>
                        </li>

                        <li>
                            <div class="report_builder_criteria_cell_2">
                                <span class="input_lable width_145">@Common.resCarehomeName</span>
                                <span class="report_builder_cust_name_select_2 select-style">
                                    @if (Model.CareHomeList != null)
                                    {
                                        @Html.DropDownList("ddlCareHomeReport", Model.CareHomeList, new { multiple = "multiple", @class = "custom-select-2 bg_white", @id = "ddlCareHomeReport", tabindex = "3" })
                                    }
                                    else
                                    {
                                        @Html.DropDownList("ddlCareHomeReport", Enumerable.Empty<SelectListItem>(), new { multiple = "multiple", @class = "custom-select-2 bg_white", @id = "ddlCareHomeReport", tabindex = "3" })
                                    }
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="report_builder_criteria_cell_3">
                                <span class="input_lable">@Common.resSearchPatientTypeDropdown</span>
                                <span class="report_builder_cust_name_select_2 select-style">
                                    @if (Model.PatientTypeList != null)
                                    {
                                        @Html.DropDownList("ddlPatientTypeListReport", Model.PatientTypeList, new { multiple = "multiple", @class = "custom-select-2", @id = "ddlPatientTypeListReport", tabindex = "4" })
                                    }
                                    else
                                    {
                                        @Html.DropDownList("ddlPatientTypeListReport", Enumerable.Empty<SelectListItem>(), new { multiple = "multiple", @class = "custom-select-2", @id = "ddlPatientTypeListReport", tabindex = "4" })
                                    }                                    
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="report_builder_criteria_cell_2">
                                <span class="input_lable width_145 padding_left_56">@Common.resPatientStatus</span>
                                <span class="report_builder_cust_name_select_2 select-style">
                                    @if (Model.PatientStatusList != null)
                                    {
                                        @Html.DropDownList("ddlPatientStatusListReport", Model.PatientStatusList, new { multiple = "multiple", @class = "custom-select-2 bg_white", @id = "ddlPatientStatusListReport", tabindex = "5" })
                                    }
                                    else
                                    {
                                        @Html.DropDownList("ddlPatientStatusListReport", Enumerable.Empty<SelectListItem>(), new { multiple = "multiple", @class = "custom-select-2 bg_white", @id = "ddlPatientStatusListReport", tabindex = "5" })
                                    }                                    
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_3">
                                <span class="input_lable">@Common.resNextDelDate</span>
                                <span class="input_field width_100">
                                    @Html.TextBoxFor(m => m.PatientDeliveryDateFrom, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtpPatientDeliveryDateFrom", tabindex = "6" })
                                </span>
                                <span class="input_lable width_25_align_center">@Common.resTo</span>
                                <span class="input_field  width_100">
                                    @Html.TextBoxFor(m => m.PatientDeliveryDateTo, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtpPatientDeliveryDateTo", tabindex = "7" })
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="report_builder_criteria_cell_3">
                                <span class="input_lable width_153 padding_left_54">@Common.resOrderDateFrom</span>
                                <span class="input_field width_100">
                                    @Html.TextBoxFor(m => m.OrderDateFrom, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtpOrderDateFrom", tabindex = "8" })
                                </span>
                                <span class="input_lable width_25_align_center">@Common.resTo</span>
                                <span class="input_field  width_100 ">
                                    @Html.TextBoxFor(m => m.OrderDateTo, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtpOrderDateTo", tabindex = "9" })
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="report_builder_criteria_cell_3">
                                <span class="input_lable">@Common.resInvoiceNumber</span>
                                <span class="input_field width_100">
                                    @Html.TextBoxFor(m => m.InvoiceNumber, new { @id = "txtInvoiceNumberReport", tabindex = "10", @class = "width_85" })
                                </span>
                                <span class="input_lable width_25_align_center">@Common.resTo</span> 
                                <span class="input_field width_100">
                                    @Html.TextBoxFor(m => m.InvoiceNumberTo, new { @id = "txtInvoiceNumberToReport", tabindex = "11", @class = "width_85" })
                                </span>                              
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_3">
                                <span class="input_lable width_153 padding_left_54">@Common.resInvoiceDateFrom</span>
                                <span class="input_field  width_100">
                                    @Html.TextBoxFor(m => m.InvoiceDateFrom, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtpInvoiceDateFrom", tabindex = "12" })
                                </span>
                                <span class="input_lable width_25_align_center">@Common.resTo</span>
                                <span class="input_field  width_100 ">
                                    @Html.TextBoxFor(m => m.InvoiceDateTo, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtpInvoiceDateTo", tabindex = "13" })
                                </span>
                            </div>
                        </li>
                        <li class="height_58">
                            <div class="report_builder_criteria_cell_3">
                                <span class="input_lable">@Common.resProductDescription</span>
                                <span class="report_builder_cust_name_select_2 select-style">
                                    @if (Model.ProductsList != null)
                                    {
                                        @Html.DropDownList("ddlCustomerProducts", Model.ProductsList, new { multiple = "multiple", @class = "custom-select-2", tabindex = "15" })
                                    }
                                    else
                                    {
                                        @Html.DropDownList("ddlCustomerProducts", Enumerable.Empty<SelectListItem>(), new { multiple = "multiple", @class = "custom-select-2", tabindex = "15" })
                                    }
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_3">
                                <span class="input_lable width_153 padding_left_58">@Common.resPatientCreateDateFrom</span>
                                <span class="input_field  width_100">
                                    @Html.TextBoxFor(m => m.PatientCreateDateFrom, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtpPatientCreateDateFrom", tabindex = "16" })
                                </span>
                                <span class="input_lable width_25_align_center">@Common.resTo</span>
                                <span class="input_field  width_100 ">
                                    @Html.TextBoxFor(m => m.PatientCreateDateTo, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtpPatientCreateDateTo", tabindex = "17" })
                                </span>
                            </div>                           
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_3">
                                <span class="input_lable width_153 padding_left_58">@Common.resNextAssessmentDateFrom</span>
                                <span class="input_field  width_100">
                                    @Html.TextBoxFor(m => m.NextAssessmentDateFrom, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtpNextAssessmentDateFrom", tabindex = "18" })
                                </span>
                                <span class="input_lable width_25_align_center">@Common.resTo</span>
                                <span class="input_field  width_100 ">
                                    @Html.TextBoxFor(m => m.NextAssessmentDateTo, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtpNextAssessmentDateTo", tabindex = "19" })
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="table_section_2 height_240 mCustomScrollbar" id="reportDiv">
                <table id="jqReportGrid"></table>
                <div id="jqReportGridPager"></div>
            </div>
            <div class="j_lightbox_error" id="j_lightbox_error">
                <div class="j_lightbox_error_wrapper">
                    <div class="pop_error">
                        <div id="divReportBuilderErrorMessage" class="pop_error">
                        </div>
                        <br />
                        <div class="j_lightbox_btns search_form_main_btns">
                            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form_main_btns">
                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" onclick="ReportBuilderObj.GenerateReport()">@Common.resViewReport</a>&nbsp;
                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20 float_right" onclick="ReportBuilderObj.ReportBuilderUndo()">@Common.resbtnReset</a>
                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" onclick="ReportBuilderObj.DownloadReport()">@Common.resDownload</a>&nbsp;
                <a href="javascript:void(0);" id="btnPrint" class="search_form_buttons padding_left_right_20" onclick="ReportBuilderObj.PrintGrid()">@Common.resPrint</a>&nbsp;
            </div>
            @Html.Hidden("hdnEnableUserTable", Model.EnableUserTable, new { id = "hdnEnableUserTable" })
            <input type="hidden" id="hdnresddlPateintTypeDefaultValue" value="@Common.resddlPateintTypeDefaultValue" />
            <input type="hidden" id="hdnresddlCUstomerDefaultValue" value="@Common.resCustomerDropdown" />
            <input type="hidden" id="hdnresRequiredColumns" value="@Common.resRequiredColumns" />
            <input type="hidden" id="hdnresRequiredFieldName" value="@Common.resRequiredFieldName" />
            <input type="hidden" id="hdnresRequiredCarehomeOrPatientId" value="@Common.resRequiredCarehomeOrPatientId" />
            <input type="hidden" id="hdnresRequiredCustomer" value="@Common.resRequiredCustomer" />
            <input type="hidden" id="hdnresConfirmUserDataOnly" value="@Common.resConfirmUserDataOnly" />
            <input type="hidden" id="hdnresRequiredUserMaintenanceFiels" value="@Common.resRequiredUserMaintenanceFiels" />
            <input type="hidden" id="hdnresNoRecords" value="@Common.resGrdNoRecordsToView" />
            <input type="hidden" id="hdnresSelectField" value="@Common.resSelectField" />
            <input type="hidden" id="hdnresErrorNoExcel" value="@Common.resErrorNoExcel" />
            <input type="hidden" id="hdnresPatientDeliveryDateCheck" value="@Common.resPatientDeliveryDateCheck" />
            <input type="hidden" id="hdnresOrderDateCheck" value="@Common.resOrderDateCheck" />
            <input type="hidden" id="hdnresInvalidDeliveryDateFrom" value="@Common.resInvalidDeliveryDateFrom" />
            <input type="hidden" id="hdnresInvalidDeliveryDateTo" value="@Common.resInvalidDeliveryDateTo" />
            <input type="hidden" id="hdnresInvalidOrderDateFrom" value="@Common.resInvalidOrderDateFrom" />
            <input type="hidden" id="hdnresInvalidOrderDateTo" value="@Common.resInvalidOrderDateTo" />
            <input type="hidden" id="hdnresInvalidInvoiceDateFrom" value="@Common.resInvalidInvoiceDateFrom" />
            <input type="hidden" id="hdnresInvalidInvoiceDateTo" value="@Common.resInvalidInvoiceDateTo" />
            <input type="hidden" id="hdnresInvalidPatientCreateDateFrom" value="@Common.resInvalidPatientCreateDateFrom" />
            <input type="hidden" id="hdnresInvalidPatientCreateDateTo" value="@Common.resInvalidPatientCreateDateTo" />
            <input type="hidden" id="hdnresInvalidNextAssessmentDateFrom" value="@Common.resInvalidNextAssessmentDateFrom" />
            <input type="hidden" id="hdnresInvalidNextAssessmentDateTo" value="@Common.resInvalidNextAssessmentDateTo" />
            <input type="hidden" id="hdnresInvoiceDateCheck" value="@Common.resInvoiceDateCheck" />
            <input type="hidden" id="hdnresPatientCreateDateCheck" value="@Common.resPatientCreateDateCheck" />
            <input type="hidden" id="hdnresNextAssessmentDateCheck" value="@Common.resNextAssessmentDateCheck" />
            <input type="hidden" id="hdnresInvalidInvoiceNo" value="@Common.resInvalidInvoiceNo" />
            <input type="hidden" id="hdnresInvoiceNoCheck" value="@Common.resInvoiceNoCheck" />
            <input type="hidden" id="hdnresReportFormatExists" value="@Common.resReportFormatExists" />
            <input type="hidden" id="hdnresReportFormatCreated" value="@Common.resReportFormatCreated" />
            <input type="hidden" id="hdnresReportFormatUpdated" value="@Common.resReportFormatUpdated" />
            <input type="hidden" id="hdnresPrescriptionOrOrder" value="@Common.resPrescriptionOrOrder" />
            <input type="hidden" id="hdnresReportTimeOut" value="@Common.resReportTimeOut" />
            <input type="hidden" id="hdnReportBuilderPageNo" value="" />

            @Html.Hidden("GenerateReportAction", Url.Action("GetReportData", "ReportBuilder"), new { id = "GenerateReportAction" })
            @Html.Hidden("GetReportFormatAction", Url.Action("GetReportFormat", "ReportBuilder"), new { id = "GetReportFormatAction" })
            @Html.Hidden("DownloadReportAction", Url.Action("DownloadReport", "ReportBuilder"), new { id = "DownloadReportAction" })
            @Html.Hidden("SaveReportFormatAction", Url.Action("SaveReportFormat", "ReportBuilder"), new { id = "SaveReportFormatAction" })
            @Html.Hidden("GetProductsAction", Url.Action("GetProductsOnCustomerId", "ReportBuilder"), new { id = "GetProductsAction" })
            @Html.Hidden("GetCareHomeAction", Url.Action("GetCareHomeOnCustomerId", "ReportBuilder"), new { id = "GetCareHomeAction" })
            <div id='prt-container' class='hide'>
            </div>
        </form>
    </div>
</body>
</html>
