﻿@model SCA.Indigo.Web.UI.ViewModel.HomeViewModel
@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Common.reslblTitle</title>

    <script type="text/javascript">
        $jqGrid = jQuery.noConflict();
        $jqGrid(document).ready(function () {
            window.onload = function () {  ClearNotifications("HOMELOAD"); }
            window.onbeforeunload = function () { ClearNotifications("HOMEUNLOAD"); }
        $jqGrid("#jqInteractionSummaryHome").jqGrid({
            datatype: "local",
            colNames: ['', '@Common.resGrdCustomerName', '@Common.resGrdPatientIdfull', '@Common.respatientname','@Common.resCarehomeName','@Common.resGrdInteractionType', '@Common.resGrdInteractionSubType','@Common.reslblCreatedon',''],
            colModel: [
                { name: 'InteractionId', index: 'InteractionId', hidden: true, classes: 'align_center' },
                { name: 'CustomerName', index: 'CustomerName', editable: false, width: '220px', classes: 'align_left padding_left_10 word_wrap_normal' },
                { name: 'PatientNumber', index: 'PatientNumber', editable: false, width: '100px', classes: 'align_center padding_left_10 word_wrap_normal' },
                { name: 'PatientName', index: 'PatientName', editable: false, width: '220px', classes: 'align_left padding_left_10 word_wrap_normal hyperLink', formatter: HomeScriptObj.ShowAsLink },
                { name: 'CareHomeName', index: 'CareHomeName', editable: false, width: '220px', classes: 'align_left padding_left_10 word_wrap_normal hyperLink', formatter: HomeScriptObj.ShowAsLink },
                { name: 'InteractionCategory', index: 'InteractionCategory', editable: false, width: '110px', classes: 'align_left padding_left_10 word_wrap_normal' },
                { name: 'InteractionSubTypeCategory', index: 'InteractionSubTypeCategory', editable: false, width: '170px', classes: 'align_left padding_left_10 word_wrap_normal' },
                { name: 'CreatedOn', index: 'CreatedOn', editable: false, width: '100px', },
                { name: 'IsInteractionViewed', index: 'IsInteractionViewed', hidden: true },
            ],
            height: '150',
            width: '980',
            toppager: false,
            ignoreCase: true,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqInteractionSummaryHomePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            autowidth: false,
            sortname: "",
            sortorder: "asc",
            gridComplete: function () {
                $jqGrid('#jqInteractionSummaryHome').jqGrid('hideCol', ["CreatedOn"]);                
                $jqGrid('#jqInteractionSummaryHomePager_left').hide();
                $jqGrid('#jqInteractionSummaryHome_left');
                $jqGrid('.ui-paging-info').css("text-align", "left");
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#jqInteractionSummaryHomePager_center').hide();
                }
                else {
                    $jqGrid('#jqInteractionSummaryHomePager_center').show();
                }
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });

                var rowIDs = jQuery("#jqInteractionSummaryHome").getDataIDs().length;
                for (var i = 1; i <= rowIDs; i++) {
                    var row = $jqGrid('#jqInteractionSummaryHome').getRowData(i);
                    var trElement = jQuery("#" + i, jQuery('#jqInteractionSummaryHome'));
                    if (row.IsInteractionViewed == "false") {
                        /*trElement.css("background-color", "#5cc4e6");*/
                        trElement.addClass("unreadinteraction");

                    }
                }
            },
            onCellSelect: function (rowid, iCol) {
                $jqGrid(this).jqGrid('editRow', rowid, true);
            },
            ondblClickRow: function (rowId) {
                var rowData = $jqGrid(this).getRowData(rowId);

                // Check for Patient and Carehome Interaction Access.
                //// If any of the ViewOnly or Edit True then Display the Poup 
                //// ELSE block. 
                //// If any of the Edit is True then Edit mode ELSE (both of VIEW ONLY is True ) View Only Mode.
                if (InteractionObj.GetInteractionAccessForHomeAlert())
                {
                    // Navigate to Interaction Details Page by rowData.InteractionId
                    InteractionObj.ShowCreateInteraction(true, rowData.InteractionId, true);
                }
                else
                {
                    // Display No Access Message;
                    CommonScriptObj.DisplayErrorMessage("divAlertErrorToview", $jqGrid("#hdnInteractionNotAllowedMessage").val(), 'pop_error_ul');
                    return false;
                }
            },
            loadComplete: function (data) {
            },

        }).navGrid("#jqInteractionSummaryHomeTablePager",
  { search: false, refresh: false, add: false, edit: false, del: false },
  {},
  {},
  {}
);

        setTimeout(function () {
            @{             
             if (@Convert.ToBoolean(Session[Constants.IsCalledFromHomePage]))
             {
                 Session[Constants.IsCalledFromHomePage] = false;
             }

             if (@Convert.ToBoolean(Session[Constants.SessionIsCalledFromSearch]))
             {
                 Session[Constants.SessionIsCalledFromSearch] = false;
             }
                        
         }            
            var isHomeCalledFlag = $jqGrid("#hdnIsCalledFromHomepage").val();
            if (isHomeCalledFlag.toLowerCase() == "true")
            {
                InteractionObj.ShowCreateInteraction(true, $jqGrid("#hdnHomeInteractionId").val(), false, "Home");
            }
                    
        }, 200);

        localStorage.setItem("IsInternalUser","@Model.IsInternalUser");
        
    });
</script>
</head>
<body>    
    <div> 
        @*@section HomePage{    }*@  
                <div class="home-left-new">
                    <span></span>
                    @*<br><br>
                    <img src="../../images/tena-logo.png">
                    <br><br>*@
                    <span class="page_heading_home">@Common.resWelcomeLine</span>
                    <span class="welcome-font-2-new">@Common.resWelcomeSearchLine</span>
                    <span class="welcome-font-2-new">@Common.resLblHomeFurtureTenaProd <a href="https://www.tenanet.co.uk" target="_blank">@Common.resLblHomeTenaWebsite</a></span>
                    <span class="page_sub_heading_home padding_top_bot_20">@Common.resWelcomeAlerts</span>
                </div>
        <span class="heading-1 float_left width_100_perc span_expnd ">@Common.resAlertInteractionSummary</span>
         @*<div class="" style="position:fixed; top:250px; height:260px;">*@
            @*<div style="padding-bottom:10px; font-weight:bold" >
                @Common.resAlertInteractionSummary
                @*<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only home-interaction-div" role="button" aria-disabled="false" title="close">
                <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">close</span>
            </button>
            </div>*@
        <div class="interaction_summary_alert collapse" style="display:block;">
            <div class="table_section_2 homeInteraction padding_7px height_240">
                <table id="jqInteractionSummaryHome"></table>
                <div id="jqInteractionSummaryHomePager"></div>
            </div>
        </div>
        
                @*<div class="home-right"><img src="../../Images/welcome-img-1.jpg" class="welcome-img"></div>*@
                <div class="clear"></div>          
    </div>
    <input type="hidden" id="hdnresCreateInteractionTitle" value="@Common.resCreateInteractionTitle" />    
    @Html.Hidden("hdnIsCalledFromHomepage", Model.IsCalledFromHomePage, new { id = "hdnIsCalledFromHomepage" })
    @Html.Hidden("hdnHomeInteractionId", Model.InteractionId, new { id = "hdnHomeInteractionId" })    
    @Html.Hidden("CreateInteractionAction", Url.Action("OpenInteraction", "Patient"), new { id = "CreateInteractionAction" })    
    <input type="hidden" id="hdnInteractionNotAllowedMessage" value="@Common.resInteractionNotAllowedMessage" />
    <div id="divCreateInteraction" style="display: none">
    </div>
    <div id="divInteractionSucess" style="display:none">
    </div>
    <div id="divAlertErrorToview"></div>   

    @Html.Hidden("hdnCancelprompt", @Common.resMessageCancelPrompt, new { id = "hdnCancelprompt" })
    <div class="j_lightbox_error" id="InteractionExitDiv">
        <div class="j_lightbox_error_wrapper">
            <div class="pop_error">
                <div id="divInteractionErrorMessage" class="pop_error">
                </div>
                <br />
                <div class="j_lightbox_btns search_form_main_btns">
                    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_YesClicked">@Common.resLogOffYes</a>
                    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_NoClicked">@Common.resLogOffNo</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@Scripts.Render("~/bundles/Home")
