﻿@using SCA.Indigo.Web.UI.Resource
@using System.Configuration;
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Common.Enums
@model SCA.Indigo.Web.UI.ViewModel.InteractionReportViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
    <script type="text/javascript">
        $jqGrid = jQuery.noConflict();
        $jqGrid(document).ready(function () {
            $jqGrid("#jqInterReportSummary").jqGrid({
                url: '/Interaction/GetInteractionReport',
                datatype: "local",
                mtype: "POST",
                colNames: ['@Common.resInterReportCustName', '@Common.resInterReportCustid', '@Common.resInterReportPatName', '@Common.resInterReportPatID', '@Common.resInterReportCHName', '@Common.resInterReportCHId', '@Common.resInterReportInteractiontype', '@Common.resInterReportInteractionSubtype', '@Common.resInterReportStatus', '@Common.resInterReportCreatedOn', '@Common.resInterReportCreatedBy', '@Common.resInterReportModifiedOn', '@Common.resInterReportModifiedBy', '@Common.resInterReportDescription', '@Common.resInterReportAlert', '@Common.resInterReportAssignedTo'],
                colModel: [
                    { name: 'CustomerName', index: 'CustomerName', classes: 'align_left padding_left_10', editable: false, width: '100' },
                    { name: 'CustomerId', index: 'CustomerId', classes: 'align_right padding_right_10', editable: false, width: '80' },
                    { name: 'PatientName', index: 'PatientName', classes: 'align_left padding_left_10', editable: false, width: '80' },
                    { name: 'PatientId', index: 'PatientId', editable: false, classes: 'align_right padding_right_10', width: '80', },
                    { name: 'CareHomeName', index: 'CareHomeName', classes: 'align_left padding_left_10', editable: false, width: '54' },
                    { name: 'CareHomeId', index: 'CareHomeId', editable: false, width: '60', classes: 'align_left padding_left_10' },
                    { name: 'InteractionType', index: 'InteractionType', classes: 'align_left padding_left_10', editable: false, width: '90' },
                    { name: 'SubType', index: 'SubType', classes: 'align_left padding_left_10', editable: false, width: '55' },
                    { name: 'StatusId', index: 'StatusId', classes: 'align_left padding_left_10', editable: false, hidden: false, width: '80' },
                    { name: 'CreatedOn', index: 'CreatedOn', editable: false, hidden: false, width: '70' },
                    { name: 'CreatedBy', index: 'CreatedBy', classes: 'align_left padding_left_10', editable: false, hidden: false, width: '70' },
                    { name: 'ModifiedOn', index: 'ModifiedBy', editable: false, hidden: false, width: '80' },
                    { name: 'ModifiedBy', index: 'ModifiedBy', classes: 'align_left padding_left_10', editable: false, hidden: false, width: '80' },
                    { name: 'Description', index: 'Description', classes: 'align_left padding_left_10', editable: false, hidden: false, width: '100' },
                    { name: 'Alert', index: 'Alert', classes: 'align_left padding_left_10', editable: false, hidden: false, width: '45' },
                    { name: 'AssignedTo', index: 'AssignedTo', classes: 'align_left padding_left_10', editable: false, hidden: false, width: '100' }
                ],
                height: '235',
                width: 'auto',
                toppager: false,
                jsonReader: { repeatitems: false },
                pager: $jqGrid("#jqInterReportSummaryTablePager"),
                rowNum: 500,
                rowList: [100, 150, 200, 250, 300, 350, 400, 450, 500],
                viewrecords: true,
                emptyrecords: '@Common.resGrdNoRecordsToView',
                sortname: "",
                loadonce: false,
                emptyrecords: '@Common.resGrdNoRecordsToView',
                sortorder: "",
                ignoreCase: true,
                cellEdit: true,
                cellsubmit: 'clientArray',
                caption: 'Interaction Report',
                loadComplete: function () {
                },
                gridComplete: function () {
                    $jqGrid('.ui-paging-info').css("text-align", "left");
                    $jqGrid('#jqInterReportSummaryTablePager_left').hide();
                    var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                    if (rowcount == 0) {
                        $jqGrid('#jqInterReportSummaryTablePager_center').hide();
                    } else {
                        $jqGrid('#jqInterReportSummaryTablePager_center').show();
                    }
                },
                onPaging: function (pgButton) {
                    var newPage, lastPage;
                    if ("user" == pgButton) {
                        newPage = parseInt($jqGrid(this.p.pager).find('input:text').val());
                        lastPage = parseInt($jqGrid(this).jqGrid('getGridParam', 'lastpage'));
                        if (newPage > lastPage) {
                            return 'stop';
                        }
                    }
                },
                onSortCol: function (index, iCol, sortOrder) {

                    var gridRows = $jqGrid("#jqInterReportSummary").jqGrid('getRowData');
                    if (gridRows.length == 0) {
                        return 'stop';
                    }
                },
            }).navGrid("#jqInterReportSummaryTablePager",
                { search: false, refresh: false, add: false, edit: false, del: false },
                {},
                {},
                {}
            );
        });
    </script>

    <style>
        .select-wrapper, .select-wrapper .custom-select-2 {
            background-color: #fff;
        }

            .select-wrapper:hover {
                background-color: #fff;
            }
    </style>

</head>
<body>
    <div id="dvInteractionReport">
        <form id="frm_InterActionReport">
            <span class="page_heading">@Common.resInterReportTitle</span>
            <span class="heading-1 medical-staff-icon span_expnd"><i class="fa fa-info-circle"></i> @Common.resInterReportDetails</span>
            <div class="audit_log collapse" style="display:block;">
                <ul class="automatic_Order_ul">
                    <li class="width_745">
                        <div class="search_cell">
                            <span class="search_cell_txt width_120">@Common.resInterReportCustomer</span>
                            <span class="search_cell_field ddlCustomer_interactionR">
                                @Html.DropDownList("ddlCustomer", (IEnumerable<SelectListItem>)Model.CustomersList, new { multiple = "multiple", @id = "ddlCustomer", @class = "custom-select-2", tabindex = "1" })
                            </span>
                        </div>
                    </li>
                    <li class="clear width_395 margin_bot_12">
                        <div class="search_cell">
                            <span class="search_cell_txt width_120">@Common.resInterReportCarehomeId</span>
                            <span class="search_cell_field width_220">
                                <textarea id="txtACCarehome" class="automatic_Order_textarea bg_white width_220"></textarea>
                            </span>
                        </div>
                    </li>
                    <li class="width_395 margin_bot_12">
                        <div class="search_cell">
                            <span class="search_cell_txt width_70">@Common.resInterReportPatientId</span>
                            <span class="search_cell_field width_220">
                                <textarea id="txtACPatient" class="automatic_Order_textarea bg_white width_220"></textarea>
                            </span>
                        </div>
                    </li>
                    <li class="width_395">
                        <div class="search_cell map_rols_user_cell margin_bot_0">
                            <span class="cust_param_lable width_120">@Common.resInterReportInteractiontypeM</span>
                            <span class="create_interaction_select" style="background-color:white">
                                @Html.DropDownList("ddlInteractionType", Model.InteractionTypeList, new { multiple = "multiple", @id = "ddlInteractionType", @class = "custom-select-2", tabindex = "1" })
                            </span>
                        </div>
                    </li>
                    <li class="width_395">
                        <div class="search_cell map_rols_user_cell margin_bot_0">
                            <span class="cust_param_lable width_70">@Common.resInterReportInteractionSubtype</span>
                            <span class="create_interaction_select" style="background-color:white">
                                @Html.DropDownList("ddlInteractionSubType", Enumerable.Empty<SelectListItem>(), new { multiple = "multiple", @id = "ddlInteractionSubType", @class = "custom-select-2", tabindex = "3" })
                            </span>
                        </div>
                    </li>
                    <li class="width_395">
                        <div class="search_cell map_rols_user_cell margin_bot_0">
                            <span class="cust_param_lable width_120">@Common.resInterReportStatus</span>
                            <span class="create_interaction_select" style="background-color:white">
                                @Html.DropDownList("ddlInteractionStatus", Model.StatusList, new { multiple = "multiple", @id = "ddlInteractionStatus", @class = "custom-select-2", tabindex = "2" })
                            </span>
                        </div>
                    </li>
                    <li class="width_100_perc clear"></li>
                    <li class="width_395">
                        <div class="search_cell report_builder_criteria_cell_3 margin_bot_0">
                            <span class="input_lable width_120">@Common.resInterReportCreateDate</span>
                            <span class="input_field  width_100">
                                @Html.TextBoxFor(m => m.CreatedDateFrom, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtIRCreatedDateFrom", tabindex = "8" })
                            </span>
                            <span class="input_lable width_25_align_center">@Common.resTo</span>
                            <span class="input_field  width_100 ">
                                @Html.TextBoxFor(m => m.CreatedDateTo, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtIRCreatedDateTo", tabindex = "9" })
                            </span>
                        </div>
                    </li>
                    <li class="width_395">
                        <div class="search_cell map_rols_user_cell margin_bot_0">
                            <span class="cust_param_lable width_70">@Common.resInterReportCreatedBy</span>
                            <span class="create_interaction_select" style="background-color:white">
                                @Html.DropDownList("ddlCreatedBy", Enumerable.Empty<SelectListItem>(), new { multiple = "multiple", @id = "ddlCreatedBy", @class = "custom-select-2", tabindex = "3" })
                            </span>
                        </div>
                    </li>
                    <li class="width_395 clear">
                        <div class="search_cell report_builder_criteria_cell_3">
                            <span class="input_lable width_120">@Common.resInterReportModifiedDate</span>
                            <span class="input_field  width_100">
                                @Html.TextBoxFor(m => m.ModifiedDateFrom, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtIRModifiedDateFrom", tabindex = "8" })
                            </span>
                            <span class="input_lable width_25_align_center">@Common.resTo</span>
                            <span class="input_field  width_100 ">
                                @Html.TextBoxFor(m => m.ModifiedDateTo, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", @id = "dtIRModifiedDateTo", tabindex = "9" })
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="j_lightbox_error" id="j_lightbox_error">
                <div class="j_lightbox_error_wrapper">
                    <div class="pop_error">
                        <div id="divInteractionReportErrorMessage" class="pop_error">
                        </div>
                        <br />
                        <div class="j_lightbox_btns search_form_main_btns">
                            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="hdnresInterReportCustomerErrMsg" value="@Common.resInterReportCustomerErrMsg" />
            <input type="hidden" id="hdnresInterReportInteractionIDErrMsg" value="@Common.resInterReportInteractionIDErrMsg" />
            <input type="hidden" id="hdnresInterReportCreInvalidFrmDtErrMsg" value="@Common.resInterReportCreInvalidFrmDtErrMsg" />
            <input type="hidden" id="hdnresInterReportCreInvalidToDtErrMsg" value="@Common.resInterReportCreInvalidToDtErrMsg" />
            <input type="hidden" id="hdnresInterReportModInvalidFrmDtErrMsg" value="@Common.resInterReportModInvalidFrmDtErrMsg" />
            <input type="hidden" id="hdnresInterReportModInvalidToDtErrMsg" value="@Common.resInterReportModInvalidToDtErrMsg" />
            <input type="hidden" id="hdnresInterReportFrmToCErrMsg" value="@Common.resInterReportFrmToCErrMsg" />
            <input type="hidden" id="hdnresInterReportFrmToMErrMsg" value="@Common.resInterReportFrmToMErrMsg" />
            <input type="hidden" value="@Common.resErrorNoExcel" id="hdnErrorCannotExport" />
            <input type="hidden" value="@Common.resErrorNoPdF" id="hdnErrorCannotExportToPdf" />
            <input type="hidden" value="InteractionReport" id="hdnInteractionReport" />
            <ul>
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12 margin_left_8">
                        <input type="button" value="@Common.resInterReportViewReport" class="search_form_buttons small_btn btnAddProduct" id="btnInterReportViewReport" />
                        <input type="button" value="@Common.resbtnExportToExcel" class="search_form_buttons small_btn btnAddProduct" id="btnInterReportExpToExl" />
                        <input type="button" value="@Common.resbtnExportToPDF" class="search_form_buttons small_btn btnAddProduct" id="btnInterReportExpToPdf" />
                        <input type="button" value="@Common.resInterReportUndo" class="search_form_buttons small_btn btnAddProduct" id="btnInterReportUndo" />
                    </div>
                </li>
            </ul>

            <span class="heading-1 span_expnd">@Common.resInterReportInteractionSummary</span>
            <div class="interaction_summary collapse audit_log">
                <div class="width_scroll">
                    <table id="jqInterReportSummary"></table>
                    <div id="jqInterReportSummaryTablePager"></div>
                </div>
            </div>
        </form>
    </div>
    @Html.Hidden("InteractionSubTypeAction", Url.Action("GetInteractionSubType", "Patient"), new { id = "InteractionSubTypeAction" })
    @Html.Hidden("CreatedByAction", Url.Action("GetCreatedby", "Interaction"), new { id = "CreatedByAction" })
</body>
</html>
@Scripts.Render("~/bundles/InteractionReport")