﻿@model SCA.Indigo.Web.UI.ViewModel.InteractionViewModel
@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;
@using SCA.Indigo.Common.Enums;
<h2>@Common.resCreateInteractionTitle</h2>

<style>
     .audit_log_input ::-ms-clear {
        display: none;
    }
</style>
<script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {

        $jqGrid("#jqPatientInteractionRecentOrderInfoPopup").jqGrid({
            url: '@Url.Action(Constants.ActionRecentOrders, Constants.PatientController)',
            datatype: "local",
            mtype: "GET",
            colNames: ['@Common.resRecentOrderPatientName', '@Common.resRecentOrderPatID', '@Common.reslblOrderType', '@Common.resOrderCreationDate', '@Common.resRecentOrderProductCode', '@Common.resProductDescription', '@Common.resQuantity', '@Common.resRecentOrderDelQty', '@Common.resRecentOrderUnitOfMesurement', '@Common.resGrdDeliveyDate', '@Common.resRecentOrderActualDelieveryDate', '@Common.resSAPOrderNo', '@Common.resSAPDeliveryNo', '@Common.resRecentOrderPlant', '@Common.resRecentOrderPODDate', '@Common.resRecentOrderInvoiceQty', '@Common.resGrdInvoiceNo', '@Common.resRecentOrderInvoiceDate', ''],
            colModel: [
                { name: 'PatientName', index: 'PatientName', hidden: false, width: '150' },
                { name: 'SAPPatientNo', index: 'SAPPatientNo', hidden: false, width: '100' },                
                { name: 'RecentOrderCreationType', index: 'RecentOrderCreationType', classes: 'align_left padding_left_10', width: '100' },
                { name: 'OrderDate', index: 'OrderDate', editable: false, sorttype: 'date', classes: 'align_center', width: '70', formatter: 'date', formatoptions: { srcformat: "d/M/Y H:i:s", newformat: "d/m/Y" } },
                { name: 'ProductCode', index: 'ProductCode', hidden: false, width: '70', classes: 'align_center' },
                { name: 'ProductDescription', index: 'ProductDescription', editable: false, classes: 'align_left padding_left_10 padding_right_10', width: '120' },
                { name: 'Quantity', index: 'Quantity', editable: false, sorttype: 'int', classes: 'align_center padding_right_10', width: '50' },
                { name: 'DeliveryQty', index: 'DeliveryQty', editable: false, sorttype: 'int', classes: 'align_center padding_right_10', width: '50' },
                { name: 'Unit', index: 'Unit', hidden: false, width: '50', classes: 'align_center' },                
                { name: 'DeliveryDate', index: 'DeliveryDate', editable: false, sorttype: 'date', classes: 'align_center', width: '70', formatter: 'date', formatoptions: { srcformat: "d/m/Y H:i:s", newformat: "d/m/Y" } },
                { name: 'ActualDeliveryDate', index: 'ActualDeliveryDate', editable: false, sorttype: 'date', classes: 'align_center', width: '70', formatter: 'date', formatoptions: { srcformat: "d/m/Y H:i:s", newformat: "d/m/Y" } },
                { name: 'SAPOrderNo', index: 'SAPOrderNo', editable: true, classes: 'align_center padding_right_10', width: '80' },
                { name: 'SAPDeliveryNo', index: 'SAPDeliveryNo', editable: false, classes: 'align_center padding_right_10', width: '80' },                
                { name: 'Plant', index: 'Plant', hidden: false, width: '70' },
                { name: 'PODDate', index: 'PODDate', hidden: false, width: '70', formatter: 'date', formatoptions: { srcformat: "d/M/Y H:i:s", newformat: "d/m/Y" } },
                { name: 'InvoiceQuantity', index: 'InvoiceQuantity', hidden: false, width: '70', classes: 'align_center padding_right_10', sorttype: 'int' },
                { name: 'InvoiceNumber', index: 'InvoiceNumber', editable: false, sorttype: 'int', classes: 'align_center padding_right_10', width: '80' },
                { name: 'InvoiceDate', index: 'InvoiceDate', hidden: false, width: '70', classes: 'align_center', formatter: 'date', formatoptions: { srcformat: "d/M/Y H:i:s", newformat: "d/m/Y" } },
                { name: 'SetColor', index: 'SetColor', hidden: true },
            ],
            height: '145',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqInteractionRecentOrdersTablePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            autowidth: false,
            sortname: "",
            emptyrecords: '@Common.resGrdNoRecordsToView',
            sortorder: "asc",
            gridComplete: function () {
                $jqGrid('#jqInteractionRecentOrdersTablePager_left').hide();
                $("#jqInteractionRecentOrdersTablePager_right").children().removeAttr("style").attr("style", "text-align:left");
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#jqInteractionRecentOrdersTablePager_center').hide();
                } else {
                    $jqGrid('#jqInteractionRecentOrdersTablePager_center').show();
                }
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });

                var rowIDs = jQuery("#jqPatientInteractionRecentOrderInfoPopup").getDataIDs().length;
                for (var i = 1; i <= rowIDs; i++) {
                    var recentOrderdata = $jqGrid('#jqPatientInteractionRecentOrderInfoPopup').getRowData(i);
                    var trElement = jQuery("#" + i, jQuery('#jqPatientInteractionRecentOrderInfoPopup'));
                    if (recentOrderdata.SetColor == "RecentOrderRow") {
                        /*trElement.css("background-color", "#5cc4e6");*/
                        trElement.addClass("RecentOrderRow");
                    }
                    else if (recentOrderdata.SetColor == "RecentOrderAltRow") {
                        trElement.addClass("RecentOrderAltRow");
                    }
                }
            },
            onCellSelect: function (rowid, iCol) {
            },
            ondblClickRow: function (rowid) {
            },
            onSortCol: function (index, iCol, sortOrder) {
                $jqGrid('#jqPatientInteractionRecentOrderInfoPopup').jqGrid('setGridParam', { page: $("#jqPatientInteractionRecentOrderInfoPopupPageNum").val() });
            },
            loadComplete: function (data) {
                var page = $jqGrid('#jqPatientInteractionRecentOrderInfoPopup').jqGrid('getGridParam', 'page');
                $jqGrid("#jqPatientRecentOrderInfoPopupPageNum").val(page);
            },

        }).navGrid("#jqInteractionRecentOrdersTablePager",
{ search: false, refresh: false, add: false, edit: false, del: false },
{},
{},
{}
);

        $jqGrid("#JqInteractionSummary").jqGrid({
            datatype: "local",
            colNames: ['', '@Common.reslblCreatedon', '@Common.reslableCreatedBy', '@Common.resGrdStatus', ' @Common.resGrdInteractionType', '@Common.resGrdInteractionSubType', '@Common.resDescriptionBrief', '@Common.resAlert', '@Common.resGrdPatientIdfull', '@Common.resGrdPatientNamefull', '@Common.reslblCarehomeId', '@Common.reslblCareHomeName', ''],
            colModel: [
                { name: 'InteractionId', index: 'InteractionId', hidden: true },
                { name: 'CreatedOn', index: 'CreatedOn', editable: false, classes: 'align_center', formatter: 'date', formatoptions: { srcformat: 'd/m/y H:i:s', newformat: 'd/m/Y' }, sorttype: 'datetime', width: '100' },
                { name: 'CreatedBy', index: 'CreatedBy', editable: false, classes: 'align_left', width: '100' },
                { name: 'StatusText', index: 'StatusText', editable: false, width: '80', classes: 'align_left' },
                { name: 'InteractionCategory', index: 'InteractionCategory', editable: false, classes: 'align_left word_wrap_normal', width: '150' },
                { name: 'InteractionSubTypeCategory', index: 'InteractionSubTypeCategory', editable: false, classes: 'align_left word_wrap_normal', width: '150' },
                { name: 'Description', index: 'Description', editable: false, classes: 'align_left padding_left_10 word_wrap_normal', width: '170' },
                { name: 'DisplayAsAlert', index: 'DisplayAsAlert', edittype: 'checkbox', formatter: 'checkbox', classes: 'align_center', editable: false, editoptions: { value: 'True:False' }, formatoptions: { disabled: true }, width: '80' },
                { name: 'PatientId', index: 'PatientId', editable: false, hidden: true, width: '55' },
                { name: 'PatientName', index: 'PatientName', editable: false, hidden: true, width: '55' },
                { name: 'SAPCareHomeNumber', index: 'SAPCareHomeNumber', editable: false, hidden: true, width: '55' },
                { name: 'CareHomeName', index: 'CareHomeName', editable: false, hidden: true, width: '55' },
                { name: 'IsInteractionViewed', index: 'IsInteractionViewed', hidden: true },
            ],
            height: '145',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#JqInteractionSummaryTablePager"),
            ondblClickRow: function (rowId) {

                var rowData = $jqGrid(this).getRowData(rowId);
                InteractionObj.ShowCreateInteraction(true, rowData.InteractionId, "", "interactionmenu");
            },
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            sortname: "",
            loadonce: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            sortorder: "asc",
            gridComplete: function () {
                $jqGrid("#JqInteractionSummaryTablePager_left").hide();
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid("#JqInteractionSummaryTablePager_center").hide();
                    $jqGrid('#jqInteractionRecentOrdersTablePager_center').hide();
                } else {
                    $jqGrid('#jqInteractionRecentOrdersTablePager_center').show();
                    $jqGrid("#JqInteractionSummaryTablePager_center").show();
                }
                var carehomeId = $jqGrid("#hdnCareHomeId").val() == 0 ? "" : $jqGrid("#hdnCareHomeId").val();
                if (CommonScriptObj.PatientId != 0 || CommonScriptObj.PatientId) {
                    $jqGrid("#txtInteractionSummary").val(CommonScriptObj.PatientName);
                    $jqGrid('#JqInteractionSummary').jqGrid('hideCol', ["CarehomeId"]);
                    $jqGrid('#JqInteractionSummary').jqGrid('hideCol', ["CarehomeName"]);
                } else {
                    $jqGrid("#txtInteractionSummary").val(CommonScriptObj.CareHomeName);
                    $jqGrid('#JqInteractionSummary').jqGrid('hideCol', ["PatientId"]);
                    $jqGrid('#JqInteractionSummary').jqGrid('hideCol', ["PatientName"]);
                }

                $jqGrid('.ui-paging-info').css("text-align", "left");
                $jqGrid("#btnCreateNewInteraction").focus(50);
                $jqGrid("#JqInteractionSummary").trigger("reloadGrid");

                var rowIDs = jQuery("#JqInteractionSummary").getDataIDs().length;
                for (var i = 1; i <= rowIDs; i++) {
                    var row = $jqGrid('#JqInteractionSummary').getRowData(i);
                    var trElement = jQuery("#" + i, jQuery('#JqInteractionSummary'));
                    if (row.IsInteractionViewed == "false") {
                        /*trElement.css("background-color", "#5cc4e6");*/
                        trElement.addClass("unreadinteraction");
                    }
                }
            }
        }).navGrid("#JqInteractionSummaryTablePager",
          { search: false, refresh: false, add: false, edit: false, del: false },
          {},
          {},
          {}
      );


        $jqGrid("#JqInteractionSummary").setGridParam({ sortname: 'CreatedOn', sortorder: 'desc' }).trigger("reloadGrid");
    });
</script>
<form id="frmOpenInteractions">
    <span class="heading-1 medical-staff-icon span_expnd"><i class="fa fa-info-circle"></i> Details</span>
    <div class="audit_log collapse" style="display:block;">
        <ul class="audit_log_ul">
            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_lable"> @Common.resCustomerDropdown </span>
                    <span class="audit_log_input padding_left_20">
                        <input type="text" class="customerInfo" id="txtInteractionCustomerSearch" placeholder="@Common.resCustomerSAP" />
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_input">
                        <input type="text" class="customerInfo btn_disable" id="txtInteractionCustomerDisplay" />
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_lable">@Common.reslblCareHome</span>
                    <span class="audit_log_input padding_left_20">
                        <input type="text" class="customerInfo" id="txtInteractioncareHomeSearch" placeholder="@Common.resCareHomeSAP " />
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_input rdoRushOrder_class">
                        <input type="text" class="customerInfo btn_disable" id="txtInteractioncareHomeDisplay" />
                    </span>

                </div>
            </li>

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_lable">@Common.reslblPatient</span>
                    <span class="audit_log_input padding_left_20">
                        <input type="text" class="customerInfo" id="txtInteractionPatientSearch" placeholder="@Common.resPatientSAP" />
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_input">
                        <input type="text" class="customerInfo btn_disable" id="txtInteractionPatientDisplay" />
                    </span>
                </div>
            </li>
        </ul>
    </div>

    <ul>
        <li>
            <div class="map_rols_user_cell new_select_for_search margin_bot_12 margin_left_8">
                <input type="button" value="@Common.resViewInteractionSummary" class="search_form_buttons small_btn btnAddProduct" id="btnInteractionSummary" />
                <input type="button" value="@Common.resCreateNewInteraction" class="search_form_buttons small_btn btnAddProduct" id="btnCreateInteraction" />
                <input type="button" value="@Common.resBtnGeneralUndo" class="search_form_buttons small_btn btnAddProduct" id="btnInteractionUndo" />
            </div>
        </li>
    </ul>

    <span class="heading-1 accord_span_close">@Common.reslnkRecentOrders</span>
    <div class="collapse recent_order_accord overflow_x_auto width_871">
        <table id="jqPatientInteractionRecentOrderInfoPopup"></table>
        <div id="jqInteractionRecentOrdersTablePager"></div>
    </div>

    <span class="heading-1 span_expnd">@Common.resInteractionSummaryTitle</span>
    <div class="interaction_summary collapse audit_log">
        <table id="JqInteractionSummary"></table>
        <div id="JqInteractionSummaryTablePager"></div>
    </div>


    <div id="divInteractionSelectCustomer" style="display:none">

    </div>
    <div id="divCreateInteraction" style="display: none">

    </div>

    <div id="divInteractionSucess" style="display:none">

    </div>

    <div id="divInteractionFail" style="display:none">

    </div>

    @Html.Hidden("hdnCancelprompt", @Common.resMessageCancelPrompt, new { id = "hdnCancelprompt" })
    <div class="j_lightbox_error" id="InteractionExitDiv">
        <div class="j_lightbox_error_wrapper">
            <div class="pop_error">
                <div id="divInteractionErrorMessage" class="pop_error">
                </div>
                <br />
                <div class="j_lightbox_btns search_form_main_btns">
                    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_YesClicked">@Common.resLogOffYes</a>
                    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_NoClicked">@Common.resLogOffNo</a>
                </div>
            </div>
        </div>
    </div>

    @Html.Hidden("CreateInteractionAction", Url.Action("OpenInteraction", "Patient"), new { id = "CreateInteractionAction" })

    <input type="hidden" id="hdnErrorMessageForCustomer" value="@Common.resErrorMessageCustomer" />
    <input type="hidden" id="hdnInteractionPatientTable" value="@Convert.ToString(SCAEnums.AuditLogType.Patient)" />
    <input type="hidden" id="hdnInteractionCustomerTable" value="@Convert.ToString(SCAEnums.AuditLogType.Customer)" />
    <input type="hidden" id="hdnInteractionCareHomeTable" value="@Convert.ToString(SCAEnums.AuditLogType.CareHome)" />
    <input type="hidden" id="hdnInteractionPatientRecentOrderValue" value="@((int)SCAEnums.ObjectType.Patient)" />
    <input type="hidden" id="hdnInteractionCareHomeRecentOrderValue" value="@Convert.ToInt32(SCAEnums.ObjectType.CareHome)" />
    <input type="hidden" id="isMenuInteraction" value="true">
    <input type="hidden" id="hdnresCreateInteractionTitle" value="@Common.resCreateInteractionTitle" />
    <input type="hidden" id="hdnresErrorMessageCustomer" value="@Common.resErrorMessageCustomer" />
    <input type="hidden" id="hdnresRequiredCarehomeOrPatientId" value="@Common.resRequiredCarehomeOrPatientId" />
    <input type="hidden" id="hdnIsCalledFromInteractionMenu" value="@Model.IsCalledFromInteractionMenu" />
    <input type="hidden" id="hdnMenuPatientName" value="@Model.PatientName" />
    <input type="hidden" id="hdnMenuCarehomeName" value="@Model.CarehomeName" />
    <input type="hidden" id="hdnMenuCustomerName" value="@Model.CustomerName" />
    <input type="hidden" id="hdnMenuInteractionId" value="@Model.InteractionId" />
    <input type="hidden" id="hdnOpenCarehomeFlag" value="@Model.OpenCarehomeFlag" />
    <input type="hidden" id="hdnCallingForm" value="MenuInteraction" />
    <div id="divInteractionSummaryPopup" style="display: none">
    </div>
</form>
@Scripts.Render("~/bundles/Interaction")