﻿@using System.Activities.Validation
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.ViewModel;
@model ChangePasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <title>SCA :: Home Delivery</title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/reset.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/responsive.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/tooltip.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/webfontkit/stylesheet.css")">

    <script src="@Url.Content("~/Scripts/modernizr.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/respond.src.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/placeholders.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/Validations")
    <style type="text/css">
        #container {
            background-color: transparent;
        }

        .login-cell input[type="password"] {
            color: #666;
        }

        .login-cell input[type="text"] {
            background: #ededed;
            color: #666;
        }
    </style>
    <script type="text/javascript">
        $jqGrid = jQuery.noConflict();

        $jqGrid(document).ready(function () {
            $jqGrid('#CurrentPassword').addClass('placeholdersjs');
            $jqGrid("#CurrentPassword").attr('type', 'password');

            $jqGrid('#CurrentPassword').focus(function () {
                $jqGrid("#CurrentPassword").attr('type', 'password');
            });

            $jqGrid('#btnChangePassword').click(function () {
                $jqGrid('.removePlaceholder').each(function () {
                    if ($jqGrid(this).val() == $jqGrid('#hdnPassword').val() || $jqGrid(this).val() == $jqGrid('#hdnNewPassword').val() || $jqGrid(this).val() == $jqGrid('#hdnConfirmPassword').val())
                        $jqGrid(this).removeClass('placeholdersjs');
                    $jqGrid("#CurrentPassword").attr('type', 'password');
                });
            });
        });
        //end of ready
    </script>
</head>
<body>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
            <!--Main-->
        <section id="main">

            <!--header-->
            <header>
                <section id="header_inner">
                    <div class="sca-logo">
                        <img src="~/Images/tana-delivery-logo_03.png">
                    </div>
                </section>
            </header>
            <!--End header-->
            <!--container-->
            @Html.ValidationSummary(true);
            <section id="container">
                <!--Login section-->
                <div class="login_section">

                    <div class="gotohome"><a href="@Url.Action(Constants.ActionWelcome, Constants.HomeController)" class="hint--bottom" data-hintremove="@Common.resGoToHomeToolTip"></a></div>

                    <div class="login-form changepass-form">
                        <div class="login-welcome">@Common.reslblWelcomeChangePassword</div>
                        <div class="changepass_msg">
                            @if (ControllerHelper.CurrentUser != null && ControllerHelper.CurrentUser.IsNewUser == true)
                            {
                                <span>@Common.resloginPasswordNewUser</span>
                            }
                            else if (ControllerHelper.CurrentUser != null && ControllerHelper.CurrentUser.IsExpired == true)
                            {
                                <span>@Common.resloginPasswordExpired</span>
                            }

                        </div>
                        <div class="login-cell change_pass_cell">
                            @*@Html.PasswordFor(a => a.Password, new { placeholder = @Common.reslblCurrentPasswordPlaceHolder, @tabindex = 1, @class = "removePlaceholder" })*@
                            @Html.PasswordFor(a => a.Password, new { placeholder = @Common.reslblCurrentPasswordPlaceHolder, @tabindex = 1, @class = "removePlaceholder", @id = "CurrentPassword" })
                            <div>
                                @Html.ValidationMessageFor(m => m.Password, "")
                            </div>
                        </div>
                        <div class="login-cell change_pass_cell">
                            @Html.PasswordFor(a => a.NewPassword, new { placeholder = @Common.reslblNewPasswordPlaceHolder, @tabindex = 2, @class = "removePlaceholder" })
                            &nbsp;<a href="javascript:void(0);" class="info_icon tooltip_opt_2">
                                <span>
                                    <img class="callout" src="../../Images/callout.gif" alt="CSS Tooltip triggered by image">
                                    <ul>
                                        <li>@Common.reslblPasswordValidationToolTip</li>
                                        <li>@Common.reslblValidThreePasswordToolTip</li>
                                    </ul>
                                </span>
                            </a>
                            <div>
                                @Html.ValidationMessageFor(m => m.NewPassword, "")
                            </div>
                        </div>

                        <div class="login-cell change_pass_cell">
                            @Html.PasswordFor(a => a.ConfirmPassword, new { placeholder = @Common.reslblConfirmPasswordPlaceHolder, @tabindex = 3, @class = "removePlaceholder" })
                            &nbsp;<a href="javascript:void(0);" class="info_icon tooltip_opt_2">
                                <span>
                                    <img class="callout" src="../../Images/callout.gif" alt="CSS Tooltip triggered by image">
                                    <ul>
                                        <li>@Common.reslblPasswordValidationToolTip</li>
                                        <li>@Common.reslblValidThreePasswordToolTip</li>
                                    </ul>
                                </span>
                            </a>

                            <div>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                            </div>
                        </div>

                        <div class="login-cell">
                            <input id="btnChangePassword" type="submit" value="@Common.resbtnChangePassword" tabindex="4">
                        </div>


                    </div>
                </div>
                <!--End Login section-->

            </section>
            }
            <!--End container-->
            <!--footer-->
            <footer style="color: #153a66">
                @Common.reslblFooterCopyright &copy; @Common.reslblFooterSCAHygieneProducts&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://www.tenanet.co.uk" target="_blank">@Common.reslblFooterwwwtenacouk</a>&nbsp;&nbsp;<img src="../../Images/logotype-horizontal.png" style="margin-bottom: -14px; padding-left: 15px; width: 100px;">
            </footer>
            <!--End footer-->

        </section>
    }
    <!--End Main-->
    <input type="hidden" id="hdnPassword" value="@Common.reslblCurrentPasswordPlaceHolder" />
    <input type="hidden" id="hdnNewPassword" value="@Common.reslblNewPasswordPlaceHolder" />
    <input type="hidden" id="hdnConfirmPassword" value="@Common.reslblConfirmPasswordPlaceHolder" />
</body>

</html>
