﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">Either you do not have rights to this page or something has gone wrong at our end.</h2>
<div>
    <p>
        If you have logged on from TENA Net, please close this tab and re-connect from TENA Net, Indigo Tab.
    </p>
</div>


