﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.ViewModel;
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Common.reslblTitle</title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="@Url.Content("~/Content/css/reset.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/responsive.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/webfontkit/stylesheet.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-icon/css/font-icon.css")">

    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/css/ie7.css">
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/css/ie8.css">
    <![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/css/ie9.css">
    <![endif]-->


    <script src="@Url.Content("~/Scripts/modernizr.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/respond.src.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/placeholders.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.js"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.0.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/Validations")


    <!--custome-inputs-->
    <script src="@Url.Content("~/Scripts/custome-inputs.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/custome-inputs.css")">
    <!--End custome-inputs-->    

    <script type="text/javascript">
    $(document).ready(function() {

        $("#UserName").focus(function() {
            $(".login-user-icon").css('background', '#0fc7ff');
        });

        $("#UserName").focusout(function() {
            $(".login-user-icon").css('background', '#009fdf');
        });

        $("#Password").focus(function() {
            $(".login-pass-icon").css('background', '#0fc7ff');
        });

        $("#Password").focusout(function() {
            $(".login-pass-icon").css('background', '#009fdf');
        });

        // Check the Script Validation
        if (!(navigator.cookieEnabled)) {
                var errorMsg = "";
                var errorMsgUl = "<ul class='pop_error_ul'>";
                var errorMsgUlclose = "</ul>";
                var errorMsgLi = "<li>";
                var errorMsgLiclose = "</li>";
                errorMsg = errorMsgUl;
                errorMsg += errorMsgLi +" @Common.resCookiesDisableMessage "+ errorMsgLiclose;
                errorMsg += errorMsgUlclose;
                $("#divCookiesMessage").html(errorMsg);
                ShowHideError();
                return false;
            }
        });

    </script>

    <style type="text/css">
        #container {
            width: 100%;
            background-color: transparent;
        }

        .login_section {
            width: 48%;
        }

        footer {
            width: 50%;
        }

        .login-cell input[type="text"] {
            background: #ededed;
            border-radius: 3px;
        }

        .login-cell input[type="password"] {
            background: #ededed;
            border-radius: 3px;
        }

        .validation-summary-errors {
            display: none !important;
        }

        .outer-error {
            margin-top: -13px;
            padding-bottom: 7px;
            padding-top: 0px;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("", "", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <!--Main-->
        <section id="main">

            <!--header-->
            <header>
                <section id="header_inner">
                    <div class="sca-logo">
                        <img src="~/Images/tana-delivery-logo_03.png">
                    </div>
                </section>
            </header>
            <!--End header-->
            <!--container-->
            <section id="container">
                <!--Login section-->
                <div class="login_section">

                    <div class="login-form">
                        <div class="login-welcome">@Common.reslblLogin</div>

                        <div class="login-cell">
                            <span class="login-user-icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span class="login-input-span">
                                @Html.TextBoxFor(a => a.UserName, new { placeholder = @Common.reslblUserName })<br />
                                @Html.ValidationMessageFor(m => m.UserName)
                            </span>
                            <span class="clear"></span>
                        </div>
                        <div class="login-cell">
                            <span class="login-pass-icon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <span class="login-input-span">
                                @Html.PasswordFor(a => a.Password, new { placeholder = @Common.reslblPassword, value = (Model !=null? Model.Password:string.Empty )})<br />
                                @Html.ValidationMessageFor(m => m.Password)
                            </span>
                            <span class="clear"></span>
                        </div>
                        <div>
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <span class="field-validation-error outer-error">
                                    @if (!string.IsNullOrEmpty(@Html.ValidationMessage("InvalidUser").ToString()))
                                    {
                                        @Html.ValidationMessage("InvalidUser")
                                    }
                                    @if (!string.IsNullOrEmpty(@Html.ValidationMessage("ExpiredPassword").ToString()))
                                    {
                                        @Html.ValidationMessage("ExpiredPassword")
                                    }
                                    @if (!string.IsNullOrEmpty(@Html.ValidationMessage("AccountLocked").ToString()))
                                    {
                                        @Html.ValidationMessage("AccountLocked")
                                    }
                                    @if (!string.IsNullOrEmpty(@Html.ValidationMessage("AccountInActive").ToString()))
                                    {
                                        @Html.ValidationMessage("AccountInActive")
                                    }
                                </span>
                            }

                        </div>
                        
                        <div class="login-cell">
                            <input type="submit" value=@Common.resbtnLogin>
                        </div>
                        <div class="login-cell login-link">
                            <span style="  padding-right: 19%; font-size: 12px; color: #153a66; text-decoration: none;">
                                @Html.CheckBoxFor(c => c.RememberMe, new { id = "RememberMe" })
                                @Common.resRememberMe
                            </span>
                            <a id="Forgot_Password" class="j_lightbox_click" style="cursor: pointer"><i class="fa fa-key"></i> @Common.resbtnForgotPassword</a>
                            @*@Html.ActionLink(Common.resbtnForgotPassword, "ForgotPassword", "Account")*@
                        </div>
                    </div>
                </div>
                <div class="j_lightbox_error" id="j_lightbox_error">
                    <div class="j_lightbox_error_wrapper">
                        <div class="pop_error">
                            <div id="divCookiesMessage" class="validation_msg"></div>
                            <div class="j_lightbox_btns search_form_main_btns">
                                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok small_btn_2">@Common.resbtnErrorOk</a>
                            </div>
                        </div>

                        @*<div class="j_lightbox_error_close"></div>*@
                    </div>
                </div>
                <!--End Login section-->
                <!--Forgot Password section-->
                <div class="j_lightbox" id="j_lightbox">
                    <div class="j_lightbox_wrapper">
                        @{ Html.RenderPartial("_ForgotPasswordPopup"); }
                        <div class="j_lightbox_close"></div>
                    </div>
                </div>
                <!--End Forgot Password section-->
               
                @*<div class="j_lightbox" id="j_lightbox">
                        <div class="j_lightbox_wrapper">

                            <div class="login_section margin_top50 boxshadow_non" id="ForgotPassword">
                                <div class="login-form">

                                    <div class="login-welcome">Forgot Your Password?</div>

                                    <div class="login-cell">
                                        <input type="text" placeholder="Enter your Email-id">
                                    </div>
                                    <div class="login-cell">
                                        <input type="submit" value="Generate The Password">
                                    </div>

                                </div>
                            </div>


                            <div class="j_lightbox_close"></div>
                        </div>
                    </div>*@

            </section>
            <!--End container-->
            <!--footer-->
            <footer style="color: #153a66">
                @Common.reslblFooterCopyright &copy; @Common.reslblFooterSCAHygieneProducts&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://www.tenanet.co.uk" target="_blank">@Common.reslblFooterwwwtenacouk</a>&nbsp;&nbsp;<img src="../../images/logotype-horizontal.png" style="margin-bottom: -14px; padding-left: 15px; width: 100px;">
            </footer>
            <!--End footer-->

        </section>
        <!--End Main-->
    }
</body>
@Scripts.Render("~/bundles/Account")

