﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Web.UI.ViewModel;
@model ResetPasswordViewModel
<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/UserResetUnlock")
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Common.reslblTitle</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
    <form>
        <h3>@Common.resTitileResetUnlockUsers</h3>
        <div>
            <ul>
                <li>
                    <div>
                        <section>
                            <div id="searchPanelMain" class="search_pannel_main">
                                <div class="search_pannel_options">
                                    <div class="search_pannel_searchbox">
                                                <span class="search_pannel_searchtxtbox">
                                                    <input type="text" id="txtUserSearch" placeholder="Type to search" class="bg_eee" />
                                                </span>
                                                <span class="search_pannel_searchbtn">
                                                    <a href="javascript:void(0);" id="btnUserSearch"></a>
                                                </span>
                                                <span class="inline_block float_right" id="btnClearSearchResults">
                                                    <a href="javascript:void(0)" class="clear_search" id="lnkClearSearchResul"><i class="fa fa-trash"></i> Clear Search</a>
                                                </span>
                                            </div>
                                        </div>
                                @{Html.RenderPartial("_ResetUnlockUsersResult");}
                                    </div>
                        </section>
                    </div>
                </li>
                </ul>
        </div>
        <div id="divConfirmBox" style="display:none" class="validation_msg">
            <label class="validation_msg" id="lblValidationMessage"></label>
        </div>
        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divResetUnlockErrorMessage" class="pop_error">
                    </div>
                    <br />
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                        </div>
                    </div>
        </div>
        </div>
        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divResetUnlockErrorMessage" class="pop_error">
                    </div>
                    <br />
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="hdnresUnlockMessage" value="@Common.resResetUnlockUnlockMessage" />
        <input type="hidden" id="hdnresLockMessage" value="@Common.resResetUnlockLockMessage" />
        <input type="hidden" id="hdnresUnlockSuccessMessage" value="@Common.resUnlockedSuccessfully" />
        <input type="hidden" id="hdnresLockSuccessMessage" value="@Common.resLockedSuccessfully" />
        <input type="hidden" id="hdnresUnlockLockErrorMessage" value="@Common.resUnlockLockErrorMsg" />
        <input type="hidden" id="hdnresResetUnlockResetInvalidMsg" value="@Common.resResetUnlockResetInvalidMsg" />
        <input type="hidden" id="hdnresResetUnlockCurrentUserIdValidation" value="@Common.resResetUnlockCurrentUserIdValidation" />
        <input type="hidden" id="hdnCurrentUserId" value="@ViewBag.UserId" />
    </form>
    <div id="divResetPassword" style="display: none">
        @{Html.RenderPartial("_ResetPasswordPopup", Model);}
    </div>
</body>
</html>

