﻿@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Web.UI.Helper;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ViewAuditLog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <script>
    $(window).load(function () {
        $jqComm(".ui-jqgrid-bdiv").mCustomScrollbar("destroy");
        window.IsAuditLogFromMenu = true;
    });
    </script>

    <style>
        body {overflow-x:hidden !important;}
        .ui-jqgrid {width: 885px !important;}
        .ui-jqgrid .ui-jqgrid-bdiv {width:885px !important;}
        .ui-state-default.ui-jqgrid-hdiv {width:885px !important;}
        #jqAuditLogTablePager {width:885px !important;}
       
    </style>

</head>
<body>
    <form id="frm_ViewAuditLog">      
         @{Html.RenderPartial("_AuditLogPopup");}
    </form>
</body>
</html>