﻿@model SCA.Indigo.Web.UI.ViewModel.ClinicalContactMappingViewModel
@using SCA.Indigo.Web.UI.Resource
@using System.Configuration;
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Common.Enums

<html>
<head>
    <title></title>
    @Styles.Render("~/bundles/tab")
    <meta name="viewport" content="width=device-width" />
    <script>
        $jqComm(function () {
            $jqComm("#tabs").css("height", "550px");
            $jqComm("#tabs").pwstabs();
        });
    </script>
    <style>
        .pws_tabs_list {
            min-height: 410px !important;
            max-width: 1000px !important;
        }

        .ui-dialog.ui-resizable {
            min-width: 1000px !important;
            height: auto !important;
        }

        .pws_tabs_container ul.pws_tabs_controll li a {
            padding: 15px 133.5px;
        }

        .map_rols_user_input {
            width: 180px;
        }

        .map_rols_user_cell {
            float: left;
        }

        .form_main_btns_clinical {
            padding: 0px;
            width: auto;
            float: left;
            margin-top: -7px;
        }

        .map_rols_user_input .custom-select {
            width: 190px !important;
        }

        .map_rols_user_input:hover {
            background-position: 150px -26px !important;
        }

        .j_lightbox_error_wrapper {
            width: 40% !important;
        }

        .map_rols_user_cell {
            float: left;
            clear: none;
        }

        .clinical_contact_mapping_lable {
            width: 70px;
            display: block;
            float: left;
            font-size: 12px;
            padding-top: 5px;
            color: #555;
            font-family: arial;
            font-weight: bold;
        }

        .pws_tab_single {
            padding-top: 20px;
        }
    </style>
    <script src="~/Scripts/tab/jquery.pwstabs-1.2.1.js"></script>
    <script type="text/javascript">
        $jqGrid = jQuery.noConflict();
        $jqGrid(document).ready(function () {
            // Value Mapping Grid - Start
            $jqGrid("#jqClinicalContactValueMapping").jqGrid({
                datatype: "local",
                colNames: ['<i class="fa fa-trash"></i>', '', '', '', '',
                            '@Common.resLabelChildValue', '@Common.resLabelParentValue', '@Common.resLabelParentType', '', '@Common.resLableRoleMapping', '', '', ''],
                colModel: [
                    { name: 'Remove', index: 'Remove', edittype: 'checkbox', width: '30', classes: 'align_center isSelected', formatter: ClinicalContactMappingObj.RemoveValueRows, editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false },
                    { name: 'ClinicalContactRoleMappingId', index: 'ClinicalContactRoleMappingId', hidden: true, classes: 'align_left padding_left_10', editable: false },
                    { name: 'ClinicalContactValueMappingId', index: 'ClinicalContactValueMappingId', hidden: true, classes: 'align_left padding_left_10', editable: false },
                    { name: 'ChildListId', index: 'ChildListId', hidden: true, classes: 'align_left padding_left_10', editable: false },
                    { name: 'ChildListName', index: 'ChildListName', hidden: true, classes: 'align_left padding_left_10', editable: false },
                    { name: 'ChildValue', index: 'ChildValue', hidden: false, classes: 'align_left padding_left_10 childValueMapping', editable: false, sortable: true },
                    { name: 'ParentValue', index: 'ParentValue', hidden: false, classes: 'align_left padding_left_10', editable: false, sortable: true },
                    { name: 'ParentListName', index: 'ParentListName', hidden: false, classes: 'align_left padding_left_10', editable: false, sortable: true },
                    { name: 'HierarchyListId', index: 'HierarchyListId', hidden: true, classes: 'align_left padding_left_10', editable: false },
                    { name: 'HierarchyName', index: 'HierarchyName', hidden: false, classes: 'align_left padding_left_10', editable: false, sortable: true },
                    { name: 'ParentListId', index: 'ParentListId', hidden: true, classes: 'align_left padding_left_10', editable: false },
                    { name: 'ParentValueId', index: 'ParentValueId', hidden: true, classes: 'align_left padding_left_10', editable: false },
                    { name: 'ChildValueId', index: 'ChildValueId', hidden: true, classes: 'align_left padding_left_10', editable: false },
                ],
                height: '100',
                width: '935',
                toppager: false,
                jsonReader: { repeatitems: false },
                pager: $jqGrid("#jqClinicalContactValueMappingTablePager"),
                rowNum: 50,                
                rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
                viewrecords: true,
                sortname: "",
                sortorder: "asc",
                emptyrecords: '@Common.resGrdNoRecordsToView',
                gridComplete: function () {
                    $jqGrid('#jqClinicalContactValueMappingTablePager_left').hide();
                    $jqGrid('.ui-paging-info').css("text-align", "left");
                    var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                    if (rowcount == 0) {
                        $jqGrid('#jqClinicalContactValueMappingTablePager_center').hide();

                    } else {
                        $jqGrid('#jqClinicalContactValueMappingTablePager_center').show();
                    }
                    $jqGrid('.ui-pg-input').bind('keyup', function (e) {                        
                        var val = $jqGrid(this).val().trim();
                        ValidationGridPageInput(e, val);
                    });
                    $jqGrid('.ui-pg-input').bind('keypress', function (e) {                        
                        // check for numeric
                        var charCode = (e.which) ? e.which : event.keyCode
                        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                            return false;
                        }
                    });
                },
                onCellSelect: function (rowid, iCol) {
                    if ($jqGrid("#" + ClinicalContactMappingObj.AddEditSection)[0].style.display == "") {
                        var rowData = $jqGrid(this).getRowData(rowid);
                        $jqGrid("#" + ClinicalContactMappingObj.RoleValueTextBox).val(rowData.ChildValue);
                        $jqGrid("#" + ClinicalContactMappingObj.AddEditValueButton).val($jqGrid("#" + ClinicalContactMappingObj.EditButtonText).val());
                        ClinicalContactMappingObj.SetDropdownValue(ClinicalContactMappingObj.ParentValueDropDown, $.trim(rowData.ParentValue));
                    }
                },
                onPaging: function (pgButton) {                    
                    var newPage, lastPage;
                    if ("user" == pgButton) {
                        newPage = parseInt($jqGrid(this.p.pager).find('input:text').val());
                        lastPage = parseInt($jqGrid(this).jqGrid('getGridParam', 'lastpage'));
                        if (newPage > lastPage) {
                            return 'stop';
                        }
                    }
                },
                loadComplete: function () {
                },
                ondblClickRow: function (rowid) {
                    ClinicalContactMappingObj.ShowClinicalContactEditValue(true);
                },

            }).navGrid("#jqClinicalContactValueMappingTablePager",
    { search: false, refresh: false, add: false, edit: false, del: false },
    {},
    {},
    {}
    );
            ClinicalContactMappingObj.CancelClinicalContact();

            $("#ddlMedicalStaffType").one('focus', function () {
                var ddl = $(this);
                ddl.data('previous', ddl.val());
            }).on('change', function () {
                ClinicalContactMappingObj.GetClinicalContactValueMapping();
            });

            // Value Mapping Grid - End

            //Role Mapping Grid - Start
            $jqGrid("#jqClinicalContactRoleMapping").jqGrid({
                datatype: "local",
                colNames: ['', '', '@Common.resDropdownHierarchy', '', '@Common.resDropdownChild', '', '@Common.resDropdownParent', ''],
                colModel: [
                    { name: 'ClinicalContactRoleMappingId', index: 'ClinicalContactRoleMappingId', classes: 'align_left padding_left_10', hidden: true },
                    { name: 'HierarchyListId', index: 'HierarchyListId', classes: 'align_left padding_left_10 hierarchy', editable: false, hidden: true },
                    { name: 'Hierarchy', index: 'Hierarchy', classes: 'align_left padding_left_10', editable: false },
                    { name: 'ChildListId', index: 'ChildListId', classes: 'align_left padding_left_10 child', editable: false, hidden: true },
                    { name: 'Child', index: 'ChildListId', classes: 'align_left padding_left_10', editable: false },
                    { name: 'ParentListId', index: 'ParentListId', classes: 'align_left padding_left_10 parent', editable: false, hidden: true },
                    { name: 'Parent', index: 'ParentListId', classes: 'align_left padding_left_10', editable: false },
                    { name: 'IsNewRow', index: 'IsNewRow', classes: 'align_left padding_left_10 IsNewRow', editable: false, hidden: true }
                ],
                height: '160',
                width: '935',
                toppager: false,
                jsonReader: { repeatitems: false },
                pager: $jqGrid("#jqClinicalContactRoleMappingTablePager"),
                rowNum: 50,
                rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
                viewrecords: true,
                sortname: "",
                sortorder: "asc",
                emptyrecords: '@Common.resGrdNoRecordsToView',
                gridComplete: function () {

                    $jqGrid('#jqClinicalContactRoleMappingTablePager_left').hide();
                    $jqGrid('.ui-paging-info').css("text-align", "left");
                    var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                    if (rowcount == 0) {
                        $jqGrid('#jqClinicalContactRoleMappingTablePager_center').hide();

                    } else {
                        $jqGrid('#jqClinicalContactRoleMappingTablePager_center').show();
                    }
                    $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                        var val = $jqGrid(this).val().trim();
                        ValidationGridPageInput(e, val);
                    });
                    $jqGrid('.ui-pg-input').bind('keypress', function (e) {
                        // check for numeric
                        var charCode = (e.which) ? e.which : event.keyCode
                        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                            return false;
                        }
                    });
                    $("#" + ClinicalContactMappingObj.ClinicalRoleMappingRemoveButton).hide();
                },
                loadComplete: function () {
                },
                onCellSelect: function (rowid, iCol) {
                    ClinicalContactMappingObj.DisplayRemoveOption(rowid);
                    return false;
                },
                onPaging: function (pgButton) {
                    var newPage, lastPage;
                    if ("user" == pgButton) {
                        newPage = parseInt($jqGrid(this.p.pager).find('input:text').val());
                        lastPage = parseInt($jqGrid(this).jqGrid('getGridParam', 'lastpage'));
                        if (newPage > lastPage) {
                            return 'stop';
                        }
                    }
                },
                ondblClickRow: function (rowid) {
                },

            }).navGrid("#jqClinicalContactRoleMappingTablePager",
    { search: false, refresh: false, add: false, edit: false, del: false },
    {},
    {},
    {}
    );
            //Role Mapping Grid - end
            ClinicalContactMappingObj.GetClinicalContactRoleMapping();
        });//end of ready

    </script>
</head>
<body>
    <div class="disable_pop"></div>
    <div id="divClinicalMapping">
        <form id="frm_ClinicalContactMapping">
            <div id="tabs" style="height:380px !important;">
                <div data-pws-tab="tab1" data-pws-tab-name="Clinical Contact Role Mapping" data-pws-tab-icon="fa-map-marker" id="tab1">
                    <div class="width_960">

                        <div class="map_rols_user_cell new_select_for_search margin_right_15">
                            <span class="clinical_contact_mapping_lable">@Common.resLblHierarchy</span>
                            <span class="map_rols_user_input select-style">
                                @Html.DropDownList("ddlHierarchy", Model.HierarchyMasterList, @Common.resDropdownHierarchy, new { @class = "custom-select" })
                            </span>
                        </div>

                        <div class="map_rols_user_cell new_select_for_search margin_right_15">
                            <span class="clinical_contact_mapping_lable">@Common.resLblChild</span>
                            <span class="map_rols_user_input select-style">
                                @Html.DropDownList("ddlChild", Model.ClinicalChildList, @Common.resDropdownChild, new { @class = "custom-select" })
                            </span>
                        </div>

                        <div class="map_rols_user_cell new_select_for_search margin_right_15">
                            <span class="clinical_contact_mapping_lable">@Common.resLblParent</span>
                            <span class="map_rols_user_input select-style">
                                @Html.DropDownList("ddlParent", Model.ClinicalParentList, @Common.resDropdownParent, new { @class = "custom-select" })
                            </span>
                        </div>

                        <div class="form_main_btns form_main_btns_clinical">
                            <a href="javascript:void(0);" id="btnClinicalContactAdd" class="search_form_buttons padding_left_right_20" onclick="ClinicalContactMappingObj.AddRoleMapping();">Add</a>
                        </div>

                        <div class="table_section_2 mCustomScrollbar">
                            <table id="jqClinicalContactRoleMapping"></table>
                            <div id="jqClinicalContactRoleMappingTablePager"></div>
                        </div>

                        <div class="form_main_btns">
                            <a href="javascript:void(0);" id="btnClinicalContactRoleSave" class="search_form_buttons padding_left_right_20" onclick="ClinicalContactMappingObj.SaveRoleMapping();">@Common.resbtnSave</a>&nbsp;
                            <a href="javascript:void(0);" id="btnClinicalContactRoleUndo" class="search_form_buttons padding_left_right_20" onclick="ClinicalContactMappingObj.UndoRoleMapping();">@Common.resBtnGeneralReset</a>&nbsp;
                            <a href="javascript:void(0);" id="btnClinicalContactRoleRemove" class="search_form_buttons padding_left_right_20" onclick="ClinicalContactMappingObj.RemoveRoleMapping();">@Common.resGrdRemove</a>&nbsp;
                            <a href="javascript:void(0);" id="btnClinicalContactRoleExit" class="search_form_buttons padding_left_right_20" tabindex="22" onclick="ClinicalContactMappingObj.CloseClinicalRoleMappingScreen();">@Common.reslnkExit</a>

                        </div>
                    </div>
                </div>

                <div data-pws-tab="tab2" data-pws-tab-name="Clinical Contact Value Mapping" data-pws-tab-icon="fa-map-marker" id="tab2">
                    <div class="width_960">
                        <div class="map_rols_user_cell new_select_for_search margin_right_15">
                            <span class="map_rols_user_input select-style">
                                @Html.DropDownList("ddlMedicalStaffType", Model.MedicalStaffMasterList, @Common.resSelectRole, new { @class = "custom-select" })
                            </span>
                        </div>
                        <div class="table_section_2 mCustomScrollbar height_160">
                            <table id="jqClinicalContactValueMapping"></table>
                            <div id="jqClinicalContactValueMappingTablePager"></div>
                        </div>
                        <div class=" margin_top_10_bot0"><a href="javascript:void(0)" class="plus_sign " id="lnkAddNewRole" onclick="ClinicalContactMappingObj.ShowClinicalContactEditValue(false);" style="display: inline;"><i class="fa fa-plus"></i>&nbsp;&nbsp; @Common.resAddEditClinicalValue</a></div>
                        <div id="divAddEditSection" class="margin_top_10_bot0 contact_mapping_box" style="display: none;">
                            <div class="map_rols_user_cell new_select_for_search margin_right_15">
                                <span class="clinical_contact_mapping_lable width_50">Role</span>
                                <span class="map_rols_user_input select-style width_150">
                                    @Html.TextBoxFor(a => a.ParentListId, new { @id = "txtRoleType", @class = "s_txtbox firstupper bg_ddd", @maxlength = "50", tabindex = "1", disabled = "disabled" })
                                </span>
                            </div>

                            <div class="map_rols_user_cell new_select_for_search margin_right_15">
                                <span class="clinical_contact_mapping_lable width_50">Value</span>
                                <span class="map_rols_user_input select-style width_150">
                                    @Html.TextBoxFor(a => a.ParentListName, new { @id = "txtRoleValue", @class = "s_txtbox firstupper", @maxlength = "50", tabindex = "2" })
                                </span>
                            </div>

                            <div class="map_rols_user_cell new_select_for_search margin_right_15">
                                <span class="clinical_contact_mapping_lable width_90">Role Mapping</span>
                                <span class="map_rols_user_input select-style width_150">
                                    @Html.TextBoxFor(a => a.RoleMapping, new { @id = "txtRoleMapping", @class = "s_txtbox firstupper bg_ddd", @maxlength = "50", tabindex = "3", disabled = "disabled" })
                                </span>
                            </div>
                            <div class="map_rols_user_cell new_select_for_search margin_right_15">
                                <span class="clinical_contact_mapping_lable ">Parent Link</span>
                                <span class="map_rols_user_input select-style width_150">
                                    @Html.DropDownList("ddlParentValue", Model.ParentLinkItems, @Common.resSelectRole, new { @class = "custom-select" })
                                </span>
                            </div>

                            <div class="float_right margin_right_15">
                                <div class="form_main_btns form_main_btns_clinical margin_right_15 ">
                                    <input type="button" id="btnAddClinicalContactEditValue" class="padding_left_right_15 small_btn" onclick="ClinicalContactMappingObj.AddClinicalContactValueInGrid();" value="@Common.resbtnAdd" />
                                    <input type="button" id="btnCancelClinicalContactEditValue" class="padding_left_right_15 small_btn" onclick="ClinicalContactMappingObj.CancelClinicalContact();" value="@Common.reslnkCancel" />
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="form_main_btns">
                            <a href="javascript:void(0);" id="btnClinicalContactValueSave" class="search_form_buttons padding_left_right_20" onclick="ClinicalContactMappingObj.SaveClinicalContactValueMapping();">@Common.resbtnSave</a>&nbsp;&nbsp;
                            <a href="javascript:void(0);" id="btnClinicalContactValueUndo" class="search_form_buttons padding_left_right_20" onclick="ClinicalContactMappingObj.UndoClinicalContactValueMapping();">@Common.resBtnGeneralReset</a>&nbsp;&nbsp;
                            <a href="javascript:void(0);" id="btnClinicalContactValueExit" class="search_form_buttons padding_left_right_20" tabindex="22" onclick="ClosePopup(ClinicalContactMappingObj.ClinicalContactMappingDialog)">@Common.reslnkExit</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="j_lightbox_error" id="j_lightbox_error">
        <div class="j_lightbox_error_wrapper">
            <div class="pop_error">
                <div id="divClinicalContactErrorMessage" class="pop_error">
                </div>
                <br />
                <div class="j_lightbox_btns search_form_main_btns">
                    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                </div>
            </div>
        </div>
    </div>
    <div class="j_lightbox_error" id="Clinicalcontact_ok_cancel_pop">
        <div class="j_lightbox_error_wrapper short_pop">
            <div class="padding_20 search_form_main_btns align_center">
                @Common.resGenralTabChangeMessage <br><br>
                <a href="javascript:void(0);" id="btnWarningOk" onclick="ClinicalContactMappingObj.OKClicked()" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                <a href="javascript:void(0);" id="btnWarningCancel" onclick="ClinicalContactMappingObj.CancelClicked()" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resGeneralCancel</a>
            </div>
        </div>
    </div>
    <div id="divRoleMapplingUndo" style="display:none">
    </div>
    <div id="divRoleMappingSuccess" style="display:none;height:50px">
        <label>@Common.resClinicalRoleMappingSaveMessage</label>
    </div>
    <div id="divRoleMapplingTabChanged" style="display:none">
        <label>@Common.resClinicalContactTabChnage</label>
    </div>
    <div style="display: none">
        <input type="hidden" id="hdnClinicalContactRemove" value="@Common.resPatientMatrixRemove" />
        <input type="hidden" id="hdnSelectRole" value="@Common.resSelectRole" />
        <input type="hidden" id="hdnUndoMessage" value="@Common.resCPUndoConfirmMsg" />
        <input type="hidden" id="hdnMandetoryRoleMappingMessage" value="@Common.resClinicalRoleMappingMandetoryMessage" />
        <input type="hidden" id="hdnChildExist" value="@Common.resClinicalRoleMappingChildExistMessage" />
        <input type="hidden" id="hdnNoRecordFound" value="@Common.resGeneralNoModification" />
        <input type="hidden" id="hdnChildParentExist" value="@Common.resChildParentErrorMessage" />
        <input type="hidden" id="hdnNoClinicalContactValueFound" value="@Common.resNoClinicalContactValueFound" />
        <input type="hidden" id="hdnRoleMappingId" value="" />
        <input type="hidden" id="hdnParentName" value="" />
        <input type="hidden" id="hdnAddButtonText" value="@Common.resbtnAdd" />
        <input type="hidden" id="hdnEditButtonText" value="@Common.resGridRoleMenuEdit" />
        <input type="hidden" id="hdnSelectRoleType" value="@Common.resSelectRoleType" />
        <input type="hidden" id="hdnClinicalSaveNoRecord" value="@Common.resClinicalSaveNoRecord" />
        <input type="hidden" id="hdnClinicalSaveMessage" value="@Common.resClinicalContactMappingSaveMessage" />
        <input type="hidden" id="hdnChildValueMessage" value="@Common.resClinicalChildValue" />
        <input type="hidden" id="hdnRoleBlankMessage" value="@Common.resRoleBlankMessage" />
        <input type="hidden" id="hdnRecordAlreadyMessage" value="@Common.resChildValueDuplicate" />
        <input type="hidden" id="hdnParentValueCheck" value="@Common.resParentValueCheck" />
        <input type="hidden" id="hdnSelectParentMessage" value="@Common.resSelectParentMessage" />
        <input type="hidden" id="hdnSelectParentLabel" value="@Common.resSelectParentLabel" />
        <input type="hidden" id="hdnHierarchy1Code" value="@Convert.ToString((int)SCAEnums.HierarchyType.Hierarchy1)" />
        <input type="hidden" id="hdnHierarchy2Code" value="@Convert.ToString((int)SCAEnums.HierarchyType.Hierarchy2)" />
        <input type="hidden" id="hdnHierarchy3Code" value="@Convert.ToString((int)SCAEnums.HierarchyType.Hierarchy3)" />
        <input type="hidden" id="hdnHierarchy4Code" value="@Convert.ToString((int)SCAEnums.HierarchyType.Hierarchy4)" />
        <input type="hidden" id="hdnInvalidHirarchyLinkageMessage" value="@Common.resHirarchyLinkageFailed" />
        <input type="hidden" id="hdnInvalidChildParentLinkageMessage" value="@Common.resChildParentLinkageExistsMessage" />
        <input type="hidden" id="hdnPreviousDropDownValue" value="" />
        <input type="hidden" id="hdnRemoveClinicalContactValue" value="@Common.resRemoveClinicalContactValue" />
        <input type="hidden" id="hdnRemoveContactValueLinkageWithChild" value="@Common.resRemoveContactValueLinkageWithChild" />
        
    </div>
</body>
</html>
