﻿@model SCA.Indigo.Web.UI.ViewModel.UserAdmin.CustomerViewModel
@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Web.UI.Resource
@using System.Configuration;
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Common.Enums

<!DOCTYPE html>
<html>

<body>    
    <script type="text/javascript">
        $jqGrid = jQuery.noConflict();
        $jqGrid(document).ready(function () {
            $jqGrid("#jqCustomerAuthorizedPersonPrescriptionApproval").jqGrid({
                datatype: "local",
                colNames: ['<i class="fa fa-trash"></i>', '@Common.reslblUserName', '@Common.resPlaceholderPIN', '@Common.resGrdFirstName', '@Common.reslblLastNameNotRequired', '@Common.resJobTitle', '@Common.resGeneralPhone', '@Common.respatientMobileNumber', '@Common.reslblEmailAddress', '', ''],
                colModel: [
                    { name: 'Remove', index: 'Remove', edittype: 'checkbox', formatter: 'checkbox', classes: 'check', width: '30', editable: false, editoptions: { value: 'true:false' }, formatoptions: { disabled: false } },
                    { name: 'UserName', index: 'UserName', editable: false, width: '100px', classes: 'align_left padding_left_10' },
                    { name: 'AuthorizationPin', index: 'AuthorizationPin', editable: false, width: '120px', classes: 'align_left padding_left_10' },
                    { name: 'FirstName', index: 'FirstName', editable: false, width: '85px', classes: 'align_left padding_left_10' },
                    { name: 'SurName', index: 'SurName', editable: false, width: '85px', classes: 'align_left padding_left_10' },
                    { name: 'JobTitle', index: 'JobTitle', editable: false, width: '100px', classes: 'align_left padding_left_10', sorttype: 'text' },
                    { name: 'PhoneNumber', index: 'PhoneNumber', editable: false, width: '90px', classes: 'align_left padding_left_10' },
                    { name: 'MobileNumber', index: 'MobileNumber', editable: false, width: '100px', classes: 'align_left padding_left_10', sorttype: 'text' },
                    { name: 'EmailAddress', index: 'EmailAddress', editable: false, width: '140px', classes: 'align_left padding_left_10' },
                    { name: 'UserId', index: 'UserId', editable: false, classes: 'align_left padding_left_10 userIdToMap', hidden: true },
                    { name: 'IDXAuthorisedUserPrescriptionID', index: 'IDXAuthorisedUserPrescriptionID', editable: false, classes: 'align_left padding_left_10 idxCustomerId', hidden: true }
                ],
                height: '145',
                width: 'auto',
                toppager: false,
                ignoreCase: true,
                jsonReader: { repeatitems: false },
                pager: $jqGrid("#jqCustomerAuthorizedPersonPrescriptionApprovalTablePager"),
                rowNum: 50,
                rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
                viewrecords: true,
                autowidth: false,
                sortname: "",
                sortorder: "asc",
                gridComplete: function () {
                    $jqGrid('#jqCustomerAuthorizedPersonPrescriptionApprovalTablePager_left').hide();
                    $jqGrid('#jqCustomerAuthorizedPersonPrescriptionApproval_left').hide();
                    $jqGrid('.ui-paging-info').css("text-align", "left");
                    var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                    if (rowcount == 0) {
                        $jqGrid('#jqCustomerAuthorizedPersonPrescriptionApprovalTablePager_center').hide();
                    }
                    else {
                        $jqGrid('#jqCustomerAuthorizedPersonPrescriptionApprovalTablePager_center').show();
                        $jqGrid('#cbox').removeClass("ez-hide");
                    }
                    $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                        var val = $jqGrid(this).val().trim();
                        ValidationGridPageInput(e, val);
                    });
                },
                onCellSelect: function (rowid, iCol) {
                    $jqGrid(this).jqGrid('editRow', rowid, true);
                },
                ondblClickRow: function (rowid) {
                },
                loadComplete: function (data) {
                },

            }).navGrid("#jqCustomerAuthorizedPersonPrescriptionApprovalTablePager",
       { search: false, refresh: false, add: false, edit: false, del: false },
       {},
       {},
       {}
    );

            $jqGrid("#jqCustomerAuthorizedPersonPrescriptionApproval").trigger("reloadGrid");
            $jqGrid("#jqgh_jqCustomerAuthorizedPersonPrescriptionApproval_Remove").removeClass("ui-jqgrid-sortable");
        });//end of ready

    </script>

    <style>
        body {
            overflow-y: auto !important;
        }
    </style>

    <form id="frm_CustomerInfo">
        <div class="search_form_main_btns search_form_main_btns_1 customerinfo_maint_top_btns">
            <span class="page_heading float_left">@Common.resHeadingCustomerInformation</span>
            <input type="button" value="@Common.resBtnNameSave" id="btnSaveCustomerInformation" class="search_form_buttons padding_left_right_20 height_30">
            <input type="button" value="@Common.resBtnGeneralUndo" id="btnResetCustomerInformation" class="search_form_buttons padding_left_right_20">
            <a href="javascript:void(0);" tabindex="13" class="search_form_buttons padding_left_right_20 padding_topbot_8px" id="btnCustomerBack">@Common.resBack</a>
        </div>
        <div id="customerinfo" class="customerinfo">

            <ul class="cust_info_ul">
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="cust_info_lable">@Common.reslblCustomerName</span>
                        <span class="cust_info_input">
                            @Html.TextBoxFor(a => a.CustomerBusinessModel.CustomerName, new { @id = "txtCustomerName", @class = "btn_disable customerInfo", @readonly = "readonly", @disabled = "disabled" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="cust_info_lable">@Common.resGeneralCustomerId</span>
                        <span class="cust_info_input">
                            @Html.TextBoxFor(a => a.CustomerBusinessModel.SAPCustomerNumber, new { @id = "txtSAPCustomerNumber", @class = "btn_disable customerInfo", @readonly = "readonly", @disabled = "disabled" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="cust_info_lable">@Common.reslblHouseNumber</span>
                        <span class="cust_info_input">
                            @Html.TextBoxFor(a => a.CustomerBusinessModel.HouseNumber, new { @id = "txtHouseNumber", @class = "btn_disable customerInfo", @readonly = "readonly", @disabled = "disabled" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="cust_info_lable">@Common.resTransportCompany</span>
                        <span class="cust_info_input">
                            @Html.TextBoxFor(a => a.CustomerBusinessModel.TransportCompany, new { @id = "txtTransportCompany", @class = "btn_disable customerInfo", @readonly = "readonly", @disabled = "disabled" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="cust_info_lable">@Common.resAddressLine1</span>
                        <span class="cust_info_input">
                            @Html.TextBoxFor(a => a.CustomerBusinessModel.AddressLine1, new { @id = "txtAddressLine1", @class = "btn_disable customerInfo", @readonly = "readonly", @disabled = "disabled" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="cust_info_lable">@Common.reslableCreatedBy</span>
                        <span class="cust_info_input">
                            @Html.TextBoxFor(a => a.CustomerBusinessModel.CreatedBy, new { @id = "txtCreatedBy", @class = "btn_disable customerInfo", @readonly = "readonly", @disabled = "disabled" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="cust_info_lable">@Common.resAddressLine2</span>
                        <span class="cust_info_input">
                            @Html.TextBoxFor(a => a.CustomerBusinessModel.AddressLine2, new { @id = "txtAddressLine2", @class = "btn_disable customerInfo", @readonly = "readonly", @disabled = "disabled" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="cust_info_lable">@Common.reslblCreatedon</span>
                        <span class="cust_info_input">
                            @Html.TextBoxFor(a => a.CustomerBusinessModel.CreatedDate, new { @id = "txtCreatedDate", @class = "btn_disable customerInfo", @readonly = "readonly", @disabled = "disabled" })

                        </span>
                    </div>
                </li>

                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="cust_info_lable">@Common.resTownCity</span>
                        <span class="cust_info_input">
                            @Html.TextBoxFor(a => a.CustomerBusinessModel.TownCity, new { @id = "txtTownCity", @class = "btn_disable customerInfo", @readonly = "readonly", @disabled = "disabled" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="map_rols_user_cell new_select_for_search">
                        <span class="cust_info_lable">@Common.resPateintStatusDropdown</span>
                        <span class="cust_info_select select-style" style="background-color:white">
                            @Html.DropDownList("ddlCustomerStatus", Model.CustomerStatus, @Common.resGrdStatus, new { @class = "custom-select" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="cust_info_lable">@Common.resCarehomeGridCounty</span>
                        <span class="cust_info_input">
                            @Html.TextBoxFor(a => a.CustomerBusinessModel.County, new { @id = "txtCounty", @class = "btn_disable customerInfo", @readonly = "readonly", @disabled = "disabled" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="map_rols_user_cell new_select_for_search">
                        <span class="cust_info_lable">@Common.resStartDate</span>
                        <span class="cust_info_input">
                            @Html.TextBoxFor(a => a.CustomerBusinessModel.StartDate, new { @id = "txtStartDate", @class = "CalenderImg datepicker customerInfo", placeholder = "dd/mm/yyyy" })
                            <label id="lblDateParse" style="color:red;font-size:12px"></label>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="cust_info_lable">@Common.resGrdPostcode</span>
                        <span class="cust_info_input">
                            @Html.TextBoxFor(a => a.CustomerBusinessModel.PostCode, new { @id = "txtPostCode", @class = "btn_disable customerInfo", @readonly = "readonly", @disabled = "disabled" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                        <span class="cust_info_lable">@Common.resCarehomeGridCountry</span>
                        <span class="cust_info_input">
                            @Html.TextBoxFor(a => a.CustomerBusinessModel.Country, new { @id = "txtCountry", @class = "btn_disable customerInfo", @readonly = "readonly", @disabled = "disabled" })
                        </span>
                    </div>
                </li>
            </ul>

            @*<span class="cust_info_heading2">@Common.reslblContactPerson:</span>
                <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnContactInfo">@Common.reslnkContactInfo</a>&nbsp;&nbsp;*@
            <div class="table_section_2 mCustomScrollbar" style="display: none">
            </div>

            <span class="cust_info_heading2">@Common.resAuthorizedPersonPresciptionApproval:</span>
            <div class="table_section_2 mCustomScrollbar">
                <table id="jqCustomerAuthorizedPersonPrescriptionApproval"></table>
                <div id="jqCustomerAuthorizedPersonPrescriptionApprovalTablePager"></div>
            </div>
            <div class="form_main_btns" style="text-align:right">
                <input type="button" value="@Common.resbtnAdd" id="btnAddPrescriptionUsers" class="search_form_buttons padding_left_right_20 height_30" onclick="ShowCustomerUserPopup();">&nbsp;&nbsp;
                <input type="submit" value="@Common.resGrdRemove" id="btnRemovePrescriptionUsers" class="ssearch_form_buttons padding_left_right_20">&nbsp;&nbsp;
            </div>

            <div class="table_section_btns">                
                    <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" id="btnContactInfo">@Common.reslnkContactInfo</a>                    
                    <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" onclick="CustomerParameterObj.ShowPopupCustomerParameter()" id=" btnaddcustomerparameter">@Common.resBtnAddCustomerParameter</a>
                    <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" onclick="PatientTypeMatrixObj.ShowPatientTypeMatrix();" id="btnPatientTypeMatrix">@Common.resBtnAddPatientTypeMatrix</a>
                    <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" id="btnAttachment" onclick="AttachmentObj.ShowAttachmentPopup('@((int)SCAEnums.ObjectType.Customer)')">@Common.resAttachment</a>
            </div>


            @*<div class="form_main_btns">
                <input type="button" value="@Common.resBtnGeneralSubmit" id="btnSaveCustomerInformation" class="search_form_buttons padding_left_right_20 height_30">&nbsp;&nbsp;
                <input type="submit" value="@Common.resBtnGeneralUndo" id="btnResetCustomerInformation" class="ssearch_form_buttons padding_left_right_20">&nbsp;&nbsp;
                </div>*@


        </div>        
        <div id="divCustomerParameter" style="display: none">
            @{ Html.RenderPartial("_CustomerParameterPopup", Model.CustomerParameterViewModel); }
        </div>
        <div id="divPatientTypeMatrix" style="display: none">
            @{ Html.RenderPartial("_PatientTypeMatrix", Model.PatientTypeMatrixViewModel); }
        </div>
        <div id="divPatientContactInfoPopup" style="display: none">
            @{Html.RenderPartial("_PatientContactInfoPopup");}
        </div>
        <div id="divCustomerUserPopup" style="display: none">
            @{Html.RenderPartial("_CustomerUsers");}
        </div>
        <div id="divAttachmentPopup" style="display: none">
            @{Html.RenderPartial("_AttachmentPopup");}
        </div>

        <div id="divClinicalContactMapping" style="display: none">
            @{Html.RenderPartial("ClinicalContactMapping", Model.ClinicalContactMappingViewModel);}
        </div>
        
        <input type="hidden" id="hdnCustomerParameterTitle" value="@Common.resCustomerParameterTitle" />
        <input type="hidden" id="hdnCustomerUniqueIdRequire" value="@Common.resCustomerUniqueIdRequire" />
        <input type="hidden" id="hdnCustomerUpdatedSuccess" value="@Common.reshdnCustomerUpdatedSuccess" />
        <input type="hidden" id="hdnLblCustomerName" value="@Common.resCustomerDropdown" />
        <input type="hidden" id="hdnMessageCustomerName" value="@Common.resErrorMessageCustomer" />
        <input type="hidden" id="hdnMessageRemoveUserCustomer" value="@Common.resGeneralRemove" />
        <input type="hidden" id="hdnCustomerInformationResetMessage" value="@Common.resUserAdminResetMessage" />
        <input type="hidden" id="hdnCustomerContactType" value="@((int)SCAEnums.ObjectType.Customer)" />
        <input type="hidden" id="hdnreserrormsgEmailAddress" value="@Common.reserrormsgEmailAddress" />
        <input type="hidden" id="hdnUserRequireToRemove" value="@Common.resSelectUserCustomerInformation" />
        <input type="hidden" id="hdnInvalidStartDate" value="@Common.resGeneralInvalidDateFormat" />
        <input type="hidden" id="hdnCurrentCustomerId" value="@Model.SelectedCustomerId" />
        <input type="hidden" id="hdnresAttachmentTitle" value="@Common.resAttachment" />
        <input type="hidden" id="hdnMessageExistUser" value="@Common.resGridUserExist" />
        <input type="hidden" id="hdnInvalidStatusMessage" value="@Common.resInvalidStatusMessage" />
        <input type="hidden" id="hdnActivePatientsMessage" value="@Common.resCustomerActivePatientMessage" />
        <input type="hidden" id="hdnCurrentCustomerStatus" value="" />
        @Html.HiddenFor(m => m.FileCountErrorMessage, new { id = "hdnFileCountErrorMessage" })

        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divCustomerInformationMessage" class="pop_error">
                    </div>
                    <br />
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divCustomerInformationRemoveUser" class="pop_error">
                    </div>
                    <br />
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="j_lightbox_error" id="divAttachmentError_lightbox">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divAttachmentError" class="pop_error">
                    </div>
                    <br />
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="j_lightbox_error" id="divViewCustomerInformationError">
            <div class="j_lightbox_error_wrapper short_pop">
                <div class="padding_20 search_form_main_btns align_center community_ord_mgs1">
                    @Common.resSelectViewCustomerInformation<br /><br />
                    <a href="@Url.Action("SearchData", "Search")" class="search_form_buttons padding_left_right_15 small_btn_2">@Common.resGeneralCustomerDefaultValue</a>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/CustomerParamter")
        @Scripts.Render("~/bundles/Attachment")

    </form>
</body>
</html>
<script>


</script>
<input type="hidden" id="hdnCustomerController" value="@Constants.CustomerController" />
<input type="hidden" id="hdnActionLoadCustomerProductList" value="@Constants.ActionControllerMethodGetCustomerProductList" />
<input type="hidden" id="hdnActionMethodGetClinicalContactValueMapping" value="@Constants.ActionMethodGetClinicalContactValueMapping" />
<input type="hidden" id="hdnActionMethodGetClinicalContactRoleMapping" value="@Constants.ActionMethodGetClinicalContactRoleMapping" />
<input type="hidden" id="hdnActionMethodSaveClinicalRoleMapping" value="@Constants.ActionMethodSaveClinicalRoleMapping" />
<input type="hidden" id="hdnActionMethodSaveClinicalContactValue" value="@Constants.ActionMethodSaveClinicalContactValue" />
<input type="hidden" id="hdnActionMethodGetParentValueForSelectedRoleType" value="@Constants.ActionMethodGetParentValueForSelectedRoleType" />
<input type="hidden" id="hdnActionMethodClinicalContactMapping" value="@Constants.ActionMethodClinicalContactMapping" />
<input type="hidden" id="hdnActionMethodRefreshRoleTypeDropDown" value="@Constants.ActionMethodRefreshRoleTypeDropDown" />
<input type="hidden" id="hdnActionRemoveClinicalContactValue" value="@Constants.ActionMethodRemoveClinicalContactAnalysisMapping" />
<input type="hidden" id="hdnCustomerName" value="" />
<input type="hidden" id="hdnCustomerId" value="" />
@Html.HiddenFor(a => a.ShowCustomerViewAlert, new { @id = "hdnShowCustomerViewAlert" })
