﻿@model SCA.Indigo.Web.UI.ViewModel.MassChanges.MasterMassDataChangeViewModel
@using SCA.Indigo.Web.UI.Resource
@using System.Configuration;
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Common.Enums

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript">
        $jqComm(function () {
            $jqComm("#ddlCustomerColumns").multiselect({ noneSelectedText: 'Customer' });
            $jqComm("#ddlUpdateCareHomeStatus").multiselect({ noneSelectedText: 'Carehome Status' });
            $jqComm("#ddlPatientType").multiselect({ noneSelectedText: 'Patient Type' });
            $jqComm("#ddlPatientStatus").multiselect({ noneSelectedText: 'Patient Status' });
        });
    </script>
    <style>
        .form_main_btns {
            padding: 10px 0px;
        }

        .search_cell {
            padding: 6px 10px;
        }

        .page_heading {
            padding-top: 5px;
        }

        .clear_input_IE ::-ms-clear {
            display: none;
        }

        .j_lightbox_error .j_lightbox_error_wrapper { width:32%; left:32%;}
        .pop_error {text-align:center;}

    </style>
    <link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
</head>
<body>

    <script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {
        $jqGrid("#jqInvalidTemplateColumn").jqGrid({
            datatype: "local",
            colNames: ['TemplateColumn', 'UploadedColumn'],
            colModel: [
                { name: 'TemplateColumnName', index: 'TemplateColumnName', editable: false, width: '200px' },
                { name: 'UploadColumnName', index: 'UploadColumnName', editable: false, width: '200px' }
            ],
            height: '130',
            autowidth: false,
            toppager: false,
            ignoreCase: true,
            jsonReader: { repeatitems: false },
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            sortname: "",
            sortorder: "asc",
            loadComplete: function (data) {
            }
        })
    });
    </script>



    <form id="frm_MasterMassDataChange">
        <span class="page_heading">@Common.resMasterMassDataChangesFormTitle</span>
        <div id="divAutohide">
        </div>
        <div class="report_builder_select_fields margin_top_0 margin_bot_0">
            <span class="heading-1 span_expnd width_100p">@Common.resMasterMassDataChangesDownloadHeader</span>
            <div class="padding_bot_5 padding_bot_20 border_all collapse">
                <ul class="report_builder_criteria_ul  margin_left_25 margin_bot_0">
                    <li>
                        <div id="divPatientType" class="report_builder_criteria_cell_2">
                            <span class="input_lable width_130">@Common.resLabelDownloadType</span>
                            <span class="report_builder_cust_name_select_2 select-style width_260">
                                @Html.DropDownList("ddlDownloadType", Model.DownloadType, @Common.resddlDownloadTypeDefaultValue, new { @class = "custom-select", @onchange = "MassDataChangesObj.ToggelSection(this);" })
                            </span>
                        </div>
                    </li>
                </ul>
                <div id="divCustomerSection" class="margin_bot_0 " style="display: none">
                    <ul class="report_builder_criteria_ul  margin_left_25 margin_bot_0">
                        <li>
                            <div class="report_builder_criteria_cell_2">
                                <span class="input_lable width_130">@Common.reslblCustomer</span>
                                <span class="input_field  width_252 clear_input_IE">
                                    <input type="text" id="txtPrescUpdateCustomerSearch" class="width_252" placeholder="@Common.resCustomerSAP">                                    
                                </span>
                                <span class="input_field  width_340">
                                    <input type="text" id="txtPrescUpdateCustomerDisplay" class="width_340 margin_left_62 btn_disable" disabled="disabled">
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="divMultipleCustomerSection" class="margin_bot_0 " style="display: none">
                    <ul class="report_builder_criteria_ul  margin_left_25 margin_bot_0">
                        <li>
                            <div class="report_builder_criteria_cell_2">
                                <span class="input_lable width_130">@Common.reslblCustomer</span>
                                <span class="report_builder_cust_name_select_2 select-style width_260">
                                    @Html.DropDownList("ddlCustomerColumns", Model.Customer, new { multiple = "multiple", @class = "custom-select"})
                                </span>
                                <span class="input_field  width_340">
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="divPatientSection" class="margin_bot_0 " style="display: none">
                    <ul class="report_builder_criteria_ul  margin_left_25 margin_top_0">
                        <li>
                            <div id="divPatientType" class="report_builder_criteria_cell_2">
                                <span class="input_lable width_130">@Common.resSearchPatientTypeDropdown</span>
                                <span class="report_builder_cust_name_select_2 select-style width_260">
                                    @Html.DropDownList("ddlPatientType", Model.PatientType, new { @multiple = "multiple", @class = "custom-select" })                                    
                                </span>
                            </div>
                        </li>
                        <li>
                            <div id="divPatientStatus" class="report_builder_criteria_cell_2 padding_left_38">
                                <span class="input_lable width_85">@Common.resPatientStatus</span>
                                <span class="report_builder_cust_name_select_2 select-style width_260">
                                    @Html.DropDownList("ddlPatientStatus", Model.PatientStatus, new { @multiple = "multiple", @class = "custom-select" })
                                </span>
                            </div>
                        </li>
                        <li>
                            <div id="divPatientStatus" class="report_builder_criteria_cell_2 margin_bot_12">
                                <span class="input_lable width_130">@Common.resLabelEnterPatientId</span>
                                <span class="map_rols_user_input">
                                    <textarea class="note_textarea_MassChanges" placeholder="" id="txtPatientId"></textarea>
                                </span>
                            </div>
                        </li>
                    </ul>                    
                </div>

                <div id="divCarehomeSection" class="margin_bot_0 " style="display: none">
                    <ul class="report_builder_criteria_ul  margin_left_25 margin_top_0">
                        <li>
                            <div id="divPatientType" class="report_builder_criteria_cell_2">
                                <span class="input_lable width_130">@Common.resLabelCarehomeOrderType</span>
                                <span class="report_builder_cust_name_select_2 select-style width_260">
                                    @Html.DropDownList("ddlOrderType", Model.CareHomeOrderType, @Common.resddlOrderTypeDefaultValue, new { @class = "custom-select" })
                                </span>
                            </div>
                        </li>
                        <li>
                            <div id="divPatientType" class="report_builder_criteria_cell_2 padding_left_42">    
                                <span class="input_lable">@Common.reslblCarehomeStatus</span>                           
                                <span class="report_builder_cust_name_select_2 select-style input_field  width_238">
                                    @Html.DropDownList("ddlUpdateCareHomeStatus", Model.CareHomeStatus, new { @multiple = "multiple", @class = "custom-select" })
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_2">
                                &nbsp;
                            </div>
                        </li>
                        <li>
                            <div id="divPatientStatus" class="report_builder_criteria_cell_2">
                                <span class="input_lable width_130">@Common.resLabelEnterCarehomeId</span>
                                <span class="map_rols_user_input">
                                    <textarea class="note_textarea_MassChanges" placeholder="" id="txtCarehomeId"></textarea>
                                </span>
                            </div>
                        </li>
                    </ul>                    
                </div>
                <div id="divContactPersonSection" class="margin_bot_0 " style="display: none">
                    <ul class="report_builder_criteria_ul  margin_left_25  margin_top_0">
                        <li>
                            <div id="divPatientType" class="report_builder_criteria_cell_2">
                                <span class="input_lable width_130">Contact Person Type</span>
                                <span class="report_builder_cust_name_select_2 select-style width_260">
                                    <select class="custom-select" id="ddlContactPersonType" tabindex="12" onchange="MassDataChangesObj.ToggelContactPersonSection(this);">
                                        <option value=0>Select Contact Person Type</option>
                                        <option value=1>@SCAEnums.ObjectType.Customer</option>
                                        <option value=2>@SCAEnums.ObjectType.Patient</option>
                                        <option value=3>@SCAEnums.ObjectType.CareHome</option>
                                    </select>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_2">
                                &nbsp;
                            </div>
                        </li>
                        <li>
                            <div id="divContactPatientCarehomeId" style="display: none" class="report_builder_criteria_cell_2">
                                <span class="input_lable width_130" id="spnPatientCarehomeId"></span>
                                <span class="map_rols_user_input">
                                    <textarea class="note_textarea_MassChanges" placeholder="" id="txtContactPatientCarehomeId"></textarea>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_2">
                                &nbsp;
                            </div>
                        </li>
                    </ul>                    
                </div>

                <div id="divCommunicationSection" class="margin_bot_0 " style="display: none">
                    <ul class="report_builder_criteria_ul  margin_left_25  margin_top_0">
                        <li>
                            <div id="divCommunicationPatientType" class="report_builder_criteria_cell_2">
                                <span class="input_lable width_130">Communication Type</span>
                                <span class="report_builder_cust_name_select_2 select-style width_260">
                                    <select class="custom-select" id="ddlCommunicationType" tabindex="12" onchange="MassDataChangesObj.ToggelCommunicationSection(this);">
                                        <option value=0>Select Communication Type</option>
                                        <option value=2>@SCAEnums.ObjectType.Patient</option>
                                        <option value=3>@SCAEnums.ObjectType.CareHome</option>
                                    </select>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_2">
                                &nbsp;
                            </div>
                        </li>
                        <li>
                            <div id="divCommunicationPatientCarehomeId" style="display: none" class="report_builder_criteria_cell_2">
                                <span class="input_lable width_130" id="spnCommPatientCarehomeId"></span>
                                <span class="map_rols_user_input">
                                    <textarea class="note_textarea_MassChanges" placeholder="" id="txtCommPatientCarehomeId"></textarea>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="report_builder_criteria_cell_2">
                                &nbsp;
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="divPrescriptionSection" class="margin_bot_0 " style="display: none">
                    <ul class="report_builder_criteria_ul  margin_left_25  margin_top_0">
                        <li>
                            <div id="divProduct" class="report_builder_criteria_cell_2">
                                <span class="input_lable width_130">@Common.resGrdProductName</span>
                                <span class="input_field  width_252 clear_input_IE">
                                    <input type="text" id="txtPrescUpdateProductSearch" class="width_252" placeholder="@Common.resProductSAP">
                                </span>
                                <span class="search_cell_field">
                                    <input type="text" id="txtPrescUpdateProductDisplay" class="width_340 margin_left_62 btn_disable" disabled="disabled">
                                </span>
                            </div>
                        </li>
                    </ul>                    
                </div>

                <div id="divPatinetMedicalAnalysis" class="margin_bot_0 " style="display: none">
                    <ul class="report_builder_criteria_ul  margin_left_25  margin_top_0">
                        <li>

                            <div id="divPatientIds" class="report_builder_criteria_cell_2">
                                <span class="input_lable width_130">@Common.resLabelEnterPatientId</span>
                                <span class="map_rols_user_input">
                                    <textarea class="note_textarea_MassChanges" placeholder="" id="txtClinicalPatientId"></textarea>
                                </span>
                            </div>

                        </li>
                    </ul>                    
                </div>
                <div id="divOrderSection" style="display:none; width:860px;">

                    <div id="OrderUpdatePatientDetails">

                        <div id="divOrderPatientIds" class="patientinfo_col1 padding_left_25 min_height_30 width_445">
                            <div class="patientinfo_cell">
                                <span class="patientinfo_col1_lable width_140">@Common.resLabelEnterPatientId</span>
                                <span class="patientinfo_col1_field clear_input_IE">
                                    <textarea class="mass_data_textarea" placeholder="" id="txtOrderUpdatePatientIds"></textarea>
                                </span>
                            </div>
                        </div>

                        <div id="divOrderPatientStatus" class="patientinfo_col2 margin_left_7_right_7  min_height_30 width_180">
                            <div class="patientinfo_cell">                               
                                <span class="patientinfo_col2_field col1_select_style">
                                    @Html.DropDownList("ddlOrderUpdatePatientStatus", Model.PatientStatus, new { @multiple = "multiple", @class = "custom-select2" })
                                </span>
                            </div>
                        </div>

                        <div id="divOrderPatientType" class="patientinfo_col3 width_195 min_height_30">
                            <div class="patientinfo_cell width_195">                                
                                <span class="patientinfo_col3_field col3_select_style">
                                    @Html.DropDownList("ddlOrderUpdatePatientType", Model.PatientType, new { @multiple = "multiple", @class = "custom-select2" })
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div id="OrderUpdateCareHomeDetails">

                        <div id="divOrderPatientIds" class="patientinfo_col1 padding_left_25  min_height_30 width_445">
                            <div class="patientinfo_cell ">
                                <span class="patientinfo_col1_lable width_140">@Common.resLabelEnterCarehomeId</span>
                                <span class="patientinfo_col1_field width_121 clear_input_IE">
                                    <textarea class="mass_data_textarea" placeholder="" id="txtOrderUpdateCareHomeIds"></textarea>
                                </span>
                            </div>
                        </div>

                        <div id="divOrderPatientStatus" class="patientinfo_col2 margin_left_7_right_7 min_height_30  width_180">
                            <div class="patientinfo_cell">                                
                                <span class="patientinfo_col2_field col1_select_style">
                                    @Html.DropDownList("ddlOrderUpdateCareHomeStatus", Model.CareHomeStatus, new { @multiple = "multiple", @class = "custom-select2" })
                                </span>
                            </div>
                        </div>

                        <div id="divOrderPatientType" class="patientinfo_col3 min_height_30 width_195">
                            <div class="patientinfo_cell">                                
                                <span class="patientinfo_col3_field col3_select_style">
                                    @Html.DropDownList("ddlOrderUpdateCareHomeOrderType", Model.CareHomeOrderType, new { @multiple = "multiple", @class = "custom-select2" })
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div id="OrderUpdateDetails">

                        <div id="divOrderPatientIds" class="patientinfo_col1 padding_left_25  min_height_30 width_445">
                            <div class="patientinfo_cell">
                                <span class="patientinfo_col1_lable  width_140">@Common.reslblEnterOrderId</span>
                                <span class="patientinfo_col1_field width_121 clear_input_IE">
                                    <textarea class="mass_data_textarea" placeholder="" id="txtOrderUpdateOrderIds"></textarea>
                                </span>
                            </div>
                        </div>

                        <div id="divOrderPatientStatus" class="patientinfo_col2 margin_left_7_right_7  min_height_30 width_180">
                            <div class="patientinfo_cell">                                
                                <span class="patientinfo_col2_field col1_select_style">
                                    @Html.DropDownList("ddlOrderUpdateOrderStatus", Model.OrderStatus, new { @multiple = "multiple", @class = "custom-select2" })
                                </span>
                            </div>
                        </div>

                        <div id="divOrderPatientType" class="patientinfo_col3 min_height_30 width_195">
                            <div class="patientinfo_cell">                               
                                <span class="patientinfo_col3_field col3_select_style">
                                    @Html.DropDownList("ddlOrderUpdateOrderType", Model.OrderType, new { @multiple = "multiple", @class = "custom-select" })
                                </span>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div id="divOrderProductid" class="patientinfo_col1 padding_left_25  min_height_30 width_445">
                            <div class="patientinfo_cell">
                                <span class="patientinfo_col1_lable  width_140">@Common.resGrdProductName</span>
                                <span class="patientinfo_col1_field width_121 clear_input_IE">
                                    <input type="text" id="txtOrderUpdateProductSearch" class="mass_data_textarea">
                                </span>
                            </div>
                        </div>

                        <div id="divOrderPatientStatus" class="patientinfo_col2 margin_left_7_right_7  min_height_30  width_180">
                            <div class="patientinfo_cell">                                
                                <span class="patientinfo_col2_field">
                                    <input type="text" id="txtOrderUpdateProductDisplay" class="map_rols_user_input width_340" disabled="disabled">
                                </span>
                            </div>
                        </div>                        

                    </div>
                    <div class="clear"></div>

                </div>


                <div class="margin_top_left_15 float_left padding_left_150" style="display: none;" id="divDownloadData">
                    <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" id="btnDownloadData" onclick="MassDataChangesObj.MasterMassDataChangeDownloadData();">DOWNLOAD DATA</a>&nbsp;&nbsp;
                </div>

                <div class="clear"></div>
            </div>
            <div style="height:20px;">&nbsp;</div>
        </div>
        <div class="report_builder_select_criteria margin_top_15">
            <span class="heading-1 prescription-information-icon width_100p span_expnd">@Common.resMasterMassDataChangesUploadHeader</span>
            <div class="border_all padding_bot_20 collapse">
                <ul class="report_builder_criteria_ul  margin_left_25 margin_bot_0">
                    <li>

                        <div id="divPatientIds" class="report_builder_criteria_cell_2">
                            <span class="input_lable width_130">@Common.resLabelUploadType</span>
                            <span class="report_builder_cust_name_select_2 select-style width_260">
                                @Html.DropDownList("ddlUploadType", Model.DownloadType, @Common.resddlUploadTypeDefaultValue, new { @class = "custom-select" })
                            </span>
                        </div>

                    </li>
                </ul>

                <div id="divUploadFile" class="margin_left_25">
                    <input type="file" name="UploadExcelFileControl" id="MassUpdateUploadExcel" onchange="MassDataChangesObj.FileUploadChange(this)" />
                </div>

                <br />

                <div class="form_main_btns margin_left_25">
                    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" id="btnMassUpdateUpload" onclick="MassDataChangesObj.ImportData()" disabled="disabled">@Common.resbtnFileUpload</a>&nbsp;
                    <a href="javascript:void(0);" id="btnMassChangesDownloadLog" class="search_form_buttons padding_left_right_20">@Common.resDownloadlog</a>&nbsp;
                    <a href="javascript:void(0);" id="btnMassChangesUndo" class="search_form_buttons padding_left_right_20">@Common.resBtnGeneralReset</a>
                </div>
            </div>
        </div>

        <div class="j_lightbox_error" id="divMasssChangeErrorMessage">
            <div class="j_lightbox_error_wrapper contactInfo">
                <div class="pop_error">
                    <div id="validationText"> </div>
                    <div id="validationErrorjqWrapper"> 
                    @Common.rellblInvalidTemplateColumn
                    <table id="jqInvalidTemplateColumn"></table>   </div>
                    <br />
                    <input type="button" id="btnCloseValidationPopup" onclick="closeValidationPopup()" value="@Common.resbtnErrorOk" class="search_form_buttons padding_left_right_20">
                </div>
            </div>
        </div>


        <div style="display: none">
            <input type="hidden" id="hdnMassChangesController" value="@Constants.MassDataChangesController" />
            <input type="hidden" id="hdnDownloadActionMethod" value="@Constants.ActionMethodDownloadMasterMassDataChange" />
            <input type="hidden" id="hdnCustomerValidation" value="@Common.resErrorMessageCustomer" />
            <input type="hidden" id="hdnPatientCarehomeValidation" value="@Common.resPatientCarehomeValidationMessage" />
            <input type="hidden" id="hdnErrorContactPersonType" value="@Common.resErrorContactPersonType" />
            <input type="hidden" id="hdnErrorCommunicationPersonType" value="@Common.resErrorCommunicationPersonType" />
            
            <input type="hidden" id="hdnPatientValidation" value="@Common.resAOS104" />
            <input type="hidden" id="hdnDownloadLogFile" value="" />
            <input type="hidden" value="@Common.resErrorNoExcel" id="hdnErrorCannotExport" />
            @*enun download data type start*@
            <input type="hidden" id="hdnEnumPatient" value="@Convert.ToInt32(SCAEnums.MassDataTemplate.Patient)" />
            <input type="hidden" id="hdnEnumCarehome" value="@Convert.ToInt32(SCAEnums.MassDataTemplate.Carehome)" />
            <input type="hidden" id="hdnEnumPrescription" value="@Convert.ToInt32(SCAEnums.MassDataTemplate.Prescription)" />
            <input type="hidden" id="hdnEnumContactPerson" value="@Convert.ToInt32(SCAEnums.MassDataTemplate.ContactPerson)" />
            <input type="hidden" id="hdnEnumCommunicationFormat" value="@Convert.ToInt32(SCAEnums.MassDataTemplate.CommunicationFormat)" />
            <input type="hidden" id="hdnEnumPostCodeMatrix" value="@Convert.ToInt32(SCAEnums.MassDataTemplate.PostCodeMatrix)" />
            <input type="hidden" id="hdnEnumCustomerClinicalContacts" value="@Convert.ToInt32(SCAEnums.MassDataTemplate.CustomerClinicalContacts)" />
            <input type="hidden" id="hdnEnumCustomerAnalysisInformation" value="@Convert.ToInt32(SCAEnums.MassDataTemplate.CustomerAnalysisInformation)" />
            <input type="hidden" id="hdnEnumPatientClinicalContacts" value="@Convert.ToInt32(SCAEnums.MassDataTemplate.PatientClinicalContacts)" />
            <input type="hidden" id="hdnEnumPatientAnalysisInformation" value="@Convert.ToInt32(SCAEnums.MassDataTemplate.PatientAnalysisInformation)" />
            <input type="hidden" id="hdnEnumOrder" value="@Convert.ToInt32(SCAEnums.MassDataTemplate.Order)" />
            @*enun download data type end*@

            <input type="hidden" id="hdnSearchCustomerTable" value="@Convert.ToString(SCAEnums.ObjectType.Customer)" />
            <input type="hidden" id="hdnSearchProductTable" value="@Convert.ToString(SCAEnums.ObjectType.Product)" />
            <input type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["MaxAttachSizeInMB"].ToString()" id="hdnAppConfigMaxSixe" />
            <input type="hidden" value="@Common.resFileSize" id="hdnUpdateFilezSize">
            <input type="hidden" value="@Common.resInvalidExcelFormat" id="hdnExcelFormat">
            
            <input type="hidden" id="hdnOrderStatusGenerated" value="@Convert.ToInt32(SCAEnums.OrderStatus.Generated)" />
            <input type="hidden" id="hdnOrderStatusSentToSAP" value="@Convert.ToInt32(SCAEnums.OrderStatus.Generated)" />
            <input type="hidden" id="hdnOrderStatusFailed" value="@Convert.ToInt32(SCAEnums.OrderStatus.Generated)" />


            <input type="hidden" id="hdnDefaultTextPatientTypeDDL" value="@Common.resGrdPatientType" />
            <input type="hidden" id="hdnDefaultTextPatientStatusDDL" value="@Common.resPatientStatus" />
            <input type="hidden" id="hdnDefaultTextCareHomeStatusDDL" value="@Common.reslblCarehomeStatus" />
            <input type="hidden" id="hdnDefaultTextCarehomeOrderTypeDDL" value="@Common.resLabelCarehomeOrderType" />
            <input type="hidden" id="hdnDefaultTextOrderStatusDDL" value="@Common.resDdlDefaultOrderStatus" />
            <input type="hidden" id="hdnDefaultTextOrderTypeDDL" value="@Common.reslblOrderType" />
            <input type="hidden" id="hdnFilNotSelected" value="@Common.resFilNotSelected" />            
        </div>

        <div id="divCancelPrompt" style="display:none" class="validation_msg">
            @*<label class="validation_msg">@Common.resMessageUnsavedChanges</label>
                <br />*@
            <label class="validation_msg">@Common.resGeneralUndoMessage</label>
        </div>

        @Scripts.Render("~/bundles/MassDataChanges")
    </form>
</body>

</html>
