﻿@using SCA.Indigo.Web.UI.Resource
@using System.Configuration;
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Common.Enums
@model SCA.Indigo.Web.UI.ViewModel.AutomaticOrderViewModel

<!DOCTYPE html>
@Scripts.Render("~/bundles/AutomaticOrder")
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
    <script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {
        $jqGrid("#jqAutomaticOrder").jqGrid({
            datatype: "local",
            colNames: [
                '@Common.resGeneralCustomerId',
                '@Common.resGridUserRoleSAPCustomerID',
                '@Common.reslblPatientId',
                '@Common.reslblSAPPatientId',
                '@Common.resGrdPatientTypeId',
                '@Common.resGrdPatientType',
                '@Common.reslblCarehomeId',
                '@Common.resCareHomeSAPID',
                '@Common.resGridOrderId',
                '@Common.resGrdDeliveryDate',
                '@Common.resGrdStatus',
                '@Common.resStatusMessage'
                ],
                colModel: [
                    { name: 'CustomerId', index: 'CustomerId', width: '120', classes: 'align_left padding_left_10', hidden: true },
                    { name: 'SAPCustomerId', index: 'SAPCustomerId', width: '100', classes: 'align_left padding_left_10' },
                    { name: 'PatientId', index: 'PatientId', width: '100', classes: 'align_left padding_left_10', hidden: true },
                     { name: 'SAPPatientId', index: 'SAPPatientId', width: '90', classes: 'align_left padding_left_10', hidden: false },
                    { name: 'PatientTypeId', index: 'PatientTypeId', width: '100', classes: 'align_left padding_left_10', hidden: true },
                    { name: 'PatientType', index: 'PatientType', width: '85', classes: 'align_left padding_left_10', hidden: false },
                    { name: 'CareHomeId', index: 'CareHomeId', width: '100', classes: 'align_left padding_left_10', hidden: true },
                    { name: 'SAPCareHomeId', index: 'SAPCareHomeId', width: '100', classes: 'align_left padding_left_10', hidden: false },
                    { name: 'OrderId', index: 'OrderId', width: '60', classes: 'align_left padding_left_10', hidden: false },
                    { name: 'DeliveryDate', index: 'DeliveryDate', width: '90', classes: 'align_left padding_left_10' },
                    { name: 'Status', index: 'Status', width: '80', classes: 'align_left padding_left_10' },
                    { name: 'Message', index: 'Message', width: '270', classes: 'align_left padding_left_10' }
                ],
                height: '150',
                width: '895',
                toppager: false,
                jsonReader: { repeatitems: false },
                pager: $jqGrid("#jqAutomaticOrderTablePager"),
                rowNum: 500,
                rowList: [500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400],
                viewrecords: true,
                autowidth: false,
                sortname: "",
                sortorder: "asc",
                gridComplete: function () {
                    $jqGrid('#jqgh_jqAutomaticOrder_Select').removeClass("ui-jqgrid-sortable");
                    $jqGrid('#jqAutomaticOrderTablePager_left').hide();
                    $jqGrid('.ui-paging-info').css("text-align", "left");
                    var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                    if (rowcount == 0) {
                        $jqGrid('#jqAutomaticOrderTablePager_center').hide();
                        $jqGrid('#chkAutomaticOrderSelectAll').attr('disabled', 'disabled');
                    }
                    else {
                        $jqGrid('#jqAutomaticOrderTablePager_center').show();
                        $jqGrid('#chkAutomaticOrderSelectAll').removeAttr('disabled');

                        var firstRow = $jqGrid(this).jqGrid('getRowData', 1);
                        var nextDeliveryDate = firstRow['DeliveryDate'];
                        window.PreDefinedNDD = nextDeliveryDate;
                    }
                    $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                        var val = $jqGrid(this).val().trim();
                        ValidationGridPageInput(e, val);
                    });
                },
                onCellSelect: function (rowid, iCol) {
                },
                ondblClickRow: function (rowid) {
                },
                loadComplete: function (data) {
                },

            }).navGrid("#jqAutomaticOrderTablePager",
                        { search: false, refresh: false, add: false, edit: false, del: false },
                        {},
                        {},
                        {}
                      );
        });//ready
    </script>
    <style type="text/css">
        .ui-multiselect-checkboxes label span {width: 170px !important;}
    </style>


</head>
<body>
    <form id="frm_AutomaticOrder">
        <span class="page_heading">@Common.resAutomaticOrderCriteriaTitle</span>
        <div>
            <ul class="automatic_Order_ul">
                <li>
                    <div class="search_cell">
                        <span class="search_cell_txt">@Common.resCustomerMandatory</span>
                        <span class="search_cell_field">
                            @Html.DropDownList("ddlCustomer", (IEnumerable<SelectListItem>)Model.CustomersList, new { multiple = "multiple", @id = "ddlCustomer", @class = "custom-select-2", tabindex = "1" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="search_cell">
                        <span class="search_cell_txt">@Common.reslblRunDate</span>
                        <span class="search_cell_field">                            
                            <input type="text" id="txtRunDate" class="CalenderImg datepicker" placeholder="DD/MM/YYYY" readonly="readonly">
                        </span>
                    </div>
                </li>
                <li class="width_100p margin_bot_12">
                    <div class="search_cell">
                        <span class="search_cell_txt">@Common.resCareHomeType</span>
                        <span class="search_cell_field">
                            <textarea id="txtACCarehome" class="automatic_Order_textarea"></textarea>
                        </span>
                    </div>
                </li>
                <li class="width_100p margin_bot_12">
                    <div class="search_cell">
                        <span class="search_cell_txt">@Common.reslblPatient</span>
                        <span class="search_cell_field">
                            <textarea id="txtACPatient" class="automatic_Order_textarea"></textarea>
                        </span>
                    </div>
                </li>


                <li class="margin_bot_12">
                    <div class="search_cell">
                        <span class="search_cell_txt"></span>
                        <span class="search_cell_dot"></span>
                        <span class="search_cell_field width_440px">
                            <input type="checkbox" id="chkTestRun" checked="checked">&nbsp; <label class="form_font">@Common.reslblTestRun</label>
                            <div class="form_main_btns padding_0 float_right">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="@Common.resbtnExportToExcel" id="btnExportToExcel" class="search_form_buttons padding_left_right_40 height_30 " />
                            </div>
                            <div class="form_main_btns padding_0 float_right">
                                <input type="button" value="@Common.resbtnExecute" id="btnExecuteAutomaticOrder" class="search_form_buttons padding_left_right_40 height_30" />
                            </div>
                        </span>
                    </div>
                </li>
            </ul>

            
        </div>

        <div class="table_section_2">
            <table id="jqAutomaticOrder"></table>
            <div id="jqAutomaticOrderTablePager"></div>
        </div>

        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divErrorMessage" class="pop_error">
                    </div>
                    <br />
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                    </div>
                </div>                
            </div>
        </div>
        
    </form>
    <div id="divValidationSelectCustomer" style="display:none;min-height: 19px; width:410px !important; text-align:center;" class="field-validation-error">@Common.resCustomerUniqueIdRequire</div>
    <div id="divValidationSelectRunDate" style="display:none;min-height: 19px; width:410px !important; text-align:center;" class="field-validation-error">@Common.resSelectRunDate</div>
    <div id="divValidationConfirmOrderCreation" style="display:none;min-height: 19px;">@Common.resConfirmOrderCreation</div>
    <input type="hidden" id="hdnObjectTypePatient" value="@((int)SCAEnums.ObjectType.Patient)" />
    <input type="hidden" id="hdnObjectTypeCareHome" value="@((int)SCAEnums.ObjectType.CareHome)" />
    <input type="hidden" id="hdnObjectTypeCustomer" value="@((int)SCAEnums.ObjectType.Customer)" />
    <input type="hidden" id="hdnOrderController" value="@Constants.OrderController" />
    <input type="hidden" id="hdnActionGenerateAutomaticCriteria" value="@Constants.ActionNameGenerateAutomaticOrderCriteria" />
    <input type="hidden" id="hdnActionAutomaticCriteriaExportToExcel" value="@Constants.ActionNameAutomaticOrderExportToExcel" />
</body>
</html>