﻿@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Web.UI.ViewModel
@using SCA.Indigo.Common.Enums


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Community Activated Orders</title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script type="text/javascript" src="~/Scripts/js/validations/Common.js"></script>

    <script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    window.orderTypeCommunity = '@Convert.ToInt64(SCAEnums.OrderType.ZHDP)';
    var productsNotAdded = [];
    var selectedProducts = [];
    var productsNotAddedUnique = [];
    var productsNotAddedDisplayId = [];
    var patientTypeMatrixIsAddFromProduct = "false",
    patientTypeMatrixIsAddFromPrescription = "false";
    var customerCurrentStatus = '@Convert.ToInt64(SCAEnums.CustomerStatus.Active)';
    var selectedCustomer = "-1";
    var userType = "SCA";
    $jqGrid(document).ready(function () {
        var anyActiveOrder = '@Session[Constants.SessionHasActiveOrder]';
        if (anyActiveOrder != undefined && anyActiveOrder.toString().toUpperCase() == 'TRUE') {
            updateOrderDescriptioninScreen(false);

        }
        else {
            updateOrderDescriptioninScreen(true);
        }

        var patientType = '@Session[Constants.SessionPatientType]';
        var patientTypeText = '@Common.ResourceManager.GetString("resPatientType" + Session[Constants.SessionPatientType])';
        $jqGrid('#lblCustomerName').text('@Convert.ToString(Session[Constants.SessionCustomerDisplayName])');
        $jqGrid('#lblPatientName').html('@Convert.ToString( Session[Constants.SessionpatientDisplayName])');
        $jqGrid('#lblPatientType').text(patientTypeText);




        // Check for PatientStatus
        var patientId = '@Session[Constants.SessionPatientId]';
        var patientStatus = '@Session[Constants.SessionPatientStatus]';
        var orderCreationAllowed = '@Session[Constants.SessionOrderCreationAllowed]';
        var patientNDD = '@Session[Constants.SessionPatientNDD]';
        var dateForOrderActivation = '@Session[Constants.SessionDateForOrderActivation]';
        var canActivateOrder = '@Session[Constants.SessionCanActivateOrder]';
        var customerId = $jqGrid("#hdnCustomerId").val();
        selectedCustomer = $jqGrid("#hdnCustomerId").val();
        CheckCustomerStatus(customerId)
        if (customerCurrentStatus == '@Convert.ToInt64(SCAEnums.CustomerStatus.Blocked)') {
            $jqGrid('#j_lightbox_error').show();
            $jqGrid('.community_ord_mgs7').show();
            $jqGrid('.community_ord_mgs1').hide();
            $jqGrid('.community_ord_mgs2').hide();
            $jqGrid('.community_ord_mgs3').hide();
            $jqGrid('.community_ord_mgs4').hide();
            $jqGrid('.community_ord_mgs5').hide();
            $jqGrid('.community_ord_mgs6').hide();
            $jqGrid('.community_ord_mgs8').hide();
            return false;
        }

        if (patientId == null || patientId == 0 || patientId == '') {
            $jqGrid('#j_lightbox_error').show();
            $jqGrid('.community_ord_mgs1').show();
            $jqGrid('.community_ord_mgs2').hide();
            $jqGrid('.community_ord_mgs3').hide();
            $jqGrid('.community_ord_mgs4').hide();
            $jqGrid('.community_ord_mgs5').hide();
            $jqGrid('.community_ord_mgs6').hide();
            $jqGrid('.community_ord_mgs7').hide();
            $jqGrid('.community_ord_mgs8').hide();
            return false;
        }
        else if (orderCreationAllowed.toUpperCase() != 'TRUE') {
            $jqGrid('#j_lightbox_error').show();
            $jqGrid('.community_ord_mgs1').hide();
            $jqGrid('.community_ord_mgs2').hide();
            $jqGrid('.community_ord_mgs3').hide();
            $jqGrid('.community_ord_mgs4').hide();
            $jqGrid('.community_ord_mgs5').show();
            $jqGrid('.community_ord_mgs6').hide();
            $jqGrid('.community_ord_mgs7').hide();
            $jqGrid('.community_ord_mgs8').hide();
            return false;
        }
        else if (patientStatus == '@Convert.ToInt64(SCAEnums.PatientStatus.Stopped)' || patientStatus == '@Convert.ToInt64(SCAEnums.PatientStatus.Removed)') {
            $jqGrid('#j_lightbox_error').show();
            $jqGrid('.community_ord_mgs1').hide();
            $jqGrid('.community_ord_mgs2').show();
            $jqGrid('.community_ord_mgs3').hide();
            $jqGrid('.community_ord_mgs4').hide();
            $jqGrid('.community_ord_mgs5').hide();
            $jqGrid('.community_ord_mgs6').hide();
            $jqGrid('.community_ord_mgs7').hide();
            $jqGrid('.community_ord_mgs8').hide();
            return false;
        }
        else if (patientType == null || patientType == undefined || (patientType != "@Convert.ToInt64(SCAEnums.PatientType.SelfCare)"
                && patientType != "@Convert.ToInt64(SCAEnums.PatientType.Procare)"
                && patientType != "@Convert.ToInt64(SCAEnums.PatientType.Bulk)"
                && patientType != "@Convert.ToInt64(SCAEnums.PatientType.ChildSelfCare)"
                && patientType != "@Convert.ToInt64(SCAEnums.PatientType.PaediatricSelfcare)"
                && patientType != "@Convert.ToInt64(SCAEnums.PatientType.CommunitySelfcareNursing)"
                && patientType != "@Convert.ToInt64(SCAEnums.PatientType.CommunitySelfcareResidential)"
                && patientType != "@Convert.ToInt64(SCAEnums.PatientType.PaediatricProcare)")
            ) {
            $jqGrid('.community_ord_mgs1').hide();
            $jqGrid('.community_ord_mgs2').hide();
            $jqGrid('.community_ord_mgs3').hide();
            $jqGrid('.community_ord_mgs4').show();
            $jqGrid('.community_ord_mgs5').hide();
            $jqGrid('.community_ord_mgs6').hide();
            $jqGrid('.community_ord_mgs7').hide();
            $jqGrid('.community_ord_mgs8').hide();
            $jqGrid('#j_lightbox_error').show();
            return false;
        }
            //CHECK IF ORDER ACTIVATION IS ALLOWED AND NO ACTIVE ORDER, IF THERE IS ACTIVE ORDER THEN ALLOW FOR EDIT IRRSEPECTIVE OF ORDER ACTIVATION IS ALLOWED OR NOT
        else if (anyActiveOrder != undefined &&
                    anyActiveOrder.toString().toUpperCase() != 'TRUE' &&
            canActivateOrder != undefined && canActivateOrder.toString().toUpperCase() == 'FALSE') {
            $jqGrid('#j_lightbox_error').show();
            $jqGrid('.community_ord_mgs1').hide();
            $jqGrid('.community_ord_mgs2').hide();
            $jqGrid('.community_ord_mgs3').hide();
            $jqGrid('.community_ord_mgs4').hide();
            $jqGrid('.community_ord_mgs5').hide();
            $jqGrid('.community_ord_mgs6').hide();
            $jqGrid('.community_ord_mgs7').hide();
            $jqGrid('.community_ord_mgs8').show();
            return false;
        }
        else if (patientNDD == null || patientNDD == "01/01/0001") {
            $jqGrid('.community_ord_mgs1').hide();
            $jqGrid('.community_ord_mgs2').hide();
            $jqGrid('.community_ord_mgs3').hide();
            $jqGrid('.community_ord_mgs4').hide();
            $jqGrid('.community_ord_mgs5').hide();
            $jqGrid('.community_ord_mgs7').hide();
            $jqGrid('.community_ord_mgs8').hide();
            $jqGrid('.community_ord_mgs6').show();
            $jqGrid('#j_lightbox_error').show();
            return false;
        }
        else {
            $jqGrid('.DisablePages').removeClass('disable_div');
            $jqGrid('#j_lightbox_error').hide();
        }

        if ('@Session[Constants.SessionPatientTypeMatrix]' != null && '@Session[Constants.SessionPatientTypeMatrix]' != undefined) {
            patientTypeMatrixIsAddFromProduct = '@(((SCA.Indigo.Business.BusinessModels.PatientTypeMatrixBusinessModel)(Session[Constants.SessionPatientTypeMatrix])).IsAddFromProductAllowed)';
            patientTypeMatrixIsAddFromPrescription = '@(((SCA.Indigo.Business.BusinessModels.PatientTypeMatrixBusinessModel)(Session[Constants.SessionPatientTypeMatrix])).IsAddFromPrescriptionAllowed)';
        }
        // Check for customer parameters to display Add buttons

        if (patientTypeMatrixIsAddFromPrescription != undefined && patientTypeMatrixIsAddFromPrescription.toUpperCase() != 'TRUE') {
            $jqGrid('#btnAddCommunityOrderPrescription').addClass("btn_disable");
            $jqGrid('#btnAddCommunityOrderPrescription').attr('disabled', 'disabled');
        }
        else {
            $jqGrid('#btnAddCommunityOrderPrescription').removeClass("btn_disable");
            $jqGrid('#btnAddCommunityOrderPrescription').removeAttr("disabled");
        }

        if (patientTypeMatrixIsAddFromProduct != undefined && patientTypeMatrixIsAddFromProduct.toUpperCase() != 'TRUE') {
            $jqGrid('#btnAddCommunityOrderProdcuts').addClass("btn_disable");
            $jqGrid('#btnAddCommunityOrderProdcuts').attr('disabled', 'disabled');
        }
        else {
            $jqGrid('#btnAddCommunityOrderProdcuts').removeClass("btn_disable");
            $jqGrid('#btnAddCommunityOrderProdcuts').removeAttr("disabled");
        }

        $.ajax({
            url: '/Order/IsNddAllowed',
            contentType: "application/json",
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data == true) {
                    $jqGrid('#changeNDD').removeClass("btn_disable");
                    $jqGrid('#changeNDD').removeAttr("disabled");
                }
                else {
                    $jqGrid('#changeNDD').addClass("btn_disable");
                    $jqGrid('#changeNDD').attr('disabled', 'disabled');
                }
            }
        });


        $jqGrid("#jqCommunityOrders").jqGrid({
            //    url: "@Url.Action(Constants.ActionCommunityActivated, Constants.OrderController)",

            datatype: "local",
            mtype: "POST",
            colNames: [
                '@Common.resProductId',
                '@Common.resProductId',
                '@Common.resDescription',
                '@Common.resQuantityToCompare',
                '@Common.resQuantity',
                '@Common.resUnit',
                '@Common.resDeliveryDate',
                '@Common.resDeliveryDate',
                '@Common.resFrequency',
                '@Common.resRoundId'],
            colModel: [
                { name: 'ProductId', index: 'ProductId', editable: false, hidden: true, width: '100px', classes: 'align_left padding_left_10' },
                { name: 'ProductDisplayId', index: 'ProductDisplayId', editable: false, width: '120px', classes: 'align_left padding_left_10' },
                { name: 'ProductName', index: 'ProductName', editable: false, classes: 'align_left padding_left_10 padding_right_10', width: '485px', },
                { name: 'QuantityToCompare', index: 'QuantityToCompare', hidden: true, editable: false, classes: 'align_left padding_left_10 padding_right_10', width: '290px', },
                {
                    name: 'Quantity', index: 'Quantity', editable: true, classes: 'align_right padding_right_10', width: '70px', editoptions: {
                        maxlength: 3,
                        dataInit: function (element) {
                            $(element).focus(function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowId = row.attr('id');
                                var gridQuantityValue = $jqGrid("#" + rowId + "_Quantity").val();
                                if (gridQuantityValue == undefined) {
                                    gridQuantityValue = $jqGrid('#jqCommunityOrders').jqGrid('getCell', rowid, 'Quantity')
                                }
                                if (gridQuantityValue != undefined) {
                                    window.CommunityQuantity = gridQuantityValue;
                                }
                            });

                            $(element).keypress(function (e) {
                                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                    return false;
                                }
                            });
                            $(element).keydown(function (e) {
                                if (e.which == 13) {
                                    CheckForQuantity(e);
                                }
                            });
                        },
                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                CheckForQuantity(e);
                            }
                        }]
                    }
                },
                { name: 'Unit', index: 'Unit', editable: false, classes: 'align_left padding_left_10', width: '80px', classes: 'align_left padding_left_10' },
                { name: 'DeliveryDate', index: 'DeliveryDate', editable: false, hidden: true, width: '120px', classes: 'align_center' },
                { name: 'NextDeliveryDate', index: 'NextDeliveryDate', editable: false, hidden: false, width: '100px', classes: 'align_center' },
                { name: 'DeliveryFrequency', index: 'DeliveryFrequency', editable: false, hidden: true },
                { name: 'RoundId', index: 'RoundId', editable: false, hidden: true },
            ],
            height: '145',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqCommunityOrdersTablePager"),
            rowNum: 500,
            rowList: [500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400],
            viewrecords: true,
            autowidth: false,
            sortname: "",
            sortorder: "asc",
            gridComplete: function () {
                $jqGrid('#jqCommunityOrdersTablePager_left').hide();
                $jqGrid('.ui-paging-info').css("text-align", "left");
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#jqCommunityOrdersTablePager_center').hide();
                    $jqGrid('#changeNDD').attr('disabled', 'disabled');
                    $jqGrid('#btnRemoveFromCommunity').attr('disabled', 'disabled');
                    $jqGrid('#chkRemove').attr('disabled', 'disabled');
                }
                else {
                    $jqGrid('#jqCommunityOrdersTablePager_center').show();
                    $jqGrid('#changeNDD').removeAttr('disabled');
                    $jqGrid('#btnRemoveFromCommunity').removeAttr('disabled');
                    $jqGrid('#chkRemove').removeAttr('disabled');
                    var firstRow = $jqGrid(this).jqGrid('getRowData', 1);
                    var nextDeliveryDate = firstRow['NextDeliveryDate'];
                    window.NextDeliveryDate = nextDeliveryDate;
                    window.PreDefinedNDD = nextDeliveryDate;
                }
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });


            },
            onCellSelect: function (rowid, iCol) {
                $jqGrid(this).jqGrid('editRow', rowid, true);
                if ($jqGrid("#" + rowid + "_Quantity").val() != undefined) {
                    window.CommunityQuantity = $jqGrid("#" + rowid + "_Quantity").val();
                }
            },
            ondblClickRow: function (rowid) {
            },
            loadComplete: function (data) {
                $jqGrid('#lblCustomerName').html('@Session[Constants.SessionCustomerDisplayName]');
                $jqGrid('#lblPatientName').html('@Session[Constants.SessionpatientDisplayName]');
            },

        }).navGrid("#jqCommunityOrdersTablePager",
    { search: false, refresh: false, add: false, edit: false, del: false },
    {},
    {},
    {}
    );
        $jqGrid("#jqCommunityOrders").trigger("reloadGrid");
        $jqGrid("#jqgh_jqCommunityOrders_Remove").removeClass("ui-jqgrid-sortable");



        $jqGrid('#chkRemove').click(function (event) {
            if ($jqGrid("#chkRemove").is(":checked")) {
                $jqGrid(".chkRemoveClass").prop("checked", true);
                $jqGrid("#jqCommunityOrders tr td .ez-checkbox").addClass("ez-checked");

            } else {
                $jqGrid(".chkRemoveClass").prop("checked", false);
                $jqGrid("#jqCommunityOrders tr td .ez-checkbox").removeClass("ez-checked");
            }
        });

        function CheckForQuantity(e) {
            if ('@Session[Constants.SessionAllowIncreaseOrderQty]' != 'True') {
                var row = $jqGrid(e.target).closest('tr.jqgrow');
                var rowId = row.attr('id');
                var gridQuantityValue = $jqGrid("#" + rowId + "_Quantity").val();
                var gridQuantityToCompare = $jqGrid('#jqCommunityOrders').jqGrid('getCell', rowId, 'QuantityToCompare');
                if (parseInt(gridQuantityValue) > parseInt(gridQuantityToCompare)) {
                    $jqGrid('#divCannotIncreaseCommunityQuantity').dialog({
                        autoOpen: false,
                        modal: true,
                        closeOnEscape: false,
                        width: 'auto',
                        resizable: false,
                        closeOnEscape: false,
                        buttons: {
                            "Ok": function () {
                                $jqGrid('#divCannotIncreaseCommunityQuantity').dialog('close');
                                $jqGrid(".ui-widget-overlay").hide();
                                if ($jqGrid("#" + rowId + "_Quantity").val() == undefined) {
                                    $jqGrid('#jqCommunityOrders').jqGrid('setCell', rowId, 'Quantity', window.CommunityQuantity);
                                }
                                else {
                                    $jqGrid("#" + rowId + "_Quantity").val('');
                                    $jqGrid("#" + rowId + "_Quantity").val(window.CommunityQuantity);
                                }
                            }
                        }

                    });
                    $jqGrid('#divCannotIncreaseCommunityQuantity').dialog('open');
                    return false;
                }
                else {
                    window.CommunityQuantity = gridQuantityValue;
                }
            }
        }
        $jqGrid('#btnAddPrescriptionProductsCommunity').on('click', function () {
            selectedProducts = [];
            $('.chkSelectPrescriptionProduct').each(function (i) {
                if ($(this).is(':checked')) {
                    selectedProducts.push(i + 1);
                }
            });
            if (selectedProducts.length > 0)
                addSelectedPrescriptionProduct(selectedProducts);
            else
                return false;
        });

        // Check for ViewOnly
        //linkId: - Menu Link Id, element: - Main Div of the Form
        CommonScriptObj.DisableFormControls("frm_CommunityOrders");
        LoadCommunityOrderGrid();
        LoadPrescriptionGrid();

        $.ajax({
            url: '/Order/GetOrderActivationDetails',
            type: 'GET',
            contentType: "application/json",
            dataType: 'json',
            data: {
                patientId: '@Session[Constants.SessionPatientId]',
                customerId: customerId
            },
            cache: false,
            async: false,
            success: function (responseData) {
                if (responseData != null) {
                    $jqGrid('#txtPatientADP').val(responseData.ADP);
                    $jqGrid('#txtCommunityNote').val(responseData.NoteText);
                    $jqGrid("#hdnADPMandetory").val(responseData.IsADPMandatory);
                    if (responseData.UserType.toUpperCase() == userType.toUpperCase()) {
                        var lblNote = '<strong> * </strong>';
                        $jqGrid("#lblNote").append(lblNote);
                        $jqGrid("#hdnNoteMandatory").val(responseData.UserType);
                    }
                    var lblADPMandatory = (responseData.IsADPMandatory ? '<strong>*</strong>' : '');
                    $jqGrid("#lblADPMandatory").append(lblADPMandatory);
                }
            },
            error: function (x, e) {
                HandleAjaxError(x, e, "CommunityOrders.cshtml", "DocumentReady");
            }
        });
    });//end of ready

    function CheckCustomerStatus(customerId) {
        if (customerId != "-1" && customerId != "" && customerId != null) {
            $jqGrid.ajax({
                url: '/Customer/GetCustomerDetails',
                type: 'GET',
                contentType: "application/json",
                dataType: 'json',
                data: {
                    customerId: customerId
                },
                cache: false,
                async: false,
                success: function (responseData) {
                    if (responseData.CustomerBusinessModel != null) {
                        var cusotmerDetails = responseData.CustomerBusinessModel;
                        customerCurrentStatus = cusotmerDetails.Status;
                        return false;
                    }
                }
            });
        }
        return false;
    }
</script>

<style>
 .ui-corner-all .ez-checkbox {float:none;}
</style>

</head>

<body>
    <form id="frm_CommunityOrders">

        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper short_pop">
                <div class="padding_20 search_form_main_btns align_center community_ord_mgs1">
                    @Common.resSelectPatient<br /><br />
                    <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_15 small_btn_2">Select Patient</a>
                </div>

                <div class="padding_20 search_form_main_btns align_center community_ord_mgs2">
                    @Common.resPtnStopped<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk" />
                </div>

                <div class="padding_20 search_form_main_btns align_center community_ord_mgs3">
                    @Common.resHasActiveOrder<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk" />
                </div>

                <div class="padding_20 search_form_main_btns align_center community_ord_mgs4">
                    @Common.resCommunityPatient<br /><br />
                    <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_15 small_btn_2">Exit</a>
                </div>

                <div class="padding_20 search_form_main_btns align_center community_ord_mgs5">
                    @Common.resOrderCreationNotAllowed<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk" />
                </div>

                <div class="padding_20 search_form_main_btns align_center community_ord_mgs6">
                    @Common.resNoPatientNDD<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk" />
                </div>
                <div class="padding_20 search_form_main_btns align_center community_ord_mgs7">
                    @Common.resCustomerBlockedMessage<br /><br />
                    <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_15 small_btn_2">Exit</a>
                </div>
                <div class="padding_20 search_form_main_btns align_center community_ord_mgs8">
                    @Common.resOrderActivationBefore @Convert.ToString(Session[Constants.SessionDateForOrderActivation])<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk" />
                </div>
            </div>
        </div>



        <div>
            <div class="search_form_main_btns search_form_main_btns_1 carehome_maint_top_btns">
                <span class="page_heading float_left padding_0" id="spnOrderCommunityTitle">Community Activated Orders</span>
                <div class="form_main_btns padding_0">
                    <input type="submit" value="Save" id="btnSaveCommunityOrder" class="search_form_buttons padding_left_right_20 height_30">
                    <a href="@Url.Action("ViewDetails", "Patient")" class="search_form_buttons padding_left_right_20" id="btnExitCommunityOrder">@Common.reslnkExit</a>
                </div>
                <span class="field-validation-error" id="spnOrderSentToSAP" style="display:none">@Common.resOrderSentToSAPMsg</span>

                <!--table_section-->
                <div class="cust_patient_name float_left align_left padding_0 width_100_perc">
                    <span class="disp_block_1 padding_0 margin_bot_0"><strong>Customer :-</strong><span id="lblCustomerName"></span></span>
                    <span class="disp_block_1 padding_0 margin_bot_0"> <strong>Patient :-</strong><span id="lblPatientName" class="max_width_32per"></span></span>
                    <span class="disp_block_1 padding_0 margin_bot_0"> <strong>Patient Type :-</strong><span id="lblPatientType"></span></span>

                    <div class="clear padding_top_15 position_rel">
                        <span id="lblADP" class="float_left padding_right_10"><strong>@Common.resCommunityADP<span id="lblADPMandatory" class="color_black"></span> :-</strong></span>                     
                        <textarea id="txtPatientADP" placeholder="@Common.reslblCommunityADP" class="co_textarea bg_eee width_32per height_35 float_left" maxlength="396"></textarea>                 
                        <textarea id="txtCommunityNote" placeholder="@Common.resInteractionNote" class="co_textarea bg_eee width_55per height_85 margin_top_minus_55 float_right" ></textarea>
                    </div>
                </div>
                <div id="divCommunityMessage" style="display:none" class="field-validation-error float_right"></div>
            </div>
                
            <div class="padding_top_190">
                <div class="table_section_2" id="gridCommunityOrders">
                    <table id="jqCommunityOrders" class="analysis_information_table"></table>
                    <div id="jqCommunityOrdersTablePager"></div>
                </div>
            </div>
                <!--table_section-->
                <div class="table_section_btns" id="CommunityOrderButtons">
                    <input type="hidden" id="hdnNotePlaceholder" value="@Common.resInteractionNote">
                    <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" onclick=" showPopupPrescription(this.id) " id="btnAddCommunityOrderPrescription">@Common.resBtnAddFromPrescription</a>
                    <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" onclick=" showPopupProduct(this.id, selectedCustomer) " id="btnAddCommunityOrderProdcuts">@Common.resBtnAddFromProduct</a>
                    <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" style="display:none;" onclick="removeFromCommunityActivated();" id="btnRemoveFromCommunity">@Common.resGrdRemove</a>
                    <input type="text" style="display:none" class="forChangeNDD" />
                    <input type='button' class="form_buttons padding_left_right_15 small_btn" id='changeNDD' value="Change NDD" onclick="setNewNDD('jqCommunityOrders', null)" />
                    <div id="communityMessage" style="display: none" class="field-validation-error"></div>
                    <div id="MsgSelectProductsToRemove" style="display: none" class="field-validation-error disp_block">@Common.resMessageSelectItemsToRemove</div>
                </div>
                <div id="divChangeNDDPopup" style="display: none">
                    <div class="forChangeNDD"></div>
                </div>
            </div>
        <div class="j_lightbox_error align_center" id="divDataSavedCommunityOrders" style="display:none">
            <input type="hidden" id="hdnCommunityOrderAddNote" value="@Common.resInteractionNote" />
            @Common.resDivOrderSaved<br /><br />
        </div>
        <div id="divEnterCommunityQuantity" style="display:none;min-height: 19px;"></div>
        <div id="divCannotIncreaseCommunityQuantity" style="display:none;min-height: 19px;">@Common.resCannotIncreaseCommunityQuantity</div>
        <div id="divRemoveCommunityProduct" style="display:none;min-height: 19px;"><i class="fa fa-trash"></i> @Common.resRemoveOrderProductMsg</div>
        <div id="divRemoveCommunitySucess" style="display:none" class="color_green"><i class="fa fa-check"></i> @Common.resRemovePrescrptionSucessmsg</div>
        <div id="divRemoveAllActiveOrderValidation" style="display:none" class="color_green"><i class="fa fa-check"></i> @Common.resRemoveAllActiveOrderValidation</div>
        <div id="divCommunityNDDHoliday" class="j_lightbox_error align_center" style="display:none;min-height: 19px;">@Common.resErrNDDOnHoliday</div>
        <div id="divPrescriptionList" style="display: none">
            @{ Html.RenderPartial("_PatientPrescription"); }
            <div class="pop_main_btns text_align_right">
                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 small_btn" id="btnAddPrescriptionProductsCommunity">@Common.resBtnAddProducts</a>&nbsp;
                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" onclick="ClosePopup('divPrescriptionList')">@Common.reslnkExit</a>
            </div>
        </div>
        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divErrorMessage" class="pop_error align_center">
                    </div>
                    <br />
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="hdnActionName" value="@Constants.ActionGetHolidayList" />
        <input type="hidden" id="hdnControllerName" value="@Constants.PatientController" />
        <input type="hidden" id="hdnActionNameForOrder" value="@Constants.ActionGetPatientDetailsForOrder" />
        <input type="hidden" id="hdnPatientDtls" value="@ViewBag.CustomerParameters" />
        <input type="hidden" id="hdnEnterOrderNote" value="@Common.resMessageEnterNote">
        <input type="hidden" id="hdnNDDStartDate" value="@Session[Constants.SessionNDDStartDate]">
        <input type="hidden" id="hdnNDDEndDate" value="@Session[Constants.SessionNDDEndDate]">
        <input type="hidden" id="hdnbtnTextUpdate" value="@Common.resBtnNameUpdate" />
        <input type="hidden" id="hdnbtnTextSaveCommunity" value="Save" />
        <input type="hidden" id="hdnCommunityHeaderTextNew" value="@Common.resCommunityOrderHeaderNew" />
        <input type="hidden" id="hdnCommunityHeaderTextExisting" value="@Common.resCommunityOrderHeaderExisting" />
        <input type="hidden" id="hdnOrderPage" value="@Common.resPageNameOrder" />
        <input type="hidden" id="hdnOrderCancelled" value="@Common.resDivOrderCancelled" />
        <input type="hidden" id="hdnOrderEnterQuantity" value="@Common.resDivOrderEnterQuantity"  />
        <input type="hidden" id="hdnOrderCommunityAddProduct" value="@Common.resDivAddProduct" />
        <input type="hidden" id="hdnADPMandetory" />
        <input type="hidden" id="hdnreserrormsADP" value="@Common.resCommunityADPErrorMessage" />
        <input type="hidden" id="hdnNoteMandatory" />
        <input type="hidden" id="hdnreserrormsNote" value="@Common.resAddNotesErrorMessage" />

        <input type="hidden" id="hdnPatientId" value="@Session[Constants.SessionPatientId]" />
        <input type="hidden" id="hdnPatientName" value="@Session[Constants.SessionPatientName]" />
        <input type="hidden" id="hdnCustomerId" value="@Session[Constants.SessionCustomerId]" />
        <input type="hidden" id="hdnCustomerName" value="@Session[Constants.SessionCustomerName]" />
        <input type="hidden" id="hdnRedirectClickEvent" value="@Session[Constants.SessionRedirectEvent]" />
        <input type="hidden" id="hdnDateForOrderActivation" value="@Session[Constants.SessionDateForOrderActivation]" />
        <input type="hidden" id="hdnCanActivateOrder" value="@Session[Constants.SessionCanActivateOrder]" />
        <input type="hidden" id="hdnCommunityOrderCrType" value="@Convert.ToInt64(SCAEnums.OrderCreationType.CommunityOrder)" />
    </form>
</body>
@Scripts.Render("~/bundles/Order")
</html>
