﻿@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Common.Enums
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resedential Activated Orders</title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="~/Scripts/js/validations/Common.js"></script>
    <script type="text/javascript">

        $jqGrid = jQuery.noConflict();
        $jqGrid(document).ready(function () {
            $jqGrid('#hdnLoggedInUserRoleName').val('@ControllerHelper.CurrentUser.UserName');
            var valTrue = "TRUE";
            var valFalse = "FALSE";
            var patientId = '@Session[Constants.SessionPatientId]';
            var patientStatus = '@Session[Constants.SessionPatientStatus]';
            var orderCreationAllowed = '@Session[Constants.SessionOrderCreationAllowed]';
            var anyActiveOrder = '@Session[Constants.SessionHasActiveOrder]';
            var patientNDD = '@Session[Constants.SessionPatientNDD]';
            var selectedCareHomeId = '@Session[Constants.SessionCareHomeId]';

            $jqGrid('#lblCustomerName').text('@Session[Constants.SessionCustomerDisplayName]');
            $jqGrid('#lblPatientName').text('@Session[Constants.SessionpatientDisplayName]');

            if (patientId == null || patientId == 0 || patientId == '') {
                $jqGrid('#j_lightbox_error').show();
                $jqGrid('.residential_ord_mgs1').show();
                $jqGrid('.residential_ord_mgs2').hide();
                $jqGrid('.residential_ord_mgs3').hide();
                $jqGrid('.residential_ord_mgs4').hide();
                $jqGrid('.residential_ord_mgs5').hide();
                $jqGrid('.residential_ord_mgs6').hide();
                return false;
            }
            else if (orderCreationAllowed.toUpperCase() != 'TRUE') {
                $jqGrid('#j_lightbox_error').show();
                $jqGrid('.residential_ord_mgs1').hide();
                $jqGrid('.residential_ord_mgs2').hide();
                $jqGrid('.residential_ord_mgs3').hide();
                $jqGrid('.residential_ord_mgs4').show();
                $jqGrid('.residential_ord_mgs5').hide();
                $jqGrid('.residential_ord_mgs6').hide();
                return false;
            }
            else if (patientNDD == null || patientNDD == "01/01/0001") {
                $jqGrid('#j_lightbox_error').show();
                $jqGrid('.residential_ord_mgs1').hide();
                $jqGrid('.residential_ord_mgs2').hide();
                $jqGrid('.residential_ord_mgs3').hide();
                $jqGrid('.residential_ord_mgs4').hide();
                $jqGrid('.residential_ord_mgs5').show();
                $jqGrid('.residential_ord_mgs6').hide();
                return false;
            }
            //else if (anyActiveOrder.toString().toUpperCase() == 'FALSE') {
            //    $jqGrid('#j_lightbox_error').show();
            //    $jqGrid('.residential_ord_mgs1').hide();
            //    $jqGrid('.residential_ord_mgs2').hide();
            //    $jqGrid('.residential_ord_mgs3').hide();
            //    $jqGrid('.residential_ord_mgs4').hide();
            //    $jqGrid('.residential_ord_mgs5').hide();
            //    $jqGrid('.residential_ord_mgs6').show();
            //    return false;
            //}

            $jqGrid('.DisablePages').removeClass('disable_div');
            $jqGrid('#j_lightbox_error').hide();

            $jqGrid("#jqNextDeliveryAmendment").jqGrid({
                url: "@Url.Action(Constants.ActionNextDeliveryAmendmentOrders, Constants.OrderController)",
                datatype: "local",
                mtype: "POST",
                colNames: ['@Common.resGrdOrderID', '', '@Common.resGrdPatientID','', '@Common.resGrdPatientName', '@Common.resGrdPatientType', '@Common.resSearchStatusDropdown', '@Common.resProductId', '@Common.resProductId', '@Common.resDescription', '@Common.resGridQuantityToCompare', '@Common.resQuantity', '@Common.resUnit', '@Common.resDeliveryDate', '@Common.resNextDeliveryDate', '@Common.resFrequency', '@Common.resRoundId', '@Common.resGrdOrderActivated'],
                colModel: [
                    { name: 'OrderId', index: 'OrderId', editable: false, hidden: false, width: '70', sortable : true, sorttype: 'int' },
                    { name: 'CareHomeID', index: 'CareHomeID', editable: false, hidden: true },
                    { name: 'PatientID', index: 'PatientID', editable: false, hidden: true },
                    { name: 'OrderType', index: 'OrderType', editable: false, hidden: true },
                    { name: 'PatientName', index: 'PatientName', editable: false, width: '80', classes: 'align_left padding_left_10 word_wrap_normal', sortable: true },
                    { name: 'PatientType', index: 'PatientType', editable: false, width: '70', classes: 'align_left padding_left_10 word_wrap_normal', sortable: true },
                    { name: 'PatientStatus', index: 'PatientStatus', editable: false, width: '55', classes: 'align_left padding_left_10 word_wrap_normal', sortable: true },
                    { name: 'ProductId', index: 'ProductId', editable: false, hidden: true },
                    { name: 'ProductDisplayId', index: 'ProductDisplayId', editable: false, width: '70', classes: 'align_left padding_left_10', sortable: true, sorttype: 'int' },
                    { name: 'Description', index: 'Description', editable: false, width: '180', classes: 'align_left padding_left_10 word_wrap_normal' },
                    { name: 'QuantityToCompare', index: 'QuantityToCompare', editable: false, hidden: true },
            {
                name: 'Quantity', index: 'Quantity', editable: true, width: '50', classes: 'align_right padding_right_10', sortable : true, sorttype: 'int', editoptions: {
                    maxlength: 3,
                    dataInit: function (element) {
                        $(element).focus(function (e) {
                            var row = $jqGrid(e.target).closest('tr.jqgrow');
                            var rowId = row.attr('id');
                            var gridQuantityValue = $jqGrid("#" + rowId + "_Quantity").val();
                            if (gridQuantityValue == undefined) {
                                gridQuantityValue = $jqGrid('#jqResidentialActivated').jqGrid('getCell', rowid, 'Quantity')
                            }

                            if (gridQuantityValue != undefined) {
                                window.ResidentialQuantity = gridQuantityValue;
                            }
                        });
                        $(element).keypress(function (e) {
                            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                return false;
                            }
                        });
                        $(element).keydown(function (e) {;
                            if (e.which == 13) {
                                CheckForQuantityResidential(e);
                            }
                        });
                    },
                    dataEvents: [{
                        type: 'change', fn: function (e) {
                            CheckForQuantityResidential(e)
                        }
                    }]
                }
            },
                    { name: 'Unit', index: 'Unit', editable: false, width: '50', classes: 'align_center', sortable: true },
                    { name: 'DeliveryDate', index: 'DeliveryDate', editable: false, hidden: true, classes: 'align_center', },
                    { name: 'NextDeliveryDate', index: 'NextDeliveryDate', editable: false, hidden: false, width: '85', classes: 'align_center' },
                    { name: 'DeliveryFrequency', index: 'DeliveryFrequency', editable: false, hidden: true },
                    { name: 'RoundId', index: 'RoundId', editable: false, hidden: true },
                    { name: 'IsOrderActivated', index: 'IsOrderActivated', formatter: IsOrderActivated, editable: false, edittype: 'checkbox', width: '75', classes: 'align_center', formatoptions: { disabled: false } },
                ],
                height: '135',
                width: 'auto',
                toppager: false,
                jsonReader: { repeatitems: false },
                pager: $jqGrid("#jqNextDeliveryAmendmentTablePager"),
                rowNum: 50,
                rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
                viewrecords: true,
                autowidth: false,
                sortname: "",
                sortorder: "asc",
                ignoreCase: true,
                emptyrecords: '@Common.resGrdNoRecordsToView',
                loadonce: true,
                gridComplete: function () {
                    $jqGrid('#jqNextDeliveryAmendmentTablePager_left').hide();
                    $jqGrid('.ui-paging-info').css("text-align", "left");
                    var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                    if (rowcount == 0) {
                        $jqGrid('#jqNextDeliveryAmendmentTablePager_center').hide();
                        $jqGrid('#changeNDANDD').attr('disabled', 'disabled');
                    } else {
                        $jqGrid('#jqNextDeliveryAmendmentTablePager_center').show();
                    }
                    $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                        var val = $jqGrid(this).val().trim();
                        ValidationGridPageInput(e, val);
                    });
                    $jqGrid('#changeNDANDD').attr('disabled', 'disabled');
                },
                onCellSelect: function (rowid, iCol) {
                    $jqGrid(this).jqGrid('editRow', rowid, true);
                    if ($jqGrid("#" + rowid + "_Quantity").val() != undefined) {
                        window.ResidentialQuantity = $jqGrid("#" + rowid + "_Quantity").val();
                    }
                    if (rowid > 0) {
                        $jqGrid('#changeNDANDD').removeAttr("disabled");
                    }
                },
                ondblClickRow: function (rowid) {


                },
                loadComplete: function (data) {
                    $jqGrid('#lblCustomerName').html('@Session[Constants.SessionCustomerDisplayName]');
                    $jqGrid('#lblCareHomeName').html('@Session[Constants.SessionCareHomeDisplayName]');

                },

            }).navGrid("#jqNextDeliveryAmendmentTablePager",
                { search: false, refresh: false, add: false, edit: false, del: false },
                {},
                {},
                {}
            );

            $jqGrid('#jqNextDeliveryAmendment').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
            $jqGrid("#diva").trigger("reloadGrid");
            $jqGrid("#jqgh_jqNextDeliveryAmendment_Select").removeClass("ui-jqgrid-sortable");


            function IsOrderActivated(cellvalue, options, rowobject) {
                if (rowobject['IsOrderActivated'] == true) {
                    return "<input type='checkbox' checked='checked' disabled = 'disabled'>";
                }
                else {
                    return "<input type='checkbox' disabled = 'disabled'>";
                }
            }

            function CheckForQuantityResidential(e) {
                if ('@Session[Constants.SessionAllowIncreaseOrderQty]' != 'True') {
                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                    var rowId = row.attr('id');
                    var gridQuantityValue = $jqGrid("#" + rowId + "_Quantity").val();
                    var gridQuantityToCompare = $jqGrid('#jqNextDeliveryAmendment').jqGrid('getCell', rowId, 'QuantityToCompare');
                    if (parseInt(gridQuantityValue) > parseInt(gridQuantityToCompare)) {
                        $jqGrid('#divCannotIncreaseResidentialQuantity').dialog({
                            autoOpen: false,
                            modal: true,
                            closeOnEscape: false,
                            width: 'auto',
                            resizable: false,
                            closeOnEscape: false,
                            buttons: {
                                "Ok": function () {
                                    $jqGrid('#divCannotIncreaseResidentialQuantity').dialog('close');
                                    $jqGrid(".ui-widget-overlay").hide();
                                    if ($jqGrid("#" + rowId + "_Quantity").val() == undefined) {
                                        $jqGrid('#jqNextDeliveryAmendment').jqGrid('setCell', rowId, 'Quantity', window.ResidentialQuantity);
                                    }
                                    else {
                                        $jqGrid("#" + rowId + "_Quantity").val('');
                                        $jqGrid("#" + rowId + "_Quantity").val(window.ResidentialQuantity);
                                    }
                                }
                            }

                        });
                        $jqGrid('#divCannotIncreaseResidentialQuantity').dialog('open');
                        return false;
                    }
                    else {
                        window.ResidentialQuantity = gridQuantityValue;
                    }
                }
            }


            // Check for ViewOnly
            //linkId: - Menu Link Id, element: - Main Div of the Form
            CommonScriptObj.DisableFormControls("frm_ResidentialOrders");

        }); // Close Document Ready function
    </script>

</head>
<body>
    <form id="frm_ResidentialOrders">
        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper short_pop">
                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs1">
                    @Common.resSelectPatient<br /><br />
                    <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_15 small_btn_2">Select Patient</a>
                </div>

                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs2">
                    @Common.resPtnStopped<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')">
                </div>

                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs3">
                    @Common.resCustomerHasActiveOrder<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')">
                </div>

                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs4">
                    @Common.resOrderCreationNotAllowed<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')">
                </div>

                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs5">
                    @Common.resNoPatientNDD<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk " />
                </div>

                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs6">
                    @Common.resSelectActiveOrder<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk " />
                </div>

            </div>
        </div>

        <div>
            <span class="page_heading" id="spnNextDeliveryTitle">@Common.resNextDeliveryAmmendmentTitle</span>
            <div class="cust_patient_name">
                <span> <strong>@Common.reslblCustomer :-&nbsp;&nbsp;</strong><span id="lblCustomerName" /></span>  <br />
                <span> <strong>@Common.reslblPatient :-&nbsp;&nbsp;</strong><span id="lblPatientName" /></span>
            </div>
            <!--table_section-->
            <div id="diva" class="table_section_2 mCustomScrollbar">
                <table id="jqNextDeliveryAmendment" class="analysis_information_table"></table>
                <div id="jqNextDeliveryAmendmentTablePager"></div>
            </div>
            <!--table_section-->

            <div class="table_section_btns">
                <input type="hidden" id="hdnBulkNotePlaceholder" value="@Common.reslblAddNote">
                <input type="text" id="txtNextDeliveryAmendmentNote" class="bg_eee" placeholder="@Common.reslblAddNote" class="height_20" maxlength="200">&nbsp;&nbsp;
                <input type="text" style="display:none" class="forChangeNDD" />
                <input type='button' class="form_buttons padding_left_right_15 small_btn" id='changeNDANDD' value="Change NDD" onclick="setNewNDD('jqNextDeliveryAmendment', null)" disabled="disabled" />
                <div id="nextDeliveryAmendmentMessage" style="display: none" class="field-validation-error"></div>
            </div>

            <div class="form_main_btns">
                <input type="button" value="@Common.resBtnNameSave" id="btnSaveNextDeliveryAmendmentOrder" class="search_form_buttons padding_left_right_20 height_30">&nbsp;&nbsp;
                <a href="@Url.Action("ViewDetails", "Patient")" class="search_form_buttons padding_left_right_20">@Common.reslnkExit</a>
            </div>
        </div>
        <div class="j_lightbox_error align_center community_ord_mgs5" id="divDataSavedOrders" style="display:none">
            @Common.resDivOrderSaved<br />
        </div>

        <div id="divNextDeliveryAmendmentQuantity" style="display:none;min-height: 19px;"></div>
        <div id="divNextDeliveryAmendmentConfirm" style="display:none;min-height: 19px;">@Common.resNextDeliveryAmmendmentConfirm</div>
        <div id="divCannotIncreaseResidentialQuantity" style="display:none;min-height: 19px;">@Common.resCannotIncreaseCommunityQuantity</div>
        <div id="divEnterResidentialQuantity" style="display:none;min-height: 19px;"></div>
        <div id="divDisclaimerValidation" style="display:none;min-height: 19px;">@Common.resOrderDisclaimerValidation</div>
        <input type="hidden" id="hdnResidentialActionName" value="@Constants.ActionGetHolidayList" />
        <input type="hidden" id="hdnResidentialNDDStartDate" value="@Session[Constants.SessionNDDStartDate]">
        <input type="hidden" id="hdnResidentialNDDEndDate" value="@Session[Constants.SessionNDDEndDate]">
        <input type="hidden" id="hdnbtnTextUpdate" value="@Common.resBtnNameUpdate" />
        <input type="hidden" id="hdnbtnTextSave" value="@Common.resBtnNameSave" />
        <input type="hidden" id="hdnSelfcareHeaderTextNew" value="@Common.resNewOrder" />
        <input type="hidden" id="hdnSelfcareHeaderTextExisting" value="@Common.resExistingOrder" />
        <input type="hidden" id="hdnOrderPage" value="@Common.resPageNameOrder" />
        <input type="hidden" id="hdnLoggedInUserRoleName" />
        <input type="hidden" id="hdnExtCareHomeRoleName" value="@Common.resExtCareHomeUserRoleName" />
        @Scripts.Render("~/bundles/Order")
    </form>
</body>
</html>
