﻿@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Common.Enums



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>One-Off Order</title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script type="text/javascript" src="~/Scripts/js/validations/ProductList.js"></script>
    <script type="text/javascript" src="~/Scripts/js/validations/Common.js"></script>
</head>
<body>
    @using (Html.BeginForm("OneOffOrders", "Order", FormMethod.Post, new { @id = "frm_OneOffOrders" }))
    {
        <script type="text/javascript">
            var userType = '@ControllerHelper.CurrentUser.UserType';
            var patientType = '@Session[Constants.SessionPatientType]';
            var selectedCareHomeId = '@Session[Constants.SessionCareHomeId]';
            var selectedPatientId = '@Session[Constants.SessionPatientId]';
            var SCAUser = 'SCA';

            if ('@Session[Constants.SessionPatientTypeMatrix]' != null && '@Session[Constants.SessionPatientTypeMatrix]' != undefined) {
                var patientTypeMatrixIsAddFromProduct = '@(((SCA.Indigo.Business.BusinessModels.PatientTypeMatrixBusinessModel)(Session[Constants.SessionPatientTypeMatrix])).IsOneOffAddFromProductAllowed)';
                var patientTypeMatrixIsAddFromPrescription = '@(((SCA.Indigo.Business.BusinessModels.PatientTypeMatrixBusinessModel)(Session[Constants.SessionPatientTypeMatrix])).IsOneOffAddFromPrescriptionAllowed)';
            }

            window.orderTypeRush = '@Convert.ToInt64(SCAEnums.OrderType.ZHDR)';
            window.orderTypeStandard = '@Convert.ToInt64(SCAEnums.OrderType.ZHDP)';

            var patientTypeMatrixIsAddFromProduct = "false", patientTypeMatrixIsAddFromPrescription = "false";
            $jqGrid = jQuery.noConflict();
            var productsNotAdded = [];
            var selectedProducts = [];
            var productsNotAddedUnique = [];
            var productsNotAddedDisplayId = [];
            var customerCurrentStatus = '@Convert.ToInt64(SCAEnums.CustomerStatus.Active)';
            var selectedCustomer = "-1";
            $jqGrid(document).ready(function () {
                OneOffGrid();
                if (userType.toUpperCase() != SCAUser) {
                    $jqGrid('#jqOneOffOrders').setColProp('IsFOC', { editable: false, value: false });
                    $jqGrid('#jqOneOffOrders').jqGrid('hideCol', ["IsFOC"]);
                }
                else {
                    $jqGrid('#jqOneOffOrders').setColProp('IsFOC', { editable: true, value: false });
                    $jqGrid('#jqOneOffOrders').jqGrid('showCol', ["IsFOC"]);
                }
                $jqGrid('#btnAddPrescriptionProducts').on('click', function () {
                    selectedProducts = [];
                    $('.chkSelectPrescriptionProduct').each(function (i) {
                        if ($(this).is(':checked')) {
                            selectedProducts.push(i + 1);
                        }
                    });
                    if (selectedProducts.length > 0)
                        addSelectedPrescriptionProduct(selectedProducts);
                    else
                        return false;
                });

                // Check for ViewOnly
                //linkId: - Menu Link Id, element: - Main Div of the Form
                CommonScriptObj.DisableFormControls("frm_OneOffOrders");
                LoadPrescriptionGrid();
                GetOrderNote("hdnOneOffNoteMandatory", "txtOneOffNote");

                //Load the order details if there are any existing orders
                LoadOneOffOrderDetails(false);
            });//ready


            function CheckCustomerStatus(customerId) {
                if (customerId != "-1" && customerId != "" && customerId != null) {
                    $jqGrid.ajax({
                        url: '/Customer/GetCustomerDetails',
                        type: 'GET',
                        contentType: "application/json",
                        dataType: 'json',
                        data: {
                            customerId: customerId
                        },
                        cache: false,
                        async: false,
                        success: function (responseData) {
                            if (responseData.CustomerBusinessModel != null) {
                                var cusotmerDetails = responseData.CustomerBusinessModel;
                                customerCurrentStatus = cusotmerDetails.Status;
                                return false;
                            }
                        }
                    });
                }
                return false;
            }

            function CheckForQuantityOneOff(e) {
                if ('@Session[Constants.SessionAllowIncreaseOrderQty]' != 'True') {
                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                    var rowId = row.attr('id');
                    var gridQuantityValue = $jqGrid("#" + rowId + "_Quantity").val();
                    var gridQuantityToCompare = $jqGrid('#jqOneOffOrders').jqGrid('getCell', rowId, 'QuantityToCompare');
                    if (parseInt(gridQuantityValue) > parseInt(gridQuantityToCompare)) {
                        $jqGrid('#divCannotIncreaseOneOffQuantity').dialog({
                            autoOpen: false,
                            modal: true,
                            closeOnEscape: false,
                            width: 'auto',
                            resizable: false,
                            closeOnEscape: false,
                            buttons: {
                                "Ok": function () {
                                    $jqGrid('#divCannotIncreaseOneOffQuantity').dialog('close');
                                    $jqGrid(".ui-widget-overlay").hide();
                                    if ($jqGrid("#" + rowId + "_Quantity").val() == undefined) {
                                        $jqGrid('#jqOneOffOrders').jqGrid('setCell', rowId, 'Quantity', window.OneOffQuantity);
                                    }
                                    else {
                                        $jqGrid("#" + rowId + "_Quantity").val('');
                                        $jqGrid("#" + rowId + "_Quantity").val(window.OneOffQuantity);
                                    }
                                }
                            }

                        });
                        $jqGrid('#divCannotIncreaseOneOffQuantity').dialog('open');
                        return false;
                    }
                    else {
                        window.OneOffQuantity = gridQuantityValue;
                    }
                }
            }

            function OneOffGrid() {
                removeFromOneOffOrder(true, true);
                var patientId = '@Session[Constants.SessionPatientId]';
                var patientStatus = '@Session[Constants.SessionPatientStatus]';
                var orderCreationAllowed = '@Session[Constants.SessionOrderCreationAllowed]';
                var patientNDD = '@Session[Constants.SessionPatientNDD]';
                var careHomeStatus = '@Session[Constants.SessionCareHomeStatus]';
                var IsCheckCarehomeStatus = '@Session[Constants.IsCheckCarehomeStatus]';
                var hasActiveOrder = '@Session[Constants.SessionHasActiveOrder]';
                $jqGrid("#hdnHasActiveOrder").val(hasActiveOrder);
                var customerId = $jqGrid("#hdnCustomerId").val();
                selectedCustomer = $jqGrid("#hdnCustomerId").val();
                CheckCustomerStatus(customerId)
                //Check if Carehome Status is removed
                if (IsCheckCarehomeStatus == "True" && careHomeStatus != $("#hdnCareHomeStatus").val()) {
                    $jqGrid('#j_lightbox_error').show();
                    $jqGrid('.oneoff_ord_mgs1').hide();
                    $jqGrid('.oneoff_ord_mgs2').hide();
                    $jqGrid('.oneoff_ord_mgs4').hide();
                    $jqGrid('.oneoff_ord_mgs5').hide();
                    $jqGrid('.oneoff_ord_mgs6').hide();
                    $jqGrid('.residential_ord_mgs7').show();
                    $jqGrid('.oneoff_ord_mgs8').hide();
                    return false;
                }
                else if ((patientId == null || patientId == 0 || patientId == '') && (selectedCareHomeId == null || selectedCareHomeId == '')) {
                    $jqGrid('#j_lightbox_error').show();
                    $jqGrid('.oneoff_ord_mgs1').show();
                    $jqGrid('.oneoff_ord_mgs2').hide();
                    $jqGrid('.residential_ord_mgs7').hide();
                    $jqGrid('.oneoff_ord_mgs4').hide();
                    $jqGrid('.oneoff_ord_mgs5').hide();
                    $jqGrid('.oneoff_ord_mgs6').hide();
                    $jqGrid('.oneoff_ord_mgs8').hide();
                    return false;
                }

                else if (orderCreationAllowed.toUpperCase() != 'TRUE') {
                    $jqGrid('#j_lightbox_error').show();
                    $jqGrid('.oneoff_ord_mgs1').hide();
                    $jqGrid('.residential_ord_mgs7').hide();
                    $jqGrid('.oneoff_ord_mgs2').hide();
                    $jqGrid('.oneoff_ord_mgs4').hide();
                    $jqGrid('.oneoff_ord_mgs5').show();
                    $jqGrid('.oneoff_ord_mgs6').hide();
                    $jqGrid('.oneoff_ord_mgs8').hide();
                    return false;
                }

                else if (patientStatus == '@Convert.ToInt64(SCAEnums.PatientStatus.Removed)') {
                    $jqGrid('#j_lightbox_error').show();
                    $jqGrid('.oneoff_ord_mgs1').hide();
                    $jqGrid('.residential_ord_mgs7').hide();
                    $jqGrid('.oneoff_ord_mgs2').show();
                    $jqGrid('.oneoff_ord_mgs4').hide();
                    $jqGrid('.oneoff_ord_mgs5').hide();
                    $jqGrid('.oneoff_ord_mgs6').hide();
                    $jqGrid('.oneoff_ord_mgs8').hide();
                    return false;
                }
                else if (customerCurrentStatus == '@Convert.ToInt64(SCAEnums.CustomerStatus.Blocked)') {
                    $jqGrid('#j_lightbox_error').show();
                    $jqGrid('.oneoff_ord_mgs1').hide();
                    $jqGrid('.oneoff_ord_mgs2').hide();
                    $jqGrid('.residential_ord_mgs7').hide();
                    $jqGrid('.oneoff_ord_mgs4').hide();
                    $jqGrid('.oneoff_ord_mgs5').hide();
                    $jqGrid('.oneoff_ord_mgs6').hide();
                    $jqGrid('.oneoff_ord_mgs8').show();
                    return false;
                }
                else {
                    $jqGrid('.DisablePages').removeClass('disable_div');
                    $jqGrid('#j_lightbox_error').hide();
                }
                if (userType.toUpperCase() != SCAUser) {
                    $jqGrid('#divExcludeServiceCharge').hide();
                }
                else {
                    $jqGrid('#divExcludeServiceCharge').show();
                }

                if ('@Session[Constants.SessionPatientTypeMatrix]' != null && '@Session[Constants.SessionPatientTypeMatrix]' != undefined) {
                    patientTypeMatrixIsAddFromProduct = '@(((SCA.Indigo.Business.BusinessModels.PatientTypeMatrixBusinessModel)(Session[Constants.SessionPatientTypeMatrix])).IsOneOffAddFromProductAllowed)';
                    patientTypeMatrixIsAddFromPrescription = '@(((SCA.Indigo.Business.BusinessModels.PatientTypeMatrixBusinessModel)(Session[Constants.SessionPatientTypeMatrix])).IsOneOffAddFromPrescriptionAllowed)';
                }
                // Check for customer parameters to display Add buttons
                if (patientTypeMatrixIsAddFromPrescription != undefined && patientTypeMatrixIsAddFromPrescription.toUpperCase() != 'TRUE' && selectedCareHomeId == '') {
                    $jqGrid('#btnAddOneOffOrderPrescription').addClass("btn_disable");
                    $jqGrid('#btnAddOneOffOrderPrescription').attr('disabled', 'disabled');
                }
                else {
                    $jqGrid('#btnAddOneOffOrderPrescription').removeClass("btn_disable");
                    $jqGrid('#btnAddOneOffOrderPrescription').removeAttr("disabled");
                }

                if (patientTypeMatrixIsAddFromProduct != undefined && patientTypeMatrixIsAddFromProduct.toUpperCase() != 'TRUE' && selectedCareHomeId == '') {
                    $jqGrid('#btnAddOneOffProducts').addClass("btn_disable");
                    $jqGrid('#btnAddOneOffProducts').attr('disabled', 'disabled');
                }
                else {
                    $jqGrid('#btnAddOneOffProducts').removeClass("btn_disable");
                    $jqGrid('#btnAddOneOffProducts').removeAttr("disabled");
                }
                LoadStandardNDD();
                SelectStandardOrderType();
                $jqGrid("#jqOneOffOrders").jqGrid({
                    datatype: "local",
                    colNames: ['<input type="checkbox" id="chkRemove" style="display:none"> Remove', '@Common.resProductId', '@Common.resProductId', '@Common.resDescription', '@Common.resQuantity', '@Common.resQuantity', '@Common.resFOC', '@Common.resUnit', '@Common.resDeliveryDate',''],
                    colModel: [
                        { name: 'Remove', index: 'Remove', edittype: 'checkbox', width: '80', classes: 'align_center', formatter: removeRows, editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false },
                        { name: 'ProductId', index: 'ProductId', editable: false, hidden: true },
                        { name: 'ProductDisplayId', index: 'ProductDisplayId', editable: false, width: '150', classes: 'align_left padding_left_10' },
                        { name: 'ProductName', index: 'ProductName', editable: false, width: '250', classes: 'align_left padding_left_10 padding_right_10' },
                        { name: 'QuantityToCompare', index: 'QuantityToCompare', hidden: true, editable: false, classes: 'align_left padding_left_10 padding_right_10', width: '290px', },
                        {
                            name: 'Quantity', index: 'Quantity', editable: true, width: '90', classes: 'align_right padding_right_10', editoptions: {
                                maxlength: 3,
                                dataInit: function (element) {
                                    $(element).focus(function (e) {
                                        var row = $jqGrid(e.target).closest('tr.jqgrow');
                                        var rowId = row.attr('id');
                                        var gridQuantityValue = $jqGrid("#" + rowId + "_Quantity").val();
                                        if (gridQuantityValue == undefined) {
                                            gridQuantityValue = $jqGrid('#jqOneOffOrders').jqGrid('getCell', rowid, 'Quantity')
                                        }
                                        if (gridQuantityValue != undefined) {
                                            window.OneOffQuantity = gridQuantityValue;
                                        }
                                    });
                                    $(element).keypress(function (e) {
                                        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                            return false;
                                        }
                                    });
                                    $(element).keydown(function (e) {;
                                        if (e.which == 13) {
                                            CheckForQuantityOneOff(e);
                                        }
                                    });
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        CheckForQuantityOneOff(e);
                                    }
                                }]
                            }
                        },
                        { name: 'IsFOC', index: 'IsFOC', editable: true, formatter: IsFOC, edittype: 'checkbox', width: '100', classes: 'align_center', editoptions: { value: 'True:False' }, hidden: false },
                        { name: 'Unit', index: 'Unit', editable: false, width: '80', classes: 'align_left padding_left_10' },
                        { name: 'DeliveryDate', index: 'DeliveryDate', editable: false, width: '110', classes: 'align_left padding_left_10' },
                        { name: 'OrderId', index: 'OrderId', editable: false, hidden: true },
                    ],
                    height: '140',
                    width: 'auto',
                    toppager: false,
                    jsonReader: { repeatitems: false },
                    pager: $jqGrid("#jqOneOffOrdersTablePager"),
                    rowNum: 500,
                    rowList: [500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400],
                    viewrecords: true,
                    autowidth: false,
                    sortname: "",
                    sortorder: "asc",
                    loadonce: true,
                    gridComplete: function () {
                        $jqGrid('#jqOneOffOrdersTablePager_left').hide();
                        $jqGrid('.ui-paging-info').css("text-align", "left");
                        var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                        if (rowcount == 0) {
                            $jqGrid('#jqOneOffOrdersTablePager_center').hide();
                            $jqGrid('#changeNDD').addClass("btn_disable");
                            $jqGrid('#changeNDD').attr('disabled', 'disabled');

                        } else {
                            $jqGrid('#changeNDD').removeClass("btn_disable");
                            $jqGrid('#changeNDD').removeAttr('disabled', 'disabled');
                            $jqGrid('#jqOneOffOrdersTablePager_center').show();
                            var firstRow = $jqGrid(this).jqGrid('getRowData', 1);
                            var nextDeliveryDate = firstRow['NextDeliveryDate'];
                            window.PreDefinedNDD = nextDeliveryDate;
                            window.NextDeliveryDate = nextDeliveryDate;
                        }
                        $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                            var val = $jqGrid(this).val().trim();
                            ValidationGridPageInput(e, val);
                        });
                        if (userType.toUpperCase() != SCAUser) {
                            $jqGrid('#jqOneOffOrders').setColProp('IsFOC', { editable: true });
                            $jqGrid('#jqOneOffOrders').jqGrid('hideCol', ["IsFOC"]);
                        }
                        else {
                            $jqGrid('#jqOneOffOrders').setColProp('IsFOC', { editable: true, value: false });
                            $jqGrid('#jqOneOffOrders').jqGrid('showCol', ["IsFOC"]);
                        }
                    },
                    onCellSelect: function (rowid, iCol) {
                        var isFOCChecked = $jqGrid("#" + rowid + "_IsFOC").is(':checked');
                        $jqGrid(this).jqGrid('editRow', rowid, true);
                        if (isFOCChecked) {
                            $jqGrid("#" + rowid + "_IsFOC").attr('checked', 'checked');
                        }
                        if ($jqGrid("#" + rowid + "_Quantity").val() != undefined) {
                            window.OneOffQuantity = $jqGrid("#" + rowid + "_Quantity").val();
                        }
                    },
                    ondblClickRow: function (rowid) {
                    },
                    loadComplete: function (data) {
                    },

                }).navGrid("#jqOneOffOrdersTablePager",
                            { search: false, refresh: false, add: false, edit: false, del: false },
                            {},
                            {},
                            {}
                        );

                $jqGrid("#jqOneOffOrders").trigger("reloadGrid");
                $jqGrid("#jqgh_jqOneOffOrders_Remove").removeClass("ui-jqgrid-sortable");

                var patientTypeText = '@Common.ResourceManager.GetString("resPatientType" + Session[Constants.SessionPatientType])';
                $jqGrid('#lblPatientType').text(patientTypeText);
                $jqGrid('#lblCustomerName').html('@Convert.ToString(Session[Constants.SessionCustomerDisplayName])');
                $jqGrid('#lblPatientName').html('@Convert.ToString(Session[Constants.SessionpatientDisplayName])');
                $jqGrid('#lblCarehomeName').html('@Convert.ToString(@Session[Constants.SessionCareHomeDisplayName])');

                if (selectedCareHomeId != null && selectedCareHomeId != '' && selectedPatientId == '') {
                    $jqGrid("#spnPatientName").hide();
                    $jqGrid("#spnPatientType").hide();
                    $jqGrid("#spnCarehomeName").show();
                    $jqGrid("#btnOneofExitCarehome").show();
                    $jqGrid("#btnOneofExit").hide();
                    $jqGrid("#btnAddOneOffOrderPrescription").hide();
                }
                else {
                    $jqGrid("#spnPatientName").show();
                    $jqGrid("#spnPatientType").show();
                    $jqGrid("#spnCarehomeName").hide();
                    $jqGrid("#btnOneofExitCarehome").hide();
                    $jqGrid("#btnOneofExit").show();
                    $jqGrid("#btnAddOneOffOrderPrescription").show();
                }


                $jqGrid('#chkRemove').click(function (event) {
                    if ($jqGrid("#chkRemove").is(":checked")) {
                        $jqGrid(".chkRemoveClass").prop("checked", true);
                    } else {
                        $jqGrid(".chkRemoveClass").prop("checked", false);
                    }
                });

            }

        </script>

        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper short_pop">
                <div class="padding_20 search_form_main_btns align_center oneoff_ord_mgs1">
                    @Common.resSelectPatientOrCarehome<br /><br />
                    <a href="@Url.Action("SearchData", "Search" , new { patientid="0" })" class="search_form_buttons padding_left_right_15 small_btn_2">Select Patient</a>
                </div>

                <div class="padding_20 search_form_main_btns align_center oneoff_ord_mgs2">
                    @Common.resPtnRemoved<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk " />
                </div>

                <div class="padding_20 search_form_main_btns align_center oneoff_ord_mgs4">
                    @Common.resCommunityPatient<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk " />
                </div>

                <div class="padding_20 search_form_main_btns align_center oneoff_ord_mgs5">
                    @Common.resOrderCreationNotAllowed<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk " />
                </div>

                <div class="padding_20 search_form_main_btns align_center oneoff_ord_mgs6">
                    @Common.resNoPatientNDD<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk " />
                </div>
                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs7">
                    @Common.resCarehomeStoppedMessage<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk " />
                </div>
                <div class="padding_20 search_form_main_btns align_center oneoff_ord_mgs8">
                    @Common.resCustomerBlockedMessage<br /><br />
                    <a href="@Url.Action("SearchData", "Search" , new { patientid="0" })" class="search_form_buttons padding_left_right_15 small_btn_2">Exit</a>
                </div>
            </div>
        </div>

        <div>

            <div class="search_form_main_btns search_form_main_btns_1 carehome_maint_top_btns">
                <span class="page_heading padding_0 float_left" id="spnOrderOneOffTitle">One-Off Order '@Session[Constants.SessionHasActiveOrder]'</span>
                <div class="form_main_btns padding_0">
                    <input type="button" value="Save" id="btnSaveOneOffOrder" class="search_form_buttons padding_left_right_20 height_30">
                    <a href="@Url.Action("ViewDetails", "Patient" )" class="search_form_buttons padding_8_25" id="btnOneofExit">@Common.reslnkExit</a>
                    <a href="@Url.Action("GetCareHome", "CareHome")" class="search_form_buttons padding_8_25" id="btnOneofExitCarehome">@Common.reslnkExit</a>
                </div>
                <span class="field-validation-error" id="spnOneOffOrderSentToSAP" style="display:none">@Common.resOrderSentToSAPMsg</span>
                <div class="cust_patient_name width_475 float_left align_left padding_0">
                    <span id="spnCustomerName" class="disp_block_1 padding_0 margin_bot_0"><strong>Customer&nbsp;:-</strong><span id="lblCustomerName"></span></span>
                    <span id="spnPatientName" class="disp_block padding_0 margin_bot_0"><strong>Patient&nbsp;:-</strong><span id="lblPatientName"></span></span>
                    <span id="spnPatientType" class="disp_block padding_0 margin_bot_0"><strong>Patient Type&nbsp;:-</strong><span id="lblPatientType"></span></span>
                    <span id="spnCarehomeName" class="disp_block padding_0 margin_bot_0"><strong>CareHome&nbsp;:-</strong><span id="lblCarehomeName"></span></span>
                    <span class="disp_block padding_0 margin_bot_0">
                        <strong>Type&nbsp;:-</strong><span class="rdoStandardOrder_class width_100">
                            <input type="radio" name="activated_type" id="rdoStandardOrder" />&nbsp;<label for="rdoStandardOrder">@Common.resRdoStandard</label>
                                                         <span class="oneOff_ord_info disp_block">@Common.resOneOffStandardOrderText</span>
                        </span> &nbsp;&nbsp; <span class="rdoRushOrder_class width_195">
                            <input type="radio" name="activated_type" id="rdoRushOrder" />&nbsp;<label for="rdoRushOrder">@Common.resRdoRush</label>
                        @if (Session[Constants.SessionCutOffTime] != null)
                        {
                        <span class="oneOff_ord_info disp_block">@Common.resOneOffEmergencyOrderText.Replace(")",Convert.ToString(Session[Constants.SessionCutOffTime])+")")</span>
                        }
                        </span>
                    </span>
                </div>
                <div class="table_section_btns float_right position_rel width_445 margin_top_5 position_rel">
                    <textarea id="txtOneOffNote" placeholder="@Common.resInteractionNote" class="co_textarea bg_eee height_70 width_420"></textarea>
                    <div id="oneOffMessage" style="display: none" class="field-validation-error float_right"></div>
                </div>
            </div>
            <!--table_section-->
            <div class="padding_top_180">
                <div class="table_section_2" id="gridOneOffOrders">
                    <table id="jqOneOffOrders" class="analysis_information_table"></table>
                    <div id="jqOneOffOrdersTablePager"></div>
                </div>
            </div>
            <!--table_section-->
            <div class="table_section_btns" id="OneOffOrderButtons">
                <div class="oneof_check" id="divExcludeServiceCharge">
                    <input type="checkbox" id="chkExcludeServiceCharge">&nbsp;<label for="chkExcludeServiceCharge">@Common.reslblESC</label>
                </div>
                <input id="hdnOneOffPlaceholder" type="hidden" value="@Common.resInteractionNote">
                <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" onclick="showPopupPrescription(this.id)" id="btnAddOneOffOrderPrescription">@Common.resBtnAddFromPrescription</a>
                <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" onclick="showPopupProduct(this.id, selectedCustomer)" id="btnAddOneOffProducts">@Common.resBtnAddFromProduct</a>
                <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" id="removeoneoff" onclick="removeFromOneOffOrder(false,false);">@Common.resGrdRemove</a>
                <input type="text" style="display:none" class="forChangeNDD" />
                <input type='button' class="form_buttons padding_left_right_15 small_btn" id='changeNDD' value="Change NDD" onclick="setNewNDD('jqOneOffOrders', null)" />
                <div id="MsgSelectProductsToRemoveOneOff" style="display: none" class="field-validation-error disp_block">@Common.resMessageSelectItemsToRemove</div>

            </div>

        </div>
        <div class="padding_20 search_form_main_btns align_center community_ord_mgs5" id="divDataSavedOrders" style="display:none">
            @Common.resDivOrderSaved<br /><br />
        </div>
        <div id="divCannotIncreaseOneOffQuantity" style="display:none;min-height: 19px;">@Common.resCannotIncreaseCommunityQuantity</div>
    }
    <div id="divPrescriptionList" style="display: none">
        @{ Html.RenderPartial("_PatientPrescription"); }
        <div class="pop_main_btns text_align_right">
            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 small_btn" id="btnAddPrescriptionProducts">@Common.resBtnAddProducts</a>&nbsp;
            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" onclick="ClosePopup('divPrescriptionList')">@Common.reslnkExit</a>
        </div>
    </div>
    <div id="divEnterOneOffQuantity" style="display:none;min-height: 19px;"></div>
    <div id="divOneOffAddNotes" class="j_lightbox_error align_center" style="display:none;min-height: 19px;"></div>

    <div class="j_lightbox_error" id="j_lightbox_error_activeOrder">
        <div class="j_lightbox_error_wrapper short_pop">
            <div class="padding_20 search_form_main_btns align_center">
                @Common.resSelfcareOrderActivatedMessage<br /><br />
                <input type="button" onclick="HideLightBoxErrorPopup('j_lightbox_error_activeOrder')"
                       class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk " />
            </div>
        </div>
    </div>
    <div id="divOneOffNDDHoliday" class="j_lightbox_error align_center" style="display:none;min-height: 19px;">@Common.resErrNDDOnHoliday</div>

    <input type="hidden" id="hdnPatientId" value="@Convert.ToString(Session[Constants.SessionPatientId])" />
    <input type="hidden" id="hdnCustomerId" value="@Convert.ToString(Session[Constants.SessionCustomerId])" />
    <input type="hidden" id="hdnPatientName" value="@Convert.ToString(Session[Constants.SessionPatientName])" />
    <input type="hidden" id="hdnCustomerName" value="@Convert.ToString(Session[Constants.SessionCustomerName])" />
    <input type="hidden" id="hdnCarehomeId" value="@Convert.ToString(Session[Constants.SessionCareHomeId])" />
    <input type="hidden" id="hdnCarehomeProductOrderType" value="@Convert.ToInt64(SCAEnums.OrderType.ZHDH)" />
    <input type="hidden" id="hdnCareHomeStatus" value="@Convert.ToInt64(SCAEnums.CareHomeStatus.Active)" />
    <input type="hidden" id="hdnOrderPage" value="@Common.resPageNameOrder" />
    <input type="hidden" id="hdnOrderOneOffAddProduct" value="@Common.resDivAddProduct" />
    <input type="hidden" id="hdnOrderOneOffEnterQuantity" value="@Common.resDivOrderEnterQuantity" />
    <input type="hidden" id="hdnHasActiveOrder" />
    <input type="hidden" id="hdnbtnTextUpdateOneOff" value="@Common.resBtnNameUpdate" />
    <input type="hidden" id="hdnbtnTextSaveOneOff" value="Save" />

    <input type="hidden" id="hdnOneOffNoteMandatory" />
    <input type="hidden" id="hdnOneOffreserrormsNote" value="@Common.resAddNotesErrorMessage" />

    <input type="hidden" id="hdnCommunityOneOffStandard" value="@Convert.ToInt64(SCAEnums.OrderCreationType.CommunityOneOffStandard)" />
    <input type="hidden" id="hdnCommunityOneOffRush" value="@Convert.ToInt64(SCAEnums.OrderCreationType.CommunityOneOffRush)" />
    <input type="hidden" id="hdnCommunityOneOffFOC" value="@Convert.ToInt64(SCAEnums.OrderCreationType.CommunityOneOffFOC)" />
    <input type="hidden" id="hdnCarehomePatientOneOffStandard" value="@Convert.ToInt64(SCAEnums.OrderCreationType.CarehomePatientOneOffStandard)" />
    <input type="hidden" id="hdnCarehomePatientOneOffRush" value="@Convert.ToInt64(SCAEnums.OrderCreationType.CarehomePatientOneOffRush)" />
    <input type="hidden" id="hdnCarehomePatientOneOffFOC" value="@Convert.ToInt64(SCAEnums.OrderCreationType.CarehomePatientOneOffFOC)" />
    <input type="hidden" id="hdnCarehomeOneOffStandard" value="@Convert.ToInt64(SCAEnums.OrderCreationType.CarehomeOneOffStandard)" />
    <input type="hidden" id="hdnCarehomeOneOffRush" value="@Convert.ToInt64(SCAEnums.OrderCreationType.CarehomeOneOffRush)" />
    <input type="hidden" id="hdnCarehomeOneOffFOC" value="@Convert.ToInt64(SCAEnums.OrderCreationType.CarehomeOneOffFOC)" />
    <input type="hidden" id="hdnOrderCancelled" value="@Common.resDivOrderCancelled" />
    <input type="hidden" id="hdnDivOrderSaved" value="@Common.resDivOrderSaved" />

    <input type="hidden" id="hdnOneOffNDDStartDate" value="@Session[Constants.SessionNDDStartDate]">
    <input type="hidden" id="hdnOneOffNDDEndDate" value="@Session[Constants.SessionNDDEndDate]">
    <input type="hidden" id="hdnOneOffActionName" value="@Constants.ActionGetHolidayList" />
    @Scripts.Render("~/bundles/Order")
</body>
</html>
