﻿@model SCA.Indigo.Web.UI.ViewModel.ProductOrdersViewModel
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Common.Enums
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Carehome Product Level Order</title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="~/Scripts/js/validations/Common.js"></script>
    <script type="text/javascript">

        $jqGrid = jQuery.noConflict();
        $jqGrid(document).ready(function () {
            var customerCurrentStatus = '@Convert.ToInt64(SCAEnums.CustomerStatus.Active)';
            var selectedCustomerId = '@Session[Constants.SessionCustomerId]';
            var selectedCareHomeId = '@Session[Constants.SessionCareHomeId]';
            var anyActiveOrder = '@Session[Constants.SessionHasActiveOrder]';
            var orderCreationAllowed = '@Session[Constants.SessionOrderCreationAllowed]';
            var selectedCareHomeStatus = '@Session[Constants.SessionCareHomeStatus]';
            var IsCheckCarehomeStatus = '@Session[Constants.IsCheckCarehomeStatus]';
            var dateForOrderActivation = '@Session[Constants.SessionDateForOrderActivation]';
            var canActivateOrder = '@Session[Constants.SessionCanActivateOrder]';
            var carehomeOrderType = '@Session[Constants.SessionCareHomeOrderType]';
            var userType = "SCA";
            CheckCustomerStatus(selectedCustomerId);

            if (anyActiveOrder != undefined && anyActiveOrder.toString().toUpperCase() == 'TRUE') {
                $jqGrid('#btnSaveProductOrder').val($jqGrid('#hdnbtnTextUpdate').val());
                $jqGrid('#spnOrderSelfcareTitle').text('');
                $jqGrid('#spnOrderSelfcareTitle').append('<span class="prependedSelfcareOrderText">' + $jqGrid('#hdnProductOrderHeaderTextExisting').val() + '</span>');
                $jqGrid("#btnCancelProductOrder").removeAttr('disabled');
                $jqGrid('#btnCancelProductOrder').removeClass("btn_disable");
            }
            else {
                $jqGrid('#spnOrderSelfcareTitle').text('');
                $jqGrid('#spnOrderSelfcareTitle').append('<span class="prependedSelfcareOrderText">' + $jqGrid('#hdnProductOrderHeaderTextNew').val() + '</span>');
                $jqGrid("#btnCancelProductOrder").attr('disabled', 'disabled');
                $jqGrid('#btnCancelProductOrder').addClass("btn_disable");
            }

            $jqGrid('#lblCustomerName').text('@Session[Constants.SessionCustomerDisplayName]');
            $jqGrid('#lblCareHomeName').text('@Session[Constants.SessionCareHomeDisplayName]');

            if (customerCurrentStatus == '@Convert.ToInt64(SCAEnums.CustomerStatus.Blocked)') {
                ShowOrderErrorMessage("divProductOrdersMsgBlockedCustomer", '@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])');
                return false;
            }

            if (selectedCareHomeId == null || selectedCareHomeId == '' || selectedCustomerId == null || selectedCustomerId == '') {
                $jqGrid('#j_lightbox_error').show();
                return false;
            }

            else if (selectedCareHomeStatus != null && selectedCareHomeStatus != '' && selectedCareHomeStatus != $jqGrid('#hdnCareHomeStatusActive').val() && IsCheckCarehomeStatus == "True") {
                ShowOrderErrorMessage("divProductOrdersMsgStoppedCarehome", '@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])');
                return false;
            }

            else if (anyActiveOrder != undefined &&
                   anyActiveOrder.toString().toUpperCase() != 'TRUE' &&
                   carehomeOrderType != undefined &&
                   (carehomeOrderType == '@Convert.ToInt64(SCAEnums.CareHomeOrderType.Automatic)' || carehomeOrderType == '@Convert.ToInt64(SCAEnums.CareHomeOrderType.PatientLevel)')) {
                if (carehomeOrderType == '@Convert.ToInt64(SCAEnums.CareHomeOrderType.Automatic)')
                    ShowOrderErrorMessage("divProductOrdersMsgAutomaticOrderType", '@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])');
                else if (carehomeOrderType == '@Convert.ToInt64(SCAEnums.CareHomeOrderType.PatientLevel)')
                    ShowOrderErrorMessage("divProductOrdersMsgPatientLevelOrderType", '@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])');
                return false;
            }

            else if (orderCreationAllowed.toUpperCase() != 'TRUE') {
                ShowOrderErrorMessage("divProductOrdersMsgOrderCreationNotAllowed", '@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])');
                return false;
            }

            else if (anyActiveOrder != undefined &&
                        anyActiveOrder.toString().toUpperCase() != 'TRUE' &&
                        canActivateOrder != undefined &&
                        canActivateOrder.toString().toUpperCase() == 'FALSE') {
                ShowOrderErrorMessage("divProductOrdersMsgOrderActivationBefore", '@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])');
                return false;
            }

            $.ajax({
                url: '/Order/IsNddAllowed',
                contentType: "application/json",
                dataType: 'json',
                async: false,
                success: function (data) {
                    if (data == true) {
                        $jqGrid('#changeNDD').removeClass("btn_disable");
                        $jqGrid('#changeNDD').removeAttr("disabled");
                    }
                    else {
                        $jqGrid('#changeNDD').addClass("btn_disable");
                        $jqGrid('#changeNDD').attr('disabled', 'disabled');
                    }
                }
            });

            $jqGrid('#hdnCareHomeId').val(selectedCareHomeId);
            $jqGrid('#hdnCustomerId').val(selectedCustomerId);

            $jqGrid("#jqProductOrders").jqGrid({
                url: "@Url.Action(Constants.ActionCareHomeProductActivated, Constants.OrderController)",
                datatype: "json",
                mtype: "POST",
                postData: { isProductOrder: function () { return true; } },
                colNames: ['Select <input type="checkbox" id="chkSelectAll" style="margin-top:5px;">', '@Common.resGrdProductID', '', '', '@Common.resGrdDescription', '@Common.resQuantity', '@Common.resPrescriptionNDD', '', '@Common.resGrdOrderActivated'],
                colModel: [
                    { name: 'Select', index: 'Select', edittype: 'checkbox', width: '80', classes: 'align_center', formatter: selectRows, editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false },
                    { name: 'ProductDisplayId', index: 'ProductDisplayId', editable: false, width: '80' },
                    { name: 'OrderId', index: 'OrderId', editable: false, hidden: true },
                    { name: 'ProductId', index: 'ProductId', editable: false, width: '250', hidden: true },
                    { name: 'ProductDescription', index: 'ProductDescription', editable: false, width: '240', classes: 'align_left padding_left_10' },
                    {
                        name: 'Quantity', index: 'Quantity', editable: true, width: '50', classes: 'align_right padding_right_10',
                        editoptions: {
                            maxlength: 3,
                            dataInit: function (element) {
                                $(element).focus(function (e) {
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowId = row.attr('id');
                                    var gridQuantityValue = $jqGrid("#" + rowId + "_Quantity").val();
                                    if (gridQuantityValue == undefined) {
                                        gridQuantityValue = $jqGrid('#jqProductOrders').jqGrid('getCell', rowid, 'Quantity')
                                    }
                                    if (gridQuantityValue != undefined) {
                                        window.ResidentialQuantity = gridQuantityValue;
                                    }
                                });
                                $(element).keypress(function (e) {
                                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                        return false;
                                    }
                                });
                                $(element).keydown(function (e) {;
                                    if (e.which == 13) {
                                        CheckForQuantityResidential(e);
                                    }
                                });
                            },
                            dataEvents: [{
                                type: 'change', fn: function (e) {
                                    CheckForQuantityResidential(e)
                                }
                            }]
                        }
                    },
                   { name: 'DeliveryDate', index: 'DeliveryDate', editable: false, classes: 'align_center', width: '100' },
                   { name: 'PurchaseOrderNum', index: 'PurchaseOrderNum', editable: false, classes: 'align_center', hidden: true },
                   { name: 'IsOrderActivated', index: 'IsOrderActivated', formatter: IsOrderActivated, editable: false, edittype: 'checkbox', width: '100', classes: 'align_center', formatoptions: { disabled: false } }
                ],
                height: '290',
                width: '895',
                toppager: false,
                jsonReader: { repeatitems: false },
                pager: $jqGrid("#jqProductOrdersTablePager"),
                rowNum: 500,
                rowList: [500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400],
                viewrecords: true,
                autowidth: false,
                sortname: "",
                sortorder: "asc",
                gridComplete: function () {
                    $jqGrid('#jqProductOrdersTablePager_left').hide();
                    $jqGrid('.ui-paging-info').css("text-align", "left");
                    var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                    if (rowcount == 0) {
                        $jqGrid('#jqProductOrdersTablePager_center').hide();

                    } else {
                        $jqGrid('#jqProductOrdersTablePager_center').show();
                        var rowData = $jqGrid(this).jqGrid('getRowData', 1);
                        var purchaseOrderNum = rowData['PurchaseOrderNum'];                        
                        if (purchaseOrderNum != '') {                            
                        }

                        var nextDeliveryDate = rowData['DeliveryDate'];
                        window.PreDefinedNDD = nextDeliveryDate;
                    }
                    $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                        var val = $jqGrid(this).val().trim();
                        ValidationGridPageInput(e, val);
                    });
                },
                onCellSelect: function (rowid, iCol) {
                    $jqGrid(this).jqGrid('editRow', rowid, true);
                    if ($jqGrid("#" + rowid + "_Quantity").val() != undefined) {
                        window.ResidentialQuantity = $jqGrid("#" + rowid + "_Quantity").val();
                    }
                },
                ondblClickRow: function (rowid) {
                },
                loadComplete: function (data) {
                    $jqGrid('#lblCustomerName').html('@Session[Constants.SessionCustomerDisplayName]');
                    $jqGrid('#lblCareHomeName').html('@Session[Constants.SessionCareHomeDisplayName]');
                    enableDisableProductOrderPage(data.isSentToSAP);
                    if ($('.prependedSelfcareOrderText').text() == $('#hdnProductOrderHeaderTextNew').val()) {
                        $jqGrid("#btnCancelProductOrder").addClass('btn_disable');
                    }
                    else {
                        $jqGrid("#btnCancelProductOrder").removeClass('btn_disable');
                    }
                },
            }).navGrid("#jqProductOrdersTablePager",
    { search: false, refresh: false, add: false, edit: false, del: false },
    {},
    {},
    {}
    );

            $jqGrid("#jqProductOrderPatientDetails").jqGrid({
                datatype: "local",
                colNames: ['', '@Common.reslblPatientId', '@Common.resGrdPatientIdfull', '', '@Common.resGrdFirstName', '@Common.reslblLastNameNotRequired', '@Common.resGrdPatientType', '', '@Common.resPatientStatus', '@Common.resGrdProductID', '@Common.resGrdDescription', '@Common.resFrequency', '@Common.resQuantity', '@Common.resPrescriptionNDD'],
                colModel: [
                    { name: 'CustomerName', index: 'CustomerName', editable: false, hidden: true, width: '90px', classes: 'align_left padding_left_10' },
                    { name: 'PatientId', index: 'PatientId', editable: false, hidden: true, width: '90px', classes: 'align_left padding_left_10' },
                    { name: 'SAPPatientNumber', index: 'SAPPatientNumber', editable: false, width: '80px', classes: 'align_left padding_left_10' },
                    { name: 'SAPCustomerNumber', index: 'SAPCustomerNumber', editable: false, hidden: true, width: '150px', classes: 'align_left padding_left_10' },
                    { name: 'FirstName', index: 'FirstName', editable: false, width: '90px', classes: 'align_left padding_left_10' },
                    { name: 'LastName', index: 'LastName', editable: false, width: '90px', classes: 'align_left padding_left_10' },
                    { name: 'PatientTypeCode', index: 'PatientTypeCode', editable: false, width: '60px', classes: 'align_left padding_left_10' },
                    { name: 'PatientStatus', index: 'PatientStatus', editable: false, hidden: true, width: '100px', classes: 'align_left padding_left_10' },
                    { name: 'PatientStatusCode', index: 'PatientStatusCode', editable: false, hidden: false, width: '100px', classes: 'align_left padding_left_10' },
                    { name: 'SAPProductId', index: 'SAPProductId', editable: false, width: '70px', classes: 'align_left padding_left_10' },
                    { name: 'ProductDescription', index: 'ProductDescription', editable: false, width: '180px', classes: 'word_wrap_normal align_left padding_left_10' },
                    { name: 'DeliveryFrequency', index: 'DeliveryFrequency', editable: false, width: '45px', classes: 'align_right padding_right_10' },
                    { name: 'Quantity', index: 'Quantity', editable: false, width: '40px', classes: 'align_right padding_right_10' },
                    { name: 'DeliveryDate', index: 'DeliveryDate', editable: false, width: '90px', classes: 'align_left padding_left_10' }
                ],
                height: '150',
                width: '895',
                toppager: false,
                ignoreCase: true,
                jsonReader: { repeatitems: false },
                pager: $jqGrid("#jqProductOrderPatientDetailsTablePager"),
                rowNum: 500,
                rowList: [500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400],
                viewrecords: true,
                autowidth: false,
                sortname: "",
                sortorder: "asc",
                gridComplete: function () {
                    $jqGrid('#jqProductOrderPatientDetailsTablePager_left').hide();
                    $jqGrid('#jqProductOrderPatientDetails_left').hide();
                    $jqGrid('.ui-paging-info').css("text-align", "left");
                    var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                    if (rowcount == 0) {
                        $jqGrid('#jqProductOrderPatientDetailsTablePager_center').hide();
                    }
                    else {
                        $jqGrid('#jqProductOrderPatientDetailsTablePager_center').show();
                    }
                    var grid = $jqGrid("#jqProductOrderPatientDetails"), ids = grid.jqGrid('getDataIDs'), i, l = ids.length;
                    if ($jqGrid("#chkShowRemoved").is(':checked')) {
                        for (var i = 0; i < l; i++) {
                            $jqGrid("#jqProductOrderPatientDetails #" + (ids[i])).show();
                        }
                    }
                    else {
                        for (var i = 0; i < l; i++) {
                            var isPatientStatusRemoved = $jqGrid('#jqProductOrderPatientDetails').jqGrid('getCell', ids[i], 'PatientStatus');
                            if (isPatientStatusRemoved == $jqGrid('#hdnPatientStatusRemoved').val()) {
                                $jqGrid("#jqProductOrderPatientDetails #" + ids[i]).hide();
                            }
                        }
                    }
                },
                onCellSelect: function (rowid, iCol) {
                    var rowData = $jqGrid(this).getRowData(rowid);
                    SetPatientLoadParameter(rowData, true);
                    clickevent = "OnCellSelect";
                    $jqGrid.ajax({
                        url: '/Patient/SetClickEventInSession',
                        type: 'GET',
                        async: false,
                        data: { redirectEvent: clickevent },
                        cache: false,
                        success: function (Data) {
                            return true;
                        }
                    });
                    return true;
                },
                ondblClickRow: function (rowid) {
                    clickevent = "OndblClickRow";
                    $jqGrid.ajax({
                        url: '/Patient/SetClickEventInSession',
                        type: 'GET',
                        async: false,
                        data: { redirectEvent: clickevent },
                        cache: false,
                        success: function (Data) {
                            return true;
                        }
                    });
                    window.location.href = "../../Patient/ViewDetails/" + $("#hdnCareHomeId").val();
                },
                loadComplete: function (data) {
                }
            }).navGrid("#jqCareHomePatientDetailsTablePager",
           { search: false, refresh: false, add: false, edit: false, del: false },
           {},
           {},
           {}
        );

            $jqGrid("#diva").trigger("reloadGrid");
            $jqGrid("#jqgh_jqProductOrders_Select").removeClass("ui-jqgrid-sortable");

            function selectRows(cellvalue, options, rowobject) {
                return "<input type='checkbox' class='chkSelectClass' id=" + options["rowId"] + "_" + options.colModel["name"] + " onchange=countCheckedResidential()" + ">";
            }

            function serialNumberGenerator(cellvalue, options, rowobject) {
                return options["rowId"];
            }

            $jqGrid('#chkSelectAll').click(function (event) {
                if ($jqGrid("#chkSelectAll").is(":checked")) {
                    $jqGrid(".chkSelectClass").prop("checked", true);
                    $jqGrid(".chkSelectClass").parent(".ez-checkbox").addClass("ez-checked");
                } else {
                    $jqGrid(".chkSelectClass").prop("checked", false);
                    $jqGrid(".chkSelectClass").parent(".ez-checkbox").removeClass("ez-checked");
                }
            });


            function IsOrderActivated(cellvalue, options, rowobject) {
                if (rowobject['IsOrderActivated'] == true) {
                    return "<input type='checkbox' checked='checked' disabled = 'disabled'>";
                }
                else {
                    return "<input type='checkbox' disabled = 'disabled'>";
                }
            }

            function CheckForQuantityResidential(e) {
                if ('@Session[Constants.SessionAllowIncreaseOrderQty]' != 'True') {
                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                    var rowId = row.attr('id');
                    var gridQuantityValue = $jqGrid("#" + rowId + "_Quantity").val();
                    var gridQuantityToCompare = $jqGrid('#jqResidentialActivated').jqGrid('getCell', rowId, 'QuantityToCompare');
                    if (parseInt(gridQuantityValue) > parseInt(gridQuantityToCompare)) {
                        $jqGrid('#divCannotIncreaseResidentialQuantity').dialog({
                            autoOpen: false,
                            modal: true,
                            closeOnEscape: false,
                            width: 'auto',
                            resizable: false,
                            closeOnEscape: false,
                            buttons: {
                                "Ok": function () {
                                    $jqGrid('#divCannotIncreaseResidentialQuantity').dialog('close');
                                    $jqGrid(".ui-widget-overlay").hide();
                                    if ($jqGrid("#" + rowId + "_Quantity").val() == undefined) {
                                        $jqGrid('#jqResidentialActivated').jqGrid('setCell', rowId, 'Quantity', window.ResidentialQuantity);
                                    }
                                    else {
                                        $jqGrid("#" + rowId + "_Quantity").val('');
                                        $jqGrid("#" + rowId + "_Quantity").val(window.ResidentialQuantity);
                                    }
                                }
                            }

                        });
                        $jqGrid('#divCannotIncreaseResidentialQuantity').dialog('open');
                        return false;
                    }
                    else {
                        window.ResidentialQuantity = gridQuantityValue;
                    }
                }
            }

            // Check for ViewOnly
            //linkId: - Menu Link Id, element: - Main Div of the Form
            CommonScriptObj.DisableFormControls("frm_ResidentialOrders");
            GetOrderNote("hdnProductOrderNoteMandatory", "txtProductOrderNote");

        }); // Close Document Ready function

        function CheckCustomerStatus(customerId) {
            if (customerId != "-1" && customerId != "" && customerId != null) {
                $jqGrid.ajax({
                    url: '/Customer/GetCustomerDetails',
                    type: 'GET',
                    contentType: "application/json",
                    dataType: 'json',
                    data: {
                        customerId: customerId
                    },
                    cache: false,
                    async: false,
                    success: function (responseData) {
                        if (responseData.CustomerBusinessModel != null) {
                            var cusotmerDetails = responseData.CustomerBusinessModel;
                            customerCurrentStatus = cusotmerDetails.Status;
                            return false;
                        }
                    }
                });
            }
            return false;
        }
    </script>

    <style>
        #inner-page {
            margin-bottom: 150px;
        }

        .table_section_btns {
            padding-top: 0px;
        }

        .page_heading {
            padding-bottom: 3px;
        }

        .table_section_2:hover {
            box-shadow: none;
        }

        .padding_left_right_20 {
            padding: 8px 25px !important;
        }

        .search_form_main_btns_1 {
            padding: 10px 0px 0px;
        }

        .carehome_maint_top_btns {
            max-height: 140px;
        }

        footer {
            margin-top: -90px;
        }

        .ui-corner-all .ez-checkbox {float:none;}

    </style>

</head>
<body>
    <form id="frm_ProductOrders">

        <div class="search_form_main_btns search_form_main_btns_1 carehome_maint_top_btns">
            <span class="page_heading float_left" id="spnOrderSelfcareTitle"></span>

            <div class="form_main_btns padding_0">
                <input type="text" style="display:none" class="forChangeNDD" />
                <input type='button' class="form_buttons padding_left_right_15 small_btn" id='changeNDD' value="Change NDD" onclick="setNewNDD('jqProductOrders', null)" />                
                <input type="button" value="@Common.resBtnNameSave" id="btnSaveProductOrder" class="search_form_buttons padding_left_right_20 height_30">
                <input type="button" value="@Common.resGeneralCancel" id="btnCancelProductOrder" class="search_form_buttons padding_left_right_20 height_30" />
                <a href="@Url.Action("GetCareHome", "CareHome")" class="search_form_buttons padding_8_25">@Common.reslnkExit</a>
            </div>

            <span class="field-validation-error fontsize_15px" id="spnOrderSentToSAP" style="display:none"><b>@Common.resOrderSentToSAPMsg</b></span>
            <div class="cust_patient_name float_left align_left padding_0">
                <span class="padding_right_10">
                    <strong>Customer&nbsp;:-&nbsp;</strong><span id="lblCustomerName"></span>  <br />
                </span>
                <span class="disp_block_1 padding_0 margin_bot_0"><strong>CareHome&nbsp;:-&nbsp;</strong><span id="lblCareHomeName"></span></span>
                <span class="care_home_maintenance_lable disp_block_1 margin_bot_0">@Common.reslblPurchaseOrderNo&nbsp;&nbsp;@Html.TextBox("PurchaseOrderNum", Model.PurchaseOrderNumber, new { @id = "txtPurchaseOrderNo", @maxlength = "20" })</span>
                
            </div>
            
            <div class="table_section_btns width_420 float_right margin_top_15 position_rel" id="ProductOrderButtons">
                <input type="hidden" id="hdnBulkNotePlaceholder" value="@Common.resInteractionNote">
                <textarea id="txtProductOrderNote" placeholder="@Common.resInteractionNote" class="co_textarea bg_eee height_53"></textarea>                               
                <div id="residentialMessage" style="display:none" class="field-validation-error"></div>
                <div id="divProductDetailsMessage" style="display:none" class="field-validation-error float_right"></div>
            </div>
        </div>

        
        <div class="padding_top_160">
            <!--table_section-->
            <div id="diva" class="table_section_2 mCustomScrollbar" style="height:372px;">
                <div id="productOrderDisable"></div>
                <table id="jqProductOrders" class="analysis_information_table"></table>
                <div id="jqProductOrdersTablePager"></div>
            </div>
            <div class="table_section_4 margin_top_15 mCustomScrollbar height_240">
                <table id="jqProductOrderPatientDetails" class="analysis_information_table"></table>
                <div id="jqProductOrderPatientDetailsTablePager"></div>
            </div>
            <!--table_section-->
        </div>
 
        <div class="j_lightbox_error align_center community_ord_mgs5" id="divDataSavedOrders" style="display:none">
            <span id="spnOrderSaved">@Common.resDivOrderSaved</span>
            <span id="spnOrderCancelled">@Common.resDivOrderCancelled</span>
        </div>
        <div class="j_lightbox_error align_center community_ord_mgs5 field-validation-error" id="divNoProductSelected" style="display:none">
            @Common.resMessageNoProductSelected<br />
        </div>
        <div class="j_lightbox_error align_center community_ord_mgs5 field-validation-error" id="divProductOrderErrorMsg" style="display:none">
            @Common.resAddNotesErrorMessage<br />
        </div>

        <div id="divCannotIncreaseResidentialQuantity" style="display:none;min-height: 19px;">@Common.resCannotIncreaseCommunityQuantity</div>
        <div id="divEnterResidentialQuantity" style="display:none;min-height: 19px;"></div>
        <div id="divDisclaimerValidation" style="display:none;min-height: 19px;">@Common.resOrderDisclaimerValidation</div>
        <input type="hidden" id="hdnResidentialActionName" value="@Constants.ActionGetHolidayList" />
        <input type="hidden" id="hdnResidentialNDDStartDate" value="@Session[Constants.SessionNDDStartDate]">
        <input type="hidden" id="hdnResidentialNDDEndDate" value="@Session[Constants.SessionNDDEndDate]">
        <input type="hidden" id="hdnbtnTextUpdate" value="@Common.resBtnNameUpdate" />
        <input type="hidden" id="hdnbtnTextSave" value="@Common.resBtnNameSave" />
        <input type="hidden" id="hdnProductOrderHeaderTextNew" value="@Common.resProductOrderHeaderNew" />
        <input type="hidden" id="hdnProductOrderHeaderTextExisting" value="@Common.resProductOrderHeaderExisting" />
        <input type="hidden" id="hdnOrderPage" value="@Common.resPageNameOrder" />
        <input type="hidden" id="hdnLoggedInUserRoleName" />
        <input type="hidden" id="hdnExtCareHomeRoleName" value="@Common.resExtCareHomeUserRoleName" />
        <input type="hidden" id="hdnCareHomeStatus" value="@Convert.ToInt64(SCAEnums.CareHomeStatus.Active)" />
        <input type="hidden" id="hdnSelfcareOrderEnterQuantity" value="@Common.resDivOrderEnterQuantity" />
        <input type="hidden" id="hdnSelfcareOrderEnterQuantityForPatient" value="@Common.resDivOrderEnterQuantityForPatient" />
        <input type="hidden" id="hdnSelfcareOrderEnterSelectProduct" value="@Common.resDivSelfcareSelectProduct" />
        <input type="hidden" id="hdnResidentialSelectOrderToCancel" value="@Common.resResidentialSelectOrderForCancel" />
        <input type="hidden" id="hdnCareHomeId" />
        <input type="hidden" id="hdnCustomerId" />
        <input type="hidden" id="hdnCareHomeStatusActive" value="@((int)SCAEnums.CareHomeStatus.Active)" />
        <input type="hidden" id="hdnCareHomeStatusStopped" value="@((int)SCAEnums.CareHomeStatus.Stopped)" />
        <input type="hidden" id="hdnCareHomeStatusRemoved" value="@((int)SCAEnums.CareHomeStatus.Removed)" />
        <input type="hidden" id="hdnCareHomeOrderTypeAutomatic" value="@((int)SCAEnums.CareHomeOrderType.Automatic)" />
        <input type="hidden" id="hdnCareHomeOrderTypePatientLevel" value="@((int)SCAEnums.CareHomeOrderType.PatientLevel)" />
        <input type="hidden" id="hdnProductOrderType" value="@Convert.ToInt64(SCAEnums.OrderType.ZHDH)" />

        <input type="hidden" id="hdnProductOrderNoteMandatory" />
        <input type="hidden" id="hdnreserrormsNote" value="@Common.resAddNotesErrorMessage" />
        <input type="hidden" id="hdnreserrormsNoProductSelected" value="@Common.resMessageNoProductSelected" />

        <input type="hidden" id="hdnCarehomeProductOrder" value="@Convert.ToInt64(SCAEnums.OrderCreationType.CarehomeProductOrder)" />
        <div id="divProductOrdersNDDHoliday" class="j_lightbox_error align_center" style="display:none;min-height: 19px;">@Common.resErrNDDOnHoliday</div>

        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper short_pop">
                <div class="padding_20 search_form_main_btns align_center product_order_redirect_to_search">
                    @Common.resCarehomeMessage<br /><br />
                    <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_15 small_btn_2">@Common.resbtnErrorOk</a>
                </div>
            </div>
        </div>

        <div id="divProductOrdersMsgBlockedCustomer" class="padding_20 search_form_main_btns align_center" style="display:none">
            @Common.resCustomerBlockedMessage<br />
        </div>
        <div id="divProductOrdersMsgSelectCarehome" class="padding_20 search_form_main_btns align_center" style="display:none">
            @Common.resCarehomeMessage<br />
        </div>
        <div id="divProductOrdersMsgStoppedCarehome" class="padding_20 search_form_main_btns align_center" style="display:none">
            @Common.resCarehomeStoppedMessage<br />
        </div>
        <div id="divProductOrdersMsgOrderCreationNotAllowed" class="padding_20 search_form_main_btns align_center" style="display:none">
            @Common.resOrderCreationNotAllowed<br />
        </div>
        <div id="divProductOrdersMsgOrderActivationBefore" class="padding_20 search_form_main_btns align_center" style="display:none">
            @Common.resOrderActivationBefore @Convert.ToString(Session[Constants.SessionDateForOrderActivation])<br />
        </div>
        <div id="divProductOrdersMsgAutomaticOrderType" class="padding_20 search_form_main_btns align_center" style="display:none">
            @Common.resCarehomeOrderTypeAutomaticOrder<br />
        </div>
        <div id="divProductOrdersMsgPatientLevelOrderType" class="padding_20 search_form_main_btns align_center" style="display:none">
            @Common.resCarehomeOrderTypePatientLevel<br />
        </div>
        <div id="divProductOrdersMsgCancelConfirm" class="padding_20 search_form_main_btns align_center" style="display:none">
            @Common.resResidentialCancelConfirm<br />
        </div>

        @Scripts.Render("~/bundles/ProductOrders")
    </form>
</body>
</html>