﻿@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Common.Enums
@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resedential Activated Orders</title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="~/Scripts/js/validations/Common.js"></script>
    <script type="text/javascript">

    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {
        $jqGrid('#hdnLoggedInUserRoleName').val('@ControllerHelper.CurrentUser.UserName');
        window.orderTypeResidential = '@Convert.ToInt64(SCAEnums.OrderType.ZHDP)';
        var valTrue = "TRUE";
        var valFalse = "FALSE";
        var patientId = '@Session[Constants.SessionPatientId]';
        var patientStatus = '@Session[Constants.SessionPatientStatus]';
        var orderCreationAllowed = '@Session[Constants.SessionOrderCreationAllowed]';
        var anyActiveOrder = '@Session[Constants.SessionHasActiveOrder]';
        var patientNDD = '@Session[Constants.SessionPatientNDD]';
        var selectedCareHomeId = '@Session[Constants.SessionCareHomeId]';
        var selectedCustomerId = '@Session[Constants.SessionCustomerId]';
        var careHomeStatus = '@Session[Constants.SessionCareHomeStatus]';
        var IsCheckCarehomeStatus = '@Session[Constants.IsCheckCarehomeStatus]';
        var customerCurrentStatus = '@Convert.ToInt64(SCAEnums.CustomerStatus.Active)';
        var dateForOrderActivation = '@Session[Constants.SessionDateForOrderActivation]';
        var canActivateOrder = '@Session[Constants.SessionCanActivateOrder]';
        var IsTypeAutomaticOrder = '@Session[Constants.SessionIsTypeAutomaticOrder]';
        var carehomeOrderType = '@Session[Constants.SessionCareHomeOrderType]';
        var userType = "SCA";
        if (anyActiveOrder != undefined && anyActiveOrder.toString().toUpperCase() == 'TRUE') {
            $jqGrid('#btnSaveResidentialOrder').val($jqGrid('#hdnbtnTextUpdate').val());
            $jqGrid('#spnOrderSelfcareTitle').text('');
            $jqGrid('#spnOrderSelfcareTitle').append('<span class="prependedSelfcareOrderText">' + $jqGrid('#hdnSelfcareHeaderTextExisting').val() + '</span>');
            $jqGrid("#" + OrderObj.ResidentialCancel).removeAttr('disabled');
            $jqGrid("#" + OrderObj.ResidentialCancel).removeClass("btn_disable");
        }
        else {
            $jqGrid('#spnOrderSelfcareTitle').text('');
            $jqGrid('#spnOrderSelfcareTitle').append('<span class="prependedSelfcareOrderText">' + $jqGrid('#hdnSelfcareHeaderTextNew').val() + '</span>');
            $jqGrid("#" + OrderObj.ResidentialCancel).attr('disabled', 'disabled');
            $jqGrid("#" + OrderObj.ResidentialCancel).addClass("btn_disable");
        }

        $jqGrid('#lblCustomerName').text('@Session[Constants.SessionCustomerDisplayName]');
        $jqGrid('#lblCareHomeName').text('@Session[Constants.SessionCareHomeDisplayName]');

        var customerId = '@Session[Constants.SessionCustomerId]';
        CheckCustomerStatus(customerId)
        if (customerCurrentStatus == '@Convert.ToInt64(SCAEnums.CustomerStatus.Blocked)') {
            $jqGrid('#j_lightbox_error').show();
            $jqGrid('.residential_ord_mgs1').hide();
            $jqGrid('.residential_ord_mgs2').hide();
            $jqGrid('.residential_ord_mgs3').hide();
            $jqGrid('.residential_ord_mgs4').hide();
            $jqGrid('.residential_ord_mgs5').hide();
            $jqGrid('.residential_ord_mgs6').hide();
            $jqGrid('.residential_ord_mgs7').hide();
            $jqGrid('.residential_ord_mgs8').show();
            $jqGrid('.residential_ord_mgs9').hide();
            $jqGrid('.residential_ord_mgs10').hide();
            return false;
        }
        if (IsCheckCarehomeStatus == "True" && careHomeStatus != $("#hdnCareHomeStatus").val()) {
            $jqGrid('#j_lightbox_error').show();
            $jqGrid('.residential_ord_mgs1').hide();
            $jqGrid('.residential_ord_mgs2').hide();
            $jqGrid('.residential_ord_mgs3').hide();
            $jqGrid('.residential_ord_mgs4').hide();
            $jqGrid('.residential_ord_mgs5').hide();
            $jqGrid('.residential_ord_mgs6').hide();
            $jqGrid('.residential_ord_mgs7').show();
            $jqGrid('.residential_ord_mgs8').hide();
            $jqGrid('.residential_ord_mgs9').hide();
            $jqGrid('.residential_ord_mgs10').hide();
            return false;
        }
        else if (selectedCareHomeId == null || selectedCareHomeId == '' || selectedCustomerId == null || selectedCustomerId == '') {
            $jqGrid('#j_lightbox_error').show();
            $jqGrid('.residential_ord_mgs1').hide();
            $jqGrid('.residential_ord_mgs2').hide();
            $jqGrid('.residential_ord_mgs3').hide();
            $jqGrid('.residential_ord_mgs4').hide();
            $jqGrid('.residential_ord_mgs5').hide();
            $jqGrid('.residential_ord_mgs6').show();
            $jqGrid('.residential_ord_mgs7').hide();
            $jqGrid('.residential_ord_mgs8').hide();
            $jqGrid('.residential_ord_mgs9').hide();
            $jqGrid('.residential_ord_mgs10').hide();
            return false;
        }

        else if (orderCreationAllowed.toUpperCase() != 'TRUE') {
            $jqGrid('#j_lightbox_error').show();
            $jqGrid('.residential_ord_mgs1').hide();
            $jqGrid('.residential_ord_mgs2').hide();
            $jqGrid('.residential_ord_mgs3').hide();
            $jqGrid('.residential_ord_mgs4').show();
            $jqGrid('.residential_ord_mgs5').hide();
            $jqGrid('.residential_ord_mgs6').hide();
            $jqGrid('.residential_ord_mgs7').hide();
            $jqGrid('.residential_ord_mgs8').hide();
            $jqGrid('.residential_ord_mgs9').hide();
            $jqGrid('.residential_ord_mgs10').hide();
            return false;
        }
            //CHECK IF CAREHOME ORDER TYPE IS "AUTOMATIC" AND NO ACTIVE ORDER, IF THERE IS ACTIVE ORDER THEN ALLOW FOR EDIT IRRSEPECTIVE OF ORDER TYPE
        else if (anyActiveOrder != undefined &&
                    anyActiveOrder.toString().toUpperCase() != 'TRUE' &&
                    carehomeOrderType != undefined &&
                    (carehomeOrderType == '@Convert.ToInt64(SCAEnums.CareHomeOrderType.ProductLevel)')) {
            $jqGrid('#j_lightbox_error').show();
            $jqGrid('.residential_ord_mgs1').hide();
            $jqGrid('.residential_ord_mgs2').hide();
            $jqGrid('.residential_ord_mgs3').hide();
            $jqGrid('.residential_ord_mgs4').hide();
            $jqGrid('.residential_ord_mgs5').hide();
            $jqGrid('.residential_ord_mgs6').hide();
            $jqGrid('.residential_ord_mgs7').hide();
            $jqGrid('.residential_ord_mgs8').hide();
            $jqGrid('.residential_ord_mgs9').hide();
            $jqGrid('.residential_ord_mgs10').show();
            return false;
        }
            //CHECK IF ORDER ACTIVATION IS ALLOWED AND NO ACTIVE ORDER, IF THERE IS ACTIVE ORDER THEN ALLOW FOR EDIT IRRSEPECTIVE OF ORDER ACTIVATION IS ALLOWED OR NOT
        else if (anyActiveOrder != undefined &&
                    anyActiveOrder.toString().toUpperCase() != 'TRUE' &&
                    canActivateOrder != undefined &&
                    canActivateOrder.toString().toUpperCase() == 'FALSE') {
            $jqGrid('#j_lightbox_error').show();
            $jqGrid('.residential_ord_mgs1').hide();
            $jqGrid('.residential_ord_mgs2').hide();
            $jqGrid('.residential_ord_mgs3').hide();
            $jqGrid('.residential_ord_mgs4').hide();
            $jqGrid('.residential_ord_mgs5').hide();
            $jqGrid('.residential_ord_mgs6').hide();
            $jqGrid('.residential_ord_mgs7').hide();
            $jqGrid('.residential_ord_mgs8').hide();
            $jqGrid('.residential_ord_mgs9').show();
            $jqGrid('.residential_ord_mgs10').hide();
            return false;
        }
        else if (patientNDD == null || patientNDD == "01/01/0001") {
            $jqGrid('#j_lightbox_error').show();
            $jqGrid('.residential_ord_mgs1').hide();
            $jqGrid('.residential_ord_mgs2').hide();
            $jqGrid('.residential_ord_mgs3').hide();
            $jqGrid('.residential_ord_mgs4').hide();
            $jqGrid('.residential_ord_mgs5').show();
            $jqGrid('.residential_ord_mgs6').hide();
            $jqGrid('.residential_ord_mgs7').hide();
            $jqGrid('.residential_ord_mgs8').hide();
            $jqGrid('.residential_ord_mgs9').hide();
            $jqGrid('.residential_ord_mgs10').hide();
            return false;
        }

        $.ajax({
            url: '/Order/IsNddAllowed',
            contentType: "application/json",
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data == true) {
                    $jqGrid('#changeNDD').removeClass("btn_disable");
                    $jqGrid('#changeNDD').removeAttr("disabled");
                }
                else {
                    $jqGrid('#changeNDD').addClass("btn_disable");
                    $jqGrid('#changeNDD').attr('disabled', 'disabled');
                }
            }
        });

        getPatientReasonCodes('@Convert.ToInt64(@SCAEnums.PatientStatus.Removed, CultureInfo.InvariantCulture)', customerId);

        $jqGrid('.DisablePages').removeClass('disable_div');
        $jqGrid('#j_lightbox_error').hide();

        $jqGrid("#jqResidentialActivated").jqGrid({
            url: "@Url.Action(Constants.ActionResidentialActivated, Constants.OrderController)",
            datatype: "json",
            mtype: "POST",
            colNames: ['<br>&nbsp;<input type="checkbox" id="chkSelectAll" style="margin-top:5px;">', '', '', '@Common.resGrdSAPPatientNo', '@Common.resGrdPatientID', '@Common.resGrdPatientName', '@Common.resGrdPatientType', '@Common.resSearchStatusDropdown', '@Common.resProductId', '@Common.resProductId', '@Common.resDescription', '@Common.resGridQuantityToCompare', '@Common.resQuantity', '@Common.resUnit', '@Common.resDeliveryDate', '@Common.resNextDeliveryDate', '@Common.resFrequency', '@Common.resRoundId', '@Common.resGrdOrderActivated', '@Common.resHdrCommunityHospitalOrderRemovePatient', '@Common.resHdrCommunityHospitalOrderReasonCode'],
            colModel: [
                { name: 'Select', index: 'Select', edittype: 'checkbox', width: '40', classes: 'align_center', formatter: selectRows, editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false },
                { name: 'OrderId', index: 'OrderId', editable: false, hidden: true },
                { name: 'CareHomeID', index: 'CareHomeID', editable: false, hidden: true },
                { name: 'SAPPatientNo', index: 'SAPPatientNo', editable: false, width: '80', hidden: false },
                { name: 'PatientID', index: 'PatientID', editable: false, hidden: true },
                { name: 'PatientName', index: 'PatientName', editable: false, width: '90', classes: 'align_left padding_left_10 word_wrap_normal' },
                { name: 'PatientType', index: 'PatientType', editable: false, width: '70', classes: 'align_left padding_left_10 word_wrap_normal' },
                { name: 'PatientStatus', index: 'PatientStatus', editable: false, width: '55', classes: 'align_left padding_left_10 word_wrap_normal', hidden: true },
                { name: 'ProductId', index: 'ProductId', editable: false, hidden: true },
                { name: 'ProductDisplayId', index: 'ProductDisplayId', editable: false, width: '70', classes: 'align_left padding_left_10' },
                { name: 'ProductName', index: 'ProductName', editable: false, width: '150', classes: 'align_left padding_left_10 word_wrap_normal' },
                { name: 'QuantityToCompare', index: 'QuantityToCompare', editable: false, hidden: true },
        {
            name: 'Quantity', index: 'Quantity', editable: true, width: '40', classes: 'align_right padding_right_10', editoptions: {
                maxlength: 3,
                dataInit: function (element) {
                    $(element).focus(function (e) {
                        var row = $jqGrid(e.target).closest('tr.jqgrow');
                        var rowId = row.attr('id');
                        var gridQuantityValue = $jqGrid("#" + rowId + "_Quantity").val();
                        if (gridQuantityValue == undefined) {
                            gridQuantityValue = $jqGrid('#jqResidentialActivated').jqGrid('getCell', rowid, 'Quantity')
                        }

                        if (gridQuantityValue != undefined) {
                            window.ResidentialQuantity = gridQuantityValue;
                        }
                    });
                    $(element).keypress(function (e) {
                        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                            return false;
                        }
                    });
                    $(element).keydown(function (e) {;
                        if (e.which == 13) {
                            CheckForQuantityResidential(e);
                        }
                    });
                },
                dataEvents: [{
                    type: 'change', fn: function (e) {
                        CheckForQuantityResidential(e)
                    }
                }]
            }
        },
                { name: 'Unit', index: 'Unit', editable: false, width: '45', classes: 'align_center' },
                { name: 'DeliveryDate', index: 'DeliveryDate', editable: false, hidden: true, classes: 'align_center' },
                { name: 'NextDeliveryDate', index: 'NextDeliveryDate', editable: false, hidden: false, width: '90', classes: 'align_center' },
                { name: 'DeliveryFrequency', index: 'DeliveryFrequency', editable: false, hidden: true },
                { name: 'RoundId', index: 'RoundId', editable: false, hidden: true },
                { name: 'IsOrderActivated', index: 'IsOrderActivated', formatter: IsOrderActivated, editable: false, edittype: 'checkbox', width: '75', classes: 'align_center', formatoptions: { disabled: false } },
                { name: 'IsPatientRemoved', index: 'IsPatientRemoved', editable: false, edittype: 'checkbox', width: '65', classes: 'align_center', formatter: chkPatientStatus, editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false },
                { name: 'ReasonCode', index: 'ReasonCode', formatter: getReasonCode, width: '130', classes: 'align_center' }
            ],
            height: '300',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqResidentialActivatedTablePager"),
            rowNum: 500,
            rowList: [500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400],
            viewrecords: true,
            autowidth: false,
            sortname: "",
            sortorder: "asc",
            gridComplete: function () {
                $jqGrid('#jqResidentialActivatedTablePager_left').hide();
                $jqGrid('.ui-paging-info').css("text-align", "left");
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#jqResidentialActivatedTablePager_center').hide();

                } else {
                    $jqGrid('#jqResidentialActivatedTablePager_center').show();
                    var firstRow = $jqGrid(this).jqGrid('getRowData', 1);
                    var nextDeliveryDate = firstRow['NextDeliveryDate'];
                    window.PreDefinedNDD = nextDeliveryDate;
                }
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });
            },
            onCellSelect: function (rowid, iCol) {
                $jqGrid(this).jqGrid('editRow', rowid, true);
                if ($jqGrid("#" + rowid + "_Quantity").val() != undefined) {
                    window.ResidentialQuantity = $jqGrid("#" + rowid + "_Quantity").val();
                }
            },
            ondblClickRow: function (rowid) {


            },
            loadComplete: function (data) {
                $jqGrid('#lblCustomerName').html('@Session[Constants.SessionCustomerDisplayName]');
                $jqGrid('#lblCareHomeName').html('@Session[Constants.SessionCareHomeDisplayName]');
                enableDisableResidentialOrderPage(data.isSentToSAP);
                if ($('.prependedSelfcareOrderText').text() == $('#hdnSelfcareHeaderTextNew').val()) {
                    $jqGrid("#btnCancelResidentialOrder").addClass('btn_disable');
                }
                else {
                    $jqGrid("#btnCancelResidentialOrder").removeClass('btn_disable');
                }
            },

        }).navGrid("#jqResidentialActivatedTablePager",
    { search: false, refresh: false, add: false, edit: false, del: false },
    {},
    {},
    {}
);

        $jqGrid("#diva").trigger("reloadGrid");
        $jqGrid("#jqgh_jqResidentialActivated_Select").removeClass("ui-jqgrid-sortable");
        function selectRows(cellvalue, options, rowobject) {
            return "<input type='checkbox' class='chkSelectClass chkSelect_" + rowobject['PatientID'] + "' id='" + options["rowId"] + "_" + options.colModel["name"] + "' onchange='countCheckedResidential()'" + "/>";
        }
        $jqGrid('#chkSelectAll').click(function (event) {
            if ($jqGrid("#chkSelectAll").is(":checked")) {
                $jqGrid(".chkSelectClass").filter(function () { return !this.disabled }).prop("checked", true);
                $jqGrid(".chkSelectClass").filter(function () { return !this.disabled }).parent(".ez-checkbox").addClass("ez-checked");
            } else {
                $jqGrid(".chkSelectClass").prop("checked", false);
                $jqGrid(".chkSelectClass").parent(".ez-checkbox").removeClass("ez-checked");
            }
        });

        function IsOrderActivated(cellvalue, options, rowobject) {
            if (rowobject['IsOrderActivated'] == true) {
                return "<input type='checkbox' id='" + options['rowId'] + "_IsOrderActivated' checked='checked' disabled = 'disabled'>";
            }
            else {
                return "<input type='checkbox' id='" + options['rowId'] + "_IsOrderActivated' disabled = 'disabled'>";
            }
        }

        function CheckForQuantityResidential(e) {
            if ('@Session[Constants.SessionAllowIncreaseOrderQty]' != 'True') {
                var row = $jqGrid(e.target).closest('tr.jqgrow');
                var rowId = row.attr('id');
                var gridQuantityValue = $jqGrid("#" + rowId + "_Quantity").val();
                var gridQuantityToCompare = $jqGrid('#jqResidentialActivated').jqGrid('getCell', rowId, 'QuantityToCompare');
                if (parseInt(gridQuantityValue) > parseInt(gridQuantityToCompare)) {
                    $jqGrid('#divCannotIncreaseResidentialQuantity').dialog({
                        autoOpen: false,
                        modal: true,
                        closeOnEscape: false,
                        width: 'auto',
                        resizable: false,
                        closeOnEscape: false,
                        buttons: {
                            "Ok": function () {
                                $jqGrid('#divCannotIncreaseResidentialQuantity').dialog('close');
                                $jqGrid(".ui-widget-overlay").hide();
                                if ($jqGrid("#" + rowId + "_Quantity").val() == undefined) {
                                    $jqGrid('#jqResidentialActivated').jqGrid('setCell', rowId, 'Quantity', window.ResidentialQuantity);
                                }
                                else {
                                    $jqGrid("#" + rowId + "_Quantity").val('');
                                    $jqGrid("#" + rowId + "_Quantity").val(window.ResidentialQuantity);
                                }
                            }
                        }

                    });
                    $jqGrid('#divCannotIncreaseResidentialQuantity').dialog('open');
                    return false;
                }
                else {
                    window.ResidentialQuantity = gridQuantityValue;
                }
            }
        }


        // Check for ViewOnly
        //linkId: - Menu Link Id, element: - Main Div of the Form
        CommonScriptObj.DisableFormControls("frm_ResidentialOrders");
        GetOrderNote("hdnResidentialNoteMandatory", "txtResidentialNote");

    }); // Close Document Ready function


    function CheckCustomerStatus(customerId) {
        if (customerId != "-1" && customerId != "" && customerId != null) {
            $jqGrid.ajax({
                url: '/Customer/GetCustomerDetails',
                type: 'GET',
                contentType: "application/json",
                dataType: 'json',
                data: {
                    customerId: customerId
                },
                cache: false,
                async: false,
                success: function (responseData) {
                    if (responseData.CustomerBusinessModel != null) {
                        var cusotmerDetails = responseData.CustomerBusinessModel;
                        customerCurrentStatus = cusotmerDetails.Status;
                        return false;
                    }
                }
            });
        }
        return false;
    }
</script>

 

<style>
    #inner-page {margin-bottom:150px;}
    .table_section_btns { padding-top:0px;}
    .page_heading {padding-bottom: 3px;}
    .table_section_2:hover {box-shadow: none;}
    .padding_left_right_20 {padding:8px 25px !important;}
    .search_form_main_btns_1 {padding: 10px 0px 10px;}
    .carehome_maint_top_btns {max-height: 140px;}
    footer {margin-top:-90px;}
    .disable_div {width: 118%;}
    .co_textarea {width:395px;}
</style>


</head>
<body>
    <form id="frm_ResidentialOrders">

        <div class="search_form_main_btns search_form_main_btns_1 carehome_maint_top_btns max_height_145">
            <span class="page_heading float_left">CareHome/Hospitals Activated Orders</span>

            <div class="form_main_btns padding_0">
                <input type="text" style="display:none" class="forChangeNDD" />
                <input type='button' class="search_form_buttons padding_left_right_20 height_30" id='changeNDD' value="Change NDD" onclick="setNewNDD('jqResidentialActivated', null)" />
                <input type="button" value="@Common.resBtnNameSave" id="btnSaveResidentialOrder" class="search_form_buttons padding_left_right_20 height_30">
                <input type="button" value="@Common.resGeneralCancel" id="btnCancelResidentialOrder" class="search_form_buttons padding_left_right_20 height_30" onclick="OrderObj.CancelResidentialOrder()" />
                <a href="@Url.Action("GetCareHome", "CareHome")" class="search_form_buttons padding_left_right_20">@Common.reslnkExit</a>
            </div>

            <span class="field-validation-error fontsize_15px" id="spnOrderSentToSAP" style="display:none"><b>@Common.resOrderSentToSAPMsg</b></span>
            <div class="cust_patient_name float_left align_left padding_0" style="width:475px;">
                <span class="disp_block_1 padding_0 margin_bot_0"> <strong>Customer&nbsp;:-</strong><span id="lblCustomerName"></span></span>
                <span class="disp_block_1 padding_0 margin_bot_0"> <strong>CareHome&nbsp;:-</strong><span id="lblCareHomeName"></span></span>
            </div>
            <div class="table_section_btns float_right position_rel width_445 margin_top_16" id="ResidentialOrderButtons">
                <input type="hidden" id="hdnBulkNotePlaceholder" value="@Common.resInteractionNote">
                <textarea id="txtResidentialNote" class="co_textarea bg_eee height_70" placeholder="@Common.resInteractionNote"></textarea>
                <div id="residentialMessage" style="display:none" class="field-validation-error float_right"></div>
            </div>
        </div>

        

        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper short_pop">
                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs1">
                    @Common.resSelectPatient<br /><br />
                    <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_15 small_btn_2">Select Patient</a>
                </div>

                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs2">
                    @Common.resPtnStopped<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk " />
                </div>

                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs3">
                    @Common.resCustomerHasActiveOrder<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk " />
                </div>

                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs4">
                    @Common.resOrderCreationNotAllowed<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk " />
                </div>

                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs5">
                    @Common.resNoPatientNDD<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk " />
                </div>

                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs6">
                    @Common.resCarehomeMessage<br /><br />
                    <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_15 small_btn_2">@Common.resbtnErrorOk</a>
                </div>

                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs7">
                    @Common.resCarehomeStoppedMessage<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk " />
                </div>

                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs8">
                    @Common.resCustomerBlockedMessage<br /><br />
                    <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_15 small_btn_2">"@Common.reslnkExit"</a>
                </div>

                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs9">
                    @Common.resOrderActivationBefore @Convert.ToString(Session[Constants.SessionDateForOrderActivation])<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk" />
                </div>
                <div class="padding_20 search_form_main_btns align_center residential_ord_mgs10">
                    @Common.resCarehomeOrderTypeProductLevel<br /><br />
                    <input type="button" onclick="CloseOrderMsgPopup('@Convert.ToString(Session[Constants.SessionPatientId])', '@Convert.ToString(Session[Constants.SessionCustomerId])', '@Convert.ToString(Session[Constants.SessionPatientName])', '@Convert.ToString(Session[Constants.SessionCustomerName])')" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk" />
                </div>
            </div>
        </div>

        <div class="padding_top_160">

            <!--table_section-->
            <div id="diva" class="table_section_2" style="height:405px; overflow-x:auto;">
                <div id="residentialOrderDisableGrid"></div>
                <table id="jqResidentialActivated" class="analysis_information_table"></table>
                <div id="jqResidentialActivatedTablePager"></div>
            </div>
            <!--table_section-->



        </div>
        <div class="j_lightbox_error align_center community_ord_mgs5" id="divDataSavedOrders" style="display:none">
            <span id="spnOrderSaved">@Common.resDivOrderSaved</span>
            <span id="spnOrderCancelled">@Common.resDivOrderCancelled</span>
        </div>
        <div id="divCannotIncreaseResidentialQuantity" style="display:none;min-height: 19px;">@Common.resCannotIncreaseCommunityQuantity</div>
        <div id="divEnterResidentialQuantity" style="display:none;min-height: 19px;"></div>
        <div id="divDisclaimerValidation" style="display:none;min-height: 19px;">@Common.resOrderDisclaimerValidation</div>
        <input type="hidden" id="hdnResidentialActionName" value="@Constants.ActionGetHolidayList" />
        <input type="hidden" id="hdnResidentialNDDStartDate" value="@Session[Constants.SessionNDDStartDate]">
        <input type="hidden" id="hdnResidentialNDDEndDate" value="@Session[Constants.SessionNDDEndDate]">
        <input type="hidden" id="hdnbtnTextUpdate" value="@Common.resBtnNameUpdate" />
        <input type="hidden" id="hdnbtnTextSave" value="@Common.resBtnNameSave" />
        <input type="hidden" id="hdnSelfcareHeaderTextNew" value="@Common.resSelfCareHeaderNew" />
        <input type="hidden" id="hdnSelfcareHeaderTextExisting" value="@Common.resSelfCareHeaderExisting" />
        <input type="hidden" id="hdnOrderPage" value="@Common.resPageNameOrder" />
        <input type="hidden" id="hdnLoggedInUserRoleName" />
        <input type="hidden" id="hdnExtCareHomeRoleName" value="@Common.resExtCareHomeUserRoleName" />
        <input type="hidden" id="hdnCareHomeStatus" value="@Convert.ToInt64(SCAEnums.CareHomeStatus.Active)" />
        <input type="hidden" id="hdnSelfcareOrderEnterQuantity" value="@Common.resDivOrderEnterQuantity" />
        <input type="hidden" id="hdnSelfcareOrderEnterQuantityForPatient" value="@Common.resDivOrderEnterQuantityForPatient" />
        <input type="hidden" id="hdnSelfcareOrderEnterSelectProduct" value="@Common.resDivSelfcareSelectProduct" />
        <input type="hidden" id="hdnResidentialSelectOrderToCancel" value="@Common.resResidentialSelectOrderForCancel" />
        <input type="hidden" id="hdnresSelfcareOrderRemovedReasonCode" value="@Common.resSelfcareOrderRemovedReasonCode" />
        <input type="hidden" id="hdnCarehomePatientOrder" value="@Convert.ToInt64(SCAEnums.OrderCreationType.CarehomePatientOrder)" />
        <input type="hidden" id="hdnDefaultReasonCode" value='@Common.resddlDefaultReasonCodeValue'/>
        <input type="hidden" id="hdnResidentialNoteMandatory" />
        <input type="hidden" id="hdnResidentialreserrormsNote" value="@Common.resAddNotesErrorMessage" />
        <input type="hidden" id="hdnResidentialAddProduct" value="@Common.resDivAddProduct" />
        <!--Disclaimer -->

        <div class="j_lightbox" id="j_lightbox">
            <div class="j_lightbox_wrapper disclaimer_size">
                <div class="disclaimer">
                    <span class="j_lightbox_heading">@Common.resDisclaimerTitle</span>
                    @Common.resDisclaimerTextLine1
                    <br /><br />
                    @Common.resDisclaimerTextLine2
                    <ul class="list_style_disc">
                        <li>@Common.resDisclaimerTextLine3</li>
                        <li>@Common.resDisclaimerTextLine4</li>
                    </ul>

                    <div class="disclaimer_form form_main_btns">
                        <span class="disclaimer_cell">@Common.resDisclaimerPersonName&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="txtDisclaimerPersonName" maxlength="20" /></span>
                        <span id="errortxtDisclaimerPersonName" style="display: none" class="field-validation-error disclaimer_error"></span>
                        <span class="disclaimer_cell">@Common.resDisclaimerPersonPosition&nbsp;&nbsp;<input type="text" placeholder="" id="txtDisclaimerPersonPosition" maxlength="30" /></span>
                        <span id="errortxtDisclaimerPersonPosition" style="display: none" class="field-validation-error disclaimer_error"></span>
                        <span class="disclaimer_cell"><input type="button" value="I accept" class="search_form_buttons padding_left_right_20 height_30 disclaimer_subim" id="btnAcceptDisclaimer"></span>
                    </div>
                </div>
                <div class="j_lightbox_close"></div>
            </div>
        </div>        
        <div id="divResidentialConfirmCancel" class="j_lightbox_error align_center" style="display:none;min-height: 19px;">@Common.resResidentialCancelConfirm</div>
        <div id="divResidentialNDDHoliday" class="j_lightbox_error align_center" style="display:none;min-height: 19px;">@Common.resErrNDDOnHoliday</div>
        @Scripts.Render("~/bundles/Order")
    </form>
</body>
</html>
