﻿@model SCA.Indigo.Web.UI.ViewModel.GetSampleOrderViewModel
@using SCA.Indigo.Web.UI.Resource
@using System.Configuration;
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Common.Enums


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript">
        $jqGrid = jQuery.noConflict();
        $jqGrid(document).ready(function () {
            removeFromSampleOrder(true, true);
            ApplyStyle();

            $jqGrid("#jqGetSampleOrder").jqGrid({
                datatype: "local",
                colNames: ['<input type="checkbox" id="chkRemove" style="display:none"> Remove',
                    '@Common.resProductId', '@Common.resProductId',
                    '@Common.resDescription',
                    '@Common.resQuantitySampleOrder'],
                colModel: [
                    { name: 'Remove', index: 'Remove', edittype: 'checkbox', width: '110', classes: 'align_center', formatter: removeSampleRows, editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false },
                    { name: 'ProductID', index: 'ProductID', hidden: true, editable: false, width: '185px', classes: 'align_left padding_left_10' },
                    { name: 'HelixProductId', index: 'HelixProductId', classes: 'align_left padding_left_10', width: '185', sorttype: 'int', editable: false },
                    { name: 'Description', index: 'Description', editable: false, width: '440px', classes: 'align_left padding_left_10 sample_ord_desc' },
                    {
                        name: 'Quantity', index: 'Quantity', editable: true, width: '120px', classes: 'align_center', editoptions: {
                            maxlength: 6,
                            dataInit: function (element) {
                                $(element).keypress(function (e) {;
                                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                        return false;
                                    }
                                });
                                $(element).keydown(function (e) {;
                                    if (e.which == 13) {
                                        CheckForQuantity(e);
                                    }
                                });
                            },
                            dataEvents: [{
                                type: 'change', fn: function (e) {
                                    CheckForQuantity(e);
                                }
                            }]
                        }
                    },
                ],
                height: '150',
                width: 'auto',
                toppager: false,
                jsonReader: { repeatitems: false },
                pager: $jqGrid("#jqGetSampleOrderTablePager"),
                rowNum: 50,
                rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
                viewrecords: true,
                autowidth: false,
                sortname: "",
                sortorder: "asc",
                gridComplete: function () {
                    $jqGrid('#jqGetSampleOrderTablePager_left').hide();
                    $jqGrid('.ui-paging-info').css("text-align", "left");
                    var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                    if (rowcount == 0) {
                        $jqGrid('#jqGetSampleOrderTablePager_center').hide();
                        $jqGrid('#chkRemove').attr('disabled', 'disabled');
                    }
                    else {
                        $jqGrid('#jqGetSampleOrderTablePager_center').show();
                        $jqGrid('#chkRemove').removeAttr('disabled');
                    }
                    $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                        var val = $jqGrid(this).val().trim();
                        ValidationGridPageInput(e, val);
                    });
                },
                onCellSelect: function (rowid, iCol) {
                    $jqGrid(this).jqGrid('editRow', rowid, true);
                },
                ondblClickRow: function (rowid) {
                },
                loadComplete: function (data) {
                },

            }).navGrid("#jqGetSampleOrderTablePager",
            { search: false, refresh: false, add: false, edit: false, del: false },
            {},
            {},
            {}
        );

            $jqGrid("#jqGetSampleOrder").trigger("reloadGrid");
            $jqGrid("#jqgh_jqGetSampleOrder_Remove").removeClass("ui-jqgrid-sortable");
            $jqGrid('#btnPostCode').removeAttr("disabled");

            $jqGrid('#chkRemove').click(function (event) {
                if ($jqGrid("#chkRemove").is(":checked")) {
                    $jqGrid(".chkRemoveClass").prop("checked", true);
                } else {
                    $jqGrid(".chkRemoveClass").prop("checked", false);
                }
            });

            function CheckForQuantity(e) {
                var row = $jqGrid(e.target).closest('tr.jqgrow');
                var rowId = row.attr('id');

                var compareValue = "@ConfigurationManager.AppSettings["MaxSampleQuantity"]";
                var gridQuantityValue = $jqGrid("#" + rowId + "_Quantity").val();
                if (parseInt(gridQuantityValue) > parseInt(compareValue)) {
                    $jqGrid('#divCannotIncreaseSampleQuantity').dialog({
                        autoOpen: false,
                        modal: true,
                        closeOnEscape: false,
                        width: 'auto',
                        resizable: false,
                        closeOnEscape: false,
                        buttons: {
                            "Ok": function () {
                                $jqGrid('#divCannotIncreaseSampleQuantity').dialog('close');
                                $jqGrid(".ui-widget-overlay").hide();
                                if ($jqGrid("#" + rowId + "_Quantity").val() == undefined) {
                                    $jqGrid('#jqGetSampleOrder').jqGrid('setCell', rowId, 'Quantity', parseInt(compareValue));
                                    $jqGrid("#jqGetSampleOrder").trigger("reloadGrid");
                                }
                                else {
                                    $jqGrid("#" + rowId + "_Quantity").val('');
                                    $jqGrid('#jqGetSampleOrder').jqGrid('setCell', rowId, 'Quantity', parseInt(compareValue));
                                    $jqGrid("#jqGetSampleOrder").trigger("reloadGrid");
                                }
                            }
                        }

                    });
                    $jqGrid('#divCannotIncreaseSampleQuantity').dialog('open');
                    return false;
                }

                if (parseInt($.trim(gridQuantityValue)) == "NaN" || parseInt($.trim(gridQuantityValue)) == 0 || $.trim(gridQuantityValue) == "") {
                    ShowErrorMessage('divErrorInvalidQuantity');
                    if ($jqGrid("#" + rowId + "_Quantity").val() == undefined) {
                        $jqGrid('#jqGetSampleOrder').jqGrid('setCell', rowId, 'Quantity', parseInt(compareValue));
                        $jqGrid("#jqGetSampleOrder").trigger("reloadGrid");
                    }
                    else {
                        $jqGrid("#" + rowId + "_Quantity").val('');
                        $jqGrid('#jqGetSampleOrder').jqGrid('setCell', rowId, 'Quantity', parseInt(compareValue));
                        $jqGrid("#jqGetSampleOrder").trigger("reloadGrid");
                    }
                    return false;
                }
                $jqGrid('#jqGetSampleOrder').jqGrid('setCell', rowId, 'Quantity', parseInt(gridQuantityValue));
                $jqGrid("#jqGetSampleOrder").trigger("reloadGrid");
            }

            ShowHeaderForSampleOrder();

            // Check for ViewOnly
            //linkId: - Menu Link Id, element: - Main Div of the Form
            CommonScriptObj.DisableFormControls("frm_SampleOrder");

        });//end of ready
    </script>

    <style>
        .form_main_btns {
            padding: 10px 0px;
        }

        .search_cell {
            padding: 6px 10px;
        }

        .page_heading {
            padding-top: 5px;
        }

        .table_section_2 {width:881px; margin:0 auto;}
        .page_heading{padding-bottom:15px;}


    </style>

</head>
<body>
    <form id="frm_SampleOrder">
    
    <div class="margin_top_minus_15">
        <div class="form_main_btns search_form_main_btns_1">
            
            <div class="cust_pat_details width_490">
                <span class="page_heading">Sample Order</span>
                <div class="samp_pat_details" style="display:none">
                    <label title="Customer ID Customer Name (SAP ID)" id="lblCustomerName">Customer ID/Aron Watson/SAP ID</label>
                    <br />
                    <label title="Patient ID/Name" id="lblPatientName">Patient ID/Name</label>
                </div>
                <div id="divAutohide"></div>
            </div>
            

            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" onclick="SaveSampleOrderInfo();" id="btnSaveSampleOrder">@Common.resbtnSave</a>
            @if (@Model.IsCalledFromEdit == true)
            {
                <a href="@Url.Action("ViewDetails", "Patient")" class="search_form_buttons padding_left_right_20">@Common.reslnkExit</a>
            }
            else
            {
                <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_20">@Common.reslnkExit</a>
            }
            <textarea class="so_textarea" name="txtSampleOrderNote" id="txtSampleOrderNote" placeholder="@Common.reslblAddNote" maxlength="200" rows="3"></textarea>
        </div>
            <ul class="padding_top_125">
                <li>
                    <div class="search_cell">
                        <span class="search_cell_txt">@Common.reslableFirstName</span>
                        <span class="search_cell_dot"></span>
                        <span class="search_cell_field">
                            @if (@Model.IsCalledFromEdit == false)
                            {
                                @Html.TextBoxFor(a => a.FirstName, new { @id = "txtSampleFirstName", @class = "s_txtbox firstCharUpper", @maxlength = "50", tabindex = "1" })
                            }
                            else
                            {
                                @Html.TextBoxFor(a => a.FirstName, new { @id = "txtSampleFirstName", @class = "s_txtbox firstCharUpper", @maxlength = "50", tabindex = "1", disabled = "disabled" })
                            }
                        </span>
                    </div>
                </li>

                <li>
                    <div class="search_cell">
                        <span class="search_cell_txt">@Common.reslblLastName</span>
                        <span class="search_cell_dot"></span>
                        <span class="search_cell_field">
                            @if (@Model.IsCalledFromEdit == false)
                            {
                                @Html.TextBoxFor(a => a.LastName, new { @id = "txtSampleLastName", @class = "s_txtbox firstCharUpper", @maxlength = "50", tabindex = "2" })
                            }
                            else
                            {
                                @Html.TextBoxFor(a => a.LastName, new { @id = "txtSampleLastName", @class = "s_txtbox firstCharUpper", @maxlength = "50", tabindex = "2", disabled = "disabled" })
                            }
                        </span>
                    </div>
                </li>
                <li>
                    <div class="search_cell">
                        <span class="search_cell_txt">@Common.reslblHouseName</span>
                        <span class="search_cell_dot"></span>
                        <span class="search_cell_field">
                            @Html.TextBoxFor(a => a.SampleHouseName, new { @id = "txtSampleHouseName", @class = "s_txtbox uppercase", @maxlength = "100" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="search_cell">
                        <span class="search_cell_txt">@Common.reslableAddress1</span>
                        <span class="search_cell_dot"></span>
                        <span class="search_cell_field">
                            @Html.TextBoxFor(a => a.Address1, new { @id = "txtAddress1", @class = "s_txtbox uppercase", @maxlength = "64", tabindex = "3" })
                        </span>
                    </div>
                </li>
                <li>
                    <div class="search_cell">
                        <span class="search_cell_txt">@Common.reslableAddress2</span>
                        <span class="search_cell_dot"></span>
                        <span class="search_cell_field">
                            @Html.TextBoxFor(a => a.Address2, new { @id = "txtAddress2", @class = "s_txtbox uppercase", @maxlength = "64", tabindex = "4" })

                        </span>
                    </div>
                </li>
                <li>
                    <div class="search_cell">
                        <span class="search_cell_txt">@Common.reslblTownCity</span>
                        <span class="search_cell_dot"></span>
                        <span class="search_cell_field">
                            @Html.TextBoxFor(a => a.TownOrCity, new { @id = "txtTownCity", @class = "s_txtbox uppercase", @maxlength = "32", tabindex = "5" })
                        </span>
                    </div>
                </li>



                <li>
                    <div class="search_cell">
                        <span class="search_cell_txt">@Common.reslblPostCode</span>
                        <span class="search_cell_dot"></span>
                        <span class="search_cell_field">
                            @Html.TextBoxFor(a => a.PostCode, new { @id = "txtPostCode", @class = "s_txtbox width_107 uppercase", @maxlength = "10", tabindex = "6" })
                            <input type="button" value="@Common.reslnkCheckAddress" id="btnPostCode" class="search_form_buttons btnFocus width_100" onclick="showPopupSamplePostCode('txtPostCode')" />

                            @if (@Model.IsCalledFromEdit == false)
                            {
                                <input type="hidden" style="display:none;" id="hdnIsEditFlag" value="false" />
                            }
                            else
                            {
                                <input type="hidden" style="display:none;" id="hdnIsEditFlag" value="true" />
                            }
                        </span>
                    </div>
                </li>

                <li>
                    <div class="search_cell">
                        <span class="search_cell_txt">@Common.reslblCounty</span>
                        <span class="search_cell_dot"></span>
                        <span class="search_cell_field select-style">
                            <input type="hidden" id="hdnCountyValue" value="@Model.CountyText" />
                            <select class="custom-select" id="ddlSampleCounty" tabindex="12" onchange="ResetErrorMessage();">
                                <option>@Common.resCountyDropdown</option>
                                @foreach (var item in Model.Items)
                                {
                                    <option value=@item.Value>@item.Text</option>
                                }
                            </select>
                        </span>
                    </div>
                    <div class="search_cell" style="display:none;">
                        <span class="search_cell_txt">@Common.reslblHouseNumber</span>
                        <span class="search_cell_dot"></span>
                        <span class="search_cell_field">
                            @Html.TextBoxFor(a => a.SampleHouseNumber, new { @id = "txtSampleHouseNumber", @class = "s_txtbox upper", @maxlength = "10" })
                        </span>
                    </div>
                </li>

                <li class="clear"></li>
            </ul>
        <span class="padding_left_10 padding_bot_10 disp_block fontsize_15px"><b>@Common.resSampleOrderText</b></span>
    </div>


    <div class="table_section_2 mCustomScrollbar">
        <table id="jqGetSampleOrder" class="analysis_information_table"></table>
        <div id="jqGetSampleOrderTablePager"></div>
    </div>

    <div class="table_section_btns">
        <div class="form_main_btns float_left padding_0 margin_left_8">
            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" id="btnSampleLetter">@Common.resbtnSampleLetter</a>
            <span class="italic color_black">@Common.resOptionalSampleLetter</span>
        </div>
        
        <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" onclick=" showPopupSampleProduct(this.id) " id="btnAddSampleOrderProdcuts">@Common.resBtnAddFromProduct</a>
        <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" onclick="removeFromSampleOrder(false,false);">@Common.resGrdRemove</a>&nbsp;&nbsp;
        <div id="communityMessage" style="display: none" class="field-validation-error"></div>
        <div id="MsgSelectProductsToRemoveSample" style="display: none" class="field-validation-error disp_block">@Common.resMessageSelectItemsToRemove</div>
    </div>

   
    <div class="padding_20 search_form_main_btns align_center community_ord_mgs5" id="divDataSavedSampleOrders" style="display:none">
    </div>


    <div class="j_lightbox_error" id="j_lightbox_error">
        <div class="j_lightbox_error_wrapper">
            <div class="pop_error">
                <div id="divErrorMessage" class="pop_error">
                </div>
                <br />
                <div class="j_lightbox_btns search_form_main_btns">
                    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                </div>
            </div>
        </div>
    </div>

    <div style="display: none">
        @Html.HiddenFor(a => a.Title, new { @id = "hdTitle" })
        <input type="hidden" id="hdnPostCodeSearchKey" value="@ConfigurationManager.AppSettings["PostCodeKey"]" />
        <input type="hidden" id="hdnPostCodeSearchUrl" value="@ConfigurationManager.AppSettings["PostCodeSearchUrl"]" />
        <input type="hidden" id="hdnPostCodeSearchRetrieve" value="@ConfigurationManager.AppSettings["PostCodeSearchRetrieve"]" />
        <input type="hidden" id="hdnPostCodeRequired" value="@Common.resPostCodeRequired" />
        <input type="hidden" id="hdnPostCodeInvalid" value="@Common.resPostCodeInvalid" />
        <input type="hidden" id="hdnPostCodeTitle" value="@Common.resPostCodeTitle" />
        <input type="hidden" id="hdnreserrormsgPostCode" value="@Common.resErrorMessagePostCode" />
        <input type="hidden" id="hdnreserrormsgFirstName" value="@Common.reserrormsgFirstName" />
        <input type="hidden" id="hdnreserrormsgLastName" value="@Common.reserrormsgLastName" />
        <input type="hidden" id="hdnreserrormsgCity" value="@Common.resErrorMessageCity" />
        <input type="hidden" id="hdnreserrormsgSampleCounty" value="@Common.resErrorMessageCounty" />
        <input type="hidden" id="hdnreserrormsgAddress1" value="@Common.resErrorAddress1" />
        <input type="hidden" id="hdnreserrormsgAddress2" value="@Common.resErrorAddress2" />
        <input type="hidden" id="hdnresddlSampleCountyDefaultValue" value="@Common.resCountyDropdown" />
        <input type="hidden" id="hdnPatientController" value="@Constants.PatientController" />
        <input type="hidden" id="hdnSampleProductDetails" value="@Constants.ActionSampleProductDetails" />

        <input type="hidden" id="hdnPatientName" value="@Session[Constants.SessionpatientDisplayName]" />
        <input type="hidden" id="hdnCustomerName" value="@Session[Constants.SessionCustomerName]" />
        <input type="hidden" id="hdnSAPCustomerNumber" value="@Session[Constants.SessionSAPCustomerNumber]" />
        <input type="hidden" id="hdnSAPPatientNumber" value="@Session[Constants.SessionSAPPatientNumber]" />
        <input type="hidden" id="hdnSampleOrderPage" value="@Common.resSampleOrder" />
        <input type="hidden" id="hdnSamplePatientId" value=@Session[Constants.SessionPatientId] />
        <input type="hidden" id="hdnSampleCustomerId" value=@Session[Constants.SessionCustomerId] />

        <input type="hidden" value="@Common.resErrorWordDoc" id="hdnErrorCreateSampleLetter" />
        <input type="hidden" value="@Common.resValidSampleProductListCount" id="hdnValidProductListCount" />
        <input type="hidden" value="@Common.resValidSampleLetterProductListCount" id="hdnValidSampleLetterProductListCount" />
    </div>
    <div id="divCannotIncreaseSampleQuantity" style="display:none;min-height: 19px;">@Common.resMaxQuantityError</div>
    <div id="divHelixIssue" style="display:none;min-height: 19px; font-size:14px;">@Common.resHelixIssue <a href="mailto:account.handler@sca.com" style="text-decoration:underline">account.handler@sca.com</a><br /><br />
        <div id="divHelixResponse" class="display_none">
            <span id="lblResponseCode" class="divHelixResponse"><strong>@Common.reslblHelixResponseCode</strong> <label id="lblResponseCodeValue"></label> </span>
            <span id="lblResponseMessage" class="divHelixResponse"><strong>@Common.reslblHelixMessage</strong> <label id="lblResponseMessageValue"></label></span>
        </div>
    </div>
    <div id="divOutputMessage" style="display:none;min-height: 19px;">
        <label id="lblOutputMessage"> @Common.resDivSampleOrderSaved <br /><br /></label>
    </div>
    <div id="divInvalidOutputMessage" style="display:none;min-height: 19px;">
        <label id="lblInvalidOutputMessage"> @Common.resHelixOrderNotPresent<br /><br /></label>
    </div>
    <div id="divValidOutputMessage" style="display:none;min-height: 19px;">
        <label id="lblValidOutputMessage"> @Common.resValidOutputMessage</label>
    </div>
    <div id="divNoItemsPresent" style="display:none;min-height: 19px;">
        <label id="lblNoItemsPresent"> @Common.resNoItemsPresent<br /><br /></label>
    </div>
    <div id="divErrorInvalidQuantity" style="display:none" class="validation_msg">
        <label id="lblInvalidQuantity">@Common.resInvalidQuantity</label>
    </div>

    @Scripts.Render("~/bundles/SampleOrder")
    </form>
</body>

</html>
<div id="divPostCodeSearchPopup" style="display: none">
    @{Html.RenderPartial("_CheckAddressPopup");}
</div>
<div id="divSampleProductList" style="display:none">
    @{Html.RenderPartial("_SampleProductManagementPopup");}
</div>
