﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;
@model SCA.Indigo.Web.UI.ViewModel.PatientViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Common.reslblTitle</title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
    <script type="text/javascript">

    $(document).ready(function () {        
        $("#PatientId").text(@Session[Constants.SessionPatientId]);        
        window.IsremovedVar = 1;
        HideApprovalDiv();

        var isFromAuthorisation = "@Convert.ToString(Session[Constants.SessionisRedirectFromAuthorisation])";
        var isFromOneOff = "@Convert.ToString(Session[Constants.SessionOrderSavedFromOneOff]).ToString().ToUpper()";
        var isFromOrderPage = "";

        $jqGrid.ajax({
            url: '/Patient/GetRedirectPage',
            async: false,
            cache: false,
            success: function (data) {
                isFromOrderPage = data;
                window.redirectPage = data;
            }
        });

        if (isFromAuthorisation == "1" || isFromOneOff == "TRUE" || isFromOrderPage == $jqGrid('#hdnOrderPage').val()) {
            var PatientId = $('#hdnPatientId').val();
            var CustomerId = $('#hdnCustomerId').val();
            var PatientName = $('#hdnPatientName').val();
            var CustomerName = $('#hdnCustomerName').val();

            window.patientId = PatientId;
            window.customerId = CustomerId;
            window.patientName = PatientName;
            window.customerName = CustomerName;

            $jqComm("ul.dock").addClass("free").animate({ left: "-1115px" }, 800);
            $jqComm("a.dock").css("display", "inline");
            $jqComm("a.undock").css("display", "none");

            $jqGrid('#btnEdit').removeClass("btn_disable");
            $jqGrid('#btnDownEdit').removeClass("btn_disable");


            $jqGrid.ajax({
                url: '@Url.Action("LoadPatientDetails", "Patient")',
                type: 'POST',
                cache: false,
                async: false,
                data: { patientId: PatientId, customerId: CustomerId, PatientName: PatientName, CustomerName: CustomerName },
                success: function (data) {

                    SetPatientDetails(data);

                    if ($jqGrid('#hdnOrderSavedFromOneOff').val() != "True" || isFromOrderPage == $jqGrid('#hdnOrderPage').val()) {
                        $jqGrid('.collapse').css('display', 'block');
                        $jqGrid('.heading-1 a').addClass('open');
                        DisablePatientInfoPage();
                        window.CustomerParamets = data.CustomerParameters;
                        //ReloadMedicalStaffGrid();
                        $jqGrid("#jqPatientPrescription").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        DisableEditButton();
                        EnablePatientInfoButtons();
                    }
                    if (isFromAuthorisation == 1) {
                        ShowApprovalDiv();
                        setTimeout(function () {
                            $jqGrid('#divNurseDetails').show();
                        }, 500);


                        $jqGrid.ajax({
                            url: '@Url.Action("LoadNurseDetails", "Patient")',
                            cache: false,
                            async: false,
                            data: { patientId: PatientId },
                            success: function (data) {
                                if (data != "" && data != undefined) {
                                    EnableNurseComments();
                                    $('#txtNurseName').val(data.Name);
                                    $('#txtNurseMobile').val(data.MobileNumber);
                                    $('#txtNurseEmail').val(data.Email);
                                    $('#txtNurseComments').val(data.Comments);
                                }
                            }
                        });


                    }
                    else {

                        DisablePatientInfoPage();
                        HideApprovalDiv();
                        HideNurseCommentsDiv();
                        EnableEditButton();
                        DisablePatientInfoPages();
                        DisablePrescriptionButtons();
                    }
                    // Set Form View Only for Removed carehome
                    //if (data.CareHomeStatus == $("#hdnCareHomeRemovedStatus").val()) {
                        //SetViewOnly("divPatientInfoDisplay");
                    //}
                }
            });
            ShowCustomerPatientName();

        }
    });


    function DisablePatientInfoPages() {
        setTimeout(function () {
            $jqGrid('.DisablePages').addClass('disable_div');
        }, 500);
    }

    function EnablePatientInfoPages() {
        $jqGrid('.DisablePages').removeClass("disable_div");
    }
 
</script>
    <script type="text/javascript">
        $jqComm(window).load(function (e) {
            $jqComm("#gview_jqPatientAnalysis .ui-jqgrid-bdiv").mCustomScrollbar("destroy");
            $jqComm("#gview_jqMedicalStaffAnalysis .ui-jqgrid-bdiv").mCustomScrollbar("destroy");
            $(".staff_select_mode.staff_select_mode_collapse.collapse").css('display', 'none');
            $(".analysis_information.analysis_information_collapse.collapse").css('display', 'none');
        });
    </script>
</head>
<body>
    <div id="hdn">
        <input type="hidden" id="hdnIsredirectFromApproval" value=@Session[Constants.SessionisRedirectFromAuthorisation] title=@Session[Constants.SessionisRedirectFromAuthorisation] />
        @if (Session[Constants.SessionisRedirectFromAuthorisation] != null || Session[Constants.SessionOrderSavedFromOneOff] != null || Session[Constants.SessionRedirectFrom] != null)
        {
            <input type="hidden" id="hdnPatientId" value="@Session[Constants.SessionPatientId]" />
            <input type="hidden" id="hdnCustomerId" value="@Session[Constants.SessionCustomerId]" />
            <input type="hidden" id="hdnPatientName" value="@Session[Constants.SessionPatientName]" />
            <input type="hidden" id="hdnCustomerName" value="@Session[Constants.SessionCustomerName]" />
        }
    </div>
    @if (Session[Constants.SessionDoNotShowForPatient] != null)
    {
        <input type="hidden" id="hdnSessionDoNotShow" value="@Session[Constants.SessionDoNotShowForPatient]" />
    }
    
    <div>
        @*@section DetailPage{}*@
        <form id="PatientDetails">
            <div class="search_form_main_btns search_form_main_btns_1" id="divPatientMenuDetails">
                <div class="cust_pat_details width_605px" style="display:none">
                    <label title="Customer ID Customer Name (SAP ID)" id="lblCustomerName">Customer ID/Aron Watson/SAP ID</label>
                    <br />
                    <label title="Patient ID/Name" id="lblPatientName">Patient ID/Name</label>
                </div>
                <input type="button" value="@Common.resbtnSave" class="search_form_buttons padding_left_right_15 ClassSavePatient" id="btnDetailSave" onclick="SavePatientDetails(this.id)">
                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 BtnEditEnable" id="btnDetailsEdit">@Common.reslnkEdit</a>
                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 BtnExitSearch" id="btnDetailsExit">@Common.resBtnGeneralUndo</a>
                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15" id="btnBackButton">@Common.resBack</a>
            </div>

            <div class="patientinfo_main">
                <span class="heading-1 patient-information-icon span_expnd"><i class="fa fa-file-text-o"></i> @Common.resPatientInformationTitle</span>
                <div id="DivPatientDetails" class="patient_information collapse">
                    @{Html.RenderPartial("_PatientInfo", Model.ViewModelPatientInfo);}
                </div>
                @{Html.RenderPartial("_PatientAnalysisMedicalStaff", Model.ViewModelPatientAnalysisMedicalStaff);}
                <span class="heading-1 prescription-information-icon span_expnd"><i class="fa fa-file-o"></i> @Common.resheadingPrescriptionInformation</span>
                <div class="prescription_nformation collapse">
                    <div class="prescription_dis_msg disable_msg">@Common.resMessageNoAccess</div>
                    @{Html.RenderPartial("_PatientPrescription", Model.ViewModelPatientPrescription);}
                </div>
                @if (Session[Constants.SessionisRedirectFromAuthorisation] != null || @Session[Constants.SessionisRedirectFromAuthorisation] != string.Empty)
                {
                    <div class="form_main_btns approver_section" id="divPrescriptionApprovalbtn">
                        <textarea class="note_textarea" placeholder="Add Note..." id="txtPrescriptionNote"></textarea><br /><br />
                        <input type="password" class="bg_eee Numeric NoCopyPaste" placeholder='@Common.resPlaceholderPIN' id="txtPIN">&nbsp;&nbsp;
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" id="btnApprove">@Common.resbtnApprove</a>&nbsp;&nbsp;
                        <div id="divApprovalDialog" style="display:none" class="success_msg"></div>
                    </div>
                }

                <input type="hidden" id="hdnActionNameApprovePrescription" value="@Constants.ActionApprovePrescription" />
                <input type="hidden" id="hdnAuthorizeControllername" value="@Constants.AuthorizeController" />
                <input type="hidden" id="hdnmsgWrongPIN" value="@Common.resWrongPIN" />
                <input type="hidden" id="hdnmsgEnterPIN" value="@Common.resEnterPIN" />
                <input type="hidden" id="hdnmsgPrescriptionNotApproved" value="@Common.resErrorMsgprescriptionNotApproved" />
                <input type="hidden" id="hdnmsgPrescriptionApproved" value="@Common.resProductsApproved" class="success_msg" />
                <input type="hidden" id="hdnActionNameGetPIN" value="@Constants.ActionValidateUserAuthorizationPin" />
                <input type="hidden" id="hdnEnterPINPlaceholder" value="@Common.resPlaceholderPIN" />
                <input type="hidden" id="hdnActionClearCache" value="@Constants.ActionClearPrescriptionApprovalCache" />
                <input type="hidden" id="hdnPatientController" value="@Constants.PatientController" />
                <input type="hidden" id="hdnCustomerNameSave" value="@Session[Constants.SessionCustomerName]" />
                <input type="hidden" id="hdnOrderSavedFromOneOff" value='@Session[Constants.SessionOrderSavedFromOneOff]' />
                <input type="hidden" id="hdnRedirectFrom" value='@Session[Constants.SessionRedirectFrom]' />
                <input type="hidden" id="hdnPatientInteractionPatientName" value="@Session[Constants.SessionPatientName]" />
                <input type="hidden" id="hdnPatientInteractionCustomerName" value="@Session[Constants.SessionCustomerName]" />
                <input type="hidden" id="hdnPatientInteractionSAPCustomerNumber" value="@Session[Constants.SessionSAPCustomerNumber]" />
                <input type="hidden" id="hdnPatientInteractionSAPPatientNumber" value="@Session[Constants.SessionSAPPatientNumber]" />
                <input type="hidden" id="hdnPatientInteractionPatientId" value=@Session[Constants.SessionPatientId] />
                <input type="hidden" id="hdnPatientInteractionCustomerId" value=@Session[Constants.SessionCustomerId] />
                <input type="hidden" id="hdnSessionIsCalledFromCareHome" value="@Model.SessionIsCalledFromCareHome" />
                <span id="prescriptionMessage" class="field-validation-error text_align_left width_100p"></span>
                <input type="hidden" id="hdnOrderPage" value="@Common.resPageNameOrder" />
                <input type="hidden" id="hdnisRedirectFromProductOrder" value=@Session[Constants.SessionIsRedirectFromProductOrder] />


                @*<div class="search_form_main_btns search_form_main_btns_1">
                        <input type="button" value="@Common.resbtnSave" class="search_form_buttons padding_left_right_15 ClassSavePatient" id="btnPatientDetailSave" onclick="SavePatientDetails()"> &nbsp;&nbsp;
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 BtnEditEnable" id="btnPatientDownEdit">@Common.reslnkEdit</a>&nbsp;&nbsp;
                        <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_15" id="btnPatientDetailsExit">@Common.reslnkCancel</a>
                    </div>*@
            </div> 
           
            <section class="scrollup"><a href="javascript:void(0);">@Common.reslnkPageUp</a></section>
        </form>
       
    </div>
    <input type="hidden" id="hdnAlertNotePage" value="Details" />
    <input type="hidden" id="hdnDetailsPage" value="Add Patient Details" />
    @Scripts.Render("~/bundles/PatientDetails")
    @*@Scripts.Render("~/bundles/Search")
    @Scripts.Render("~/bundles/PatientInfo")*@
    <script src="~/Scripts/js/validations/Order.js"></script>
    <input type="hidden" id="hdnViewPatientMenuText" value="@Constants.ViewEditPatientDetails" />
</body>
</html>
