﻿@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Web.UI.Helper;
@Scripts.Render("~/bundles/Prescription")
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resedential Activated Orders</title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="~/Scripts/js/validations/Common.js"></script>
</head>
<body>
    <form id="frm_Authorisation">
        <div>
            @*@section PrescriptionAuthPage{}*@
            <span class="page_heading">Prescription Authorisation</span>
            <!--table_section-->
            <div class="table_section mCustomScrollbar">

                <table id="jqPrescriptionAuthorization"></table>
                <div id="jqPrescriptionAuthorizationTablePager"></div>

            </div>
            <!--table_section-->

            <div class="form_main_btns" style="display:none">
                <input type="password" class="bg_eee" placeholder='@Common.resPlaceholderPIN' id="txtPIN">&nbsp;&nbsp;
                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" id="btnApprove">@Common.resbtnApprove</a>&nbsp;&nbsp;
                <a href="@Url.Action(Constants.ActionPrescription, Constants.AuthorizeController)" class="search_form_buttons padding_left_right_20" id="btnPreExit">@Common.reslnkCancel</a>
                <div id="prescriptionMessage" style="display: none" class="field-validation-error"></div>
                <div id="divApprovalDialog" style="display:none" class="success_msg">
                </div>
            </div>
            <input type="hidden" id="AuthController" value="@Constants.AuthorizeController" />
            <input type="hidden" id="ActionApprove" value="@Constants.ActionApprovePrescription" />
            <input type="hidden" id="ActionLoadPatientDetails" value="@Constants.ActionNameLoadPatientDetails">
            <input type="hidden" id="PatientController" value="@Constants.PatientController" />

            <script type="text/javascript">
                $jqGrid = jQuery.noConflict();
                $jqGrid(document).ready(function () {

                    $jqGrid('responseMessage').hide();
                    $jqGrid("#jqPrescriptionAuthorization").jqGrid({
                        url: "@Url.Action(Constants.ActionGetPrescription, Constants.AuthorizeController)",
                        datatype: "json",
                        mtype: "GET",
                        ignoreCase: true,
                        colNames: ['@Common.resGrdPatientIdfull', '@Common.resGrdPatientIdfull', '@Common.resGrdPatientNamefull', '@Common.resCarehomeGridAddressLine1', '@Common.resCarehomeGridAddressLine2', '@Common.resGrdLocality', '@Common.resGrdDOB', '@Common.resGrdStatus', '@Common.resGrdCustomerId', '@Common.resGrdCustomerName'],
                        colModel: [

                            { name: 'PatientId', index: 'PatientId', editable: false, width: '100', classes: 'align_right padding_right_10', sorttype: 'int', hidden: true },
                            { name: 'SAPPatientNumber', index: 'SAPPatientNumber', editable: false, width: '100', classes: 'align_right padding_right_10' },
                            { name: 'PatientName', index: 'PatientName', editable: false, width: '150', classes: 'align_left padding_left_10' },
                            { name: 'Address1', index: 'Address1', editable: false, classes: 'align_left padding_left_10', hidden: true },
                            { name: 'Address2', index: 'Address2', editable: false, classes: 'align_left padding_left_10', hidden: true },
                            { name: 'Locality', index: 'Locality', editable: false, classes: 'align_left padding_left_10' },
                            { name: 'DOB', index: 'DOB', editable: false, formatter: 'date', formatoptions: { srcformat: 'd/m/Y', newformat: 'd/m/Y' }, sorttype: 'date', classes: 'align_left padding_left_10' },
                            { name: 'Status', index: 'Status', editable: false, classes: 'align_left padding_left_10' },
                            { name: 'CustomerId', index: 'CustomerId', hidden: true },
                            { name: 'CustomerName', index: 'CustomerName', editable: false, classes: 'align_left padding_left_10' },

                        ],
                        height: '315',
                        width: 890,
                        toppager: false,
                        jsonReader: { repeatitems: false },
                        pager: $jqGrid("#jqPrescriptionAuthorizationTablePager"),
                        rowNum: 50,
                        rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
                        viewrecords: true,
                        autowidth: false,
                        sortname: "",
                        loadonce: true,
                        emptyrecords: '@Common.resGrdNoRecordsToView',
                        sortorder: "asc",

                        gridComplete: function () {
                            $jqGrid('#jqPrescriptionAuthorizationTablePager_left').hide();
                            var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                            if (rowcount == 0) {
                                $jqGrid('#jqPrescriptionAuthorizationTablePager_center').hide();

                            } else {
                                $jqGrid('#jqPrescriptionAuthorizationTablePager_center').show();
                            }
                            $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                                var val = $jqGrid(this).val().trim();
                                ValidationGridPageInput(e, val);

                            });
                            $jqGrid('#jqgh_jqPrescriptionAuthorization_Approve').removeClass('ui-jqgrid-sortable');
                            var RowCount = $jqGrid("#jqPrescriptionAuthorization").getGridParam("reccount");
                            if (parseInt(RowCount) <= 0) {
                                $jqGrid('#btnApprove').addClass("btn_disable");
                            }
                        },
                        onCellSelect: function (rowid, iCol) {
                        },
                        ondblClickRow: function (rowid) {
                            var rowData = $jqGrid(this).getRowData(rowid);
                            var patientId = rowData['PatientId'];
                            var customerId = rowData['CustomerId'];
                            var PatientName = rowData['PatientName'];
                            var CustomerName = rowData['CustomerName'];

                            $jqGrid.ajax({
                                url: '/Patient/Renderpatient',
                                type: 'POST',
                                async: false,
                                data: { PatientId: patientId, CustomerId: customerId, PatientName: PatientName, CustomerName: CustomerName, RedirectFrom: "Authorisation" },
                                cache: false,
                                success: function (Data) {
                                    window.location.href = "/Patient/PatientDetails";
                                }
                            });

                        },
                        loadComplete: function (data) {
                        },

                    }).navGrid("#jqPrescriptionAuthorization",
                        { search: false, refresh: false, add: false, edit: false, del: false },
                        {},
                        {},
                        {}
                    );

                    $jqGrid('#chkApprove').click(function (event) {
                        if ($jqGrid("#chkApprove").is(":checked")) {
                            $jqGrid(".chkApproveClass").prop("checked", true);
                        } else {
                            $jqGrid(".chkApproveClass").prop("checked", false);
                        }
                    });

                    function approvedRows(cellvalue, options, rowobject) {
                        return "<input type='checkbox' class='chkApproveClass' id=" + rowobject["IdxPrescriptionProductId"] + ">";
                    }

                    // Check for ViewOnly 
                    //linkId: - Menu Link Id, element: - Main Div of the Form
                    CommonScriptObj.DisableFormControls("frm_Authorisation");
                });


            </script>


</form>
    </body>
</html>
