/**
 * CSS File for ezMark jQuery Plugin
 *
 **/
.ez-hide { opacity: 0; filter:alpha(opacity=0); }
.ez-checkbox {
	background: transparent url('../../images/checkbox-red.png') 0 1px no-repeat;
	display:inline-block;
	width: 16px; background-position: 0px -3px;
}

.ez-radio {
	background: transparent url('../../images/radio-btn.png') 0 1px no-repeat;
	display:inline-block;
	width:15px; background-position: 0px -2px;
}

.ez-checked { background-position: 0 -22px; }
.ez-selected { background-position: 0 -22px; }

.ez-checkbox-green {
	background: transparent url('../../images/checkbox-green.png') 0 1px no-repeat;
	display:inline-block;
	*display: inline;
}
.ez-checked-green { background-position: 0 -18px; }
.ez-checkbox, .ez-radio { zoom: 1; *display:inline; _height:30px; }
