
a{font-size: 12px; text-decoration: none; color: #153a66;}
a:hover{color:#047d09;}

a[disabled="disabled"]{ pointer-events:none; color:#444;}
input[disabled="disabled"]{ pointer-events:none; color:#444 !important; background:#ccc !important;}
input[disabled="disabled"]::-ms-value{ pointer-events:none; color:#444 !important; background:#ccc !important;}
input[disabled="disabled"]::-ms-value{ pointer-events:none; color:#444 !important; background:#ccc !important;}

input[type="password"] { outline:none;}

input[type="password"], input[type="text"] {color:#999 !important;}

input[type="text"]:focus, input[type="password"]:focus {color:#222 !important;}

html{ width:100%; height:100%; min-height:100%;}

/*body{width:100%; height:100%; min-height:100%; font-size:14px; color:#555; background-color:#eff5ec; font-family:arial;}*/

body{width:100%; height:100%; min-height:100%; font-size:14px; color:#555; background-color:#ededed; font-family:arial;}
 
/*body{background-color: #c5e3af;background-image: url(../../images/background-start.jpg);}*/
.clear{ display:block; clear:both;}
ul{padding:0px;}
ul li{ list-style-type:none;}


h1{color: #153a66;font-size: 1.8em;}

#loader{position: absolute;
width: 100%;
height: 100%;
min-height: 100%;
background: rgba(255,255,255,1);
top: 115px;
text-align: center;
z-index: 1000;
padding-top: 150px;}

#loader img{/*position:fixed;*/ top:56%;}

#data_loader{position: absolute;
width: 100%;
height: 100%;
min-height: 100%;
background: rgba(255,255,255,0.8);
top: 115px;
text-align: center;
z-index: 1000;
padding-top: 150px; display:none;}


#data_loader img{/*position:fixed;*/ top:56%;}

#main{width:100%; height:auto; margin:0 auto; position:relative;}
header{ width:100%; height:110px; margin:0 auto; position: relative; padding-top: 1px;
border-bottom:4px solid #005596;
background-color:#009fdf;
position:fixed;
z-index:1000;
transition:height 0.5s;
}


.docking_button {width:40px; height:160px; margin-top: 5px;}
/*.docking_button.active {background:url(../../images/search_big_btn5_active.png) no-repeat;}*/

.docking_button a{width:25px; height: 136px; max-width:25px; background-color:#005596; display: block; overflow:hidden; padding:12px 7px; text-align: center; color: #fff; font-size: 16px; line-height: 22px; border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; word-break: break-all; letter-spacing:5px; text-transform:uppercase; transition:all 0.3s;}

.docking_button a:hover, .docking_button a.active{background-color:#009fdf; transition:all 0.3s;}
 
#header_inner{width:960px; height:111px; margin:0 auto; position:relative; transition:height 0.5s;}

.sca-logo{ width:17%; height:auto; max-width:250px; padding-left:0px; padding-top:20px; transition:width 0.5s, padding 0.5s;}
.sca-logo img{width:100%; height:auto;}

#container{width:960px; height:auto; margin:0 auto; background:#fff; padding-top:115px;}

.login_section{ width:650px; height:auto; min-height:300px; margin:0 auto; margin-top:70px; padding:10px; background-color:#fff; background-repeat:no-repeat; background-position: 14px -3px; position:relative;
border-radius:3px;
box-shadow: 0px 0px 0px #888;
behavior: url(../../Scripts/pie/PIE.htc);
border: 1px solid #ddd;
}
/*
.login_section{ width:650px; height:auto; min-height:300px; margin:0 auto; margin-top:70px; padding:10px; background-color:#fff; position:relative;
border-radius:3px;
box-shadow: 0px 0px 0px #888;
behavior: url(../../Scripts/pie/PIE.htc);
border: 1px solid #ddd;
background-image: url(http://www.noormedical.com/files/credentialing.jpg); background-size:cover;
}
*/
.forgot_p_section{width:90%; height:auto; min-height:300px; margin:0 auto; margin-top:70px; padding:10px; background-color:#fff; background-image:url(../../images/login-bg.png); background-repeat:no-repeat; background-position: 14px -3px; position:relative;
border-radius:10px; box-shadow: 2px 2px 10px #888; behavior: url(../../Scripts/pie/PIE.htc);}

.top-band-aid{position:absolute; top:-70px; left:-80px;}
.bottom-band-aid{position:absolute; bottom:-60px; right:-80px;}

.login-welcome{font-size:25px; color: #153a66; padding-bottom: 10px;}

.login-form{position: relative; width: 45%; float: right; margin-top: 50px;}
.forgotpass-form{width:auto; font-size:14px; color:red;}
.changepass_msg{font-size:13px; padding-bottom:10px; color:#153a66;}
.changepass-form{ position: relative; width: 46%; float: right; margin-top: 45px;}
.change_pass_cell input[type="text"], .change_pass_cell input[type="password"]{padding: 2px 5px 2px 5px !important;}

.login-cell{ margin-bottom:5px;height: auto;min-height:40px;}
.login-cell input[type="text"]{border:1px solid #ccc; padding:2px 5px 2px 40px; font-size: 12px; width:83%; height: 28px; 
border-radius:5px; box-shadow:0px 0px 0px #555; transition:box-shadow 0.5s;}
.login-cell input[type="text"]:focus, .login-cell input[type="password"]:focus{box-shadow:none; border: 1px solid #0fc7ff;}

.login-cell input[type="password"]{border:1px solid #ccc; padding:2px 5px 2px 40px; font-size: 12px; width:83%; height: 28px; 
border-radius:5px; box-shadow:0px 0px 0px #555; transition:box-shadow 0.5s; background: #ededed;
border-radius: 3px;}
.login-cell input[type="password"]:focus{box-shadow:none;}


.login-cell input[type="submit"]{width:90%; text-align: center; background:#009fdf; border:0px; padding:10px; color:#fff; font-family: Arial; font-size:14px; border-radius:3px; transition:background 0.5s; text-transform:uppercase;}
.login-cell input[type="submit"]:hover{ background:#0fc7ff; transition:background 0.5s;}
    .login-cell input[type="submit"]:focus{ outline:none;}

.login-link{width: 89%; font-size: 14px;color: #153a66; text-align: right;}
.login-link a{font-size: 12px; text-decoration: none; color: #153a66;}
.login-link a:hover{color:#047d09; text-decoration:underline;}

.login-user-icon {display:inline-block; background:#009fdf; height:20px; width:25px; padding:9px 7px 5px; margin-right:-35px; text-align: center; position:relative; border-top-left-radius: 3px;
border-bottom-left-radius: 3px; float: left; transition:background 0.5s;}

.login-pass-icon {display:inline-block; background:#009fdf; height:20px; width:25px; padding:9px 7px 5px; margin-right:-35px; text-align: center; position:relative; border-top-left-radius: 3px;
border-bottom-left-radius: 3px; float: left;  transition:background 0.5s;}

.login-user-icon .fa, .login-pass-icon .fa {color:#fff; font-size: 15px;}

.login-input-span{display:inline-block; width:87%; float: left;}

.scrollup{display:none; position:fixed; right:40px; width:40px; height:45px; bottom:70px;}
.scrollup a{display:block; width:40px; height:45px; background:url(../../Images/scrolltop.png) no-repeat; text-indent:4000px; border-radius:5px; opacity:0.5; transition:opacity 0.5s;}
.scrollup a:hover{opacity:1; transition:opacity 0.5s;}

/* Inner Pages*/
.clear{clear:both;}
#wrapper{ width:100%; height:auto; margin: 0 auto;}

#inner-page{width:auto; height:auto; min-height:380px; padding:20px; box-shadow:0px 2px 2px #888; position:relative;}
#inner-page:after{display:block; clear:both; float:none; content:"";}

.header-right{position:absolute; top:10px; right:13px; font-size: 12px; text-decoration: none; color:#fff; transition:right 0.5s;}
.header-right a{color:#fff;}
footer{width:68%; margin:0 auto; margin-top:30px; margin-bottom:30px; text-align:right; font-size:11px; color:#153a66;}
footer a{ font-size:11px;}
footer img{margin-bottom:-14px; padding-left:15px; width:95px;}

nav{width:auto; height:41px; margin:0 auto; position:absolute; right:0px; bottom:5px; transition:right 0.5s;}
/*
nav ul{ padding-left:15px;}
nav ul li{ display:block; float:left; margin-left:3px; margin-right:3px;}
nav ul li a{ display:block; background: #fff; padding: 10px 16px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
box-shadow: 1px 1px 6px #888;
transition:background 0.5s;
}

nav ul li a:hover{ background:#047d09; color:#fff; transition:background 0.5s;}
nav ul li a.menuactive{ background:#047d09; color:#fff; transition:background 0.5s;}
*/

.home-left{width:48%; height:auto; float:left;}
.home-right{width:48%; height:auto; float:right;}

/*New Home page CSS start Created by sandesh*/
.home-left-new{width:100%; height:175px; float:left;}
.welcome-font-1-new{color:#31a836; font-size:16px; line-height:20px;}
.welcome-font-2-new{color:#333333; font-size:16px; line-height:16px; padding-bottom:20px; display:block;}
.welcome-font-2-new a{font-size: 16px; text-decoration: none; color: #153a66; text-decoration:underline;}
.welcome-font-2-new a:hover{color:#047d09;  text-decoration:underline;}

/*New Home page CSS end*/


.header-right a{display:inline-block;}
.pass-change-icon{ width:auto; height:19px; margin-bottom:-10px; padding-left:25px; padding-top:7px; background:url(../../Images/change_pass_icon.png) no-repeat; background-position:0px 0px; transition:background 0.3s; background-size: 21px;}
.pass-change-icon:hover{background-position:0px -26px; transition:background 0.3s; color:rgba(255,255,255,0.4);}

.edit-profile-icon{ width:auto; height:19px; margin-bottom:-10px; padding-left:25px; padding-top:7px; background:url(../../Images/logoff-icon.png) no-repeat; background-position:0px 0px; transition:background 0.3s; background-size: 21px;}
.edit-profile-icon:hover{background-position:0px -26px; transition:background 0.3s; color:rgba(255,255,255,0.4); }

.notification-icon{ width:auto; height:20px; margin-top:1px; position:relative;
 /*background:url(../../Images/notification-icon.png) no-repeat;*/
 font-size:21px; margin-right:16px; background-position:0px 0px; transition:background 0.3s; background-size: 21px;}

#notification_body{
 height:auto; max-height:261px; display:block !important;
 overflow:hidden;
transition:all 0.3s;
}

.notify_cell{height:41px;}

#notify_arrow_up{width:100%; height:20px; color: #444; font-size: 20px; text-align: center; cursor:pointer; display:none; margin-top: -15px;}
#notify_arrow_down{width:100%; height:20px; color: #444; font-size: 20px; text-align: center; cursor:pointer;  margin-bottom: -15px;}
#notify_arrow_down::selection, #notify_arrow_up::selection{background:transparent;}

 .cust_patient_name br{clear:both;}
 .cust_patient_name > span{width:100%; clear:both;}
 .cust_patient_name > span > strong{  display:block; float:left; width:auto; padding-right:10px; margin-top:5px;}
 .cust_patient_name > span > span{float:left; width:74%; padding:6px 0 0;}
 .notification-icon{
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
 }

.notification-icon:hover{background-position:0px -26px; transition:background 0.3s; color:rgba(255,255,255,0.4);}
.notification-icon span{  background-color: #EB0D0D; color:#fff;
  display: block;
  height: 14px;
  position: absolute;
  min-width: 9px;
  top: 1px;
  left: 12px;
  border-radius: 2px;
  padding: 0.5px 2px;
  font-size: 12px;
  text-align: center;}


#inner_notification::after {
  content: '';
  border:15px solid transparent;
  width:0;
  height:0;
  border-bottom-color: #ffffff;
  position:absolute;
   top: -30px; right:12px;
}

#inner_notification .notify_cell > a > span:first-child{display: block; width: 10%; height:auto; font-size:30px; background-color:#666; color:#fff !important; padding:3px 8px 4px 7px; float:left;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
   transition:all 0.5s;
}

#inner_notification .notify_cell:hover > a > span:first-child{background-color:#fff; color:#000 !important; transition:all 0.5s;}

#inner_notification .notify_cell > a > span:last-child{display: block; width:77%; height:18px; padding:12px 10px; font-size:13px; float:right;}
#inner_notification .notify_cell > a:after{display:block; float:none; clear:both; content:'';}


#notification{position:relative;   height:26px;}
#inner_notification{padding:15px 0px; background-color:rgb(255, 255, 255); position:absolute; left:-280px; z-index:1001; top:45px; box-shadow:1px 2px 5px #000;}
#inner_notification .notify_cell{padding:5px;  width:300px; background-color:#E7E8ED; min-height:35px; color:#000; border-top: 1px solid #ddd;  transition:all 0.5s;}
#inner_notification .notify_cell:hover{  background-color:#5A5858;  transition:all 0.5s;}

#inner_notification .notify_cell:last-child{border-bottom: 1px solid #ddd;}

#inner_notification .notify_cell a{display:block; width:100%; min-height:35px; color:#000;}
#inner_notification .notify_cell:hover a{color:#fff;}


.header-right a img{ width:30px;}
.my_ac_link{display:inline-block; padding:6px 38px 5px 10px; background:#efeeee url(../../Images/icon-sheet.png) no-repeat; background-position: 83px -470px; border-radius:3px; color:#444 !important; transition:background 0.5s;}

.header-right:hover .my_ac_link{background:#ccc url(../../Images/icon-sheet.png) no-repeat; background-position: 83px -470px; transition:background 0.5s;}

.my_account_ul{background:#ccc; padding:10px; z-index:10000; position:absolute; right:0px; top:24px; width:140px; float:right; margin:0; border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.my_account_ul li{background:#ccc; padding:10px;}
.my_account_ul li:hover{background:#efeeee; padding:10px;}

.welcome-img{width:100%;}

/*.heading-1 a{ width:770px; margin:0 auto; padding:10px 15px; display:block; color:#153a66; font-size:18px; font-weight:bold; background:#e1e1e1 url(../../Images/expand-icon.png) no-repeat; background-position:760px 13px; border-bottom:1px solid #ccc;}
.heading-1 a.open{background-position:760px -20px;}*/

p.switch{width:800px; margin:0 auto; padding:10px; text-align:right; display:none;}

.welcome-font-1{color:#31a836; font-size:16px; line-height:20px;}
.welcome-font-2{color:#888; font-size:13px; line-height:16px;}



/*--------------------Search Pannel----------------------------*/

/* dock */
		#search_pannel{position:fixed; top:116px; height:auto; z-index:101; left:0px; transition:top 0.5s;}
		.dock_img{height: 19px; margin-top: -1px; padding-right: 5px;}
        #dock{margin:0px; padding:0px; list-style:none; height:100%; z-index:100;}
        #dock > li{width:40px; height:200px; margin:0 0 1px 0; background-repeat:no-repeat; background-position:left 24px; cursor:pointer;}
        
        /*#dock #links {background-image:url(../../Images/search_big_btn4.png);}*/
        
        /*#dock > li:hover {background-position:-40px 0px;}*/
        
        /* panels */
        #dock ul li {padding:5px; border: solid 1px #F1F1F1; cursor:default;}
        #dock ul li.header{background:#009fdf; border: solid 1px #F1F1F1; cursor:default; color:#fff; text-transform:uppercase; height:17px;}
      
        /*#dock > li:hover ul {display:block;}*/
        #dock > li ul {position:absolute; top:0px; left:-180px;  z-index:-1; padding-left:30px; width:1170px; height:auto !important;
                       background-color:#fff; border:solid 1px #969696; padding:0px; margin:0px; list-style:none;}
        #dock > li ul.docked { display:block;z-index:-2; height: 550px !important;}
        
        .dock,.undock{float:right;}
        .undock {display:none;}
        #content {margin: 10px 0 0 60px;}

        

		.search_pannel_main{ width:auto; height:auto; padding:10px 10px;}
		.search_pannel_options{padding:10px 5px;}
		
		.search_pannel_ordertxtbox{display:inline-block; padding-bottom:15px; float:left; margin:0px 5px;}
		.search_pannel_ordertxtbox input[type="text"]{width:181px; height:20px; background:#eee; box-shadow:0px 0px 0px #555;}
		.search_pannel_selectbox{ display:inline-block; padding-bottom:15px; float:left; margin:0px 5px;}
		.search_pannel_selectbox select{font-size:12px; padding: 3px;}
		.search_pannel_searchbox{ width:auto; height:45px;}
		.search_pannel_searchtxtbox{ display:block; height:30px; float:left;}
		.search_pannel_searchtxtbox input[type="text"]{width:303px; padding:4px 60px 4px 5px; background:#eee; box-shadow:0px 0px 0px #555;}
		.search_pannel_searchbtn{display:block; height:30px;float:left; margin-left: -51px; margin-right: 2px;}
		.search_pannel_searchbtn input[type="button"]{ width:54px; height:30px; background:url(../../Images/search_icon.png) no-repeat; border:0px;}

        .search_pannel_ordertxtbox ::-webkit-input-placeholder{color:#666;}
        .search_pannel_ordertxtbox :-moz-placeholder { color:#666;}
        .search_pannel_ordertxtbox ::-moz-placeholder {color:#666;}
        .search_pannel_ordertxtbox :-ms-input-placeholder {color:#666;}

        .search_pannel_searchtxtbox ::-webkit-input-placeholder{color:#666;}
        .search_pannel_searchtxtbox :-moz-placeholder { color:#666;}
        .search_pannel_searchtxtbox ::-moz-placeholder {color:#666;}
        .search_pannel_searchtxtbox :-ms-input-placeholder {color:#666;}
		
		.search_pannel_searchbtn a{ width:54px; height:30px; background:url(../../Images/search_icon.png) no-repeat; border:0px; display:block;}
		
		.search_pannel_results{ width:auto; height:330px; padding-left: 5px;}
		.search_pannel_result_table{width:auto; border:0px solid #4A4A4A; background: #ccc;}
		.search_pannel_result_table tr th{ width:auto; padding:8px; font-size:14px; background:#0b80ab; color:#fff; border: 1px solid #fff; text-transform: capitalize;}
		.search_pannel_result_table tr td{ width:auto; padding:6px; font-size:12px; color:#222; border: 1px solid #fff; text-transform: capitalize;}
		
		.search_pannel_result_table tr:hover{background:#efefef;  transition:background 0.5s;}
		
/*--------------------End Search Pannel----------------------------*/
#divPatientInfoDisplay { padding-bottom: 20px;}
.patient_information{ background:#f1f1f1; width:98%; height:auto; margin:0 auto; padding:0px; margin-bottom:5px; position: relative; border: 1px solid #E5E5E5;
border-top: 0px;padding-top:0px;  padding-bottom:0px; }
.patient_information ul{width: 84%; margin: 0 auto; min-width: 772px;}
.patient_information ul li{display:block; clear:both;}


input[type="text"]{border:1px solid #ccc; padding: 3px 5px; font-size: 12px; width: 210px; height:20px; 
border-radius:4px; box-shadow:0px 0px 0px #555; transition:box-shadow 0.5s; background:#fff;}
input[type="text"]:focus{border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
input[type="text"]:hover{border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}

input[type="password"]{border:1px solid #ccc; padding: 3px 5px; font-size: 12px; width: 210px; height: 23px; 
border-radius:5px; box-shadow:0px 0px 0px #555; transition:box-shadow 0.5s; background:#fff;}
input[type="password"]:focus{box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
input[type="password"]:hover{box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}



.search_cell{float:left; padding: 10px; color:#444; margin:5px;}
.search_cell .search_cell_txt{display:inline-block; float:left; font-size:12px; padding-top:2px; width:120px; text-align: left; font-weight:bold;}
.search_cell .search_cell_field{ display:inline-block; float:left; height:20px; margin-top:-5px;}
.search_cell .search_cell_dot{display:inline-block; float:left; padding-right:5px; padding-left:5px; font-weight:bold;}
.search_cell .search_cell_field .label{background:#ddd; padding:5px 5px; border-radius:4px; box-shadow:0px 0px 0px #555; display:block; min-width:210px; min-height:16px; text-align:left; border: 1px solid #ccc;}

input[type="button"].search_form_buttons{width:auto; height:26px; border:1px solid #bbb; color:#444; font-size:12px; background:#eaeaea; border-radius:3px; padding:0px 7px; transition: background 0.5s;}

a.search_form_buttons{width:auto; height:26px; border:1px solid #bbb; color:#444; font-size:12px; 
background:#eaeaea; border-radius:3px; transition: background 0.5s; display: inline-block;
height:15px; padding:5px 6px;}
.search_form_buttons:hover{background:#239fdb; color:#fff; transition: background 0.5s; cursor:pointer;}
input[type="button"].search_form_buttons:hover{background:#239fdb; color:#fff; transition: background 0.5s;}

.inline_block{display: inline-block;}
.clear_search {
    width: 95px;
    height: 16px;
    border: 1px solid #239fdb;
    color: #fff;
    font-size: 12px;
    background:#005596;
    border-radius: 4px;
    padding:6px 10px;
    transition: background 0.5s;
    display: block;
}

.clear_search:hover{ color:#fff; background: #239fdb;}

.inline_block i{ font-size:16px; padding-right: 3px;}

.search_datepicker{
width: 180px;
height: 21px;
border: 1px solid #ccc;
padding: 2px 5px; padding-right: 33px;
font-size: 12px;
border-radius: 5px;
box-shadow: 2px 2px 5px #555;
transition: box-shadow 0.5s;
background: #fff;
}

.datepicker_img{margin-left:-33px; margin-bottom:-11px; cursor:pointer;}

.search_datepicker .k-picker{width:190px;}
.search_datepicker .k-picker-wrap{height:25px;}
.search_datepicker .k-select{height:22px;}
.search_datepicker .k-i-calendar{margin-top:-6px;}

.search_table_dp{box-shadow:none !important; width:120px; !important; height:20px !important; margin-top:-5px;}
.search_table_dp .k-picker{width:90px;}
.search_table_dp .k-picker-wrap{height:24px;}
.search_table_dp .k-select{height:23px;}
.search_table_dp .k-i-calendar{margin-top:-6px;}

.s_txtbox{
    width:211px !important; 
    height:20px !important; 
    /*box-shadow:0px 0px 5px #ddd !important;*/

}

/*.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {background: #009fdf; color: #fff; border: 1px solid #005596;}*/ 




/*SELECT STYLE*/ 
 .select-wrapper{
		float: left;
		display: inline-block;
		border: 1px solid #d8d8d8;            
		background: url("../../Images/dropdown-sprite-2.png") no-repeat right -1px transparent;
		cursor: pointer;
	}
	.select-wrapper, .select-wrapper .custom-select-2{
		width: 100%;
		height: 25px;
		line-height:25px;
		font-size:13px;
		background-color:#eee;
	}

	.search_pannel_selectbox .select-wrapper, .search_pannel_selectbox .select-wrapper .custom-select-2{width:235px; border-radius: 4px;}
	
	.select-wrapper:hover{
		background: url("../../Images/dropdown-sprite.png") no-repeat right -27px transparent;
		border-color: #239fdb;
		background-color:#eee;
	}
	.select-wrapper .holder{
		display: block;
		margin: 0 35px 0 5px;
		white-space: nowrap;            
		overflow: hidden;
		cursor: pointer;
		position: relative;
		z-index:1;
	}
	.select-wrapper .custom-select-2{
		margin: 0;
		position: absolute;
		z-index: 2;            
		cursor: pointer;
		outline: none;
		opacity: 0;
		_noFocusLine: expression(this.hideFocus=true); 
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-khtml-opacity: 0;
		-moz-opacity: 0;
	}

  .select-style {
    border: 1px solid #ccc;
    width: 220px; height: 26px !important;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url(../../Images/dropdown-sprite.png) no-repeat 90% 50%;
	background-position: 190px 0px;
}

.select-style:focus{background-position: 190px -26px; border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
.select-style:hover{background-position: 190px -26px; border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
.select-style .custom-select {
    padding:6px 2px;
    width: 247px;
    font-size: 12px;
	border: none;
    box-shadow: none;
    background:transparent;
    background-image: none;
    -webkit-appearance: none;
	-moz-appearance: none;
}

.select-style .custom-select:focus {
    outline: none;
}

           /* select-style_big*/

.width_605px{width:600px !important;}
  .select-style_big {
    border: 1px solid #ccc;
    width: 595px; height: 26px !important;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url(../../Images/dropdown-sprite.png) no-repeat 90% 50%;
	background-position: 728px 0px;
}


.select-style_big:focus{background-position: 728px -26px; border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
.select-style_big:hover{background-position: 728px -26px; border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
.select-style_big .custom-select {
    padding:6px 2px;
    width: 780px;
    font-size: 12px;
	border: none;
    box-shadow: none;
    background:transparent;
    background-image: none;
    -webkit-appearance: none;
	-moz-appearance: none;
}

.select-style_big .custom-select:focus {
    outline: none;
}

 /*END SELECT STYLE*/ 
  
.width_147{width:147px !important;}
.width_107{width:107px !important;}
.width_2350{width:2350px !important;}
.width_610{width:610px !important;}
.width_787{width:787px !important;}
.width_871{width: 871px !important;}


.padding_left_right_15{padding:9px 15px !important;}
.padding_left_right_20{padding:7px 25px !important;}
.height_30{height:30px !important;}

.width_30pc{width:30% !important;}
.width_70pc{width:70% !important;}
.small_btn{padding: 5px 15px !important;}


.analysis_information{ background:#f1f1f1; width:94%; height:auto; margin:0 auto; padding:20px 2%; margin-bottom:30px; position:relative; border: 1px solid #E5E5E5;
border-top: 0px;}
.analysis_information_table{width:100%; border:0px solid #4A4A4A; background: #ccc;}
.analysis_information_table tr th{ width:auto; padding:8px; font-size:14px; background:#0b80ab; color:#fff; border: 1px solid #fff; text-transform: capitalize;}
		.analysis_information_table tr td{ width:auto; padding:7px 25px; font-size:12px; color:#222; border: 1px solid #fff; text-transform: capitalize; text-align:left;}
		
.analysis_information_table tr:hover{background:#efefef; transition:background 0.5s;}

.analysis_information_addinfo{width:100%; text-align:right; padding-top:10px;}

.staff_select_mode{background:#f1f1f1; width:94%; height:auto; margin:0 auto; padding:20px 2%; margin-bottom:30px; position:relative; border:1px solid #E5E5E5;
border-top:0px;}

.prescription_nformation{background:#f1f1f1; width:94%; height:auto; margin:0 auto; padding:20px 2%; margin-bottom:30px; position:relative; border: 1px solid #E5E5E5;
border-top: 0px;  transition:width 0.8s ease, left 0.8s ease;}

/*.prescription_nformation:hover{width:120%; height:auto; margin:0 auto; padding:20px 2%; transition:width 0.8s ease, left 0.8s ease; margin-top: -5px; left: -120px; box-shadow: 3px 3px 7px #888;}*/

.prescription_nformation_table{width:100%; height:300px; margin: 0 auto; overflow-x:auto; }
.medicalAnalysis_nformation_table{width: 95%; height:147px; margin: 0 auto; max-width: 720px;}


.search_form_main_btns{padding:20px 60px;}
/*.search_form_main_btns_1{padding:10px 0px 20px; text-align:right; width:98%; margin:0 auto;}*/

.search_form_main_btns_1 {
padding: 10px 0px 15px;
text-align: right;
width: 903px;
margin: 0 auto;
position: fixed;
z-index: 100;
background: #fff;
margin-top: -10px;
margin-left: 8px;
transition: margin 0.2s;
}

.search_form_main_btns input[type="button"]{ background:#005596; color:#fff; text-transform:uppercase;
font-weight: normal; padding: 5px 40px; transition:background 0.5s, box-shadow 0.3s;  border:0px; min-height: 32px;}

.search_form_main_btns a{ background:#005596; color:#fff; text-transform:uppercase;
font-weight: normal; padding: 5px 40px; transition:background 0.5s, box-shadow 0.3s; border:0px;}

.search_form_main_btns input[type="button"]:hover{ background:#009fdf; transition:background 0.5s, box-shadow 0.3s;}

.search_form_main_btns a:hover{background:#009fdf; transition: background 0.3s, box-shadow 0.3s;}

.float_left_150{width:150px; float:left; margin-top:15px; font-size:13px;}


/*Grid Design*/

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr{background:#009fdf;}
.ui-jqgrid .ui-jqgrid-htable th>div{width:auto; padding:8px; font-size:12px; background:#009fdf; color:#fff; text-transform:capitalize; word-wrap: break-word;}
.ui-widget-content{background:#e4e4e4;}
.ui-dialog.ui-widget-content{background:#fff;}
.ui-jqgrid tr.ui-row-ltr td{text-align:center; word-wrap: break-word; padding-top:2px; padding-bottom:2px;}
.ui-jqgrid .ui-jqgrid-titlebar{display:none;}

/*End Grid Design*/

.margin_top50{margin-top:50px !important;}
.boxshadow_non{ box-shadow: none !important;}

.field-validation-error{font-size:12px; color:red; padding-top:5px; display:table;}
.outer-error{margin-top:-17px; padding-bottom:10px;padding-top:8px;}

.input-validation-error {border:1px solid #DCA !important; background:#fffAF0 !important; transition:border 0.5s, background 0.5s !important; }

/*j_lightbox*/
.j_lightbox{ position:fixed; width:100%; height:100%; top:0px; left:0px; background:url(../../Images/black_tran.png) repeat;;z-index: 1000000; display:none;}
.j_lightbox .j_lightbox_wrapper{ width: 60%;min-height: 400px; background-color:#fff; border:12px solid #0b80ab; position:absolute; left:20%; top:20%;}
.j_lightbox .j_lightbox_wrapper .j_lightbox_close{width:35px; height:36px;position: absolute; top:0px; right:0px;  background: url("../../Scripts/thickbox/close.png") no-repeat;cursor: pointer;}
/*End j_lightbox*/

/*j_lightbox_error*/
.j_lightbox_error{ position:fixed; width:100%; height:100%; top:0px; left:0px; background:url(../../Images/black_tran.png) repeat;;z-index: 1000000; display:none;}
.j_lightbox_error .j_lightbox_error_wrapper{ width:30%;min-height: 100px; background-color:#fff; border:12px solid #0b80ab; position:absolute; left: 35%; top:20%;}
.j_lightbox_error .j_lightbox_error_wrapper .j_lightbox_error_close{width:35px; height:36px;position: absolute; top:0px; right:0px;  background: url("../../Scripts/thickbox/close.png") no-repeat;cursor: pointer;}
/*End j_lightbox_error*/

/*.pop_error{ padding:10px;}
.pop_error_ul {list-style-type:disc; padding-left:30px; padding-left:0px;}
.pop_error_ul li{list-style-type:none; padding-bottom:5px; color:red; padding-left:0px !important; display:list-item !important; text-align: center; margin-bottom: 3px; text-transform: capitalize;
}*/

/*.pop_error{ padding:10px;}
.pop_error_ul {list-style-type:disc; padding-left:30px;}
.pop_error_ul li{list-style-type:disc; padding-bottom:5px; color:red; padding-left:0px !important; display:list-item !important;}*/

.pop_error{ padding:10px;}
.pop_error_ul {list-style-type:disc; padding-left:15px;  margin: 1em 0 0;}
.pop_error_ul li{padding-bottom:5px; color:red; padding-left:0px !important; display:list-item !important;}


.ui-dialog.ui-resizable {min-width:760px; background: #fff; border: 3px solid #005596; position:fixed !important; z-index: 102 !important; top: 130px !important;}

/*.heading-1 a{ width:770px; margin:0 auto; padding:10px 15px; display:block; color:#153a66; font-size:18px; font-weight:bold; background:#e1e1e1 url(../../Images/expand-icon.png) no-repeat; background-position:760px 13px; border-bottom:1px solid #ccc;}
.heading-1 a.open{background-position:760px -20px;}*/


.collapse{margin-top: -5px;}
.heading-1{display:block; width:98%; margin:0 auto; border:1px solid #E5E5E5; background-color:#eee; transition:background 1s, color 1s; margin-bottom: 5px;}

.heading-1 a{width:auto; margin:0 auto; padding:10px 15px; display:block; color:#444; font-size:15px; background:none; background-position:725px 13px;
margin-left: 10px; transition:background 1s, color 1s;}
.heading-1 a:focus{outline:0;}
.heading-1:hover{background-color:#009fdf; transition:background 1s, color 1s;}

.heading-1:hover a{background:none; background-position:725px 13px; color:#fff; transition:background 1s, color 1s;}
.heading-1 a.open{background-position:725px -20px;}
.heading-1 .fa, .heading-01 .fa{ padding-right:3px; font-size:16px;}

.heading-001{display:block; width:98%; margin:0 auto; border:1px solid #E5E5E5; background-color:#eee; transition:background 1s, color 1s; margin-bottom: 5px;}

.heading-001 a{width:auto; margin:0 auto; padding:10px 15px; display:block; color:#444; font-size:15px; background:none; background-position:725px 13px;
margin-left: 10px; transition:background 1s, color 1s;}
.heading-001 a:focus{outline:0;}
.heading-001:hover{background-color:#009fdf; transition:background 1s, color 1s;}

.heading-001:hover a{background:none; background-position:725px 13px; color:#fff; transition:background 1s, color 1s;}
.heading-001 a.open{background-position:725px -20px;}
.heading-001 .fa, .heading-01 .fa{ padding-right:3px; font-size:16px;}


.heading-01{display:block; width:98%; margin:0 auto; border-bottom:1px solid #ccc; background-color:#e1e1e1; transition:background 1s, color 1s; margin-bottom: 5px;}
.heading-01 a{width:100%; margin:0 auto; padding:10px 15px; display:block; color:#444; font-size:15px; background:none; background-position:725px 13px;
margin-left: 10px; transition:background 1s, color 1s;}
.heading-01 a:focus{outline:0;}
.heading-01:hover{background-color:#009fdf; transition:background 1s, color 1s;}
.heading-01:hover a{background:none; background-position:725px 13px; color:#fff; transition:background 1s, color 1s;}
.heading-01 a.open{background-position:725px -20px;}

/*.patient-information-icon{background-image:url(../../Images/Patient-Information-icon.png); background-repeat:no-repeat; background-position:11px 6px;}
.patient-analysis-information-icon{ background-image:url(../../Images/Patient-Analysis-Information-icon.png) ; background-repeat:no-repeat; background-position:11px 6px;}
.medical-staff-icon{ background-image:url(../../Images/Medical-Staff-icon.png); background-repeat:no-repeat; background-position:11px 6px;}
.prescription-information-icon{ background-image:url(../../Images/Prescription-Information-icon.png); background-repeat:no-repeat; background-position:11px 6px;}*/

.patient-information-icon{background-position:11px 6px;}
.patient-analysis-information-icon{background-position:11px 6px;}
.medical-staff-icon{background-position:11px 6px;}
.prescription-information-icon{background-position:11px 6px;}


.patient_information_btns {width:98%; text-align:right; padding-top:10px; max-width:890px;}
.disable_div{ width: 100%;height: 100%;min-height:100%; background:url(../../Images/black_tran.png) repeat; z-index:99; position:absolute; top: 0px; left: 0px; opacity:0.5;}
.read_only_div{ background:transparent !important; color: #555 !important; pointer-events:none; opacity:0.7;}
.btn_disable{background:#ddd !important; color: #555 !important; pointer-events:none;}

.ui-jqgrid tr.jqgfirstrow td{ padding: 0px !important;}
.ui-jqgrid .ui-jqgrid-htable th{padding: 0px !important;}
input[type="text"].editable{width:27px !important; height:14px !important; font-size: 11px; box-shadow:0px 0px 5px #ddd !important;}
#jqPatientTypeMatrix tr td input[type="text"].editable{width:40px !important; height:14px !important; font-size: 11px; box-shadow:0px 0px 5px #ddd !important;}
#gview_jqPatientTypeMatrix table tr th div{padding:7px 1px;}


#jqPatientTypeMatrix tr td.width_22 input[type="text"].editable{width:22px !important;}
#jqPatientTypeMatrix tr td.width_70 input[type="text"].editable{width:70px !important;}

input[type="text"].hasDatepicker{width:84px !important; height:16px !important; height:20px\9 !important; box-shadow:0px 0px 5px #ddd !important;}
.ui-datepicker-trigger{margin-left:-22px; margin-bottom:-8px; cursor:pointer; width:26px;}
.ui-datepicker th{padding: 0.4em .3em; font-size: 12px; font-family: arial;}
.ui-datepicker table{ background-color:#f1f1f1; color: #444;}
.ui-datepicker .ui-datepicker-header{color: #444; font-size:12px; font-weight:normal;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{ color: #444;}
.ui-datepicker-calendar a{ font-size: 11px;}
.ui-datepicker .ui-datepicker-title select{font-size: 0.8em;}
.ui-datepicker .ui-datepicker-header{padding: .1em 0;}
.ui-datepicker {width: 14em !important;}
.ui-pg-input{width:25px !important; box-shadow:none !important;}


.info_icon{ display:inline-block; background:url(../../Images/info_icon_3.png) no-repeat; width:20px; height:20px; margin-bottom:-8px; float: right;
margin-top:10px; margin-right:10px; }
/*Tooltip Option 2*/
a.tooltip_opt_2 {outline:none; }
a.tooltip_opt_2 strong {line-height:30px;}
a.tooltip_opt_2:hover {text-decoration:none;} 
a.tooltip_opt_2 span {
    z-index:10; visibility:hidden; display:none; transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	padding:0 20px;
    margin-top:-40px; margin-left:28px;
    width:250px; line-height:16px; opacity:0;
	 transition:opacity 0.5s;
     font-size: 11px;
}
a.tooltip_opt_2:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0; opacity:1; visibility:visible;
  opacity:1;}
	
.callout {z-index:20;position:absolute;top:35px;border:0;left:-12px;}
a.tooltip_opt_2 span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
a.tooltip_opt_2 span ul{list-style-type: disc;}
a.tooltip_opt_2 span ul li{list-style-type: disc; padding-bottom:2px; padding-top:2px; color: #666;}



/*2-12-14*/
.text_align_left{ text-align:left !important;}
.text_align_right{ text-align:right !important;}

input[type="text"]:focus{outline:none;}
a:focus{outline:none;}
.height_20{height:20px !important;}
.height_50{height:50px !important;}

.page_heading{display:block; padding-bottom:25px; padding-top:5px; color:#153a66; font-size:20px; font-weight:bold;}
.page_heading_home{display:block; padding-bottom:25px; padding-top:5px; color:#00205B; font-size:20px; font-weight:bold;}/*Home-page-heading*/
.page_sub_heading_home{display:block; padding-bottom:25px; padding-top:5px; color:#00205B; font-size:20px; font-weight:normal;}/*Home-page-sub-heading*/
.table_section{ width:auto; height:380px; background:#f1f1f1; padding:10px; border:1px solid #ccc; transition:box-shadow 0.3s linear;}
.table_section:hover{box-shadow:0px 0px 10px #ccc; transition:box-shadow 0.3s linear;}
.table_section_btns{width:100%; text-align:right; padding-top:10px;}


.table_section_2{ width:auto; margin:0 auto; height:220px; background:#f1f1f1; padding:10px; border:1px solid #ccc; transition:box-shadow 0.3s linear; clear: both; position:relative;}
.table_section_2:hover{box-shadow:0px 0px 10px #ccc; transition:box-shadow 0.3s linear;}



.table_section_3{ width:auto; height:230px; background:#f1f1f1; padding:10px; border:1px solid #ccc; transition:box-shadow 0.3s linear; clear: both;}
.table_section_3:hover{box-shadow:0px 0px 10px #ccc; transition:box-shadow 0.3s linear;}

/*CSS for 10 Grid Start*/
.table_section_4{ width:auto; height:385px; background:#f1f1f1; padding:10px; border:1px solid #ccc; transition:box-shadow 0.3s linear; clear: both;}
.table_section_4:hover{box-shadow:0px 0px 10px #ccc; transition:box-shadow 0.3s linear;}
/*CSS for 10 Grid End*/

.form_main_btns{padding:40px 0px;}
.form_main_btns input[type="button"], .form_main_btns input[type="submit"]{ background:#005596; color:#fff; text-transform: uppercase;
font-weight:normal; padding: 5px 40px; transition:background 0.3s; border:0px; border-radius:3px; font-size:12px;}

.form_main_btns input[type="button"]:focus, .form_main_btns input[type="submit"]:focus { outline:none;}

.pop_main_btns{padding:10px 0px;}

.form_main_btns a{ background:#005596; color:#fff; text-transform:uppercase;
font-weight: normal; padding: 5px 40px; transition:background 0.3s; border: 0;}

.form_main_btns input[type="button"]:hover, .form_main_btns input[type="submit"]:hover{ background:#009fdf; transition:background 0.3s, box-shadow 0.3s;}

.form_main_btns a:hover{ background:#009fdf; transition:background 0.3s, box-shadow 0.3s;}

input[type="button"].form_buttons{width:auto; height:26px; border:1px solid #bbb; color:#444; font-size:12px; background:#eaeaea; border-radius:3px; box-shadow:0px 0px 0px #555; transition:background 0.3s, box-shadow 0.3s;}

a.form_buttons{width:auto; height:26px; border:1px solid #bbb; color:#444; font-size:12px; background:#eaeaea; border-radius:4px; box-shadow:0px 0px 0px #555; transition:background 0.3s, box-shadow 0.3s; display: inline-block;
height:14px; padding:5px 6px;}

.form_buttons:hover, input[type="button"].form_buttons:hover{background:#239fdb; color:#fff; transition:background 0.3s, box-shadow 0.3s;}

.note_textarea{width:40%; height:40px; padding:10px 20px; resize:none; background: #eee; font-size: 13px !important;}
.note_textarea_copy{width:40%; height:40px; padding:10px 20px; resize:none; background: #fff; font-size: 13px !important;}
.note_textarea_MassChanges{width:250px; height:40px; padding:5px; resize:none; background: #eee; font-size: 12px !important;}

.flot_none{float:none !important;}

.search_cell_field input[type="text"].hasDatepicker{border:1px solid #ccc; padding: 2px 5px; font-size:12px; width:210px !important; height:21px !important; border-radius:4px; box-shadow: 2px 2px 5px #555;
transition: box-shadow 0.5s; background: #fff;}

.search_cell_field input[type="text"].hasDatepicker:focus{border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
.search_cell_field input[type="text"].hasDatepicker:hover{border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}

.search_cell_field .datepicker_img{margin-bottom:-11px !important;}
.search_cell_field .ui-datepicker-trigger{ width: auto !important; margin-left:-30px !important; margin-bottom: -11px !important;}

#gbox_jqPatientAnalysis{ width:690px !important;}
#gbox_jqMedicalStaffAnalysis{ width:690px !important;}

.width_auto{ width:auto !important;}

.bg_gray { background:#ccc; border-bottom:1px solid #ccc; padding-left: 15px !important;}
.bg_gray a{color:#009fdf;}
.bg_gray a:hover{color:#009fdf; text-decoration:underline;}
.bg_gray:hover {background:transparent;}
.bg_gray:hover a{color:#009fdf;}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a{color:#009fdf !important; padding-left: 15px !important;}

.gotohome{ width:15px; height:15px; position:absolute; top:15px; right:15px;}
.gotohome a{ width:15px; height:15px; display:block; background:url(../../Images/home-icon.png) no-repeat;}

.width_100p{ width:100% !important;}
.width_700px{width: 700px !important;}
.ui-dialog .ui-dialog-title{color: #fff; font-weight: normal;text-transform: uppercase;}
.ui-draggable .ui-dialog-titlebar{background: #005596;}


.about-left{padding:0px 10px; position:relative;}
.about_doctor_img{width: auto; height:auto; position: relative; right:0px; top:0px; text-align: center; font-style: italic;}
.about_doctor_img hr{ width:100%; height:4px; background:#009fdf; border:0px; display:none;}
.about_doctor_img img{width: auto; margin-bottom: -20px; margin-right: 0px;}

.cust_patient_name{padding:10px; font-size:14px; font-family: arial; background:#fff; margin-bottom:10px; border-radius:5px; width:500px; word-break:break-all;}
.cust_patient_name span{display:inline-block; padding:4px 0px 0; margin-bottom:2px; color:#005596;}

.about_cell{display:inline; width:auto; height:auto; min-width:382px; min-height: 120px; padding:6px 20px 10px 20px; margin:0 0 10px; background:#009fdf; position: relative; border-radius:6px; color:#fff; transition:width 1s; transition:padding 0.5s;}
.about_cell:hover{ padding-right:50px; transition:padding 0.5s;}

.about_cell .ul_about_style{ list-style-type:disc; padding-left:51px; margin-top: 8px;}
.about_cell .ul_about_style li{min-height:15px; list-style-type:disc; font-size: 12px; transition:font-size 0.5s;}
.about_cell .ul_about_style li:hover{font-size:13px; font-weight:bold; transition:font-size 0.2s;}

.about_cell .ul_about_style li a{ color:#fff; text-decoration:underline;}

.contact_normal{ font-size:12px;}
.contact_normal a{ color:#fff;}


/*.about_cell .ul_about_style li:hover{font-size:15px; font-weight:bold; transition:font-size 0.3s, background 0.2s; background: #fff;
color: #009fdf; text-align: center; padding: 5px;}*/

/*.account_handlers_fax_icon {width: 32px; position: absolute; top: 155px; left: 20px; border: 0px;}*/
.account_handlers_fax_icon {width: 32px; position: absolute; top:155px; left: 18px; border: 0px;}
.account_handlers_mail_icon {width: 32px; position: absolute; top:131px; left: 28px; border: 0px;}
.account_handlers_phone_icon{width:32px; position: absolute; top: 52px; left: 20px; border: 0px;}
.patient_line_phone_icon{width:32px; position: absolute; top: 52px; left: 20px; border: 0px;}
.data_capture_mail_icon{position: absolute; left: 32px; top: 56px;}
.data_capture_fax_icon{width: 32px;position: absolute; left: 22px; top: 79px;}
.tena_direct_phone_icon{width:32px; position: absolute; top: 74px; left: 15px; border: 0px;}
/*.data_capture_mail_icon .fa{font-size: 20px;}*/

.align_left_wrap{text-align: left !important; word-wrap: break-word; padding-left: 20px !important; padding-right: 20px !important;}

.bg_eee{ background:#eee !important;}


.msgSuccess{ color:#009fdf; display:block; font-size:13px; padding-top:5px; text-align:center;}

#residentialMessage{width:auto; text-align:right;}
#communityMessage{margin-left:170px; width:auto;}
#oneOffMessage{margin-left: 135px; width: auto;}

.short_pop{min-height:100px !important; top:45% !important;}
.padding_20{padding:20px;}

.oneof_check{float:left; padding-top:10px; font-size: 13px;}

.pop_fields_section{margin-top:10px; width:100%; border:1px solid #ccc; margin-bottom:10px; padding-bottom:0px; padding-top: 5px;}
.pop_fields_section:hover {
box-shadow: 0px 0px 10px #ccc;
transition: box-shadow 0.3s linear;
}

.pop_fields_section ul{ width:100% !important; min-width:inherit !important;}
.pop_fields_section .search_cell{padding: 5px 10px 5px;}
.pop_fields_section .search_cell_field{ height:30px;}
.pop_fields_section .search_cell_txt{width: 100px !important; font-weight: normal;}
.pop_fields_section input[type="text"] {box-shadow: 0px 0px 0px #555;}
.pop_fields_section .search_cell_field .field-validation-error {font-size: 11px; padding-top: 1px;}

.position_rel{position:relative;}
.position_abso{position:absolute;}

.align_center{text-align:center !important;}
.align_left{text-align:left !important;}
.align_right{text-align:right !important;}

.padding_left_10{ padding-left:10px !important;}
.padding_right_10{ padding-right:10px !important;}

.j_lightbox_btns{text-align:center; padding:0 !important;}

.approver_section{padding: 10px 8px !important;}

.max_width_1870px{max-width:1709px;}
.max_width_700px{max-width:700px;}



#jqNotes tr.ui-widget-content{background:#f1f1f1 !important;}
#jqNotes tr.ui-widget-content:hover{background:#009fdf !important; color:#fff;}
#jqNotes tr.ui-state-highlight{background:#009fdf !important; color:#fff !important;}

.ui-state-highlight .pnote_class{ color:#666 !important;}
.pnote_class{ padding:5px 10px !important;}
.pnote_class:hover{ color:#fff !important;}

.bg_ddd{ background:#ddd !important;}

.ui-jqgrid .ui-paging-info {text-transform: capitalize;margin-left: 15px; margin-top: 3px;}

.ui-state-highlight{ background:#fff !important; color:#666 !important; border: 0px solid #009fdf !important;}
tr.ui-state-hover{background:#fff !important; color:#666 !important; border: 1px solid #009fdf !important;}
th.ui-state-hover{border: 1px solid #d3d3d3 !important; border-top:0 none !important;  border-bottom:0 none !important;  border-left:0 none !important;}

#jqPatientPrescription tr:hover {background:#fff !important; color:#666 !important; border: 1px solid #aaa !important;}

/*.ui-jqgrid tr.jqgrow td {border-top-width:1px; border-top-color: inherit; border-top-style: solid;}*/


.td_link a{color: #009fdf !important; padding-left: 10px !important;}

.hyperLink a{color: #009fdf !important; padding-left: 10px !important; text-decoration :underline; }
.hyperLink :hover {cursor:pointer; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{ border:0px;}

.margin_left_0{margin-left: 0px !important;}

.height_27 {height: 27px !important;}

.width_121{width: 121px !important;}
.small_btn_2{padding: 7px 15px !important; background:#0b80ab !important;}
.small_btn_2:hover{background:#009fdf !important;}

.ui-dialog .ui-dialog-buttonpane {background: #fff; border: 0;}
#divRemovePrescription {padding:20px 20px 10px; overflow: hidden; text-align:center; font-size: 14px;}
 #divRemovePrescriptionSucess{padding:20px 20px 0px; overflow: hidden; text-align:center; font-size: 14px; min-height: 10px !important;}
.ui-dialog-buttons{min-width:30%; outline:none; border:12px solid #0b80ab; position: fixed; z-index:1001;}
.ui-dialog-buttons .ui-dialog-titlebar{ display:none;}
.ui-dialog .ui-dialog-content{padding: 10px 10px 5px; min-height:20px !important; overflow: hidden;}

.ui-dialog .ui-dialog-buttonpane button {background:#0b80ab !important; color: #fff;}
.ui-dialog .ui-dialog-buttonpane button:hover{background:#009fdf !important; color:#fff !important;}
.ui-dialog .ui-dialog-buttonpane button:focus{background:#0b80ab; color: #fff; outline:none;}
.ui-dialog-buttonset {float:none !important; text-align: center;}

.ui-widget-overlay {background: url(../../Images/black_tran.png) repeat; opacity:1; z-index: 101;}
.ui-button-text-only .ui-button-text{padding: 7px 15px !important; font-size: 12px;}

.color_green{color: green;}

.default_textarea{width: 154px !important; height: 35px !important; padding: 5px; resize: none; font-size: 12px; background: #fff; border: 1px solid #ccc; border-radius: 4px;}
.default_textarea:focus{border: 1px solid #009fdf; box-shadow:0px 0px 1px #009fdf; transition:box-shadow 0.5s;}
.default_textarea:hover{border: 1px solid #009fdf; box-shadow:0px 0px 1px #009fdf; transition:box-shadow 0.5s;}
.height_35{height: 35px !important;}
.height_85{height: 85px !important;}
.patientinfo_fields{ position:relative; padding:20px;}

.patientinfo_main{ padding-top:64px;}
.patientinfo_main:nth-of-type(1) {padding-top:0px;}
.width_135_editable{width:135px !important; height:14px !important; font-size: 11px; box-shadow:0px 0px 5px #ddd !important;}

.ui-jqgrid .ui-jqgrid-hdiv {background:#009fdf;}

#search_dock_bg{ width:100%; height:100%; background:#ededed; position:fixed; min-height:130%; z-index: 101; display: none; transition:background 0.3s; opacity:0.8;}

.new_select_for_search { margin-top:-5px; padding: 0px; padding-top: 10px;}
.new_select_for_search .select-style {height:25px !important; background:#eee url("../../Images/dropdown-sprite-2.png") no-repeat right 0px;}
.new_select_for_search .select-style:hover{ background-position:right -27px;}
.new_select_for_search .select-style .custom-select { width:250px; padding-right:10px; font-size:13px; color: #666; line-height: 15px; margin-top:-2px; z-index:99;}

select::-ms-expand {display: none;}
 .ui-datepicker-title select::-ms-expand {display: block;}

.uni_dialog {padding:20px 20px 0px; overflow: hidden; text-align:center; font-size: 14px; min-height: 20px !important;}
.center_text {text-align:center!important}
.validation_msg {font-size:14px; color:red;  text-align:center; min-height: 20px;padding:20px 20px 10px; overflow: hidden;}
.success_msg {font-size:14px; color:#009fdf; text-align:center; min-height: 20px; padding:20px 20px 10px; overflow: hidden;}
.disp_block{display:block;}
.disp_inline{display:inline-block;}
.disable_msg{display: none; width:390px; height:40px; position: absolute; z-index: 99; text-align: center; color: red; font-weight: bold; background:transparent; padding-top:20px; text-transform: uppercase; border:0px solid red;}

.patient_info_dis_msg{top:-5%;  left:35%; }
.medicalAnalysis_info_dis_msg{top:-27%; left:30%;}
.analysis_info_dis_msg{top:-27%; left:30%; }
.prescription_dis_msg{top:-12%; left:33%;}

.sample_ord_desc input[type='text']{ width:95% !important;}
.sample_ord_Quantity input[type='text']{ width:50% !important;}

.ui-jqgrid .ui-jqgrid-htable th {height: auto; word-wrap: break-word;}
.ui-jqgrid .ui-jqgrid-htable th div { height:auto; }

 th.ui-th-column div{
word-wrap: break-word; /* IE 5.5+ and CSS3 */
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    overflow: hidden;
    height: auto;
    vertical-align: middle;
     
}

 th.ui-th-column div{
   white-space:normal !important;
   height:auto !important;
   }

.float_right {float: right !important;}

.fontsise_11px{ font-size:11px !important;}
.fontsise_12px{ font-size:12px !important; color:#666666;}/*created on 12/05/2015*/

#jqgh_jqPatientPrescription_IsRemoved .fa{ font-size:14px;}
#jqPatientPrescription tr td {word-wrap: normal;}
#jqPatientSearchResults tr td {word-wrap: normal;}

/*------------------------------------------Scrollbar-----------------------------*/

.patientinfo_form { width:auto; height:auto; clear:both;}
.patientinfo_form:after { display:block;float:none; clear:both; content:"";}

.patientinfo_big{width:auto; height:auto; margin-bottom:15px;}
.patientinfo_big:after{ display:block; clear:both; content:"";}
.patientinfo_big .patientinfo_big_txt{width:100px; height:auto; font-size: 12px; font-weight:bold; padding-top: 5px; float:left;}
.patientinfo_big .patientinfo_big_field{width:600px; height:auto; float:left;}

.patientinfo_col1 { width:265px; height:auto; float:left; min-height:90px;}
.patientinfo_col2 { width:270px; height:auto; float:left; margin-left:30px; margin-right:30px;  min-height:90px;}
.patientinfo_col3 { width:265px; height:auto; float:left; min-height:90px;}


.patientinfo_col1 .patientinfo_cell{ width:auto; height:auto; min-height:30px; clear:both; margin-bottom: 7px;}
.patientinfo_col1 .patientinfo_cell .patientinfo_col1_lable{ width:100px; height:auto; font-size: 12px; font-weight:bold; padding-top: 5px; float:left;}
.patientinfo_col1 .patientinfo_cell .patientinfo_col1_field{width:163px; height:auto; float:left;}
.patientinfo_col1 .patientinfo_cell:after{ display:block; float:none; clear:both; }
.patientinfo_col1 .patientinfo_cell .patientinfo_col1_field label{background: #ddd; padding: 5px 5px; border-radius: 4px; box-shadow: 0px 0px 0px #555; display: block; min-width: 133px; min-height: 16px; text-align: left; border: 1px solid #ccc; font-size:12px;}

.patientinfo_col1 .patientinfo_cell .patientinfo_col1_field input[type="text"] {width: 156px; height: 20px;}
.patientinfo_col1 .patientinfo_cell .patientinfo_col1_field input[type="password"] {width: 156px; height: 20px;}
.patientinfo_col1_field input[type="text"].hasDatepicker {width: 133px !important; height: 19px !important; box-shadow: 0px 0px 5px #ddd !important;}
.patientinfo_col1_field .ui-datepicker-trigger {margin-left: -13px; margin-bottom: -11px; cursor: pointer; width: 31px;}


.patientinfo_col2 .patientinfo_cell{ width:auto; height:auto; min-height:30px; clear:both; margin-bottom: 7px;}
.patientinfo_col2 .patientinfo_cell .patientinfo_col2_lable{ width:100px; height:auto; font-size: 12px; font-weight:bold; padding-top: 5px; float:left;}
.patientinfo_col2 .patientinfo_cell .patientinfo_col2_field{width:163px; height:auto; float:left;}
.patientinfo_col2 .patientinfo_cell:after{ display:block; float:none; clear:both; content:"";}
.patientinfo_col2 .patientinfo_cell .patientinfo_col2_field label{background: #ddd; padding: 5px 5px; border-radius: 4px; box-shadow: 0px 0px 0px #555; display: block; min-width: 133px; min-height: 16px; text-align: left; border: 1px solid #ccc;}

.patientinfo_col2 .patientinfo_cell .patientinfo_col2_field input[type="text"] {width: 154px; height: 20px;}
.patientinfo_col2 .patientinfo_cell .patientinfo_col2_field input[type="password"] {width: 156px; height: 20px;}
.patientinfo_col2_field input[type="text"].hasDatepicker {width: 133px !important; height: 19px !important; box-shadow: 0px 0px 5px #ddd !important;}
.patientinfo_col2_field .ui-datepicker-trigger {margin-left: -13px; margin-bottom: -11px; cursor: pointer; width: 31px;}



.patientinfo_col3 .patientinfo_cell{ width:auto; height:auto; min-height:30px; clear:both; margin-bottom: 7px;}
.patientinfo_col3 .patientinfo_cell .patientinfo_col3_lable{ width:100px; height:auto; font-size: 12px; font-weight:bold; padding-top: 5px; float:left;}
.patientinfo_col3 .patientinfo_cell .patientinfo_col3_lableADP{ width:100px; height:auto; font-size: 12px; font-weight:bold; padding-bottom:10px;   margin-bottom: 10px; }
.patientinfo_col3 .patientinfo_cell .patientinfo_col3_field{width:163px; height:auto; float:left;}
.patientinfo_col3 .patientinfo_cell .patientinfo_col3_fieldADP{width:163px; height:auto; float:left; padding-top: 3px;}
.patientinfo_col3 .patientinfo_cell:after{ display:block; float:none; clear:both; content:""; }
.patientinfo_col3 .patientinfo_cell .patientinfo_col3_field label{background: #ddd; padding: 5px 5px; border-radius: 4px; box-shadow: 0px 0px 0px #555; display: block; min-width: 133px; min-height: 16px; text-align: left; border: 1px solid #ccc;}

.patientinfo_col3 .patientinfo_cell .patientinfo_col3_field input[type="text"] {width: 154px; height: 20px;}
.patientinfo_col3 .patientinfo_cell .patientinfo_col3_field input[type="password"] {width: 156px; height: 20px;}
.patientinfo_col3_field input[type="text"].hasDatepicker {width: 133px !important; height: 19px !important; box-shadow: 0px 0px 5px #ddd !important;}
.patientinfo_col3_field .ui-datepicker-trigger {margin-left: -13px; margin-bottom: -11px; cursor: pointer; width: 31px;}



.col1_select_style { border: 1px solid #ccc; width: 220px; height: 26px !important;  border-radius: 3px;  overflow: hidden;  background: #fafafa url(../../Images/dropdown-sprite.png) no-repeat 90% 50%;background-position: 133px 0px;}
.col1_select_style:focus{background-position: 133px -26px; border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
.col1_select_style:hover{background-position: 133px -26px; border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
.col1_select_style .custom-select {padding:6px 2px;    width: 165px; width:185px\9; font-size: 12px; border: none; box-shadow: none;  background:transparent; background-image: none;
    -webkit-appearance: none;
	-moz-appearance: none;
}
.col1_select_style .custom-select:focus { outline: none;}

.col2_select_style { border: 1px solid #ccc; width: 220px; height: 26px !important;  border-radius: 3px;  overflow: hidden;  background: #fafafa url(../../Images/dropdown-sprite.png) no-repeat 90% 50%;background-position: 133px 0px;}
.col2_select_style:focus{background-position: 133px -26px; border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
.col2_select_style:hover{background-position: 133px -26px; border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
.col2_select_style .custom-select {padding:6px 2px;    width: 185px; font-size: 12px; border: none; box-shadow: none;  background:transparent; background-image: none;
    -webkit-appearance: none;
	-moz-appearance: none;
}
.col2_select_style .custom-select:focus { outline: none;}

.col3_select_style { border: 1px solid #ccc; width: 220px; height: 26px !important;  border-radius: 3px;  overflow: hidden;  background: #fafafa url(../../Images/dropdown-sprite.png) no-repeat 90% 50%;background-position: 133px 0px;}
.col3_select_style:focus{background-position: 133px -26px; border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
.col3_select_style:hover{background-position: 133px -26px; border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
.col3_select_style .custom-select {   padding:6px 2px;    width: 185px; font-size: 12px; border: none; box-shadow: none;  background:transparent; background-image: none;
    -webkit-appearance: none;
	-moz-appearance: none;
}

.col3_select_style .custom-select:focus { outline: none;}

.width_62 {width: 62px !important;}
.width_48 {width: 48px !important;}
.width_758 {width: 758px !important;}

.nurse_details{ width:auto; height:auto; margin-top:30px;}
.nurse_details:after{ display:block; clear:both; content:"";}
.nurse_details_name_cell{ width:370px; float:left; margin-right:10px;}
.nurse_details_mobile_cell{ width:239px; float:left; margin-right:10px;}
.nurse_details_email_cell{ width:235px; float:left; margin-right:0px;}
.nurse_details_cmnt_cell{ width:100%; float:none; clear:both; padding-top:10px;}

.nurse_details_name_cell .nurse_details_label{ width:auto; display:inline-block; padding-right:5px;}
.nurse_details_name_cell .nurse_details_field{ width:auto; display:inline-block;}
.nurse_details_name_cell .nurse_details_field input[type="text"]{width:350px; height: 23px; }

.nurse_details_mobile_cell .nurse_details_label{ width:auto; display:inline-block; padding-right:5px;}
.nurse_details_mobile_cell .nurse_details_field{ width:auto; display:inline-block;}
.nurse_details_mobile_cell .nurse_details_field input[type="text"]{width:210px; height: 23px;}

.nurse_details_email_cell .nurse_details_label{ width:auto; display:inline-block; padding-right:5px;}
.nurse_details_email_cell .nurse_details_field{ width:auto; display:inline-block;}
.nurse_details_email_cell .nurse_details_field input[type="text"]{width:225px; height: 23px;}

.nurse_details_cmnt_cell .nurse_details_label{ width:auto; display:inline-block; padding-right:5px;}
.nurse_details_cmnt_cell .nurse_details_field{ width:100%; display:inline-block;}
.nurse_details_cmnt_cell .nurse_details_field textarea{width:98%; height:60px; background:#fff; resize:none; padding:10px 1%; border-radius: 4px; border:1px solid #ccc;}

textarea:hover {
    /*box-shadow: 0px 0px 2px #009fdf;*/
     box-shadow:none;
    transition: box-shadow 0.5s; outline:none;
    border: 1px solid #009fdf;
}

textarea:focus{
    border: 1px solid #009fdf;
    /*box-shadow: 0px 0px 2px #009fdf;*/
    transition: box-shadow 0.5s; outline:none;
}

.nurse_details_heading{display: block; padding-bottom: 10px; padding-top: 10px; font-size:13px; font-weight: bold;}

.cust_pat_details{text-align: left; width: 640px; float: left;}
.cust_pat_details label{ display:block; font-weight:bold;}

#jqPatientRecentOrderInfoPopup tr td{word-wrap: normal;}

.word_wrap_normal{word-wrap: normal !important;}





/*---------------------PHASE-2------------------------------------------------*/

.map_rols_user_cell1{width:auto; height: auto; margin-top:20px; padding-top:0px; clear:both;}
.map_rols_user_cell1:after{ display:block; clear:both; content:""; float:none;}

.map_rols_user_cell{width:auto; height: auto; margin-bottom:20px; padding-top:0px; clear:both;}
.map_rols_user_cell:after{ display:block; clear:both; content:""; float:none;}

.map_rols_user_label{width: 80px; height: auto; font-size: 12px; font-weight: bold; padding-top: 5px; float: left;}
.map_rols_user_input{width: 300px; float: left;background-position: 270px 0px;}
.map_rols_user_input:hover{background-position: 270px -26px !important;}
.map_rols_user_input .custom-select {width: 322px !important;}


.map_rols_user_input_2{width:300px; float:left; background-position:270px 0px;}
.map_rols_user_input_2:hover{background-position:165px -26px !important;}
.map_rols_user_input_2 .custom-select{width:200px !important; padding-right:32px !important;}


.map_users_role_field .search_pannel_ordertxtbox {margin: 0px 5px 0 0;}

.map_users_role_field{float: none; margin-left: 0px; left: 0px; position: relative; clear: both; padding-top:0px;}
.map_cust_user_cell{width:auto; height: auto; margin-bottom:20px; padding-top:20px;}
.map_cust_user_cell:after{ display:block; clear:both; content:""; float:none;}
.map_cust_user_label{width: 80px; height: auto; font-size: 12px; font-weight: bold; padding-top: 5px; float: left;}
.map_cust_user_input{width: 838px; float: left;}

.map_users_role_field .search_pannel_ordertxtbox input[type="text"] { height:22.5px;}

.search_02, .search_02:hover{background:#009fdf url(../../Images/search_icon.png) no-repeat; width:37px;}

.float_left{ float:left !important;}

a.disabled { color:gray; }

.j_lightbox .disclaimer_size{  width: 40%; left:27%; top:20%; padding: 25px;   min-height: 320px;}
.j_lightbox_heading{display: block; padding:5px 50px 15px 0px; color: #0b80ab; font-size: 18px; font-weight: bold;}
::selection { background-color:#009fdf; color:#fff;}

.list_style_disc{list-style-type: disc; padding-left:20px;}
.list_style_disc li{list-style-type: disc; padding-bottom:3px; padding-top:3px;}

.disclaimer_form{width:500px; margin:0 auto; padding-top: 30px;}
.disclaimer_form.form_main_btns {padding:20px 0px 10px;}

.disclaimer_form .disclaimer_cell{ display:block; margin:10px 0px; font-weight:bold; color:#444; font-size: 13px;}

.disclaimer_form .disclaimer_cell input[type="text"] { width:420px; border-radius: 3px; height: 21px;}

.disclaimer_form .disclaimer_cell .disclaimer_subim{margin-left:65px; width:432px; height: 31px !important;
  font-size: 12px;
  font-weight: bold;}


.holiday_ul {margin:2px 0px;}
.holiday_ul:after{ display:block; clear:both; float:none; content:"";}
.holiday_ul li{ display:block; float:left; width:auto;   margin-right: 30px; width:390px;}

.holiday_ul li .new_select_for_search {margin-top:0px;}

.holiday_hour_input {
  width: 91px;
  float: left;
  margin-right: 12px; 
}

.holiday_hour_input .custom-select{width:112px !important;}
.holiday_hour_input.select-style .custom-select:hover {
  background-position: 190px -27px;
}

.holiday_hour_input.select-style:hover {
  background-position:61px -27px;
}

.font_12bold{font-size:12px; font-weight:bold; float: left; padding-right: 10px; padding-top: 8px;  width: 85px;}

.margin_bot_12{margin-bottom: 12px;}
.margin_bot_7{margin-bottom:7px !important;}
.width_60{width: 60px!important;}
.width_174{width:174px !important;}
.height_70{height:70px !important;}


.holiday_main_btns{padding: 10px 1px; margin-left:834px;}
.padding_bot_5{ padding-bottom:5px;}
.padding_bot_10{padding-bottom:10px;}
.padding_bot_0{ padding-bottom:0px;}
.margin_bot_35{margin-bottom: 35px;}

.cust_info_ul {margin:2px 0px;}
.cust_info_ul:after{ display:block; clear:both; float:none; content:"";}
.cust_info_ul li{ display:block; float:left; width:auto;   margin-right:20px; width:426px;}

.cust_info_lable {
    display: block;
    float: left;
    width: 120px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
}

.cust_info_input {
  display: block;
  float: left;
  width: 240px;
}

.cust_info_select {
  width: 220px;
  float: left;
  background-position: 270px 0px;
}

.cust_info_heading2 {
  display: block;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 20px;
}



.cust_param_display_section{ width:98%; height:400px; margin:0 auto;   padding: 20px 0px;   margin-left: 10px;}

.cust_param_ul {margin:2px 0px;  max-width: 870px;}
.cust_param_ul:after{ display:block; clear:both; float:none; content:"";}
.cust_param_ul li{ display:block; float:left; width:auto;   margin-right:20px; width:440px;}

.cust_param_lable {display: block; float: left; width: 160px; font-size: 12px; padding-top: 5px; color: #555; font-family:arial;   font-weight:bold;}
.cust_param_input {display: block; float: left; width: 210px;   font-size:12px;}

.width_58{width:58px !important;}
.width_270{width:270px !important;}
.width_260{width:260px !important;}
.width_130{width:130px !important;}
.width_140{width:140px !important;}
.width_115{width:115px !important;}
.width_100{width:100px !important;}
.width_197{width:197px !important;}
.width_242{width:242px !important;}
.width_380{width:380px !important;}
.width_150{width:150px !important;}
.width_180{width:180px !important;}
.width_210{width:210px !important;}
.width_235{width:235px !important;}
.width_130{width:130px !important;}
.width_50{width:50px !important;}
.width_108{width:108px !important;}
.width_195{width:195px !important;}
.width_885{width:885px !important;}
.width_320{width:320px !important;}
.width_420{width:420px !important;}
.width_418{width:418px !important;}
.width_540{width:540px !important;}
.width_64{width:64px !important;} 
.width_745{width: 745px !important;} 

.width_1160{width:1160px !important;}

/* new property for patient address*/




.height_260{height:260px !important;}
.padding_top_bot_10{padding:10px 0 !important;}
.padding_top_bot_20{padding:20px 0 !important;}

.padding_top_8px{padding-top:8px !important;}
.padding_top_150{padding-top:150px !important;}

.margin_top_109{margin-top:109px !important;}
.margin_top_85{margin-top:85px !important;}

.care_home_maintenance_input input[type="text"].hasDatepicker{ width:130px !important;}

.read_only_lable{  background: #ddd;
  padding: 5px 5px;
  border-radius: 4px;
  box-shadow: 0px 0px 0px #555;
  display: block;
  min-width: 133px;
  min-height: 16px;
  text-align: left;
  border: 1px solid #ccc;
  font-size: 12px;}

.cust_param_greed_section { padding:10px 0px 0px; clear:both}
.cust_param_greed_section:after{ display:block; content:""; clear:both; float:none;}
.cust_param_medical_staff{ width:350px; height:200px; float:left; margin-left:7px; clear:both;}
.cust_param_anlysis_info{ width:350px; height:200px; float:right;   margin-right: 40px;}

.cust_param_medical_staff_table{width:350px; height:150px; background: #f1f1f1; padding: 10px; border: 1px solid #ccc; transition: box-shadow 0.3s linear; clear: both;}
.cust_param_anlysis_info_table{width:350px; height:150px; background: #f1f1f1; padding: 10px; border: 1px solid #ccc; transition: box-shadow 0.3s linear; clear: both;}

.cust_param_medical_staff span, .cust_param_anlysis_info span{ display:block; padding-bottom:5px; font-size: 13px; font-weight: bold;   font-family: arial; color: #555;}

.cust_param_input input[type="text"]{width: 248px;}

.cust_param_hour_input {
  width: 70px;
  float: left;
  margin-right: 12px;
  background-position:40px 0px;
}

.cust_param_minute_input{
  width: 80px;
  float: left;
  margin-right: 12px;
  background-position:50px 0px;
}

.cust_param_am_input {
  width: 80px;
  float: left;
  margin-right: 12px;
  background-position:52px 0px;
}

.cust_param_minute_input .custom-select{
  width: 105px !important;
}
.cust_param_hour_input .custom-select{
  width: 95px !important;
}

.cust_param_hour_input.select-style:hover {
  background-position: 40px -26px;
}
.cust_param_minute_input.select-style:hover {
  background-position: 50px -26px;
}

.margin_right_0{margin-right:0px !important;}
.margin_right_10{margin-right: 10px !important;}
.margin_right_15{margin-right: 15px;}
.margin_right_25{margin-right:25px !important;}



.cust_param_am_input .custom-select{
  width: 85px !important;
}
    .cust_param_am_input.select-style:hover {
        background-position: 52px -26px;
    }


.cust_param_heading_2 {display: block;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  font-family: arial;
  color: #555;
  padding-top: 15px;
}

.cust_param_patient_ul{ width:350px;   margin-left:0px; margin-top: 5px;}
.cust_param_patient_ul:after{ display:block; content:""; clear:both; float:none;}
.cust_param_patient_ul li{display:block;  font-size: 12px; color: #555; font-family: arial; margin-bottom: 7px; float:left; }

.cust_param_mandatory_ul{}
.cust_param_mandatory_ul:after{ display:block; content:""; clear:both; float:none;}
.cust_param_mandatory_ul li{display:block; float:left; margin-right:20px;}


.care_home_maintenance_ul {margin:10px 0px;}
.care_home_maintenance_ul:after{ display:block; clear:both; float:none; content:"";}
.care_home_maintenance_ul li{ display:block; float:left; width:auto;   margin-right:20px; width:380px; min-height:36px;}
.care_home_maintenance_lable {
    display: block;
    float: left;
    width: 120px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
}

.care_home_maintenance_input {
  display: block;
  float: left;
  width: 240px;
}

.care_home_maintenance_select {
  width: 220px;
  float: left;
  background-position: 270px 0px;
}

.read_only_lable_2{
  background: #ddd;
  padding: 5px 5%;
  border-radius: 4px;
  box-shadow: 0px 0px 0px #555;
  display: block;
  width: 100%;
  min-height: 16px;
  text-align: left;
  border: 1px solid #ccc;
  font-size: 12px;
}

.care_home_maintenance {padding-top:65px;}
.care_home_maintenance_block{clear: both; width:96.8%; margin:-5px auto 30px; min-height:150px; border:1px solid #ccc; padding:15px; background:#eee; border-top: 0px}  
.ui-dialog-titlebar-close{ display:block !important;}
.ui-dialog-titlebar{background: #005596 !important;}

.height_240 { height: 240px !important;}
#jqCPAnalysisInfo tr td{ padding-left:5px; padding-right:5px;}
#jqCPMedicalStaff tr td{ padding-left:5px; padding-right:5px;}

#jqPostcodeMatrix .edit-cell input[type="text"]{width:78% !important; height: 15px;  margin-top: 3px; margin-bottom: 3px;}

.create_interaction_display_section{width:98%; height:auto; margin:0 auto; padding:20px 0px; margin-left:10px; overflow-x:hidden;}

.create_interaction_select {width: 220px; float: left; background-position: 230px 0px;}

.create_interaction_select:hover {background-position:230px -26px;}

.create_interaction_select .custom-select{width:287px;}

.create_interaction_textarea{width:720px; height:50px; padding: 10px; resize:none;}

.create_interaction_btns{padding:30px 0px; margin-left:160px;}

.create_interaction_ul li{width:413px;}

.carehome_maint_top_btns{width:920px; margin-left:0px;}

.patient_information_btns_2 {width: 100%; max-width: 928px;}

.margin_top_minus_50{margin-top:-50px;}
.margin_top_minus_55{margin-top:-55px !important;}

.margin_top_10_bot0{margin-top:10px; margin-bottom:0px;}

 .uppercase {text-transform: uppercase;}

.home-interaction-div {
    height: 25px;
    float: right;
    padding-bottom:5px;
}

.min_height_30{min-height:30px;}
.min_height_40{min-height:40px;}
 
/*Sandesh CSS*/
.width_25 {  width: 25px !important;}
.width_290 {  width: 290px !important;}
.width_36 {  width: 36px !important;}

.customerinfo {padding-top:72px;}
.AuditLogPage {padding-top:05px;}
.customerinfo_maint_top_btns{width:920px; margin-left:0px;}

.remove_icon_for_grid{display:block; float:left; width:20px; padding-left:15px;}
.select_all_for_grid{display:block; float:left; width:20px; padding-top: 3px;}
.select_all_for_grid:after{display:block; float:none; clear:both; content:"";}


.cust_param_reason_code{width:100%; height:auto;}
.cust_param_reason_code_table {
  width:97.9%;
  height: 150px;
  background: #f1f1f1;
  padding: 15px 10px 15px;
  border: 1px solid #ccc;
  transition: box-shadow 0.3s linear;
  clear: both;
}

.cust_param_collapse_heading{border:1px solid #ccc; height:32px;}
.cust_param_collapse_heading a{height:10px; font-weight:normal; width:auto; padding:8px 4px; font-size:13px;}

.collapse_cust_param{display:block; margin-top:-5px;}

.cust_param_medical_analysis_table{width:97.9%;
  height: 190px;
  background: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  transition: box-shadow 0.3s linear;
  clear: both;
  padding-top: 20px;
  padding-bottom: 15px;
}

.cust_param_reason_code .heading-1{width:100%;}
.cust_param_greed_section .heading-1{width:100%; margin-left:0;}

.bg_white{background-color:#fff !important;}

.margin_top_15{margin-top:15px;}


.interaction_summary { display:none;
clear: both;
width: 94.5%;
margin: -5px auto 30px;
min-height: 150px;
border: 1px solid #E5E5E5;
padding: 15px;
background: #eee;
border-top: 0px;
}

.recent_order_accord{ display:none;
clear: both;
width: 94.5%;
margin: -5px auto 30px;
min-height: 150px;
border: 1px solid #E5E5E5;
padding: 15px;
background: #eee;
border-top: 0px;
}

.interaction_sec{width:100%; height:450px !important;}

.disable_pop{width:100%; min-height: 100%; height: 100%; display:none; background-color: rgba(0,0,0,0.5); position: absolute; z-index: 100; margin-left:-10px; margin-top:-7px;}

/*Start New css for clinical records Created by Sandesh on 29/04/2015*/

.map_rols_user_cell2{width:auto; height: auto; margin-top:12px; padding-top:0px; float:left;}
.map_rols_user_cell2:after{ display:block; clear:both; content:""; float:none;}

.map_rols_user2_label{width: 80px; height: auto; font-size: 12px; font-weight: bold; padding-top: 5px; float: left;}
.map_rols_user2_input{width: 200px; float: left;background-position: 270px 0px; margin-right:10px;}
.map_rols_user2_input:hover{background-position: 270px -26px !important;}
.map_rols_user2_input .custom-select-3 {width: 230px !important; height:27px; font-size:12px;}



.cust_param_2_lable {display: block; float: left; width: 70px; font-size: 12px; padding-top: 5px; color: #555; font-family:arial;   font-weight:bold;}

 .select-style-3 {
    border: 1px solid #ccc;
    width: 210px; height: 27px !important;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url(../../Images/dropdown-sprite.png) no-repeat 90% 50%;
	background-position: 190px 0px;
    margin-bottom:15px;
}


.select-style-3:focus{background-position: 190px -26px; border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}
.select-style-3:hover{background-position: 190px -26px; border: 1px solid #009fdf; box-shadow:0px 0px 2px #009fdf; transition:box-shadow 0.5s;}


    .select-style-3 .custom-select-3:focus {
        outline: none;
    }


button:focus{ outline: none;}

.new_select_for_search-3 .select-style-3 {height:25px !important; background:#eee url("../../Images/dropdown-sprite-2.png") no-repeat right 0px;}
.new_select_for_search-3 .select-style-3:hover{ background-position:190px -27px;}

.new_select_for_search-3 .select-style-3 .custom-select-3 { width:160px; 
padding-right:60px;
font-size:13px; color: #666; line-height: 15px; margin-top:-2px; z-index:99;
}

.new_select_for_search-3 .select-style-3 .custom-select-3:hover { background-position:190px -27px;}

.width_960{width:960px !important;}
.add_new_clinical_Contact {padding-top:7px;}
.clinicalContact_require {font-size: 11px !important;
color: red !important;
}
.width_30 {width:30px !important;}

.input_lable{display:block; float:left; width:auto; font-size:12px; font-weight:bold; padding-top:5px;}
.input_field{display:block; float:left; width:240px;}


.report_builder_select_criteria{border:0px solid #ccc; padding:0px; margin-top:5px; margin-bottom:20px;}

.report_builder_criteria_ul{margin: 10px 30px; clear: both;}
.report_builder_criteria_ul:after {display:block; clear:both; float:none; content:"";}

.report_builder_criteria_ul li {display:block; float:left; width:auto; margin-right:10px; width:auto; height:36px; margin-bottom:5px;}
.report_builder_criteria_cell, .report_builder_criteria_cell_2 {width: auto; height: auto; margin-bottom: 20px; padding-top: 0px; clear: both;}
.report_builder_criteria_cell .input_lable{ width:200px;}
.report_builder_criteria_cell_2 .input_lable{ width:auto; padding-right:10px; min-width:70px;}
.report_builder_criteria_cell_3 .input_lable{ width:164px;}

.report_builder_criteria_cell_3 {width: auto; height: auto; margin-bottom: 20px; padding-top: 0px; clear: both;}
.report_builder_criteria_cell_3:after{display:block; clear:both; content:"";}

.report_builder_cust_name_select{width: 650px; float: left; background-position:620px 0px; color:#666;}
.report_builder_cust_name_select:hover {background-position: 620px -26px !important;}
.report_builder_cust_name_select .custom-select{width:650px !important;}

.report_builder_cust_name_select_2{width: 220px; float: left; background-position:right 0px; color:#666;}
.report_builder_cust_name_select_2:hover {background-position:right -26px !important;}
.report_builder_cust_name_select_2 .custom-select{width:100% !important;}

.report_builder_criteria_li_txt{padding-top:5px; font-size:12px; font-weight:bold;}

.report_builder_select_fields{border:0px solid #ccc; padding:0px; margin-top:20px;}

.section_heading{display:block; font-size:14px; color:#153a66; font-weight:bold; text-transform:uppercase; padding-bottom:8px; border-bottom:1px solid #ccc; margin-left:-20px; padding-left:18px;
  margin-right:-20px; margin-bottom:20px;}

.border_patient_info{border-top:1px solid #ccc; padding-top:20px;}
.border_bottom{border-bottom: 1px solid #ccc;}


.float_left_0{ float:left;}
.margin_top_minus_10 {
    margin-top :-10px;
}

.form_font{font-size:12px; font-weight:bold;}
.heading_1_lable_1{text-transform:uppercase;}
.heading_1_lable_2{margin-left:158px; text-transform:uppercase;}
.heading_1_lable_3{margin-left:125px; text-transform:uppercase;}


/*start css created on 8th May*/
.height_160 { height: 160px !important;}
.height_146 { height: 146px !important;}
.width_90 { width: 90px !important;}

.contact_mapping_box{width:940px; padding:10px; border:1px solid #ccc; float:left;}

/*end css created on 8th May*/


.automatic_Order_ul {margin:2px 0px;}
.automatic_Order_ul:after{display:block; clear:both; float:none; content:"";}
.automatic_Order_ul li{ display:block; float:left; width:auto; margin-right:0px; width:375px;}

.automatic_Order_ul li .new_select_for_search{margin-top:0px;}

.automatic_Order_textarea{width:575px;  height:30px; resize:none; padding:5px 10px;}

.automatic_Order_ul li .search_cell .search_cell_txt{width:90px;}

.padding_0{ padding:0px !important;}

.margin_top_minus_8{margin-top:-8px !important;}
.margin_top_10{ margin-top:10px !important;}

.padding_left_right_40{padding-left: 40px !important; padding-right:40px !important;}

/*CSS created on 15th May */
.width_370px{width: 370px !important;}
.min_height_214{min-height:214px !important;}


/*Start created on 14/05/2015 */
.padding_left_20{ padding-left:20px !important;}
.padding_left_30{ padding-left:30px !important;}
.width_20{width:20px !important;}
/*End created on 14/05/2015 */
/*css created on 19th May */
.width_440px{width: 440px !important;}

.ui-multiselect-checkboxes label input{height:19px;}
.ui-multiselect-checkboxes .ui-corner-all .ez-checkbox{float:left; margin-right:4px;}
.ui-multiselect-checkboxes{height:175px; width:100%; /*overflow-y:hidden !important;*/} /*Overflow hidden commented by sandesh on 21st May*/
.ui-multiselect-checkboxes .mCSB_container_wrapper{margin-right: 13px;}
.ui-multiselect-checkboxes .mCSB_container_wrapper > .mCSB_container {padding-right: 0px;}
tr.highlight td {text-align: left;  background: #009fdf; color: #ffffff !important;}
tr.highlight td a, tr.highlight td a:hover {color:#ffffff !important; background: #009fdf !important; }
.padding_left_15 {
    padding-left:15px !important;
}

/*CSS Created on 20th May */
.audit_log_ul {margin:2px 0px;}
.audit_log_ul:after{ display:block; clear:both; float:none; content:"";}
.audit_log_ul li{ display:block; float:left; width:auto;   margin-right:20px; width:auto;}

.audit_log_lable {
    display: block;
    float: left;
    width: 110px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
}

.audit_log_input {
  display: block;
  float: left;
  width: 240px;
}

.audit_log_select {
  width: 220px;
  float: left;
  background-position: 270px 0px;
}

.audit_log_heading2 {
  display: block;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 20px;
}
.audit_log_input input[type="text"].hasDatepicker{
  width: 100px !important;
}
.margin_left_8{margin-left: 8px !important;}

.audit_log{background: #f1f1f1;
  width: 94%;
  height: auto;
  margin: 0 auto;
  padding: 20px 2%;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #E5E5E5;
  border-top: 0px;
  margin-top: -5px;
}

.margin_top_5{margin-top:5px;}

.height_300 {height:300px !important;}
.height_310 {height:310px !important;}
.height_53 {height:53px !important;}
.max_height_145{max-height:145px !important;}

/*Created on 21st may*/
.width_155{width:155px !important}
.width_153{width:153px !important}
.width_145{width:145px !important}
.width_95{width:95px !important}
.width_278{width:278px !important;}
.width_310{width:310px !important;}

.width_338{width:338px !important;}
.width_177{width: 177px !important;}
.width_333{width:333px !important;}


.width_97{width:97px !important}
.width_276{width:276px !important;}

.padding_left_58{padding-left: 58px !important;}
.padding_left_57{padding-left: 57px !important;}
.padding_left_47{padding-left: 47px !important;}
.padding_left_56{padding-left: 56px !important;}

.padding_left_54{padding-left: 54px !important;}
.padding_left_80{padding-left: 80px !important;}
.padding_left_84{padding-left: 84px !important;}
.padding_left_95{padding-left: 95px !important;}

.padding_top_125{padding-top:125px !important;}
.padding_top_90{padding-top:90px !important;}
.padding_top_160{padding-top:160px !important;}
.padding_top_180 {padding-top: 180px !important;}
.padding_top_190 {padding-top: 190px !important;}
.padding_top_10{padding-top:10px !important;}
.padding_top_15{padding-top:15px !important;}
.padding_right_30{padding-right:30px !important;}

.margin_top_minus_15 {margin-top:-15px !important;}
.margin_left_270{margin-left:270px !important;}
.margin_left_280{margin-left:280px !important;}
.margin_left_677{margin-left: 677px !important;}
.margin_left_41{margin-left: 41px!important;}


.width_302{width:302px !important;}

.padding_bot_20{padding-bottom: 20px !important;}
.width_25_align_center{width: 25px !important;  text-align: center;}
.width_36_align_center{width: 36px !important;  text-align: center;}

.margin_right_34{margin-right:34px !important;}
.margin_right_32{margin-right:32px !important;}
.margin_right_30{margin-right: 30px !important;}

.italic{font-style:italic;} 
 .color_black{color:#000!important;}


/*start Created on 22nd May*/
.interaction_summary_alert { display:none;
clear: both;
width: 98.9%;
margin: -5px auto 30px;
min-height: 150px;
border: 1px solid #E5E5E5;
padding-left: 5px;
padding-top:10px;
padding-bottom:10px;
padding-right:5px;
background: #eee;
border-top: 0px;
}
.width_100_perc{width:100% !important; margin-bottom:0px !important;}
.padding_7px{padding:7px; padding-bottom:10px !important;}

.font_12bold_2{ font-size:12px; font-weight:bold;}

.padding_top_60{padding-top:60px !important;}
/*End Created on 22nd May*/
/*Created on 27th May*/
.padding_top_37{padding-top:37px !important;}
.padding_top_6{padding-top:6px !important;}
.height_58{height:58px !important;}

.width_120{width:120px !important;}
.width_160{width:160px !important;}
.width_400{width: 168px !important;}
.width_400{width:400px !important;}
.width_230{width:230px !important;}

.height_40{height:40px !important;}


.padding_left_right_7x15{padding: 7px 15px !important;}

.report_builder_select_fields_2{ 
  background: #f1f1f1;
  width: 98%;
  height: auto;
  margin:-5px auto 30px;
  padding:20px 0;
  position: relative;
  border: 1px solid #E5E5E5;
  border-top: 0px;
  }



/*File*/

.nice .NFI-button {
	background-color:#eaeaea;
    border:1px solid #ccc;
	color:#444;
	width: 100px;
	height: 18px;
    padding:6px 0px;
	font-size:12px;
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.nice .NFI-button:hover {
	background: #009fdf;
	color:#fff;
}
.nice .NFI-filename {
	width: 200px;
	border:1px solid #ccc;
	height: 30px;
	line-height: 30px;
	color: #777;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.nice .NFI-filename:hover{border:1px solid #ccc;}

.test .NFI-button{
	background-color: #DD9201; /* 1774A3, 0192DD : A37417, DD9201 */ 
	text-shadow: none;
	border: solid #bb7200 1px;
	border-bottom: solid #995200 1px;
}
.test .NFI-button:hover {
	background: #bb7200;
	text-shadow: none;
	border: solid #995200 1px;	
}
.test .NFI-filename {
	border: solid #eee 1px;
	color: #777;
}

 
/*End File*/

a.comm_btn{display:inline-block; height: 15px; background: #005596; color: #fff; text-transform: uppercase; font-weight: normal; padding:8px 25px; transition:background 0.3s;  border: 0; font-size:12px;   border-radius:3px;}
a.comm_btn:hover{background:#239fdb; color:#fff;}

input.comm_btn{display:inline-block; height: 15px; background: #005596; color: #fff; text-transform: uppercase; font-weight: normal; padding:8px 25px; transition:background 0.3s;  border: 0; font-size:12px;   border-radius:3px;}
input.comm_btn:hover{background:#239fdb; color:#fff;}

.attachment_upload_btn_div{display:inline-block; top:-12px; position:relative; padding-left:5px;}

.margin_top_0{ margin-top:0px !important;}
.padding_left_40{padding-left: 40px !important;}

.width_164{width:164px !important;}
.width_603 {width: 603px !important;}

.margin_top_minus_left_15 {
    margin-left: 15px;
    margin-top: -3px;
}

.ui-jqgrid tr.jqgrow td {white-space: nowrap;}
.margin_left_25{margin-left:25px;}

.padding_left_150{ padding-left:150px !important;}

.pnote_class{ padding-bottom:10px;}
.pnote_class strong{ display:block; padding-bottom:10px;}

.padding_left_25{ padding-left:25px !important;}
.width_75 {width: 75px !important;}
.margin_left_7_right_7{ margin-left:7px !important; margin-right:7px !important;}
.mass_data_textarea {
  width: 252px !important;
  height: 16px !important;
  padding: 5px;
  resize: none;
  font-size: 12px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.width_220{width:230px !important;}

.margin_left_62{margin-left: 62px !important;}
.width_252{width:252px !important;}
.padding_left_75{padding-left: 75px !important;}
.margin_bot_0{ margin-bottom:0px !important;}
.width_445{width:445px !important;}
.width_340{width:340px !important;}
.padding_left_38{padding-left: 38px !important;}
.border_all{border:1px solid #CCCCCC;}
.margin_top_left_15 {margin-left: 15px; margin-top: 10px;}
.width_85{width:85px !important;}
.width_170{width:170px !important;}

.padding_left_142 {padding-left: 142px;}
.padding_left_42{padding-left: 42px !important;}
.width_238{width:238px !important;}
.height_370{height:370px !important;}
.fontsize_15px{font-size:15px !important;}

#divPrescription.disable_div{min-height:300px; height:260px !important;}

#jqPatientSearchResults tr td .ez-checkbox{float:none;}

.display_none{display:none}

.width_630{width:630px !important;}
.width_500{width:500px !important;}
.width_550{width:550px !important;}
.width_570{width:570px !important;}
.width_490{width:490px !important;}
.width_250{width:250px !important;}
.width_114{width:114px !important;}
.width_78 {width:78px !important;}
.width_70{width:70px !important;}
.width_395{width:395px !important;}
.width_50per{width:50% !important;}
.width_44per{width:44% !important;}
.width_32per{width:32% !important;}
.width_55per{width:55% !important;}
.width_138{width:138px !important;}
.width_910{width:910px !important;}


.max_width_32per{max-width:32%;}

.height_43{height:43px !important;}

.width_scroll{width:100%; overflow-x:auto;}



.min_height_110{min-width:110px !important;}
.min_height_80{min-width:80px !important;}

.jqCarehomeReport{height:260px; overflow-x: auto; overflow-y: hidden; margin-top: 15px;}

.overflow_x_auto{overflow-x:auto !important;}
.overflow_y_auto{overflow-y:auto !important;}
.overflow_x_hidden{overflow-x:hidden !important;}
.overflow_y_hidden{overflow-y:hidden !important;}



.btn_fix_bot{background-color: #fff; padding: 10px; position: fixed; bottom: 0px; width: 939px; left: auto; z-index: 99; margin-left: -18px;}

#divAuditLogPartial {min-height:420px !important;}
 .table_section_2_add{max-width:1020px; margin-left:8px;}

.divHelixResponse {display:block; font-size:14px; padding-bottom:3px;}

.oneOff_ord_info{ font-size: 8.5px; padding-left:5px;}

.width_265{width:265px !important; font-size: 12px; color: #555; font-family: arial;} 

input#txtResidentialNote {  width: 388px; padding: 12px 5px;float: right;}

.so_textarea{width:380px; height:30px; margin-top:10px; resize:none; padding:10px; border:1px solid #ccc; word-break:normal;}
.co_textarea{width:380px; height:30px; padding:10px; margin-top: -7px; resize:none; border:1px solid #ccc; word-break:normal;}


.RecentOrderRow{background-color:#DADEDD;}
.RecentOrderAltRow{background-color:#BEBDB8;}

.padding_topbot_8px {padding-bottom:8px !important; padding-top:8.5px !important;}

 .disp_block_1{display: block !important;}

 #divCreateInteraction{overflow-y:auto;}

.view_auditlog_btn{position:absolute; bottom:33px; right:19px;}


div[aria-describedby="divPatientRecentOrdersPopup"].ui-dialog.ui-resizable {min-width: 1200px !important;}

#jqAlertNotes tr.ui-widget-content:hover {background: #009fdf !important;color: #fff;}
div[aria-describedby="divAlertNotePopUp"].ui-dialog.ui-resizable{min-width: 890px !important;}
.position_rel > .ez-checkbox:first-child {margin-top:1.5px;}


#divSelectedAlertNotePopUp {width:845px; height:143px; position:absolute; top:10px; background:#f1f1f1; left:10px; border:1px solid #ccc;}

 #divSelectedNotePopUp{width:828px; height:215px; position:absolute; top:20px; background:#f1f1f1; left:20px; border:1px solid #ccc;}
 #divSelectedNotePopUp .table_section_2, #divSelectedAlertNotePopUp .table_section_2{height:auto !important; background:transparent; box-shadow:none; border:0px; font-size:13px;}
 #divSelectedNotePopUp #noteText, #divSelectedAlertNotePopUp #noteAlertText{word-wrap: break-word; word-break: break-all; white-space:pre; height:150px; font-size:12px; line-height:16px; overflow-y:auto; overflow-x:hidden;}
 #divSelectedNotePopUp #noteText strong, #divSelectedAlertNotePopUp #noteText strong{display: block; padding-bottom:5px;}
 #divSelectedNotePopUp a, #divSelectedAlertNotePopUp a{float:right; margin-top:10px; margin-right:10px;}

 #divSelectedAlertNotePopUp #noteAlertText{height:80px;}

 .mand_star{position:absolute; right:15px; top:8px; color:red !important; font-size:17px;}
 .mand_star_2{position:absolute; left:456px; top:8px; color:red !important; font-size:17px;}

 .padding_8_25{padding:8.5px 25px !important;}
 .top_0{top:0px !important;}
 .margin_top_16{margin-top:16px !important;}
 .width_475{width:475px !important;}
 .white_fade{color:rgba(255,255,255,0.5);}

 .unreadinteraction td{ font-weight:bold !important;}
 .note-pop-txt{font-size:13px; display:inline-block; word-break:break-word; width:450px; padding-left:7px; line-height:17px;}

 .border-radius{border-radius:3px;}
 .border-radius-none{border-radius:0px;}

.ddlCustomer_interactionR .ui-multiselect {width:592px !important;}
.ui-multiselect-checkboxes label span{width:80% !important;}

 
.ui-autocomplete{width: auto !important; min-width:318px; overflow-x:hidden; overflow-y:auto !important; max-height:210px; border-radius:3px !important;  padding:0px; background:#eee !important; z-index:999 !important;}
.ui-widget-content .ui-state-focus {background: #009fdf !important;color: #fff;}
.ui-menu .ui-menu-item {font-size:12px; word-break:break-all; word-wrap:break-word;}
.ui-menu .ui-menu-item:hover{border-radius:0px;  background: #009fdf !important; color: #fff;}
.ui-autocomplete .ui-menu-item {padding: 5px 10px;}

#jqgh_jqCareHomePatientDetails_DeliveryFrequency{text-transform:none;}
#jqgh_jqCarehomeReport_Frequency {text-transform: none;}