#nav,#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
	z-index:1000;
}
#nav {
   /* background-color: #000000;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);*/
    display: table;
    padding: 10px 0px;
    position: relative;
    width: auto;
}
#nav ul {
    background-color: #fff;
    /*border:1px solid #ccc;*/
    border-radius: 0 5px 5px 5px;
    border-width: 0 1px 1px;
    box-shadow:0px 1px 3px #ccc;
    left: -9999px;
    overflow: hidden;
    padding: 20px 0 10px;
    position: absolute;
    top: -9999px;

    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);

    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

    -moz-transition: -moz-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: transform 0.2s linear;
}
#nav li {
    float: left;
    position: relative;
	margin-left:1px;
	margin-right:1px;
}
#nav li a {
    color: #fff;
    display: block;
    font-size:13px;
    padding: 9px 15px; /*Change 17px to 15px*/
    text-decoration: none;
    background-color:rgba(255,255,255,0.4);
    border-top-left-radius:3px;
	border-top-right-radius:3px;
    transition: background 0.2s;
	line-height:17px;
}


#nav li a.home_btn{background:#fff url(../../Images/home-inactive.png) no-repeat; background-position:center; padding:17px 25px 18px 25px;}

#nav li a.home_btn:hover{background:#79ba47 url(../../Images/home-active.png) no-repeat; background-position:center; padding:17px 25px 18px 25px;}
#nav li a.home_btn.active{background:#79ba47 url(../../Images/home-active.png) no-repeat; background-position:center; padding:17px 25px 18px 25px;}
#nav li a.home_btn.active_menu{background:#79ba47 url(../../Images/home-active.png) no-repeat; background-position:center; padding:17px 25px 18px 25px;}


#nav li:hover > a {
    background-color:rgba(255,255,255,1); color:#666;
	transition: background 0.2s;
}

#nav li a.active_menu{background-color:rgba(255,255,255,1); color:#666;}

#nav li:hover > a.hsubs {
    border-radius: 3px 3px 0 0;
}
#nav li:hover ul.subs {
    left: 0;
    top: 30px;
    width: 191px;
 	-moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
}

#nav li:hover ul.subs li a{ background-color:#fff; color:#666; padding:7px 10px !important;}

#nav ul li { width: 100%; margin-left: 0%;}

#nav ul li a {border-top-left-radius: 0px !important; border-top-right-radius:0px !important; border-bottom-left-radius: 0px !important; border-bottom-right-radius:0px !important;}

#nav ul li:hover > a {
    background-color:#009fdf !important; color:#fff !important;
    border-radius: 5px 5px 5px 5px;
}

/* colors */
.colorScheme {
    height: 32px;
    list-style: none outside none;
    margin: 0 auto 25px;
    width: 320px;
}
.colorScheme a {
    cursor: pointer;
    float: left;
    height: 30px;
    margin: 0 5px;
    width: 30px;
}
.colorScheme .red {
    background-color:#79ba47;
}
.colorScheme .orange {
    background-color: orange;
}
.colorScheme .pink {
    background-color: pink;
}
.colorScheme .green {
    background-color: green;
}
.colorScheme .blue {
    background-color: blue;
}
.colorScheme .indigo {
    background-color: indigo;
}
.colorScheme .violet {
    background-color: violet;
}
.colorScheme .grey {
    background-color: grey;
}

#red:target ~ #nav ul {
    background-color:#79ba47;
    border: 1px solid #79ba47;
}
#orange:target ~ #nav ul {
    background-color: orange;
    border: 1px solid orange;
}
#pink:target ~ #nav ul {
    background-color: pink;
    border: 1px solid pink;
}
#green:target ~ #nav ul {
    background-color: green;
    border: 1px solid green;
}
#blue:target ~ #nav ul {
    background-color: blue;
    border: 1px solid blue;
}
#indigo:target ~ #nav ul {
    background-color: indigo;
    border: 1px solid indigo;
}
#violet:target ~ #nav ul {
    background-color: violet;
    border: 1px solid violet;
}
#grey:target ~ #nav ul {
    background-color: grey;
    border: 1px solid grey;
}

#red:target ~ #nav li:hover > a {
    background-color: #79ba47;
}
#orange:target ~ #nav li:hover > a {
    background-color: orange;
}
#pink:target ~ #nav li:hover > a {
    background-color: pink;
}
#green:target ~ #nav li:hover > a {
    background-color: green;
}
#blue:target ~ #nav li:hover > a {
    background-color: blue;
}
#indigo:target ~ #nav li:hover > a {
    background-color: indigo;
}
#violet:target ~ #nav li:hover > a {
    background-color: violet;
}
#grey:target ~ #nav li:hover > a {
    background-color: grey;
}