
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media screen and (min-width: 959px) and (max-width: 1900px) {

  
	 
}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 959px) {

 

}

	/* All Mobile Sizes (devices and browser) */
@media screen and (max-width: 767px) {

 

}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media screen and (min-width: 480px) and (max-width: 767px) {
	 	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media screen and (max-width: 479px) {
	 
	}
