﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;
@using SCA.Indigo.Common.Enums
@{
    Layout = null;
}

<form action="/Attachment/UploadAttachment" method="post" enctype="multipart/form-data" id="frm_Attachment">

    <label class="font_12bold_2" title="Patient ID/Name" id="lblAttachmentTypeName">Patient ID/Name</label>
    <br>
    <br>    
    <div id="AttachmentFileUploadControl">
        <input type="file" id="AttachmentFileControl" onchange="AttachmentObj.FileUploadChange(this)" @*class="nicefileinput nice"*@ />
        @*<div class="attachment_upload_btn_div"><a href="javascript:void(0);" class="comm_btn" id="btnUpload" onclick="AttachmentObj.UploadFile()">Upload</a></div>*@
        <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnUpload" onclick="AttachmentObj.UploadFile()">@Common.resbtnFileUpload</a>
    </div>
    <input type="hidden" value="" id="AttachmentTypeId" />
    <input type="hidden" value="" id="hdnTypeId">
    <input type="hidden" value="@Common.resFileSize" id="hdnFilzSize">
    <input type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["MaxAttachSizeInMB"].ToString()" id="hdnAppConfigMaxSixe" />
    <input type="hidden" value="@Common.resDownload" id="hdnDownload">    
    <p title="fileFormat" id="FileFormat" class="fontsise_12px">(@Common.resOnly @System.Configuration.ConfigurationManager.AppSettings["SupportedFileFormat"].ToString() @Common.resFileFormatList)</p>
    <div id="AttachmentGriddiv">
        <table id="jqAttachmentGird"></table>
        <div id="jqAttachmentGirdTablePager"></div>
    </div>
    <div class="float_right margin_top_15">
        <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnAttachmentExit" onclick="AttachmentObj.AttachmentExit()">@Common.reslnkExit</a>
    </div>
    <script type="text/javascript">
        $jqGrid = jQuery.noConflict();
        $jqGrid(document).ready(function () {
            $jqGrid("#jqAttachmentGird").jqGrid({
                url: '@Url.Action(Constants.ActionDisplayAttachment, Constants.AttachmentController)',
                datatype: "local",
                mtype: "GET",
                colNames: ['<input type="checkbox" id="chkRemoveAllAttachment"> <i class="fa fa-trash"></i>', '', '@Common.resFileName', '@Common.reslableCreatedBy', '@Common.resAttachmentDate', '',  '', ''],
                colModel: [
                    { name: 'Remove', index: 'Remove', edittype: 'checkbox', width: '110', classes: 'align_center', formatter: AttachmentObj.RemoveAttachment, editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false },
                    { name: 'AttachmentId', index: 'AttachmentId', hidden: true },
                    { name: 'FileName', index: 'FileName', editable: false, width: '250', classes: 'align_left padding_left_10 padding_right_10 word_wrap_normal' },
                    { name: 'CreatedBy', index: 'CreatedBy', editable: false, width: '100' },
                    { name: 'CreatedDate', index: 'CreatedDate', editable: false, width: '150', formatter: 'date', formatoptions: { srcformat: 'm/d/y', newformat: 'd/m/Y' } },
                    { name: 'Download', index: 'Download', editable: false, width: '250', formatter: AttachmentObj.ShowMessage, classes: 'align_left hyperLink' },
                    { name: 'AbsolutePath', index: 'AbsolutePath', editable: false, hidden: true },
                    { name: 'AttachmentLocation', index: 'AttachmentLocation', editable: false, hidden: true }],
                height: '180',
                width: '847',
                toppager: false,
                jsonReader: { repeatitems: false },
                pager: $jqGrid("#jqAttachmentGirdTablePager"),
                rowNum: 50,
                viewrecords: true,
                autowidth: false,
                sortname: "",
                emptyrecords: '@Common.resGrdNoRecordsToView',
                sortorder: "asc",
                gridComplete: function () {
                    $jqGrid("#jqAttachmentGirdTablePager_left").hide();
                },
                ondblClickRow: function (rowid) {
                },
            }).navGrid("#jqAttachmentGirdTablePager",
        { search: false, refresh: false, add: false, edit: false, del: false },
        {},
        {},
        {}
    );

            $jqGrid("#jqAttachmentGird").trigger("reloadGrid");
        });


    </script>  

    <div class="j_lightbox_error" id="divAttachmentProcess">
        <div class="j_lightbox_error_wrapper">
            <div class="padding_20 search_form_main_btns align_center">
                @Common.resRemoveAttachment <br><br>
                <a href="javascript:void(0);" id="btnAttachmentOk" onclick="AttachmentObj.AttachmentOkButon()" class="search_form_buttons padding_left_right_15 small_btn_2">@Common.resbtnErrorOk</a>
                <a href="javascript:void(0);" id="btnAttachmentCancel" onclick="AttachmentObj.AttachmentCancelButon()" class="search_form_buttons padding_left_right_15 small_btn_2">@Common.resGeneralCancel</a>
            </div>
        </div>
    </div>    
    
  
    <input type="hidden" id="hdnAttachmentPatientType" value="@((int)SCAEnums.ObjectType.Patient)" />
    <input type="hidden" id="hdnAttachmentCareHomeType" value="@((int)SCAEnums.ObjectType.CareHome)" />
    <input type="hidden" id="hdnAttachmentCustomerType" value="@((int)SCAEnums.ObjectType.Customer)" />
    <input type="hidden" id="hdnAttachmentFileNotFound" value="@Common.resFileNotFound" />

</form>

@Scripts.Render("~/bundles/Attachment")