﻿@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Web.UI.Helper;
@using SCA.Indigo.Common.Enums;
@{
    Layout = null;
}

<style>
    body {overflow-x: hidden !important;}    
    .audit_log_input ::-ms-clear {display:none;}
    .audit_log_input .ui-datepicker-trigger{position:relative;}
    .ui-dialog .ui-dialog-content {overflow-y:auto;}
    .ui-dialog .validation_msg.ui-dialog-content{overflow-y:hidden;}
    #jqAuditLog input[role="textbox"]{width:92% !important;}
    div[aria-describedby="divAuditLogPartial"].ui-dialog.ui-resizable {max-width:1080px;}
</style>
 
<script>
    $(window).load(function () {
        $jqComm(".ui-jqgrid-bdiv").mCustomScrollbar("destroy");
        $jqComm("#gview_jqAuditLog").find(".ui-jqgrid").css('width', '1010px');
        $jqComm("#gview_jqAuditLog").find(".ui-jqgrid-bdiv").css('width', '1010px');
        $jqComm("#gview_jqAuditLog").find(".ui-jqgrid-hdiv").css('width', '1010px');
        $jqComm("#jqAuditLogTablePager").css('width', '1010px');
        $jqComm("#gbox_jqAuditLog").css('width', '1010px');
    });
</script>

<div id="AuditLogPage" class="AuditLogPage">
    <span class="heading-1 medical-staff-icon span_expnd"><i class="fa fa-info-circle"></i>@Common.resDetails</span>
    <div class="audit_log collapse" style="display:block;">
        <ul class="audit_log_ul width_700px float_left">
            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_lable"> @Common.resCustomerDropdown </span>
                    <span class="audit_log_input padding_left_20">
                        <input type="text" class="customerInfo" id="txtCustomerSearch" placeholder="@Common.resCustomerSAP" />
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_input">
                        <input type="text" class="customerInfo btn_disable" id="txtCustomerDisplay" disabled="disabled" />                        
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_lable">@Common.reslblCareHome</span>                    
                    <span class="audit_log_input padding_left_20">
                        <input type="text" class="customerInfo" id="txtcareHomeSearch" placeholder="@Common.resCareHomeSAP " />
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_input rdoRushOrder_class">
                        <input type="text" class="customerInfo btn_disable" id="txtcareHomeDisplay" disabled="disabled" />
                    </span>

                </div>
            </li>            

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_lable">@Common.reslblPatient</span>                    
                    <span class="audit_log_input padding_left_20">
                        <input type="text" class="customerInfo" id="txtPatientSearch" placeholder="@Common.resPatientSAP " />
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_input">
                        <input type="text" class="customerInfo btn_disable" id="txtPatientDisplay" disabled="disabled" />
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_lable" id="lblUserName">@Common.resUser</span>
                    <span class="audit_log_input padding_left_20">
                        <input type="text" class="customerInfo" id="txtUsernameSearch" placeholder="@Common.resGridUserRoleUserName "  tabindex="-1"/>
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_input">
                        <input type="text" class="customerInfo btn_disable" id="txtUsernameDisplay" disabled="disabled" />
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_lable">@Common.resFromDate</span>
                    <span class="audit_log_input padding_left_20">
                        <input type="text" class="AuditLogCalenderImg datepicker" placeholder="@Common.resDateFormat" id="dateAuditLogFromDate" tabindex="-1" />
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="audit_log_lable">@Common.resToDate</span>
                    <span class="audit_log_input width_140">
                        <input type="text" class="AuditLogCalenderImg datepicker width_210" placeholder="@Common.resDateFormat" id="dateAuditLogToDate" tabindex="-1" />
                    </span>
                </div>
            </li>
        </ul>

       <div class="float_right"><input type="button" value="@Common.resAuditLogReset" class="search_form_buttons small_btn btnAddProduct actionbtn" id="btnAuditLogReset" /></div>
        <div class="float_right"><input type="button" value="@Common.resbtnViewAuditLog" class="search_form_buttons small_btn btnAddProduct actionbtn margin_top_109 margin_left_41 view_auditlog_btn" id="btnViewAuditLog" /></div>
        <div class="clear"></div>
        </div>
    </div>
<ul>
    <li>
        <div class="map_rols_user_cell new_select_for_search margin_bot_12 margin_left_8">
            <input type="button" value="@Common.resbtnDownloadExcel" class="search_form_buttons small_btn btnAddProduct actionbtn" id="btnExportToExcel" />
            <input type="button" value="@Common.reslnkExit" class="search_form_buttons small_btn btnAddProduct margin_left_677 display_none"  id="btnExitAuditPopup" />
            <input type="button" value="@Common.resbtnSaveRemarks" class="search_form_buttons small_btn btnAddProduct actionbtn float_right margin_right_30" id="btnSaveRemarks" />
            @*<input type="button" value="@Common.resbtnDownloadpdf" class="search_form_buttons small_btn btnAddProduct" id="btnExportToPdf" />*@
            
        </div>
    </li>
</ul>    

    <div class="table_section_2 table_section_2_add height_300">
    <table id="jqAuditLog" class="jqAuditLog_pop"></table>
    <div id="jqAuditLogTablePager"></div>
</div>

<div class="j_lightbox_error" id="divAuditLogValidation" style="display:none">
    <div class="j_lightbox_error_wrapper short_pop padding_20 search_form_main_btns align_center validation_msg">
        <div id="divValidationMsgText" class="msgSuccess"> </div><br /><br /><br />   
        <input type="button" onclick=" $jqGrid('#divAuditLogValidation').hide();"
               class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only search_form_main_btns" value="@Common.resbtnErrorOk" />     
    </div>
   
</div>
<div id="divValidationConfirmRemarkField" style="display:none;min-height: 19px;">@Common.resConfirmationAuditLogRemark</div>

    <br />
    <br />
    <input type="hidden" id="jqAuditLogPopupPageNum" value="" />
    <input type="hidden" id="hdnPatientAuditLogType" value="@Convert.ToInt64(SCAEnums.AuditLogType.Patient)" />
    <input type="hidden" id="hdnCareHomeAuditLogType" value="@Convert.ToInt64(SCAEnums.AuditLogType.CareHome)" />
    <input type="hidden" id="hdnCustomerAuditLogType" value="@Convert.ToInt64(SCAEnums.AuditLogType.Customer)"/>
    <input type="hidden" id="hdnCustomAuditLogType" value="@Convert.ToInt64(SCAEnums.AuditLogType.Custom)" />
    <input type="hidden" id="hdnUserAuditLogType" value="@Convert.ToInt64(SCAEnums.AuditLogType.Users)" />


    <input type="hidden" id="hdnPatientTable" value="@Convert.ToString(SCAEnums.AuditLogType.Patient)" />
    <input type="hidden" id="hdnCustomerTable" value="@Convert.ToString(SCAEnums.AuditLogType.Customer)" />
    <input type="hidden" id="hdnCareHomeTable" value="@Convert.ToString(SCAEnums.AuditLogType.CareHome)" />
    <input type="hidden" id="hdnUsersTable" value="@Convert.ToString(SCAEnums.AuditLogType.Users)" />

    <input type="hidden" id="hdnCurrentUserType" value="@ControllerHelper.CurrentUser.UserType" />
    <input type="hidden" id="hdnCurrentUserRole" value="@ControllerHelper.CurrentUser.RoleName" />

    <input type="hidden" id="SCAuserType" value="@Convert.ToString(SCAEnums.UserType.SCA)" />
    <input type="hidden" id="ExtuserType" value="@Convert.ToString(SCAEnums.UserType.External)" />
    <input type="hidden" id="AdminUserRole" value="@Convert.ToString(SCAEnums.Role.Administrator)" />
    <input type="hidden" id="KeyMemberUserRole" value="@Convert.ToString(SCAEnums.Role.KeyUser)" />  
         

    <script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {

        $jqGrid("#jqAuditLog").jqGrid({
            url: '/AuditLog/GetAuditLog',
            datatype: "local",
            mtype: "GET",
            colNames: ['@Common.resGrdName', '@Common.resAction', '@Common.resGrdCreatedModifiedBy', '@Common.resGrdCreatedModifiedBy', '@Common.resGrdCreatedModifiedOn', '@Common.resGrdField', '@Common.resGrdOldValue', '@Common.resGrdNewValue','@Common.resGrdColumnRemarks', '@Common.resGrdTable ', '@Common.resGrdID',''],
            colModel: [

                { name: 'Name', index: 'Name', width: '110', hidden: false, editable: false },
                { name: 'Action', index: 'Action', width: '60' },
                { name: 'ModifiedBy', index: 'ModifiedBy', width: '80', hidden: true },
                { name: 'ModifiedBy', index: 'ModifiedBy', width: '80' },
                { name: 'ModifiedOn', index: 'ModifiedOn', width: '70', sorttype: 'date', formatter: 'date', formatoptions: { srcformat: "d/m/Y H:i:s", newformat: "d/m/Y H:i:s" } },
                { name: 'Field', index: 'Field', width: '100' },
                { name: 'OldValue', index: 'OldValue', editable: false, width: '110' },
                { name: 'NewValue', index: 'NewValue', editable: false, width: '110' },
                { name: 'Remarks', index: 'Remarks', width: '150', hidden: false, editable: true, classes: 'align_left' },// formatter: txtArea
                { name: 'TableName', index: 'TableName', width: '110' },
                { name: 'Id', index: 'Id', width: '60', hidden: false },
                { name: 'AuditLogId', index: 'AuditLogId', hidden: true },

            ],
            height: '225',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqAuditLogTablePager"),
            rowNum: 100,
            rowList: [100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            //autowidth: false,
            sortname: "",
            loadonce: false,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            sortorder: "asc",
            ignoreCase: true,
            cellEdit: true,
            cellsubmit: 'clientArray',
            caption: 'Audit Log',
            loadComplete: function(){
                var page = $jqGrid('#jqAuditLog').jqGrid('getGridParam', 'page');
                $jqGrid("#jqAuditLogPopupPageNum").val(page);
            },
            gridComplete: function () {
                $jqGrid('.ui-paging-info').css("text-align", "left");
                $jqGrid('#jqAuditLogTablePager_left').hide();
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#jqAuditLogTablePager_center').hide();
                } else {
                    $jqGrid('#jqAuditLogTablePager_center').show();
                }
            },
            onPaging: function (pgButton) {
                var newPage, lastPage;
                if ("user" == pgButton) {
                    newPage = parseInt($jqGrid(this.p.pager).find('input:text').val());
                    lastPage = parseInt($jqGrid(this).jqGrid('getGridParam', 'lastpage'));
                    if (newPage > lastPage) {
                        return 'stop';
                    }
                }
            },
            onSortCol: function (index, iCol, sortOrder) {

                var gridRows = $jqGrid("#jqAuditLog").jqGrid('getRowData');
                if(gridRows.length == 0)
                {
                    return 'stop';
                }

            },
        }).navGrid("#jqAuditLogTablePager",
                { search: false, refresh: false, add: false, edit: false, del: false },
                {},
                {},
                {}
            );
    });

    //function txtArea(cellvalue, options, rowObject) {
    //    return "<input type=textarea id = "+ options['rowId'] +"  />";
    //}
    </script>

 
<input type="hidden" value="@Common.resErrorMessageCustomer" id="hdnErrorSelectCustomer"/>
<input type="hidden" value="@Common.resErrormsgSelectCustomerORUser" id="hdnErrorSelectCustomerORUser" />
<input type="hidden" value="@Common.resErrorMsgSelectPatient" id="hdnErrorSelectPatient" />
<input type="hidden" value="@Common.resErrorDateDifference" id="hdnErrorDate" />
<input type="hidden" value="@Common.resErrorNoAuditLogs" id="hdnErrorNoAuditLogs" />
<input type="hidden" value="@Common.resErrorNoExcel" id="hdnErrorCannotExport" />

<input type="hidden" value="@Common.resErrorInvalidFromDate" id="hdnErrorInvalidFromDate" />
<input type="hidden" value="@Common.resErrorInvalidToDate" id="hdnErrorInvalidToDate" />
<input type="hidden" value="@Common.resMsgRemarksSaved" id="hdnMsgRemarksSaved" />
<input type="hidden" value="@Common.resGrdNoChanges" id="hdnMsgresGrdNoChanges" />
<input type="hidden" value="@Common.resErrorMsgRemarkSave" id="hdnErrorMsgRemarkSave" />






@Scripts.Render("~/bundles/AuditLog")