﻿@model SCA.Indigo.Web.UI.ViewModel.CareHomeViewModel
@using SCA.Indigo.Web.UI.Resource

<ul class="care_home_maintenance_ul">
    <li class="width_auto">
        <span class="care_home_maintenance_lable width_150">@Common.resCarehomeHeadCustomerNameORID:</span>
        <span class="care_home_maintenance_input width_420">
            <label class="read_only_lable" id="lblCustomerNameId">@Html.DisplayFor(a => a.HeaderData.CustomerNameId, new { @class = "label", @Id = "CustomerNameId"})</label>
        </span>
    </li>
    <li class="width_auto">
        <span class="care_home_maintenance_lable width_160">@Common.resCarehomeHeadCarehomeNDD:</span>
        <span class="care_home_maintenance_input width_120">
            <label class="read_only_lable width_85 min_height_110" id="lblCarehomeNDD">@Html.DisplayFor(a => a.HeaderData.CarehomeNDD, new { @class = "label", @Id = "CarehomeNDD" })</label>
        </span>
    </li>
    <li class="width_auto">
        <span class="care_home_maintenance_lable width_130">@Common.resCarehomeHeadAssessmentDate:</span>
        <span class="care_home_maintenance_input width_100">
            <label class="read_only_lable width_145 min_height_80"></label>
        </span>
    </li>
    <li class="width_auto">
        <span class="care_home_maintenance_lable width_150">@Common.resCarehomeHeadCarehomeNameORID:</span>
        <span class="care_home_maintenance_input width_420">
            <label class="read_only_lable" id="lblCareHomeNameId">@Html.DisplayFor(a => a.HeaderData.CareHomeNameId, new { @class = "label", @Id = "CareHomeNameId" })</label>
        </span>
    </li>
    <li class="width_auto">
        <span class="care_home_maintenance_lable width_160">@Common.resCarehomeHeadCarehomeFrequency:</span>
        <span class="care_home_maintenance_input width_120">
            <label class="read_only_lable width_85 min_height_110" id="lblCarehomeFrequency">@Html.DisplayFor(a => a.HeaderData.CarehomeFrequency, new { @class = "label", @Id = "CarehomeFrequency" })</label>
        </span>
    </li>
    <li class="width_auto">
        <span class="care_home_maintenance_lable width_130">@Common.resCarehomeHeadAssessingNurse:</span>
        <span class="care_home_maintenance_input width_100">
            <label class="read_only_lable width_145 min_height_80"></label>
        </span>
    </li>
    <li class="width_auto">
        <span class="care_home_maintenance_lable width_150">@Common.resCarehomeHeadCarehomeAdd:</span>
        <span class="care_home_maintenance_input width_420">
            <label class="read_only_lable height_40" id="lblCarehomeAddress">@Html.DisplayFor(a => a.HeaderData.CarehomeAddress, new { @class = "label", @Id = "CarehomeAddress" })</label>
        </span>
    </li>
    <li class="width_auto">
        <span class="care_home_maintenance_lable width_160">@Common.resCarehomeHeadCarehomePhoneNumber:</span>
        <span class="care_home_maintenance_input width_120">
            <label class="read_only_lable width_85 min_height_110" id="lblCarehomePhoneNo">@Html.DisplayFor(a => a.HeaderData.CarehomePhoneNo, new { @class = "label", @Id = "lblCarehomePhoneNo" })</label>
        </span>
    </li>
    <li class="width_auto">
        <span class="care_home_maintenance_lable width_130">@Common.resCarehomeHeadSignature:</span>
        <span class="care_home_maintenance_input width_100">
            <label class="read_only_lable width_145 min_height_110"></label>
        </span>
    </li>
</ul>