﻿@using SCA.Indigo.Web.UI.Resource
@{
    Layout = null;
}

<script type="text/javascript">

    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {
        $jqGrid("#jqCareHomeResults").jqGrid({
            datatype: "local",
            colNames: [
                '@Common.resCarehomeGridId', '@Common.resCarehomeGridName', '@Common.resCarehomeGridTelephoneNumber', '@Common.resCarehomeGridMobileNumber',
                '@Common.resCarehomeGridEmail', '@Common.resCarehomeGridCounty', '@Common.resCarehomeGridCounty', '@Common.resCarehomeGridCountry', '@Common.resCarehomeGridCity',
                '@Common.resCarehomeGridHouseName', '@Common.resCarehomeGridHouseNumber', '@Common.resCarehomeGridAddressLine1', '@Common.resCarehomeGridAddressLine2',
                '@Common.resGrdPostcode', '@Common.resSAPCareHomeId', '@Common.resCarehomeGridNDD', '@Common.resCarehomeGridRoundId', 
                '@Common.resCarehomeGridDeliveryFrequency', '@Common.resCarehomeGridRound',''
        ],
            colModel: [
                { name: 'CareHomeId', index: 'CareHomeId', hidden: true },
                { name: 'CareHomeName', index: 'CareHomeName', classes: 'align_left padding_left_10', width: '230' },
                { name: 'PhoneNo', index: 'PhoneNo', hidden: true },
                { name: 'MobileNo', index: 'MobileNo', hidden: true },
                { name: 'EmailAddress', index: 'EmailAddress', hidden: true },
                { name: 'County', index: 'County', hidden: true },
                { name: 'CountyCode', index: 'CountyCode', hidden: true },
                { name: 'Country', index: 'Country', hidden: true },
                { name: 'City', index: 'City', hidden: true },
                { name: 'HouseName', index: 'HouseName', hidden: true },
                { name: 'HouseNumber', index: 'HouseNumber', hidden: true },
                { name: 'Address1', index: 'Address1', hidden: true },
                { name: 'Address2', index: 'Address2', hidden: true },
                { name: 'PostCode', index: 'PostCode', width: '80' },
                { name: 'SapCareHomeNumber', index: 'SapCareHomeNumber', width: '120' },
                { name: 'NextDeliveryDate', index: 'NextDeliveryDate', formatter: 'date', formatoptions: {srcformat: 'm/d/y', newformat: 'd/m/Y' }, sorttype: 'date', classes: 'align_center', width: '110' },
                { name: 'RoundId', index: 'RoundId', hidden: true },
                { name: 'DeliveryFrequency', index: 'DeliveryFrequency', width: '150' },
                { name: 'Round', index: 'Round', hidden: true },
                { name: 'CareHomeStatus', index: 'CareHomeStatus', hidden: true },
            ],

            height: '140',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqCareHomeResultsTablePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            autowidth: true,
            sortname: "",
            sortorder: "asc",
            emptyrecords: '@Common.resGrdNoRecordsToView',
            loadonce: true,
            gridComplete: function () {
                $jqGrid('#jqCareHomeResultsTablePager_left').hide();
                $jqGrid('.ui-paging-info').css("text-align", "left");
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });
            },
            onCellSelect: function (rowid, iCol) {
            },
            ondblClickRow: function (rowId) {
                var rowData = $jqGrid(this).getRowData(rowId);
                window.isFromCarehomeChangePopup = true;
                SetCareHomeDetails(rowData);
                GetPrescriptionNDDRelatedDetails($("#ddlCustomer").val(), $("#Assignedcarehome").val() == "" ? 0 : $("#Assignedcarehome").val(), 0);
                ClosePopup('divCareHome');
            },

        }).navGrid("#jqCareHomeResultsTablePager",
            { search: false, refresh: false, add: false, edit: false, del: false },
            {},
            {},
            {}
        );
    });


</script>
<div id="divCareHome">

    <div class="search_pannel_searchbox">
        <span class="search_pannel_searchtxtbox">
            <input type="text" id="txtSearchCarehome" placeholder="@Common.resSearchPlaceholder">
        </span>
        <span class="search_pannel_searchbtn">
            <a href="javascript:void(0);" id="btnSearchCarehome"></a>
        </span>
    </div>

    <div class="table_section_2 mCustomScrollbar">
        <table id="jqCareHomeResults"></table>
        <div id="jqCareHomeResultsTablePager"></div>

    </div>
    <div class="pop_main_btns text_align_right">
        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" onclick="ClosePopup('divCareHome')">@Common.reslnkExit</a>
    </div>
</div>


