﻿@model SCA.Indigo.Web.UI.ViewModel.CareHomeReportViewModel
@using SCA.Indigo.Web.UI.Resource

<div class="table_section_2 jqCarehomeReport">
    <table id="jqCarehomeReport" class="jqCarehome_pop"></table>
    <div id="jqCarehomeReportTablePager"></div>
</div>

<script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {
        $jqGrid("#jqCarehomeReport").jqGrid({
            url: '/Carehome/GetCareHomeReportDetailsData',
            datatype: "local",
            mtype: "GET",
            colNames: ['@Common.respatientname', '@Common.resGrdPatientID', '@Common.resGrdPatientDOB', '@Common.resPatientStatus', '@Common.resGrdAssessmentDate', '@Common.resGrdNextAssessmentDate', '@Common.resGrdProductID', '@Common.resGrdDescription', '@Common.resGrdresAssPPD', '@Common.resGrdresActPPD', '@Common.resGrdPrescriptionFrequency ', '@Common.resGrdPrescriptionNextDelieveryDate', '@Common.resGrdPatientComment'],
            colModel: [

                { name: 'PatientName', index: 'PatientName', width: '120', classes: 'align_left padding_left_10' },
                { name: 'PatientSAPId', index: 'PatientSAPId ', width: '60', classes: 'align_center' },
                { name: 'DateOfBirth', index: 'DateOfBirth ', width: '80', classes: 'align_center' },
                { name: 'PatientStatus', index: 'PatientStatus ', width: '55', classes: 'align_center' },
                { name: 'LastAssessDate', index: 'LastAssessDate ', width: '80', classes: 'align_center' },
                { name: 'NextAssessDate', index: 'NextAssessDate ', width: '90', classes: 'align_center' },
                { name: 'SAPProductId', index: 'SAPProductId', width: '80', classes: 'align_center' },
                { name: 'ProductDescription', index: 'ProductDescription ', width: '198', classes: 'align_left padding_left_10' },
                { name: 'AssPPD', index: 'AssPPD', width: '60', classes: 'align_center' },
                { name: 'ActPPD', index: 'ActPPD', width: '60', classes: 'align_center' },
                { name: 'Frequency', index: 'Frequency ', width: '58', classes: 'align_center' },
                { name: 'NDD', index: 'NDD', width: '80', classes: 'align_center' },
                { name: 'Comment', index: 'Comment', sortable: false, width: '80', classes: 'align_center' },

            ],
            height: '185',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqCarehomeReportTablePager"),
            rowNum: 500,
            rowList: [100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',            
            sortname: "",
            loadonce: false,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            sortorder: "asc",
            ignoreCase: true,
            cellEdit: false,
            cellsubmit: 'clientArray',
            caption: 'CareHome Maintenance',
            loadComplete: function () {
                var page = $jqGrid('#Carehome').jqGrid('getGridParam', 'page');
                $jqGrid("#jqCarehomePopupPageNum").val(page);
            },
            gridComplete: function () {
                $jqGrid('.ui-paging-info').css("text-align", "left");
                $jqGrid('#jqCarehomeTablePager_left').hide();
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#jqCarehomeTablePager_center').hide();
                    $jqGrid('#btnCarehomeReportPrint').attr('disabled', 'disabled');
                    $jqGrid('#btnCarehomeReportDownload').attr('disabled', 'disabled');
                } else {
                    $jqGrid('#jqCarehomeTablePager_center').show();
                    $jqGrid('#btnCarehomeReportPrint').removeAttr('disabled');
                    $jqGrid('#btnCarehomeReportDownload').removeAttr('disabled');
                }
                $('#jqCarehomeReportTablePager_left').remove();
            },
            onPaging: function (pgButton) {
                var newPage, lastPage;
                if ("user" == pgButton) {
                    newPage = parseInt($jqGrid(this.p.pager).find('input:text').val());
                    lastPage = parseInt($jqGrid(this).jqGrid('getGridParam', 'lastpage'));
                    if (newPage > lastPage) {
                        return 'stop';
                    }
                }
            },
            onSortCol: function (index, iCol, sortOrder) {

                var gridRows = $jqGrid("#Carehome").jqGrid('getRowData');
                if (gridRows.length == 0) {
                    return 'stop';
                }

            },
        }).navGrid("#jqCarehomeReportTablePager",
                { search: false, refresh: false, add: false, edit: false, del: false },
                {},
                {},
                {}
            );
    });
</script>