﻿@*@model SCA.Indigo.Web.UI.ViewModel.CareHomeReportViewModel*@
@using SCA.Indigo.Web.UI.Resource

<div class="table_section_2 height_300">
    <table id="jqCarehomeReport" class="jqCarehome_pop"></table>
    <div id="jqCarehomeReportTablePager"></div>
</div>

<script>
    $(window).load(function () {
        $jqComm(".ui-jqgrid-bdiv").mCustomScrollbar("destroy");
        $jqComm("#gview_jqAuditLog").find(".ui-jqgrid").css('width', '1000px');
        $jqComm("#gview_jqAuditLog").find(".ui-jqgrid-bdiv").css('width', '1000px');
        $jqComm("#gview_jqAuditLog").find(".ui-jqgrid-hdiv").css('width', '1000px');
        $jqComm("#jqAuditLogTablePager").css('width', '1000px');
        $jqComm("#gbox_jqAuditLog").css('width', '1000px');
    });
</script>

<style>
    .ui-autocomplete {
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 1002;
        border-radius: 5px;
    }

        .ui-autocomplete .ui-menu-item {
            padding: 5px 10px;
        }

    .ui-widget-content .ui-state-focus {
        background: #009fdf !important;
        color: #fff;
        border-radius: 5px;
    }

    .ui-menu-item:hover {
        background: #009fdf !important;
        color: #fff;
    }

    .ui-state-highlight {
        background: #009fdf;
        color: #fff;
    }

        .ui-state-highlight a {
            color: #fff;
        }

    .audit_log_input ::-ms-clear {
        display: none;
    }
</style>

<script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {        
        $jqGrid("#jqCarehomeReport").jqGrid({
            url: '/Carehome/GetCareHomeReportForJqGrid',
            datatype: "local",
            mtype: "GET",
            colNames: ['@Common.respatientname', '@Common.resGrdPatientID', '@Common.resGrdDOB','@Common.resPatientStatus', '@Common.resLastAssessDate', '@Common.resNextAssessDate', '@Common.resGrdProductName', '@Common.resGrdDescription', '@Common.resAssPPD', '@Common.resActPPD', '@Common.resFrequency ', '@Common.reslblNDD', '@Common.resPlaceHolderNurseComments'],
            colModel: [

                { name: 'PatientName', index: 'PatientName', width: '140', hidden: false, editable: false },
                { name: 'PatientSAPId', index: 'PatientSAPId ', width: '90' },
                { name: 'DateOfBirth', index: 'DateOfBirth ', width: '90', hidden: true },
                { name: 'PatientStatus', index: 'PatientStatus ', width: '90' },
                { name: 'LastAssessDate', index: 'LastAssessDate ', width: '130', sorttype: 'date', formatter: 'date', formatoptions: { srcformat: "d/m/Y H:i:s", newformat: "d/m/Y H:i:s" } },
                { name: 'NextAssessDate', index: 'NextAssessDate ', width: '140' },
                { name: 'Product', index: 'Product', editable: false, width: '140' },
                { name: 'ProductDescription', index: 'ProductDescription ', editable: false, width: '140' },
                { name: 'Ass.PPD', index: 'Ass. PPD', width: '250', hidden: false, editable: true, classes: 'align_left padding_left_10' },// formatter: txtArea
                { name: 'Act.PPD', index: 'Act. PPD', width: '135' },
                { name: 'Frequency', index: 'Frequency ', width: '60', hidden: false },
                { name: 'NDD', index: 'NDD' },
                { name: 'Comment', index: 'Comment ' },

            ],
            height: '235',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqCarehomeReportTablePager"),
            rowNum: 100,
            rowList: [100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            //autowidth: false,
            sortname: "",
            loadonce: false,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            sortorder: "asc",
            ignoreCase: true,
            cellEdit: true,
            cellsubmit: 'clientArray',
            caption: 'Audit Log',
            loadComplete: function () {                
                var page = $jqGrid('#Carehome').jqGrid('getGridParam', 'page');
                $jqGrid("#jqCarehomePopupPageNum").val(page);
            },
            gridComplete: function () {                
                $jqGrid('.ui-paging-info').css("text-align", "left");
                $jqGrid('#jqCarehomeTablePager_left').hide();
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#jqCarehomeTablePager_center').hide();
                } else {
                    $jqGrid('#jqCarehomeTablePager_center').show();
                }
            },
            onPaging: function (pgButton) {
                var newPage, lastPage;
                if ("user" == pgButton) {
                    newPage = parseInt($jqGrid(this.p.pager).find('input:text').val());
                    lastPage = parseInt($jqGrid(this).jqGrid('getGridParam', 'lastpage'));
                    if (newPage > lastPage) {
                        return 'stop';
                    }
                }
            },
            onSortCol: function (index, iCol, sortOrder) {

                var gridRows = $jqGrid("#Carehome").jqGrid('getRowData');
                if (gridRows.length == 0) {
                    return 'stop';
                }

            },
        }).navGrid("#jqCarehomeReportTablePager",
                { search: false, refresh: false, add: false, edit: false, del: false },
                {},
                {},
                {}
            );
    });

    //function txtArea(cellvalue, options, rowObject) {
    //    return "<input type=textarea id = "+ options['rowId'] +"  />";
    //}
</script>
@Scripts.Render("~/bundles/CareHomeMaintenance")
