﻿@model SCA.Indigo.Web.UI.ViewModel.CareHomeViewModel
@using SCA.Indigo.Web.UI.Resource

<div class="align_right search_form_main_btns padding_0">
    <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnCarehomeReportPrint" onclick="ExportToPDF()">@Common.resbtnExportToPDF</a>&nbsp;
    <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnCarehomeReportDownload" onclick="ExportToExcel()">@Common.resbtnExportToExcel</a>
    <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnCarehomeReportClose" onclick="ClosePopup('divCareHomeReportPopup')">@Common.reslnlClose</a>
</div>
<div id="dvContainer">
    @{Html.RenderPartial("_CareHomeReportHeader", Model);}
    
    @{Html.RenderPartial("_CareHomeReportDetails", Model.HeaderData);}
</div> 
<input type="hidden" value="@Common.resCareHomeReportText" id="hdnCarehomeReport" />   
