﻿@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Web.UI.Helper;
@{
    Layout = null;
}

<script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {
        $jqGrid("#jqPostCodeSearchResults").jqGrid({
            datatype: "local",
            colNames: ['@Common.resStreetAddress', '@Common.resPlace', '@Common.resGrdPatientID'],
            colModel: [
                { name: 'StreetAddress', index: 'StreetAddress', editable: true, width: 250, classes: 'align_left padding_left_10' },
                { name: 'Place', index: 'Place', width: 400, classes: 'align_left padding_left_10' },
                { name: 'Id', index: 'Id', hidden: true }
            ],
            height:'145',
            width: 680,
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqPostCodeSearchResultsTablePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            autowidth: false,
            sortname: "",
            loadonce: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            sortorder: "asc",
            gridComplete: function () {
                $jqGrid('#jqPostCodeSearchResultsTablePager_left').hide();
                $jqGrid('.ui-paging-info').css("text-align", "left");
            },
            loadComplete: function () {
            },
            onCellSelect: function (rowid, iCol) {
            },
            ondblClickRow: function (rowid) {
                //debugger;
                var rowData = $jqGrid(this).getRowData(rowid);
                var addressId = rowData['Id'];
                ClosePopup('divPostCodeSearchPopup');
                SelectAddress($('#hdnPostCodeSearchKey').val(), addressId);
            },

        }).navGrid("#JqPatientContactInfoTablePager",
            { search: false, refresh: false, add: false, edit: false, del: false },
            {},
            {},
            {}
        );
    });
</script>


<!--table_section-->
<div class="table_section_2 mCustomScrollbar">
    <table id="jqPostCodeSearchResults"></table>
    <div id="jqPostCodeSearchResultsTablePager"></div>
</div>
<!--table_section-->

<div class="pop_main_btns text_align_right">
    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" onclick="ClosePopup('divPostCodeSearchPopup')">@Common.reslnkExit</a>
</div>

