﻿@model SCA.Indigo.Web.UI.ViewModel.InteractionViewModel
@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Web.UI.Helper;
@using SCA.Indigo.Web.UI.Helper;   
<style type="text/css">
    .ui-dialog.ui-resizable {
        min-width: 950px;
        top: 115px !important;
    }

    .cust_param_ul {
        max-width: 900px;
    }

    .create_interaction_textarea {
        width: 680px;
    }

    .create_interaction_ul li {
        width: 309px;
    }
    .create_interaction_ul li .cust_param_input input[type="text"] {width:100%;}

    .create_interaction_ul li:nth-child(1), .create_interaction_ul li:nth-child(4), .create_interaction_ul li:nth-child(7), .create_interaction_ul li:nth-child(10){width:530px;}
    .create_interaction_ul li:nth-child(1) .cust_param_input, .create_interaction_ul li:nth-child(4) .cust_param_input, .create_interaction_ul li:nth-child(7) .cust_param_input, .create_interaction_ul li:nth-child(10) .cust_param_input{width: 360px;}
    .create_interaction_ul li:nth-child(1) .cust_param_input input[type="text"], .create_interaction_ul li:nth-child(4) .cust_param_input input[type="text"], .create_interaction_ul li:nth-child(7) .cust_param_input input[type="text"], .create_interaction_ul li:nth-child(10) .cust_param_input input[type="text"] {width: 100%;}



    .create_interaction_textarea {height:150px; width:1030px;}
    #chkResolved{width:18px; height:18px;}
    #chkDisplayAsAlert{
        top: 1px;
        display: inline-block;
        position: absolute;
    }

    .create_interaction_btns {float: right;}

    div[aria-describedby="divCreateInteraction"].ui-dialog.ui-resizable {
        width: 1270px !important;
        left: 34px !important;
    }
    .cust_param_input input[type="text"] {width: 210px;}
    .cust_param_ul {max-width: 100%;}
     
    .cust_param_input{width:160px;}
    .cust_param_input input[type="text"] {width:160px;}
    .create_interaction_select {width:160px;}
    .create_interaction_display_section {padding:10px 0px;}
    .create_interaction_btns {padding: 30px 0px 10px;}
</style>
<script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {           
        setTimeout(function () {                
            CommonScriptObj.PatientId = $jqGrid("#hdnCreateInteractionPatientId").val();
            CommonScriptObj.CareHomeId = $jqGrid("#hdnCreateInteractionCarehomeId").val();
            CommonScriptObj.CustomerId = $jqGrid("#hdnCreateInteractionCustomerId").val();
            CommonScriptObj.SAPCustomerNumber = $jqGrid("#txtCustomerId").val();
            CommonScriptObj.SAPPatientNumber = $jqGrid("txtPatientId").val();
            CommonScriptObj.SAPCareHomeNumber = $jqGrid("#txtCareHomeId").val();
            CommonScriptObj.CareHomeName = $jqGrid("#txtCareHomeName").val();
            CommonScriptObj.PatientName = $jqGrid("#txtPatientName").val();
            CommonScriptObj.CustomerName = $jqGrid("#txtCustomerName").val();            
        }, 500);
        if ($jqGrid("#hdnuserType").val() == "SCA") {
            $jqGrid('#chkResolved').removeAttr('disabled');
        }
        else {
            $jqGrid('#chkResolved').attr('disabled', 'disabled');
        }
    });

</script>

<div class="create_interaction_display_section mCustomScrollbar">
    <form id="frm_CreateInteraction">
        <ul class="cust_param_ul create_interaction_ul">
            <li>
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.resCustomerName</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtCustomerName", Model.CustomerName, new { @id = "txtCustomerName", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li> 

            <li>
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.resInteractionCreatedBy</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtInteractionCreatedBy", Model.CreatedBy, new { @id = "txtInteractionCreatedBy", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.resCreatedDate</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtInteractionCreatedDate", Model.CreatedDate, new { @id = "txtInteractionCreatedDate", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li>  
            <li>
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.respatientname</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtPatientName", Model.PatientName, new { @id = "txtPatientName", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })

                    </span>
                </div>
            </li>
            <li>
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.resResolvedBy</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtResolvedBy", Model.ResolvedBy, new { @id = "txtResolvedBy", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li>
            <li>
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.resResolvedDate</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtResolvedDate", Model.ResolvedDate, new { @id = "txtResolvedDate", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li>   
            <li>
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.resCarehomeName</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtCareHomeName", Model.CarehomeName, new { @id = "txtCareHomeName", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li>
            <li>
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.resClosedBy</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtClosedBy", Model.ClosedBy, new { @id = "txtClosedBy", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li>
            <li>
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.resClosedDate</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtClosedDate", Model.ClosedDate, new { @id = "txtClosedDate", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li>
            <li>
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.resLogisticProviderName</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtLogisticProviderName", Model.LogisticProviderName, new { @id = "txtLogisticProviderName", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li>
            <li>
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.resChangedBy</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtInteractionChangedBy", Model.ModifiedBy, new { @id = "txtInteractionChangedBy", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li>
            <li>
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.resChangedDate</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtInteractionChangedDate", Model.ModifiedDate, new { @id = "txtInteractionChangedDate", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li>
 
            <li class="padding_top_10 width_395">
                <div class="map_rols_user_cell new_select_for_search margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.resInteractionType *</span>
                    <span class="create_interaction_select width_250 select-style" style="background-color:white">
                        @Html.DropDownList("ddlInteractionType", Model.InteractionTypeList, @Common.resSelect, new { @class = "custom-select width_250 padding_right_30", tabindex = "1", onChange = "InteractionObj.FillInteractionSubType()" })
                    </span>
                </div>
            </li>
            <li class="padding_top_10 width_340">
                <div class="map_rols_user_cell new_select_for_search margin_bot_7">
                    <span class="cust_param_lable width_85">@Common.resInteractionSubType *</span>
                    <span class="create_interaction_select width_250 select-style" style="background-color:white">
                        @Html.DropDownList("ddlInteractionSubType", Enumerable.Empty<SelectListItem>(), @Common.resSelect, new { @class = "custom-select width_250 padding_right_30", tabindex = "3" })
                    </span>
                </div>
            </li>
            <li class="padding_top_10 width_140">
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_90">@Common.resResolved</span>
                    <span class="cust_param_input width_30">
                        @Html.CheckBoxFor(m => m.Resolved, new { tabindex = "9", id = "chkResolved" })
                    </span>
                </div>
            </li>
            <li class="padding_top_10 width_260 margin_right_0">
                <div class="map_rols_user_cell new_select_for_search margin_bot_7">
                    <span class="cust_param_lable width_85">@Common.resStatus *</span>
                    <span class="create_interaction_select width_170 select-style" style="background-color:white">
                        @Html.DropDownList("ddlInteractionStatus", Model.StatusList, @Common.resSelect, new { @class = "custom-select width_168 padding_right_30", tabindex = "2" })
                    </span>
                </div>
            </li>
          
            <li>
                <div class="map_rols_user_cell margin_bot_7 display_none">
                    <span class="cust_param_lable width_140">@Common.resGridUserRoleSAPCustomerID</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtCustomerId", Model.SAPCustomerId, new { @id = "txtCustomerId", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell margin_bot_7 display_none">
                    <span class="cust_param_lable width_140">@Common.reslblSAPPatientId</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtPatientId", Model.SAPPatientId, new { @id = "txtPatientId", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li>

            <li>
                <div class="map_rols_user_cell margin_bot_7 display_none">
                    <span class="cust_param_lable width_140">@Common.resCareHomeSAPID</span>
                    <span class="cust_param_input">
                        @Html.TextBox("txtCareHomeId", Model.SapCarehomeId, new { @id = "txtCareHomeId", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                    </span>
                </div>
            </li>
 
        </ul>

      
        <ul class="cust_param_ul">
            <li class="width_885">
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140">@Common.resGeneralDescription *</span>
                    <span class="cust_param_input">
                        @Html.TextAreaFor(m => m.Description, new { @class = "create_interaction_textarea", tabindex = "4", id = "InteractionDescription" })
                    </span>
                </div>
            </li>

        </ul>


        <ul class="cust_param_ul" style="padding-top:5px;">
            <li class="width_320 float_right">
                <div class="map_rols_user_cell new_select_for_search margin_bot_7 width_340">
                    <span class="cust_param_lable width_108" id="lblAssignedTo">@Common.resAssignedTo</span>
                    <span class="create_interaction_select select-style" style="background-color:white">
                        @Html.DropDownList("ddlInteractionAssignedTo", Model.AssignedToList, @Common.resSelect, new { @class = "custom-select", tabindex = "6" })
                    </span>
                </div>
            </li>
            <li class="width_120 margin_top_minus_8 float_right">
                <div class="map_rols_user_cell margin_bot_7">
                    <span class="cust_param_lable width_140"></span>
                    <span class="cust_param_lable position_rel">@Common.resDisplayAsAlert &nbsp;@Html.CheckBoxFor(m => m.DisplayOnly, new { tabindex = "5", id = "chkDisplayAsAlert" })</span>
                </div>
            </li>
        </ul>
        <div class="form_main_btns create_interaction_btns margin_right_25" id="createInteractionMainbutton" style="padding:7px 0px 10px;">
            <input type="button" value=@Common.resBtnNameSave id="btnSaveInteraction" class="search_form_buttons padding_left_right_20 height_30" tabindex="7" onclick="InteractionObj.SaveInteractionDetails()">
            <input type="button" value=@Common.resBtnGeneralReset id="btnUndoInteraction" class="ssearch_form_buttons padding_left_right_20" tabindex="8" onclick="InteractionObj.Undo()">
            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" tabindex="9" id="btnPatientDetails" onclick="InteractionObj.ShowPatientDetails()">@Common.resBtnPatientDetails</a>
            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" tabindex="10" id="btnCarehomeDetails" onclick="InteractionObj.ShowCarehomeDetails()">@Common.resBtnCarehomeDetails</a>
            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" tabindex="11" onclick="InteractionObj.ExitCreateInteractionPopup()">@Common.reslnkExit</a>

        </div>
        <div class="j_lightbox_error" id="j_InteractionUndo_lightbox_error">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divIntercationUndoMessage" class="pop_error">
                    </div>
                    <br />
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="j_lightbox_error" id="j_Interaction_lightbox_error">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divValidationInteractionErrorMessage" class="pop_error">
                    </div>
                    <br />
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Hidden("hdnInteractionId", Model.InteractionId, new { id = "hdnInteractionId" })
@Html.Hidden("hdnCreateInteractionCustomerId", Model.CustomerId, new { id = "hdnCreateInteractionCustomerId" })
@Html.Hidden("hdnCreateInteractionPatientId", Model.PatientId, new { id = "hdnCreateInteractionPatientId" })
@Html.Hidden("hdnCreateInteractionCarehomeId", Model.CarehomeId, new { id = "hdnCreateInteractionCarehomeId" })
@Html.Hidden("hdnInteractionTypeId", Model.InteractionTypeId, new { id = "hdnInteractionTypeId" })
@Html.Hidden("hdnInteractionSubTypeId", Model.InteractionSubTypeId, new { id = "hdnInteractionSubTypeId" })
@Html.Hidden("hdnInteractionDescription", Model.Description, new { id = "hdnInteractionDescription" })
@Html.Hidden("hdnInteractionDisplayAsAlert", Model.DisplayAsAlert, new { id = "hdnInteractionDisplayAsAlert" })
@Html.Hidden("hdnStatuId", Model.StatusId, new { id = "hdnStatuId" })
@Html.Hidden("hdnAssignedTo", Model.AssignedTo, new { id = "hdnAssignedTo" })
@Html.Hidden("hdbIsDoubleClicked", Model.IsDoubleClicked, new { id = "hdbIsDoubleClicked" })
@Html.Hidden("hdnStatusId", Model.StatusId, new { id = "hdnStatusId" })
@Html.Hidden("SetInteractionSession", Url.Action("SetSessionForInteraction", "Patient"), new { id = "SetInteractionSession" })
@Html.Hidden("InteractionSubTypeAction", Url.Action("GetInteractionSubType", "Patient"), new { id = "InteractionSubTypeAction" })
@Html.Hidden("SaveInteractionDetailsAction", Url.Action("SaveInteractionDetails", "Patient"), new { id = "SaveInteractionDetailsAction" })
@Html.Hidden("ShowPatientDetails", Url.Action("PatientDetails", "Patient"), new { id = "ShowPatientDetailsInteractionAction" })
@Html.Hidden("RenderPatientDetails", Url.Action("Renderpatient", "Patient"), new { id = "RenderPatientDetailsAction" })
@Html.Hidden("ShowCarehomeDetails", Url.Action("GetCareHome", "CareHome"), new { id = "ShowCarehomeDetailsAction" })
@Html.Hidden("InteractionParentFormName", Model.ParentFormName, new { id = "InteractionParentFormName" })
@Html.Hidden("Username", Model.User, new { id = "Username" })
@Html.Hidden("UserId", Model.UserId, new { id = "UserId" })
@Html.Hidden("hdnInteractionResolved", Model.Resolved, new { id = "hdnInteractionResolved" })
@Html.Hidden("hdnIsBtnEnabled", Model.IsBtnEnabled, new { id = "hdnIsBtnEnabled" })
<input type="hidden" id="ErrorMessageDescription" value="@Common.resErrorMessageDescription" />
<input type="hidden" id="ErrorMessageInteractionType" value="@Common.resErrorMessageInteractionType" />
<input type="hidden" id="ErrorMessageInteractionSubType" value="@Common.resErrorMessageInteractionSubType" />
<input type="hidden" id="ErrorMessageStatusId" value="@Common.resErrorMessageStatusId" />
<input type="hidden" id="ErrorMessageAssignedTo" value="@Common.resErrorMessageAssignedTo" />
<input type="hidden" id="UndoMessage" value="@Common.resGeneralUndoMessage" />
<input type="hidden" id="PatientContactInfo" value="@Constants.PatientContactInfo" />
<input type="hidden" id="hdnViewPatientMenuText" value="@Constants.ViewEditPatientDetails" />
<input type="hidden" id="hdnViewEditCareHomeDetails" value="@Constants.ViewEditCareHomeDetails" />
<input type="hidden" id="hdnViewPatientAllowMessage" value="@Common.resViewPatientNotAllowedMessage" />
<input type="hidden" id="hdnresViewCarehomeNotAllowedMessage" value="@Common.resViewCarehomeNotAllowedMessage"/>
<input type="hidden" id="hdnuserType" value="@Model.UserType" />
<div id="divErrorToview"></div>
<div class="disable_pop"></div>

@Scripts.Render("~/bundles/Interaction")