﻿
@using SCA.Indigo.Web.UI.Resource
@{
    Layout = null;
}

<script type="text/javascript">

    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {
        $jqGrid("#jqCustomerUsersResults").jqGrid({
            datatype: "local",
            colNames: [
                '', '@Common.reslblUserName'
        ],
            colModel: [
                { name: 'UserId', index: 'UserId', hidden: true },
                { name: 'UserName', index: 'UserName', width: '760' }
            ],

            height: '140',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqCustomerUsersResultsTablePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            autowidth: true,
            sortname: "",
            sortorder: "asc",
            emptyrecords: '@Common.resGrdNoRecordsToView',
            loadonce: true,
            gridComplete: function () {
                $jqGrid('#jqCustomerUsersResultsTablePager_left').hide();
                $jqGrid('.ui-paging-info').css("text-align", "left");
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });
            },
            onCellSelect: function (rowid, iCol) {
            },
            ondblClickRow: function (rowId) {
                var rowData = $jqGrid(this).getRowData(rowId);
                var userId = rowData["UserId"];

                var gridRowsprescription = $jqGrid("#jqCustomerAuthorizedPersonPrescriptionApproval").jqGrid('getRowData');
                var ids = $jqGrid("#jqCustomerAuthorizedPersonPrescriptionApproval").jqGrid('getDataIDs');

                for (var i = 0; i < gridRowsprescription.length; i++) {
                    var GridrowId = ids[i];
                    var GridUserId = $jqGrid("#" + GridrowId + "_UserId").val();
                    if (GridUserId == undefined) {
                        GridUserId = $jqGrid('#jqCustomerAuthorizedPersonPrescriptionApproval').jqGrid('getCell', GridrowId, 'UserId');
                    }
                    if (userId == GridUserId) {
                        CommonScriptObj.DisplayErrorMessage("divCustomerInformationMessage", $jqGrid("#" + CustomerInformationObj.CustomerUserExits).val(), 'pop_error_ul');
                        ClosePopup('divCustomerUserPopup');
                        return false;
                    }
                }
                var objCustomerList = [];
                var customerId = $jqGrid("#" + CustomerInformationObj.CustomerCurrentId).val(); // $jqGrid("#ddlCustomerInfomation").val();

                var objCustomer = {
                    CustomerID: customerId
                }
                objCustomerList.push(objCustomer);

                // Insert into the Parent Grid.
                CustomerInformationObj.AddPrescriptionApprovalGridData(userId);
                $jqGrid('#divCustomerUserPopup').dialog('close');
                
            },

        }).navGrid("#jqCustomerUsersResultsTablePager",
            { search: false, refresh: false, add: false, edit: false, del: false },
            {},
            {},
            {}
        );
    });


</script>
<div id="divCustomerUsers">

    <div class="table_section_2 mCustomScrollbar">
        <table id="jqCustomerUsersResults"></table>
        <div id="jqCustomerUsersResultsTablePager"></div>

    </div>
    <div class="pop_main_btns text_align_right">
        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" onclick="ClosePopup('divCustomerUserPopup')">@Common.reslnkExit</a>
    </div>
</div>


