﻿@using SCA.Indigo.Web.UI.Resource;
@{
    Layout = null;
}

<div class="forgot_p_section margin_top50 boxshadow_non" id="ForgotPassword">
    <div class="login-form forgotpass-form">

        <div class="login-welcome">@Common.reslblForgotYourPassword</div>
        @Common.reslblContactAdminChangePwd
        @*<div class="login-cell">
                <input type="text" placeholder="Enter your Email-id">
            </div>
            <div class="login-cell">
                <input type="submit" value="Generate The Password">
            </div>*@

    </div>
</div>