﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;
@using SCA.Indigo.Common.Enums
@{
    Layout = null;
}

<style type="text/css">
    .ui-dialog.ui-resizable {
        min-width: 870px !important;
        height: auto !important;
    }
</style>


<div class="interaction_sec mCustomScrollbar">
    <div id="PatientCareHomeInfo">
        <ul class="cust_param_ul create_interaction_ul">
            <li>
                <div class="map_rols_user_cell margin_bot_12">
                    <span class="cust_param_lable width_140"><label id="InteractionName"></label> </span>
                    <span class="cust_param_input">
                        <input type="text" id="txtInteractionSummary" class="btn_disable">
                    </span>
                </div>
            </li>
        </ul>

    </div>

    <span class="heading-1 accord_span_close">@Common.reslnkRecentOrders</span>
    <div class="collapse recent_order_accord overflow_x_auto width_787">
         <table id="jqPatientInteractionRecentOrderInfoPopup"></table>
            <div id="jqInteractionRecentOrdersTablePager"></div>
        @*@{Html.RenderPartial("_PatientRecentOrdersPopup");}*@
    </div>

    <span class="heading-1">@Common.resInteractionSummaryTitle</span>
    <div class="interaction_summary collapse">
        <table id="JqInteractionSummary"></table>
        <div id="JqInteractionSummaryTablePager"></div>
    </div>   

    <div class="patient_information_btns" id="interactionMainButtons">
        <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnCreateNewInteraction" onclick="InteractionObj.ShowCreateInteraction()">@Common.resCreateNew</a>
        <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnInteractionSummaryExit" onclick="InteractionObj.CloseCreateInteractionPopup('InteractionSummary')">@Common.reslnkExit</a>
    </div>

    <div style="display: none">
        <input type="hidden" id="hdnInteractionPatientId" value=@Session[Constants.SessionPatientId] />
        <input type="hidden" id="hdnInteractionCustomerId" value=@Session[Constants.SessionCustomerId] />
        <input type="hidden" id="hdnPatientName" value="@Session[Constants.SessionPatientName]" />
    </div>
</div>

<script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {

        $jqGrid("#jqPatientInteractionRecentOrderInfoPopup").jqGrid({
            url: '@Url.Action(Constants.ActionRecentOrders, Constants.PatientController)',
            datatype: "local",
            mtype: "GET",
            colNames: ['@Common.resRecentOrderPatientName', '@Common.resRecentOrderPatID', '@Common.reslblOrderType', '@Common.resOrderCreationDate', '@Common.resRecentOrderProductCode', '@Common.resProductDescription', '@Common.resQuantity', '@Common.resRecentOrderDelQty', '@Common.resRecentOrderUnitOfMesurement', '@Common.resGrdDeliveyDate', '@Common.resRecentOrderActualDelieveryDate', '@Common.resSAPOrderNo', '@Common.resSAPDeliveryNo', '@Common.resRecentOrderPlant', '@Common.resRecentOrderPODDate', '@Common.resRecentOrderInvoiceQty', '@Common.resGrdInvoiceNo', '@Common.resRecentOrderInvoiceDate', ''],
            colModel: [
                { name: 'PatientName', index: 'PatientName', hidden: false, width: '150' },
                { name: 'SAPPatientNo', index: 'SAPPatientNo', hidden: false, width: '100' },                
                { name: 'RecentOrderCreationType', index: 'RecentOrderCreationType', classes: 'align_left padding_left_10', width: '100' },
                { name: 'OrderDate', index: 'OrderDate', editable: false, sorttype: 'date', classes: 'align_center', width: '70', formatter: 'date', formatoptions: { srcformat: "d/M/Y H:i:s", newformat: "d/m/Y" } },
                { name: 'ProductCode', index: 'ProductCode', hidden: false, width: '70', classes: 'align_center' },
                { name: 'ProductDescription', index: 'ProductDescription', editable: false, classes: 'align_left padding_left_10 padding_right_10', width: '120' },
                { name: 'Quantity', index: 'Quantity', editable: false, sorttype: 'int', classes: 'align_center padding_right_10', width: '50' },
                { name: 'DeliveryQty', index: 'DeliveryQty', editable: false, sorttype: 'int', classes: 'align_center padding_right_10', width: '50' },
                { name: 'Unit', index: 'Unit', hidden: false, width: '50', classes: 'align_center' },
                { name: 'DeliveryDate', index: 'DeliveryDate', editable: false, sorttype: 'date', classes: 'align_center', width: '70', formatter: 'date', formatoptions: { srcformat: "d/m/Y H:i:s", newformat: "d/m/Y" } },
                { name: 'ActualDeliveryDate', index: 'ActualDeliveryDate', editable: false, sorttype: 'date', classes: 'align_center', width: '70', formatter: 'date', formatoptions: { srcformat: "d/m/Y H:i:s", newformat: "d/m/Y" } },
                { name: 'SAPOrderNo', index: 'SAPOrderNo', editable: true, classes: 'align_center padding_right_10', width: '80' },
                { name: 'SAPDeliveryNo', index: 'SAPDeliveryNo', editable: false, classes: 'align_center padding_right_10', width: '80' },                
                { name: 'Plant', index: 'Plant', hidden: false, width: '70' },
                { name: 'PODDate', index: 'PODDate', hidden: false, width: '70', formatter: 'date', formatoptions: { srcformat: "d/M/Y H:i:s", newformat: "d/m/Y" } },
                { name: 'InvoiceQuantity', index: 'InvoiceQuantity', hidden: false, width: '70', classes: 'align_center padding_right_10', sorttype: 'int' },
                { name: 'InvoiceNumber', index: 'InvoiceNumber', editable: false, sorttype: 'int', classes: 'align_center padding_right_10', width: '80' },
                { name: 'InvoiceDate', index: 'InvoiceDate', hidden: false, width: '70', classes: 'align_center', formatter: 'date', formatoptions: { srcformat: "d/M/Y H:i:s", newformat: "d/m/Y" } },
                { name: 'SetColor', index: 'SetColor', hidden: true },
            ],
            height: '145',
            //width: '780',
            //height: '280',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqInteractionRecentOrdersTablePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            autowidth: false,
            sortname: "",
            emptyrecords: '@Common.resGrdNoRecordsToView',
            sortorder: "asc",
            gridComplete: function () {
                $jqGrid('#jqInteractionRecentOrdersTablePager_left').hide();
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid("#JqInteractionSummaryTablePager_center").hide();
                    $jqGrid('#jqInteractionRecentOrdersTablePager_center').hide();
                } else {
                    $jqGrid("#JqInteractionSummaryTablePager_center").show();
                    $jqGrid('#jqInteractionRecentOrdersTablePager_center').show();
                }
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });

                var rowIDs = jQuery("#jqPatientInteractionRecentOrderInfoPopup").getDataIDs().length;
                for (var i = 1; i <= rowIDs; i++) {
                    var recentOrderdata = $jqGrid('#jqPatientInteractionRecentOrderInfoPopup').getRowData(i);
                    var trElement = jQuery("#" + i, jQuery('#jqPatientInteractionRecentOrderInfoPopup'));
                    if (recentOrderdata.SetColor == "RecentOrderRow") {
                        trElement.addClass("RecentOrderRow");
                    }
                    else if (recentOrderdata.SetColor == "RecentOrderAltRow") {
                        trElement.addClass("RecentOrderAltRow");
                    }
                }
            },
            onCellSelect: function (rowid, iCol) {
            },
            ondblClickRow: function (rowid) {
            },
            onSortCol: function (index, iCol, sortOrder) {
                $jqGrid('#jqPatientInteractionRecentOrderInfoPopup').jqGrid('setGridParam', { page: $("#jqPatientInteractionRecentOrderInfoPopupPageNum").val() });
            },
            loadComplete: function (data) {
                var page = $jqGrid('#jqPatientInteractionRecentOrderInfoPopup').jqGrid('getGridParam', 'page');
                $jqGrid("#jqPatientRecentOrderInfoPopupPageNum").val(page);
            },

        }).navGrid("#jqInteractionRecentOrdersTablePager",
    { search: false, refresh: false, add: false, edit: false, del: false },
    {},
    {},
    {}
);

        $jqGrid("#JqInteractionSummary").jqGrid({
            datatype: "local",
            colNames: ['', '@Common.reslblCreatedon', '@Common.reslableCreatedBy', '@Common.resGrdStatus', ' @Common.resGrdInteractionType', '@Common.resGrdInteractionSubType', '@Common.resDescriptionBrief', '@Common.resAlert', '@Common.resGrdPatientIdfull', '@Common.resGrdPatientNamefull', '@Common.reslblCarehomeId', '@Common.reslblCareHomeName', ''],
            colModel: [
                { name: 'InteractionId', index: 'InteractionId', hidden: true },
                { name: 'CreatedOn', index: 'CreatedOn', editable: false, classes: 'align_center', formatter: 'date', formatoptions: { srcformat: 'd/m/y H:i:s', newformat: 'd/m/Y' }, sorttype: 'datetime', width: '100' },
                { name: 'CreatedBy', index: 'CreatedBy', editable: false, classes: 'align_left', width: '55' },
                { name: 'StatusText', index: 'StatusText', editable: false, width: '60', classes: 'align_left ' },
                { name: 'InteractionCategory', index: 'InteractionCategory', editable: false, classes: 'align_left word_wrap_normal', width: '70' },
                { name: 'InteractionSubTypeCategory', index: 'InteractionSubTypeCategory', editable: false, classes: 'align_left word_wrap_normal', width: '120' },
                { name: 'Description', index: 'Description', editable: false, classes: 'align_left padding_left_10 word_wrap_normal', width: '170' },
                { name: 'DisplayAsAlert', index: 'DisplayAsAlert', edittype: 'checkbox', formatter: 'checkbox', classes: 'align_center', editable: false, editoptions: { value: 'True:False' }, formatoptions: { disabled: true }, width: '40' },
                { name: 'PatientId', index: 'PatientId', editable: false, hidden: true, width: '55' },
                { name: 'PatientName', index: 'PatientName', editable: false, hidden: true, width: '55' },
                { name: 'SAPCareHomeNumber', index: 'SAPCareHomeNumber', editable: false, hidden: true, width: '55' },
                { name: 'CareHomeName', index: 'CareHomeName', editable: false, hidden: true, width: '55' },
                { name: 'IsInteractionViewed', index: 'IsInteractionViewed', hidden: true },
            ],
            height: '145',
            width: '790',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#JqInteractionSummaryTablePager"),
            ondblClickRow: function (rowId) {

                var rowData = $jqGrid(this).getRowData(rowId);
                InteractionObj.ShowCreateInteraction(true, rowData.InteractionId);

                // View Only implementation from Patient Screen
                if (parseInt(CommonScriptObj.PatientId) > 0) {
                    if (PatientInfoObj.InteractionAccess == "0") {
                        // Set Interaction View Only
                        setTimeout(function () {
                            // $jqGrid("#createInteractionMainbutton").addClass("read_only_div");
                            // Disable the Save, Carehome, Patient, undo button
                            $jqGrid("#btnSaveInteraction").addClass("btn_disable");
                            $jqGrid("#btnPatientDetails").addClass("btn_disable");
                            $jqGrid("#btnCarehomeDetails").addClass("btn_disable");
                            $jqGrid("#btnUndoInteraction").addClass("btn_disable");
                        }, 200);
                    }
                }

                // View Only implementation from Carehome Screen
                if (parseInt(CommonScriptObj.CareHomeId) > 0) {
                    if (typeof (CareHomeObj) != null) {
                        if (CareHomeObj.InteractionAccess == "0") {

                            // Set Interaction View Only
                            setTimeout(function () {
                                //$jqGrid("#createInteractionMainbutton").addClass("read_only_div");
                                // Disable the Save, Carehome, Patient, Undo button
                                $jqGrid("#btnSaveInteraction").addClass("btn_disable");
                                $jqGrid("#btnPatientDetails").addClass("btn_disable");
                                $jqGrid("#btnCarehomeDetails").addClass("btn_disable");
                                $jqGrid("#btnUndoInteraction").addClass("btn_disable");
                            }, 200);
                        }
                    }
                }
            },
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            autowidth: false,
            sortname: "",
            loadonce: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            sortorder: "asc",
            gridComplete: function () {
                $jqGrid("#JqInteractionSummaryTablePager_left").hide();
                var carehomeId = $jqGrid("#hdnCareHomeId").val() == 0 ? "" : $jqGrid("#hdnCareHomeId").val();
                var carehomeName = $jqGrid("#txtCareHomeName").val();
                var sapcarehomeId = $jqGrid("#lblCareHomeId").text();
                var resultCarHomeName = carehomeId + ' ' + carehomeName + ' ' + sapcarehomeId;
                if (resultCarHomeName.trim() != "undefined") {
                    CommonScriptObj.CareHomeName = carehomeId + ' ' + carehomeName + ' ' + sapcarehomeId;
                }

                CommonScriptObj.PatientName = $jqGrid("#lblPatientName").text();
                var lblName = $jqGrid("#lblPatientName").text();
                $jqGrid("#PatientOrCareHomeName").text(lblName);
                if (CommonScriptObj.PatientId != 0 || CommonScriptObj.PatientId) {
                    $jqGrid("#txtInteractionSummary").val(CommonScriptObj.PatientName);
                    $jqGrid('#JqInteractionSummary').jqGrid('hideCol', ["CarehomeId"]);
                    $jqGrid('#JqInteractionSummary').jqGrid('hideCol', ["CarehomeName"]);
                } else {
                    $jqGrid("#txtInteractionSummary").val(CommonScriptObj.CareHomeName);
                    $jqGrid('#JqInteractionSummary').jqGrid('hideCol', ["PatientId"]);
                    $jqGrid('#JqInteractionSummary').jqGrid('hideCol', ["PatientName"]);
                }

                $jqGrid('.ui-paging-info').css("text-align", "left");
                $jqGrid("#btnCreateNewInteraction").focus(50);
                $jqGrid("#JqInteractionSummary").trigger("reloadGrid");

                var rowIDs = jQuery("#JqInteractionSummary").getDataIDs().length;
                for (var i = 1; i <= rowIDs; i++) {
                    var row = $jqGrid('#JqInteractionSummary').getRowData(i);
                    var trElement = jQuery("#" + i, jQuery('#JqInteractionSummary'));
                    if (row.IsInteractionViewed == "false") {
                        /*trElement.css("background-color", "#5cc4e6");*/
                        trElement.addClass("unreadinteraction");
                    }
                }
            }
        }).navGrid("#JqInteractionSummaryTablePager",
            { search: false, refresh: false, add: false, edit: false, del: false },
            {},
            {},
            {}
        );

        $jqGrid("#JqInteractionSummary").setGridParam({ sortname: 'CreatedOn', sortorder: 'desc' }).trigger("reloadGrid");
    });
</script>

<div id="divInteractionSucess" style="display:none">

</div>

<div id="divInteractionFail" style="display:none">

</div>


@*@Html.HiddenFor(m=>m.InteractionViewModel.ParentFormName, new {id ="ParentFormName"})*@
<input type="hidden" id="hdnresCreateInteractionTitle" value="@Common.resCreateInteractionTitle" />
@Html.Hidden("CreateInteractionAction", Url.Action("OpenInteraction", "Patient"), new { id = "CreateInteractionAction" })
@*<div id="divCreateInteraction" style="display: none">
    
</div>*@
@Scripts.Render("~/bundles/Interaction")