﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;
@using System.Configuration;
@using SCA.Indigo.Business.BusinessModels;
<!DOCTYPE html>
<html>
<head>
    <title>@Common.reslblTitle</title>
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if IE 11]>
        <link rel="stylesheet" type="text/css" href="~/Content/css/ie.css">
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" media="all" href="~/Content/css/ie7.css">
    <![endif]-->
    <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" media="all" href="~/Content/css/ie8.css">
    <![endif]-->
    <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" media="all" href="~/Content/css/ie9.css">
    <![endif]-->

    <link rel="stylesheet" href="@Url.Content("~/Content/css/reset.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-icon/css/font-icon.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/responsive.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/tooltip.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/webfontkit/stylesheet.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery-ui.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")">
    

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/respond.src.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/placeholders.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/expand.js")" type="text/javascript"></script>

    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>

    <!--Thickbox-->
    <link rel="stylesheet" href="@Url.Content("~/Scripts/thickbox/thickbox.css")" type="text/css" media="screen">
    <script src="@Url.Content("~/Scripts/thickbox/thickbox.js")" type="text/javascript"></script>
    <!--End Thickbox-->
    <!--custome-inputs-->
    <script src="@Url.Content("~/Scripts/custome-inputs.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/custome-inputs.css")">
    <!--End custome-inputs-->
    
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mousewheel.js")"></script>
    <!--custom scrollbar -->
    <style type="text/css" id="page-css">
        /* Styles specific to this particular page */
        .mCustomScrollbar {width: 750px;height: 200px;overflow: auto;
        }
    </style>
    

    <script src="@Url.Content("~/Scripts/scrollbar.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/scrollbar.css")">
    <!--End custom scrollbar -->
    <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>

    <link rel="stylesheet" href="@Url.Content("~/Content/css/main.css")">
    <script src="@Url.Content("~/Scripts/jquery.session.js")"></script>

    <script src="@Url.Content("~/Scripts/js/validations/Notification.js")"></script>

    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        $jqComm(window).load(function (e) {
            $jqComm('.ui-corner-all input[type="checkbox"]').ezMark();
        });
    </script>



</head>
<body onload="initSession();">
    <section id="loader"><img src="../../images/loading.gif" width="120"></section>
    <section id="data_loader"><img src="../../images/loading.gif" width="120"></section>
    <div id="search_dock_bg"></div>
    <!--header-->
    <header>
        <section id="header_inner">
            <div class="logo_section">
                <div class="logo_section_inner">
                    <div class="sca-logo">
                        <img src="../../images/tana-delivery-logo_04.png">
                    </div>
                   
                    <div class="header-right">
                        <div id="notification" class="float_left">
                            <a href='javascript:void(0)' class='float_right hint--bottom notification-icon' disabled='true'>
                                <i class='fa fa-comment'></i>
                            </a>
                            
                            <div id="inner_notification" class="display_none">
                                <div id="notify_arrow_up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
                                <div id="notification_body"></div>
                                <div id="notify_arrow_down"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
                        </div>
                        </div>

                        @if (HttpContext.Current.Request.IsAuthenticated)
                        {
                            @Common.reslblWelcomeUser
                            <span>@HttpContext.Current.User.Identity.Name</span>
                        }
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="@string.Format("{0}", Url.Action("ChangePassword", "Account"))" onclick="return MenuClick(this);" class="hint--bottom pass-change-icon">@Common.reslnkChangePassword</a>&nbsp; &nbsp;<a href="javascript:void(0);" id="LogOff" onclick="    if (MenuClick(this)) { $('#j_lightbox_logoff').show(); } else { return false; }" class=" hint--bottom edit-profile-icon">@Common.reslblLogoff</a>
                    </div>
                </div>
            </div>
            <div class="nav_section">
                <div class="nav_section_inner">
                    @{Html.RenderAction("LoadMenu", "Menu");}
                </div>
            </div>
        </section>
    </header>
    <!--End header-->
    <!--container-->
    <section id="container">
        <section id="wrapper">
            <section id="inner-page">
                @RenderBody()
            </section>
        </section>
    </section>
    @{
        var user = (UsersBusinessModel)Session[Constants.SessionUser];
    }
    
    <div id="divAlertNotePopUp" class="display_none">
        <div class="table_section_2 height_146">
            <table id="jqAlertNotes"></table>
            <div id="divjqAlertNotesTablePager"></div>

            <div id="divSelectedAlertNotePopUp" class="note_pop display_none">
                <div class="table_section_2">
                    <div id="noteAlertText"></div>
                </div>
                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20 small_btn" onclick="ExitNoteText()">@Common.reslnkExit</a>
            </div>
        </div>

        <div class="clear padding_top_10 position_rel">
            <input type="checkbox" id="chkDoNotShow" onchange="ChkDoNotShowAlert()"><label>@Common.resDonotshowagain</label>
            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20 small_btn float_right" onclick="ClosePopup('divAlertNotePopUp')">@Common.reslnkExit</a>
        </div>
    </div>

        
    <input type="hidden" value="@Common.resbtnErrorOk" id="hdnGeneralOk" />
    <input type="hidden" value="@Common.resGeneralCancel" id="hdnGeneralCancel" />
    <input type="hidden" value="@Common.resGeneralYes" id="hdnGeneralYes" />
    <input type="hidden" value="@Common.resGeneralNo" id="hdnGeneralNo" />    
    <input type="hidden" value="False" id="hdnIsViewOnly" />
    <input type="hidden" value="False" id="hdnIsFullRights" />
    <input type="hidden" value="@user.UserId" id="hdnUserId" />
    <input type="hidden" value='@Common.resNotificationInteractionAssigned' id="hdnresNotificationInteractionAssigned" />
    <input type="hidden" value='@ConfigurationManager.AppSettings["IntervalForNotificationInSec"]' id="hdnIntervalForNotification" />
    <input type="hidden" value="@Common.resNotesAlertHeader" id="hdnNotesAlertHeader" />   
    <!--End container-->
    <!--footer-->
    <footer style="color:#153a66">
        @Common.reslblFooterCopyright &copy; @Common.reslblFooterSCAHygieneProducts&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://www.tenanet.co.uk" target="_blank">@Common.reslblFooterwwwtenacouk</a>&nbsp;&nbsp;<img src="../../Images/logotype-horizontal.png">
    </footer>
    <!--End footer-->
    <input type="hidden" id="hdnLogOffMessage" value="@Common.resLogOffMessage" />
    @RenderSection("scripts", required: false)
</body>
</html>
