﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;
@using SCA.Indigo.Common.Enums;
@{
    Layout = null;
}

<script type="text/javascript">
    $jqGrid = jQuery.noConflict();
   
    $jqGrid(document).ready(function () {
        $jqGrid("#jqNotes").jqGrid({
            datatype: "local",
            colNames: ['@Common.resGrdNote', '@Common.resAlert', '@Common.resNoteType', '@Common.resNoteTypeId', '@Common.resNoteId'],
            colModel: [
                { name: 'FormattedNote', index: 'FormattedNote', editable: false, hidden: false, classes: 'pnote_class', align: 'left', width: '765' },
                { name: 'IsDisplayAsAlert', index: 'IsDisplayAsAlert', editable: false, edittype: 'checkbox', width: '50', classes: 'align_center', formatter: chkDisplayAsAlert, editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false },
                { name: 'NoteType', index: 'NoteType', editable: false, hidden: true },
                { name: 'NoteTypeId', index: 'NoteTypeId', editable: false, hidden: true },
                { name: 'NoteId', index: 'NoteId', editable: false, hidden: true }
            ],
            height: '160',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#divNotesTablePager"),
            rowNum: 500,
            rowList: [500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500],
            viewrecords: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            autowidth: true,
            gridComplete: function () {
                $jqGrid('#divNotesTablePager_left').hide();
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#divNotesTablePager_center').hide();

                } else {
                    $jqGrid('#divNotesTablePager_center').show();
                }
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });
                $jqGrid(".chkDisplayAsAlert").on("click", function () {
                    isDirty = true;
                });
            },
            ondblClickRow: function (rowid, options, rowObject, object) {
                var rowData = object.currentTarget.rows[rowid];
                var title_val = $jqGrid(rowData).find('td').html();
                $jqGrid("#noteText").html(title_val);
                $jqGrid("#divSelectedNotePopUp").fadeIn("200");
                $jqGrid("#noteText").scrollTop(0);
            },
        });
        $jqGrid("#txtNote").focusout(function () {
            if ($jqGrid("#txtNote").val() != "") {
                isDirty = true;
            }
        });
    });

    function chkDisplayAsAlert(cellvalue, options, rowobject) {
        if (rowobject['IsDisplayAsAlert'] == true) {
            return "<input type='checkbox' checked='checked' class='chkDisplayAsAlert chk_" + rowobject['NoteId'] + "'  id='note_" + rowobject['NoteId'] + "'>";
        }
        else {
            return "<input type='checkbox' class='chkDisplayAsAlert chk_" + rowobject['NoteId'] + "'  id='note_" + rowobject['NoteId'] + "'>";
        }
    }

</script>

<!--table_section-->
<div class="table_section_2 mCustomScrollbar">
    <table id="jqNotes"></table>
    <div id="divNotesTablePager"></div>
</div>
<!--table_section-->



<div class="pop_main_btns" id="notesMainButton">

    <textarea class="note_textarea_copy" placeholder="@Common.resPatientNotePlaceHolder" id="txtNote"></textarea>
    <span class="note-pop-txt">@Common.resNotesAlertText</span>
    <div id="divErrorNote" style="display: none" class="field-validation-error">@Common.reslblPleaseEnterNote</div>
    <div id="divErrorNoteForAlert" style="display: none" class="field-validation-error">@Common.resErrorNoteForAlert</div>
    <div id="divErrorMsgForAlert" style="display: none" class="field-validation-error">@Common.resErrorMsgForAlert</div>
    <div id="divValidationConfirmBeforeExit" style="display: none" class="validation_msg">@Common.resNoteMessageCancelPrompt</div><br><br>
    <input type="button" value="Add" class="search_form_buttons padding_left_right_20 height_27 small_btn" id="btnAddNote" onclick="SaveNote()">
    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20 small_btn" onclick="ClosePopup('divNotesPopup')">@Common.reslnkExit</a>
    <input type="button" value="Save Alert" class="search_form_buttons padding_left_right_20 height_27 small_btn float_right" id="btnSaveAlert" onclick=" SaveAlert()">
    <div id="divSaveAlertSuccess" class="j_lightbox_error align_center" style="display:none;min-height: 19px;">@Common.resSuccessMessageForSaveAlert</div>
</div>

<div id="divSelectedNotePopUp" class="note_pop display_none">
    <div class="table_section_2">
        <div id="noteText"></div>
    </div>
    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20 small_btn" onclick="ExitNoteText()">@Common.reslnkExit</a>
</div>

<input type="hidden" id="hdnNoteTypeId" value="" />
<input type="hidden" id="hdnPatientNoteTypeId" value="@((int)SCAEnums.NoteType.PatientNote)" />
<input type="hidden" id="hdnCareHomeNoteTypeId" value="@((int)SCAEnums.NoteType.CareHomeNote)" />
<input type="hidden" id="hdnPrescriptionNoteTypeId" value="@((int)SCAEnums.NoteType.PrescriptionNote)" />
<input type="hidden" id="hdnOrderNoteTypeId" value="@((int)SCAEnums.NoteType.OrderNote)" />

<input type="hidden" id="hdnNotePlaceholder" value="@Common.resPatientNotePlaceHolder" />








