﻿@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Web.UI.Helper;
@using SCA.Indigo.Common.Enums;
@{
    Layout = null;
}

<script type="text/javascript">
    var removeIDs = [];
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {
        $jqGrid("#JqPatientContactInfo").jqGrid({
            url: '@Url.Action(Constants.ActionGetPatientContactInfo, Constants.PatientController)',
            datatype: "local",
            mtype: "GET",
            colNames: ['<span class="remove_icon_for_grid"><i class="fa fa-trash"></i></span> <span class="select_all_for_grid"><input type="checkbox" id="chkRemovePatientContactInfo"></span>', '', '', '@Common.resGrdName', '@Common.resJobTitle', '@Common.respatientTelenumber', '@Common.respatientMobileNumber', '@Common.respatientEmail',''],
            colModel: [
                { name: 'Remove', index: 'Remove', edittype: 'checkbox', classes: 'align_center', width: '90', formatter: removeRows, editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false },
                { name: 'PersonalInformationId', index: 'PersonalInformationId', hidden: true },
                { name: 'IsActive', index: 'IsActive', hidden: true },
                { name: 'PatientName', index: 'PatientName', classes: 'align_left padding_left_10', width: '150' },
                { name: 'JobTitle', index: 'JobTitle', classes: 'align_left padding_left_10', width: '110' },
                { name: 'TelephoneNumber', index: 'TelephoneNumber', sorttype: 'int', classes: 'align_right padding_right_10', width: '110' },
                { name: 'MobileNumber', index: 'MobileNumber', sorttype: 'int', classes: 'align_right padding_right_10', width: '120' },
                { name: 'Email', index: 'Email', classes: 'align_left padding_left_10', width: '150' },
                { name: 'ContactPersonId', index: 'ContactPersonId', hidden : true },
            ],
            height: '140',
            width: '850',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: "#JqPatientContactInfoTablePager",
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            emptyrecords: '@Common.resGrdNoRecordsToView',
            sortname: "PatientName",
            sortorder: "asc",
            viewrecords: true,
            autowidth: false,
            gridComplete: function () {
                $jqGrid('.ui-paging-info').css("text-align", "left");
                var rowIds = $jqGrid(this).jqGrid('getDataIDs');
                if (rowIds < 1) {
                    $jqGrid('#chkRemovePatientContactInfo').parent().removeClass('ez-checked');
                    $jqGrid('#chkRemovePatientContactInfo').attr("disabled", true);
                    $jqGrid('#chkRemovePatientContactInfo').prop('checked', false);
                    $jqGrid('#JqPatientContactInfoTablePager_center').hide();
                    $jqGrid('#JqPatientContactInfoTablePager_left').hide();
                }
                else {
                    $jqGrid('#chkRemovePatientContactInfo').removeAttr("disabled");
                    $jqGrid('#JqPatientContactInfoTablePager_center').show();
                    $jqGrid('#JqPatientContactInfoTablePager_left').hide();
                }
            },
            loadComplete: function () {
                var page = $jqGrid('#JqPatientContactInfo').jqGrid('getGridParam', 'page');
                $jqGrid("#JqPatientContactInfoPageNum").val(page);
                var rowIds = $jqGrid(this).jqGrid('getDataIDs');
                if (rowIds < 1)
                    $jqGrid('#chkRemovePatientContactInfo').attr("disabled", true);
                else
                    $jqGrid('#chkRemovePatientContactInfo').removeAttr("disabled");
            },
            onCellSelect: function (rowid, iCol) {
            },
            ondblClickRow: function (rowid) {
                var rowData = $jqGrid(this).getRowData(rowid);
                OpenEditMode(rowData);
            },
            onSortCol: function (index, iCol, sortOrder) {
                $jqGrid('#JqPatientContactInfo').jqGrid('setGridParam', { page: $("#JqPatientContactInfoPageNum").val() });
            },
            onPaging: function () {
            },

        }).navGrid("#JqPatientContactInfoTablePager",
            { search: false, refresh: false, add: false, edit: false, del: false },
            {},
            {},
            {}
        );

        $jqGrid("#jqgh_JqPatientContactInfo_Remove").removeClass("ui-jqgrid-sortable");

        function removeRows(cellvalue, options, rowobject) {         
          
            return "<input type='checkbox' class='chkRemoveClass' id=" + rowobject["PersonalInformationId"] + " onchange=countChecked(this)>";
        }

        $jqGrid('#chkRemovePatientContactInfo').click(function (event) {
            HideAddContactInfo();
            if ($jqGrid("#chkRemovePatientContactInfo").is(":checked")) {
                $jqGrid(".chkRemoveClass").prop("checked", true);
                AddButtonDisable();
                ShowRemoveWarningMessage();
            } else {
                $jqGrid(".chkRemoveClass").prop("checked", false);
            }
        });

      
        $jqGrid('#txtJobTitle').keydown(function () {
            $jqGrid('#txtJobTitle').val(toTitleCase($jqGrid('#txtJobTitle').val()));
        })

    });//end of ready function
</script>


<style type="text/css">
    .ui-dialog.ui-resizable {
        min-width: 812px;
        height: auto !important;
    }

    .mCSB_container_wrapper > .mCSB_container {
        padding-right: 10px;
    }
</style>

<div class="table_section_2">
    @*mCustomScrollbar*@
    <table id="JqPatientContactInfo"></table>
    <div id="JqPatientContactInfoTablePager"></div>
</div>

<div id="tblPatientContactInfo" style="display:none" class="patient_information pop_fields_section">
    <ul>
        <li>
            <div class="search_cell">
                <span class="search_cell_txt">@Common.reslableFirstName</span>
                <span class="search_cell_field">
                    <input type="text" id="txtFirstName" class="patientContactInfoField firstCharUpper" onpaste="return false" />
                    <span class="field-validation-error errorPatientContactInfo" id="errorFirstName" />
                </span>

            </div>

            <div class="search_cell">
                <span class="search_cell_txt">@Common.reslblLastNameNotRequired</span>
                <span class="search_cell_field">
                    <input type="text" id="txtLastName" class="patientContactInfoField firstCharUpper" onpaste="return false" />
                    <span class="field-validation-error errorPatientContactInfo" id="errorLastName" />
                </span>
            </div>
        </li>

        <li>
            <div class="search_cell">
                <span class="search_cell_txt">@Common.resJobTitle</span>
                <span class="search_cell_field">
                    <input type="text" id="txtJobTitle" class="patientContactInfoField" onpaste="return false" />
                    <span class="field-validation-error errorPatientContactInfo" id="errorJobTitle" />
                </span>
            </div>

            <div class="search_cell">
                <span class="search_cell_txt">@Common.respatientTelenumber</span>
                <span class="search_cell_field">
                    <input type="text" id="txtTelephone" class="patientContactInfoField" onkeypress="return isNumberKey(event)" maxlength="20" onpaste="return false" />
                    <span class="field-validation-error errorPatientContactInfo" id="errorTelephone" />
                </span>
            </div>
        </li>
        <li>
            <div class="search_cell">
                <span class="search_cell_txt">@Common.respatientMobileNumber</span>
                <span class="search_cell_field">
                    <input type="text" id="txtMobile" class="patientContactInfoField" onkeypress="return isNumberKey(event)" maxlength="20" onpaste="return false" />
                    <span class="field-validation-error errorPatientContactInfo" id="errorMobile" />
                </span>
            </div>

            <div class="search_cell">
                <span class="search_cell_txt">@Common.respatientEmail</span>
                <span class="search_cell_field">
                    <input type="text" id="txtEmail" class="patientContactInfoField" />
                    <span class="field-validation-error errorPatientContactInfo" id="errorEmail" onpaste="return false" />
                </span>
            </div>

        </li>
    </ul>
    <div class="clear"></div>
</div>
<div class="j_lightbox_error" id="j_lightbox_error_ContactInfo">
    <div class="j_lightbox_error_wrapper contactInfo">
        <div class="pop_error">
            <div id="divContactErrorMessage" class="pop_error">
            </div>
            <div class="j_lightbox_btns search_form_main_btns">
                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok_ContactInfo small_btn_2">OK</a>
            </div>
        </div>
    </div>
</div>


<div class="j_lightbox_error" id="contact_info_ok_cancel_pop">
    <div class="j_lightbox_error_wrapper short_pop">
        <div class="padding_20 search_form_main_btns align_center" >
           @Common.resDivPatientContactInfoRemoveWarningMessage <br><br>
                        <a href="javascript:void(0);" id="btnWarningOk" onclick="WarningOkClick()" class="search_form_buttons padding_left_right_15 small_btn_2">@Common.resbtnErrorOk</a>
            <a href="javascript:void(0);" id="btnWarningCancel" onclick="WarningCancelClick()" class="search_form_buttons padding_left_right_15 small_btn_2">@Common.resGeneralCancel</a>
        </div>
    </div>
</div>


@*<div class="j_lightbox" id="contact_info_ok_cancel_pop">
    <div class="j_lightbox_wrapper short_pop">
        <div class="padding_20 align_center">Are you sure want to remove?</div>

        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 small_btn_2">OK</a>
        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 small_btn_2">Cancel</a>
    </div>
</div>*@


<div class="pop_main_btns text_align_right" id="contactInfoMainButton">
    <a class="search_form_buttons padding_left_right_15 small_btn" id="btnAdd">@Common.reslnkAdd</a>
    <a class="search_form_buttons padding_left_right_15 small_btn" id="btnSaveContactInfo">@Common.resbtnSave</a>
    <a class="search_form_buttons padding_left_right_15 small_btn" onclick="ClosePopup('divPatientContactInfoPopup')">@Common.reslnkExit</a>
</div>

<div id="ContactInfo" class="j_lightbox_error">@Common.resDivPatientContactInfoRemoveWarningMessage</div>
<input type="hidden" id="JqPatientContactInfoPageNum" value="" />
<input type="hidden" id="hdnPatientContactInfoRemoved" value="@Common.resDivPatientContactInfoRemoved" />
<input type="hidden" id="hdnresContactInfoTitle" value="@Common.resContactInfoTitle" />
<input type="hidden" id="hdnreserrormsgFirstNameInvalid" value="@Common.reserrormsgFirstNameInvalid" />
<input type="hidden" id="hdnreserrormsgFirstName" value="@Common.reserrormsgFirstName" />
<input type="hidden" id="hdnreserrormsgEmailAddress" value="@Common.reserrormsgEmailAddress" />
<input type="hidden" id="hdnContactTypeId" value="" />
<input type="hidden" id="hdnContactType" value="" />
<input type="hidden" id="hdnContactPatientId" value=""/>
<input type="hidden" id="hdnContactCarehomeId" value=""/>
<input type="hidden" id="hdnContactCustomerId" value=""/>
<input type="hidden" id="hdnContactTypePatient" value="@((int)SCAEnums.ObjectType.Patient)" />
<input type="hidden" id="hdnContactTypeCareHome" value="@((int)SCAEnums.ObjectType.CareHome)" />
<input type="hidden" id="hdnContactTypeCustomer" value="@((int)SCAEnums.ObjectType.Customer)" />
<input type="hidden" id="hdnPersonalInformationId" value="0" />
<input type="hidden" id="hdnContactPersonId" />
@Scripts.Render("~/bundles/ContactInfo")