﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;

<div class="search_pannel_searchbox">
    <span class="search_pannel_searchtxtbox">
        <input type="text" id="Popupsearch" placeholder="@Common.resSearchPlaceholder">
    </span>
    <span class="search_pannel_searchbtn" id="MedicalStaff_Popup_Search_button">
        <a href="javascript:void(0);"></a>
    </span>
</div>
<div class="staff_select_mode">
    <div class="table_section_2">
        @*mCustomScrollbar*@
        <table id="jqMedicalStaff" class="analysis_information_table"></table>
        <div id="jqMedicalStaffTablePager"></div>
    </div>

    <div class="analysis_information_addinfo">
        <input type="text" placeholder="@Common.resEnterNamePlaceholder" class="width_147" id="txtName">
        &nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 small_btn" id="btnAddPatient">@Common.reslnkAdd</a>
        &nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 small_btn" id="btnAddToGrid">@Common.reslnkAdd</a>
        &nbsp;&nbsp;<a href="javascript:void(0);" id="TB_closeWindowButton" class="search_form_buttons padding_left_right_15 small_btn" onclick="ClosePopup('divMedStaffPopup')">@Common.reslnkExit</a>
        <span id="responseMessage" class="field-validation-error text_align_right width_100p"></span>
    </div>
    <input type="hidden" id="hdnPlaceholder" value="@Common.resEnterNamePlaceholder" />
    <input type="hidden" id="hdnMedicalStaff" value="@Common.resHeaderEditMedicalStaff" />
    <input type="hidden" id="hdnAnalysisInfo" value="@Common.resHeaderEditAnalysisInfo" />
    <input type="hidden" id="hdnStaffIdMessage" value="@Common.resStaffIdMessage" />
    <input type="hidden" id="hdnStaffNameMessage" value="@Common.resStaffNameMessage" />
    <input type="hidden" id="hdnRecordAdded" value="@Common.resStaffRecordAdded" />
    <input type="hidden" id="hdnRecordExisted" value="@Common.resStaffRecordExists" />
    <input type="hidden" id="hdnIdName" value="@Common.resStaffIdName" />
    <input type="hidden" id="hdnCustomerNotFound" value="@Common.resCustomerNotExist" />
    <input type="hidden" id="hdnStaffidInvalid" value="@Common.resStaffIdInvalidMessage" />
    <input type="hidden" value="@Common.resSearchPlaceholder" id="hdnWaterMark" />
</div>

<script type="text/javascript">

    $jqGrid = jQuery.noConflict();
    function LoadMedicalStaffAnalysisInfoPopup() {
        $jqGrid('#Popupsearch').focus(function () {
            $jqGrid('#Popupsearch').removeClass('placeholdersjs');
        });

        $jqGrid('#txtName').focus(function () {
            $jqGrid('#txtName').removeClass('placeholdersjs');
        });
        $jqGrid("#jqMedicalStaff").jqGrid({
            url: "@Url.Action(Constants.ActionNameGetMedicalStaffAnalysisInfo, Constants.PatientController)",
            postData: {
                listId: function () { return window.ListId; }, customerId: function () {
                    var customerId = $jqGrid('#ddlCustomer').val();
                    customerId = parseInt(customerId) || -1;
                    return customerId;
                }, listTypeId: function () { return $jqGrid("#hdnSelectedListTypeId").val(); }
            },
            datatype: "json",
            mtype: "POST",
            colNames: ['<input type="checkbox" id="chkMedicalStaffSelectAll"> Select', '@Common.resGrdID', '@Common.resGrdID', '@Common.resGrdStaffName', '@Common.resGrdType'],
            colModel: [
                { name: 'Select', index: 'Select', edittype: 'checkbox', classes: 'align_center', width: '75', formatter: selectRows, editoptions: { value: 'True:False' }, sortable: false },
                { name: 'ListId', index: 'ListId', editable: false, hidden: true },
                { name: 'CustomerMedicalStaffAnalysisInfoId', index: 'CustomerMedicalStaffAnalysisInfoId', width: '215', classes: 'align_center', editable: false, sorttype: 'int' },
                { name: 'StaffName', index: 'StaffName', width: '450', classes: 'align_center', editable: true },
                { name: 'ListTypeId', index: 'ListTypeId', editable: false, hidden: true },
            ],
            height: '155',
            width: '770',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqMedicalStaffTablePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            autowidth: false,
            sortname: "",
            sortorder: "asc",
            loadonce: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            gridComplete: function () {
                $jqGrid("#chkMedicalStaffSelectAll").prop("checked", false);
                $jqGrid('#jqgh_jqMedicalStaff_Select').removeClass("ui-jqgrid-sortable");
                $jqGrid("#jqMedicalStaff").jqGrid('setCell', 1, 'CustomerMedicalStaffAnalysisInfoId', ' ');

                $jqGrid('#jqMedicalStaffTablePager_left').hide();
                $jqGrid('.ui-paging-info').css("text-align", "left");
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });
                var rowDataPopup = $jqGrid(this).getRowData(1);
                var customerText = rowDataPopup['CustomerName'];
                var patientText = rowDataPopup['PatientName'];
                $jqGrid('#lblstaffPopupCustomerName').text(customerText);
                $jqGrid('#lblstaffPopupPatientName').text(patientText);
                if ($jqGrid("#hdnSelectedListTypeId").val() != 2) {
                    $jqGrid('#jqMedicalStaff').jqGrid('hideCol', ["Select"]);
                    $jqGrid('#jqMedicalStaff').jqGrid('setGridWidth', '780');
                }
                else {
                    $jqGrid('#jqMedicalStaff').jqGrid('showCol', ["Select"]);
                    $jqGrid('#jqMedicalStaff').jqGrid('setGridWidth', '770');
                }
            },
            onCellSelect: function (rowid, iCol) {
            },
            ondblClickRow: function (rowid) {

                var rowDataPopup = $jqGrid(this).getRowData(rowid);
                MedicalStaffEditPopupObj.BindPatientDetailsClinicalAnalysiInfo(rowDataPopup);

                $jqGrid('#divMedStaffPopup').dialog('close');
            },
            loadComplete: function (data) {
                MedicalStaffEditPopupObj.UpdateForLinkageClinicalContact();
            },

        }).navGrid("#jqMedicalStaffTablePager",
            { search: false, refresh: false, add: false, edit: false, del: false },
            {},
            {},
            {}
        );

        $jqGrid("#divMedStaffPopup").trigger("reloadGrid");
        function selectRows(cellvalue, options, rowobject) {
            if (options['rowId'] == 1) {
                return "";
            }
            else {
                return "<input type='checkbox' class='chkSelectClass' id=Select_" + options['rowId'] + " onchange=countCheckPatientMedicalStaff()>";
            }
        }
        $jqGrid('#chkMedicalStaffSelectAll').on('change', function () {
            if ($jqGrid("#chkMedicalStaffSelectAll").is(":checked")) {
                $jqGrid(".chkSelectClass").prop("checked", true);
            }
            else {
                $jqGrid(".chkSelectClass").prop("checked", false);
            }
        });
    }


    $jqGrid('#chkMedicalStaffSelectAll').on('change', function () {
        if ($jqGrid("#chkMedicalStaffSelectAll").is(":checked")) {
            $jqGrid(".chkSelectClass").prop("checked", true);
        }
        else {
            $jqGrid(".chkSelectClass").prop("checked", false);
        }
    });

    function toTitleCase(str) {
        return str.replace(/\w\S*/g, function (match) {
            return match.charAt(0).toUpperCase() + match.substr(1).toLowerCase();
        });
    }

    $jqGrid('#txtName').keydown(function () {
        $jqGrid('#txtName').val(toTitleCase($jqGrid('#txtName').val()));
    })

    function saveMasterData(staffName, listId) {
        staffName = toTitleCase(staffName);
        var PostData = null;
        $jqGrid.ajax({
            url: '@Url.Action(Constants.ActionSaveCustomerInfo, Constants.PatientController)',
            type: 'POST',
            cache: false,
            data: {
                Name: staffName, listId: listId, customerId: function () {
                    var customerId = $jqGrid('#ddlCustomer').val();
                    customerId = parseInt(customerId) || -1;
                    return customerId;
                }
            },
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    $jqGrid("#responseMessage").removeClass('field-validation-error');
                    $jqGrid("#responseMessage").addClass('msgSuccess');
                    $jqGrid("#responseMessage").html($jqGrid('#hdnRecordAdded').val());
                    $jqGrid('#txtName').val("");
                    $jqGrid("#jqMedicalStaff").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                }
                else if (data == 0) {
                    $jqGrid("#responseMessage").addClass('field-validation-error');
                    $jqGrid("#responseMessage").removeClass('msgSuccess');
                    $jqGrid("#responseMessage").html($jqGrid('#hdnRecordExisted').val());
                }
                else {
                    $jqGrid("#responseMessage").addClass('field-validation-error');
                    $jqGrid("#responseMessage").removeClass('msgSuccess');
                    $jqGrid("#responseMessage").html($jqGrid('#hdnRecordExisted').val());
                }
            }
        });
    }



</script>
@Scripts.Render("~/bundles/MedicalAnalysisInfoPopup")

<div class="j_lightbox_error" id="divErrorSelectRecord" style="display:none">
    <div class="j_lightbox_error_wrapper short_pop padding_20 search_form_main_btns align_center">
        @Common.resErrorMsgSelectRecord<br /><br />
        <input type="button" onclick="  $jqGrid('#divErrorSelectRecord').hide();" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="OK" />
    </div>
</div>