﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;
@model SCA.Indigo.Web.UI.ViewModel.PatientPrescriptionViewModel
@{
    Layout = null;
}

<style type="text/css">
    #jqgh_jqPatientPrescription_Frequency {
        text-transform: none;
    }
</style>
<script type="text/javascript">
    //, dataEvents: [{ type: 'change', fn: function (e) { getBondType(e); } }]
    //, editrules:{ custom: true ,custom_func: IsBondOverDateRequired}


    var valTrue = "TRUE";
    var ValFalse = "FALSE";
    var customerId = "-1";
    var prescriptionGridWidth = 'auto';
    $jqGrid(document).ready(function () {
        window.IsReassessment = false;
        prescriptionGridWidth = '1098';
    });

    $jqGrid = jQuery.noConflict();
    function LoadPrescriptionGrid() {
        customerId = $jqGrid("#ddlCustomer").val();
        var ValidRowCount = 0;

        var selICol; //iCol of selected cell
        var selIRow; //iRow of selected cell
        var nddStartDate = '@Session[Constants.SessionNDDEndDate]';
        var nextDeliveryDateFromSession = '@Session[Constants.SessionNextDeliveryDate]';
        $jqGrid("#jqPatientPrescription").jqGrid({
            url: "@Url.Action(Constants.ActionNamePrescriptionDetails, Constants.PatientController)",
            postData: { isremoved: function () { return window.IsremovedVar == null ? 0 : window.IsremovedVar; } },
            datatype: "json",
            mtype: "POST",
            colNames: ['@Common.resGrdPackSize', '<i class="fa fa-trash" onclick="DeletePrescriptionItems();"> </i>', '@Common.resGrdSelect', '', '@Common.resGrdProdIdcol', '@Common.resGrdDescription', '@Common.resGrdAssesedPadsPerDay', '@Common.resGrdOverride', '@Common.resGrdActualPadsPerDay', '@Common.resGrdDQ1', '@Common.resGrdDQ2', '@Common.resGrdDQ3', '@Common.resGrdDQ4', '@Common.resActualColPPD', '@Common.resGrdFrequency', 'DQ1Flag', 'DQ2Flag', 'DQ3Flag', 'DQ4Flag', '@Common.resGrdStatus', '@Common.resGridSalesUnit', '@Common.resNextDelDate', '', '@Common.resGrdValidFrom', '@Common.resGrdValidTo', '@Common.resGrdDeliveryDate', '', '', '', '@Common.reslblInternalId'],
            colModel: [
                { name: 'PackSize', index: 'PackSize', classes: 'align_left padding_left_10', width: '50', hidden: true },
                { name: 'IsRemoved', index: 'IsRemoved', editable: false, width: '30', edittype: 'checkbox', formatter: IsRemove, editoptions: { value: 'True:False' }, formatoptions: { disabled: false } },
                { name: 'SelectPrescriptionProduct', index: 'SelectPrescriptionProduct', edittype: 'checkbox', formatter: selectPrescriptionRows, classes: 'align_center', width: '80', editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false, hidden: true },
                { name: 'ProductId', index: 'ProductId', editable: false, sorttype: 'int', hidden: true },
                { name: 'ProductDisplayId', index: 'ProductDisplayId', editable: false, classes: 'align_left padding_left_10', width: '64' },
                { name: 'ProductName', index: 'ProductName', editable: false, classes: 'align_left padding_left_10', width: '140', editoptions: {
                    dataInit: function (elem) {
                        $(elem).removeClass('editable');
                        $(elem).addClass('width_135_editable');
                        $(elem).keydown(function (e) {
                            if (e.which == 13) {
                                return false;
                            }
                        });
                    }
                }
                },
                { name: 'AssessedPadsPerDay', index: 'AssessedPadsPerDay', editable: true, sorttype: 'int', classes: 'align_center', width: '70', editoptions: {
                    maxlength: 2,
                    dataInit: function (element) {
                        $(element).keypress(function (e) {
                            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                return false;
                            }
                        });
                        $(element).keydown(function (e) {
                            var row = $jqGrid(e.target).closest('tr.jqgrow');
                            var rowId = row.attr('id');
                            if (e.which == 13) {
                                CheckPrescriptionAuthorizationApproval(e);
                                CheckNurseRoleLogin();
                                var isOverriddenFlagChecked = $jqGrid("#" + rowId + "_IsOverriddenFlag").is(':checked');
                                if (!isOverriddenFlagChecked) {
                                    return false;
                                }
                            }
                            if (e.which == 9)   // tab
                            {
                                if ($jqGrid("#" + rowId + "_IsOverriddenFlag").is(':checked')) {
                                    setTimeout(function () {
                                        $jqGrid('#' + rowId + '_DQ1').focus();
                                        $jqGrid('#' + rowId + '_DQ1').select();
                                    }, 500);
                                }
                                else {
                                    setTimeout(function () {
                                        $jqGrid('#' + rowId + '_Frequency').focus();
                                        $jqGrid('#' + rowId + '_Frequency').select();
                                    }, 500);
                                }

                                setTimeout(function () {
                                    if ($jqGrid("#jqPatientPrescription tr#" + rowId).find("td.ApprovalFlag").html() != undefined &&
                                        $jqGrid("#jqPatientPrescription tr#" + rowId).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                        $jqGrid("#jqPatientPrescription tr#" + rowId).css('background', 'none');
                                        $jqGrid("#jqPatientPrescription tr#" + rowId).css('background', '#fff');
                                        $jqGrid("#jqPatientPrescription tr#" + rowId).css('color', '#222');
                                    }
                                }, 200);
                            }
                        });
                        $(element).keyup(function (e) {
                            var row = $jqGrid(e.target).closest('tr.jqgrow');
                            var rowId = row.attr('id');
                            if (e.which == 13) {
                                return false;
                            }
                            else {
                                CheckPrescriptionAuthorizationApproval(e);
                                CheckNurseRoleLogin();
                                var isOverriddenFlagChecked = $jqGrid("#" + rowId + "_IsOverriddenFlag").is(':checked');
                                if (!isOverriddenFlagChecked) {
                                    return false;
                                }
                            }
                        });

                        $jqGrid(element).click(function (e) {
                            var row = $jqGrid(e.target).closest('tr.jqgrow');
                            var rowid = row.attr('id');
                            setTimeout(function () {
                                if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                    $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                    $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                    $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                    $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                }
                            }, 200);
                        });
                    },
                    dataEvents: [{
                        type: 'change', fn: function (e) {
                            var row = $jqGrid(e.target).closest('tr.jqgrow');
                            var rowid = row.attr('id');
                            CheckPrescriptionAuthorizationApproval(e);
                            CheckNurseRoleLogin();
                            setTimeout(function () {
                                if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                    $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                    $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                    $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                }
                            }, 200);
                            PatientHasChanged();
                        }
                    }]
                }
                },

    { name: 'IsOverriddenFlag', index: 'IsOverriddenFlag', edittype: 'checkbox', width: '70', formatter: IsOverridenFlagcheckBox, editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false },
                {
                    name: 'ActualPadsPerDay', index: 'ActualPadsPerDay', editable: true, sorttype: 'int', classes: 'align_center', width: '60', hidden: true, editoptions: {
                        dataInit: function (element) {
                            $(element).keypress(function (e) {
                                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                    return false;
                                }
                            });
                        }
                    }
                },
                {
                    name: 'DQ1', index: 'DQ1', editable: true, sorttype: 'int', classes: 'align_center', width: '50', editoptions: {
                        maxlength: 3,
                        dataInit: function (element) {
                            $(element).keypress(function (e) {
                                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                    return false;
                                }
                            });
                            $(element).keydown(function (e) {
                                if (e.which == 13) {
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowid = row.attr('id');
                                    return false;
                                }
                                if (e.which == 9)   // tab
                                {
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowId = row.attr('id');
                                    setTimeout(function () {
                                        $jqGrid('#' + rowId + '_DQ2').focus();
                                        $jqGrid('#' + rowId + '_DQ2').select();
                                        if ($jqGrid("#jqPatientPrescription tr#" + rowId).find("td.ApprovalFlag").html() != undefined &&
                                                $jqGrid("#jqPatientPrescription tr#" + rowId).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                            $jqGrid("#jqPatientPrescription tr#" + rowId).css('background', 'none');
                                            $jqGrid("#jqPatientPrescription tr#" + rowId).css('background', '#fff');
                                            $jqGrid("#jqPatientPrescription tr#" + rowId).css('color', '#222');
                                        }
                                    }, 500);

                                }

                            });

                            $jqGrid(element).click(function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowid = row.attr('id');
                                setTimeout(function () {
                                    if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                    }
                                }, 200);
                            });
                        },

                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowid = row.attr('id');
                                setTimeout(function () {
                                    if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                    }
                                }, 200);
                                PatientHasChanged();
                            }
                        }]
                    }
                },
                {
                    name: 'DQ2', index: 'DQ2', editable: true, sorttype: 'int', classes: 'align_center', width: '50', editoptions: {
                        maxlength: 3,
                        dataInit: function (element) {
                            $(element).keypress(function (e) {
                                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                    return false;
                                }
                            });
                            $(element).keydown(function (e) {
                                if (e.which == 13) {
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowid = row.attr('id');
                                    return false;
                                }
                                if (e.which == 9)   // tab
                                {
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowId = row.attr('id');
                                    setTimeout(function () {
                                        $jqGrid('#' + rowId + '_DQ3').focus();
                                        $jqGrid('#' + rowId + '_DQ3').select();
                                    }, 500);
                                }
                            });

                            $jqGrid(element).click(function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowid = row.attr('id');
                                setTimeout(function () {
                                    if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                    }
                                }, 200);
                            });
                        },
                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowid = row.attr('id');
                                setTimeout(function () {
                                    if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                    }
                                }, 200);
                                PatientHasChanged();
                            }
                        }]
                    }
                },
                {
                    name: 'DQ3', index: 'DQ3', editable: true, sorttype: 'int', classes: 'align_center', width: '50', editoptions: {
                        maxlength: 3,
                        dataInit: function (element) {
                            $(element).keypress(function (e) {
                                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                    return false;
                                }
                            });
                            $(element).keydown(function (e) {
                                if (e.which == 13) {
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowid = row.attr('id');
                                    return false;
                                }
                                if (e.which == 9)   // tab
                                {
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowId = row.attr('id');
                                    setTimeout(function () {
                                        $jqGrid('#' + rowId + '_DQ4').focus();
                                        $jqGrid('#' + rowId + '_DQ4').select();
                                    }, 500);
                                }
                            });

                            $jqGrid(element).click(function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowid = row.attr('id');
                                setTimeout(function () {
                                    if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                    }
                                }, 200);
                            });
                        },
                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowid = row.attr('id');
                                setTimeout(function () {
                                    if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                    }
                                }, 200);
                                PatientHasChanged();
                            }
                        }]
                    }
                },
                {
                    name: 'DQ4', index: 'DQ4', editable: true, sorttype: 'int', classes: 'align_center', width: '50', editoptions: {
                        maxlength: 3,
                        dataInit: function (element) {
                            $(element).keypress(function (e) {;
                                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                    return false;
                                }
                            });
                            $(element).keydown(function (e) {
                                if (e.which == 13) {
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowid = row.attr('id');
                                    return false;
                                }
                                if (e.which == 9)   // tab
                                {
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowId = row.attr('id');
                                    setTimeout(function () {
                                        $jqGrid('#' + rowId + '_Frequency').focus();
                                        $jqGrid('#' + rowId + '_Frequency').select();
                                    }, 500);
                                }
                            });

                            $jqGrid(element).click(function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowid = row.attr('id');
                                setTimeout(function () {
                                    if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                    }
                                }, 200);
                            });
                        },
                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowid = row.attr('id');
                                setTimeout(function () {
                                    if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                    }
                                }, 200);
                                PatientHasChanged();
                            }
                        }]
                    }
                },
      { name: 'ActualPPD', index: 'ActualPPD', editable: true, sorttype: 'int', classes: 'align_center', width: '60', editoptions: { readonly: true } },
                {
                    name: 'Frequency', index: 'Frequency', editable: true, sorttype: 'int', classes: 'align_center', width: '60', editoptions: {
                        maxlength: 2,
                        dataInit: function (element) {

                            $(element).focus(function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowId = row.attr('id');
                                var gridFrequencyValue = $jqGrid("#" + rowId + "_Frequency").val();
                                if (gridFrequencyValue == undefined) {
                                    gridFrequencyValue = $jqGrid('#jqPatientPrescription').jqGrid('getCell', rowid, 'Frequency')
                                }
                                if (gridFrequencyValue != undefined) {
                                    window.frequencyBeforeEdit = gridFrequencyValue;
                                }
                            });


                            $(element).keypress(function (e) {
                                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                    return false;
                                }
                            });
                            $(element).keydown(function (e) {
                                if (e.which == 13) {
                                    if (e.target.value == "") {
                                        var row = $jqGrid(e.target).closest('tr.jqgrow');
                                        var rowId = row.attr('id');
                                        setTimeout(function () {
                                            $jqGrid('#' + rowId + '_Frequency').focus();
                                            $jqGrid('#' + rowId + '_Frequency').select();
                                        }, 10);
                                        return false;
                                    }
                                   // Checkfrequency(e);
                                    return false;
                                }
                                if (e.which == 9)   // tab
                                {

                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowId = row.attr('id');
                                    if (e.target.value == "") {

                                        setTimeout(function () {
                                            $jqGrid('#' + rowId + '_Frequency').focus();
                                            $jqGrid('#' + rowId + '_Frequency').select();
                                        }, 10);
                                        return false;
                                    }
                                    else {
                                        setTimeout(function () {
                                            $jqGrid('#' + rowId + '_ValidFromDate').focus();
                                            $jqGrid('#' + rowId + '_ValidFromDate').select();
                                        }, 500);
                                    }
                                }
                            });

                            $jqGrid(element).click(function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowid = row.attr('id');
                                setTimeout(function () {
                                    if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                        $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                    }
                                }, 200);
                            });
                        },
                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                if (e.target.value == "") {
                                    e.target.focus();
                                    e.target.select();
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowId = row.attr('id');
                                    //e.target.setTimeout(function () {
                                    $jqGrid('#' + rowId + '_Frequency').focus();
                                    $jqGrid('#' + rowId + '_Frequency').select();
                                    //}, 500);
                                    return false;
                                }
                                else {
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowid = row.attr('id');
                                    //Checkfrequency(e);
                                }
                                PatientHasChanged();
                            }
                        }]
                    }
                },
            { name: 'FlagDQ1', index: 'FlagDQ1', editable: false, sorttype: 'bool', classes: 'align-center', hidden: true },
            { name: 'FlagDQ2', index: 'FlagDQ2', editable: false, sorttype: 'bool', classes: 'align-center', hidden: true },
            { name: 'FlagDQ3', index: 'FlagDQ3', editable: false, sorttype: 'bool', classes: 'align-center', hidden: true },
            { name: 'FlagDQ4', index: 'FlagDQ4', editable: false, sorttype: 'bool', classes: 'align-center', hidden: true },
            { name: 'Status', index: 'Status', editable: false, classes: 'align_center', width: '55' },
            { name: 'SalesUnit', index: 'SalesUnit', editable: false, hidden: true },
            { name: "ChangeNDD", index: "ChangeNDD", sorttype: 'date', width: '105', showOn: "both", editable: true, editoptions: {
                    readonly: true,
                    dataInit: function (element) {                        
                        var controlId = element.id;
                        setNewNDD('jqPatientPrescription', controlId);
                        
                        $jqGrid(element).datepicker({
                            buttonImage: '/Images/calander_icon.png',
                            buttonImageOnly: true,
                            dateFormat: 'dd/mm/yy',
                            firstDay: 1,
                            minDate: ajaxFromDate,
                            maxDate: ajaxToDate,
                            showOn: 'both',
                            beforeShowDay: function (dt) {
                                if (holidayDaysList.length > 0) {
                                    var hindex = $jqGrid.inArray(ConvertDateToMMDDYYYY(dt), holidayDaysList);
                                    if (hindex > -1)
                                        return [false, '', ''];
                                    else
                                        return [dt.getDay() == 0 || dt.getDay() == 6 || dt.getDay() == day1 || dt.getDay() == day2 || dt.getDay() == day3 || dt.getDay() == day4 || dt.getDay() == day5 ? false : true];
                                }
                                else
                                    return [dt.getDay() == 0 || dt.getDay() == 6 || dt.getDay() == day1 || dt.getDay() == day2 || dt.getDay() == day3 || dt.getDay() == day4 || dt.getDay() == day5 ? false : true];
                            },
                            addClass: 'grid_datepicker_icon'
                        });

                        $jqGrid(element).change(function () {
                            PatientHasChanged();
                        });
                    }
                }
            },
            { name: "hdnChangeNDD", jsonmap: "ChangeNDD", width: '105', editable: true, hidden: true },
                    {name: "ValidFromDate", index: "ValidFromDate", editable: true, width: '105', showOn: "both", editoptions: {
                            readonly: false,
                            dataInit: function (element) {
                                $(element).keydown(function (e) {
                                    if (e.which == 13)
                                        return false;
                                });
                                $jqGrid(element).datepicker({
                                    buttonImage: '/Images/calander_icon.png',
                                    buttonImageOnly: true,
                                    dateFormat: 'dd/mm/yy',
                                    changeMonth: true,
                                    changeYear: true,
                                    showOn: 'both',
                                    firstDay: 1,
                                    addClass: 'grid_datepicker_icon',
                                    minDate: 0,
                                    yearRange: "-115:+100",
                                    onSelect: function (d, i) {
                                        $jqGrid("#hdnDatePickFrom").val(d);
                                        $jqGrid("#hdnDatePickLastValue").val(i.lastVal);
                                        if (d != i.lastVal) {
                                            var isValid = $jqGrid(this).change();
                                        }
                                        $jqGrid(this).focus();
                                    }
                                });
                                $jqGrid(element).keydown(function (e) {
                                    if (e.which == 9)   // tab
                                    {
                                        var row = $jqGrid(e.target).closest('tr.jqgrow');
                                        var rowId = row.attr('id');
                                        setTimeout(function () {
                                            $jqGrid('#' + rowId + '_ValidToDate').focus();
                                            $jqGrid('#' + rowId + '_ValidToDate').select();
                                        }, 500);
                                    }

                                });


                                $jqGrid(element).change(function () {
                                    CheckNurseRoleLogin();
                                    if (window.EditableRows == undefined)
                                        window.EditableRows = $jqGrid(element).attr('id').split('_')[0];
                                    var fromdate = $jqGrid(this).val();
                                    var toDate = $jqGrid("#" + window.EditableRows + "_ValidToDate").datepicker().val();
                                    var dataFrom = fromdate.split("/");
                                    var newFromDate = dataFrom[1] + "/" + dataFrom[0] + "/" + dataFrom[2];

                                    var dataTo = toDate.split("/");

                                    var fromYear = 1900;
                                    var day = dataFrom[0];
                                    var month = dataFrom[1];
                                    var year = dataFrom[2];
                                    if (year.length != 4) {
                                        $jqGrid(this).focus();
                                        $jqGrid('#divPrescValidationMsgText').html("Invalid From Date in Prescription");
                                        $jqGrid('#divPrescriptionValidation').show();
                                        return false;
                                    }
                                    else if (parseInt(year) < parseInt(fromYear)) {
                                        $jqGrid(this).focus();
                                        $jqGrid('#divPrescValidationMsgText').html("Invalid From Date in Prescription");
                                        $jqGrid('#divPrescriptionValidation').show();
                                        return false;
                                    }
                                    else {

                                        var newToDate = dataTo[1] + "/" + dataTo[0] + "/" + dataTo[2];
                                        var fromDateConverted = new Date(newFromDate);
                                        var toDateConverted = new Date(newToDate);

                                        if (toDateConverted < fromDateConverted) {
                                            var lastValue = $jqGrid("#hdnDatePickLastValue").val();
                                            $jqGrid("#" + window.EditableRows + "_ValidFromDate").datepicker().val(lastValue);
                                            $jqGrid('#divDateInvalidError').dialog({
                                                autoOpen: false,
                                                modal: true,
                                                closeOnEscape: false,
                                                width: 'auto',
                                                resizable: true,
                                                buttons: {
                                                    "Ok": function () {
                                                        $jqGrid('#divDateInvalidError').dialog('close');
                                                    }
                                                }
                                            });
                                            $jqGrid('#divDateInvalidError').dialog('open');
                                            return false;
                                        }
                                    }
                                    PatientHasChanged();
                                });

                                $jqGrid(element).click(function (e) {
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowid = row.attr('id');
                                    setTimeout(function () {
                                        if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                                $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                        }
                                    }, 200);
                                });

                            },
                            defaultvalue: '20/01/15'
                        }
                    },
                    {
                        name: "ValidToDate", index: "ValidToDate", editable: true, width: '105', showOn: "both", editoptions: {
                            readonly: false,
                            dataInit: function (element) {
                                $(element).keydown(function (e) {
                                    if (e.which == 13)
                                        return false;
                                });
                                $jqGrid(element).datepicker({
                                    buttonImage: '/Images/calander_icon.png',
                                    buttonImageOnly: true,
                                    dateFormat: 'dd/mm/yy',
                                    changeMonth: true,
                                    changeYear: true,
                                    showOn: 'both',
                                    firstDay: 1,
                                    addClass: 'grid_datepicker_icon',
                                    minDate: 0,
                                    yearRange: "-115:+100",
                                    OnSelect: function (d, i) {
                                        $("#hdnDatePickTo").val(d);
                                        if (d != i.lastVal) {
                                            var isValid = $jqGrid(this).change();
                                        }
                                        $jqGrid(this).focus();
                                    },
                                    beforeShow: function () {
                                        $("#hdnDatePickTo").val($jqGrid("#" + window.EditableRows + "_ValidToDate").datepicker().val());
                                        var issuedate = $jqGrid("#" + window.EditableRows + "_ValidFromDate").datepicker().val();
                                        $jqGrid("#" + window.EditableRows + "_ValidToDate").datepicker("option", "minDate", issuedate);
                                    }
                                });

                                $jqGrid(element).keydown(function (e) {
                                    if (e.which == 9)   // tab
                                    {
                                        var row = $jqGrid(e.target).closest('tr.jqgrow');
                                        var rowId = row.attr('id');
                                        setTimeout(function () {
                                            $jqGrid('#' + rowId + '_DeliveryDate').focus();
                                            $jqGrid('#' + rowId + '_DeliveryDate').select();
                                        }, 500);
                                    }

                                });

                                $jqGrid(element).change(function () {
                                    CheckNurseRoleLogin();
                                    if (window.EditableRows == undefined)
                                        window.EditableRows = $jqGrid(element).attr('id').split('_')[0];
                                    var toDate = $jqGrid("#" + window.EditableRows + "_ValidToDate").datepicker().val();
                                    var deliveryDate = $jqGrid("#" + window.EditableRows + "_DeliveryDate").datepicker().val();
                                    var dataDelivery = deliveryDate.split("/");
                                    var newDeliveryDate = dataDelivery[1] + "/" + dataDelivery[0] + "/" + dataDelivery[2];
                                    var dataTo = toDate.split("/");

                                    var fromYear = 1900;
                                    var day = dataTo[0];
                                    var month = dataTo[1];
                                    var year = dataTo[2];
                                    if (year.length != 4) {
                                        $jqGrid(this).focus();
                                        $jqGrid('#divPrescValidationMsgText').html("Invalid To Date in Prescription");
                                        $jqGrid('#divPrescriptionValidation').show();
                                        return false;
                                    }
                                    else if (parseInt(year) < parseInt(fromYear)) {
                                        $jqGrid(this).focus();
                                        $jqGrid('#divPrescValidationMsgText').html("Invalid To Date in Prescription");
                                        $jqGrid('#divPrescriptionValidation').show();
                                        return false;
                                    }
                                    else {

                                        var newToDate = dataTo[1] + "/" + dataTo[0] + "/" + dataTo[2];
                                        var deliveryDateConverted = new Date(newDeliveryDate);
                                        var toDateConverted = new Date(newToDate);
                                        $jqGrid(element).focus();
                                        if (toDateConverted < deliveryDateConverted) {
                                            $jqGrid('#divToDateInvalidError').dialog({
                                                autoOpen: false,
                                                modal: true,
                                                closeOnEscape: false,
                                                width: 'auto',
                                                resizable: true,
                                                buttons: {
                                                    "Ok": function () {
                                                        $jqGrid('#divToDateInvalidError').dialog('close');
                                                        $jqGrid("#" + window.EditableRows + "_DeliveryDate").datepicker().val(toDate);
                                                    }
                                                }
                                            });
                                            $jqGrid('#divToDateInvalidError').dialog('open');
                                            return false;
                                        }
                                    }
                                    PatientHasChanged();
                                });

                                $jqGrid(element).click(function (e) {
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowid = row.attr('id');
                                    setTimeout(function () {
                                        if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                                $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                        }
                                    }, 200);
                                });
                            }

                        }
                    },
                    {name: "DeliveryDate", index: "DeliveryDate", width: '100', editrules: { required: true }, editable: true, hidden: true, editoptions: {
                            readonly: false,
                            dataInit: function (element) {
                                $(element).keydown(function (e) {
                                    if (e.which == 13)
                                        return false;
                                });
                                $jqGrid(element).datepicker({
                                    buttonImage: '/Images/calander_icon.png',
                                    buttonImageOnly: true,
                                    dateFormat: 'dd/mm/yy',
                                    changeMonth: true,
                                    changeYear: true,
                                    showOn: 'both',
                                    minDate: 0,
                                    firstDay: 1,
                                    addClass: 'grid_datepicker_icon',
                                    onSelect: function (d, i) {
                                        $jqGrid("#hdnDatePickDeliveryDate").val(d);
                                        $jqGrid("#hdnDatePickLastValue").val(i.lastVal);
                                        if (d != i.lastVal) {
                                            var isValid = $jqGrid(this).change();
                                        }
                                        $jqGrid(this).focus();
                                    }
                                });

                                $jqGrid(element).change(function () {
                                    var deliveryDate = $jqGrid("#hdnDatePickDeliveryDate").val();
                                    var toDate = $jqGrid("#" + window.EditableRows + "_ValidToDate").datepicker().val();
                                    var dataDelivery = deliveryDate.split("/");
                                    var newDeliveryDate = dataDelivery[1] + "/" + dataDelivery[0] + "/" + dataDelivery[2];

                                    var dataTo = toDate.split("/");
                                    var newToDate = dataTo[1] + "/" + dataTo[0] + "/" + dataTo[2];
                                    var deliveryDateConverted = new Date(newDeliveryDate);
                                    var toDateConverted = new Date(newToDate);
                                    if (toDateConverted < deliveryDateConverted) {
                                        var lastValue = $jqGrid("#hdnDatePickLastValue").val();
                                        $jqGrid("#" + window.EditableRows + "_DeliveryDate").datepicker().val(lastValue);
                                        $jqGrid('#divDeliveryDateInvalidError').dialog({
                                            autoOpen: false,
                                            modal: true,
                                            closeOnEscape: false,
                                            width: 'auto',
                                            resizable: true,
                                            buttons: {
                                                "Ok": function () {
                                                    $jqGrid('#divDeliveryDateInvalidError').dialog('close');
                                                }
                                            }
                                        });
                                        $jqGrid('#divDeliveryDateInvalidError').dialog('open');
                                        return false;
                                    }
                                    PatientHasChanged();
                                });

                                $jqGrid(element).click(function (e) {
                                    var row = $jqGrid(e.target).closest('tr.jqgrow');
                                    var rowid = row.attr('id');
                                    setTimeout(function () {
                                        if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                                                $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                                            $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                                        }
                                    }, 200);
                                });
                            }
                        }
                    },
                        { name: 'RowStatus', index: 'RowStatus', editable: false, hidden: true },
                        { name: 'ProductApprovalFlag', index: 'ProductApprovalFlag', editable: false, hidden: true },
                        { name: 'PrescriptionAuthorizationApprovalFlag', index: 'PrescriptionAuthorizationApprovalFlag', classes: 'ApprovalFlag', editable: false, hidden: true },
                        { name: 'IDXPrescriptionProductId', index: 'IDXPrescriptionProductId', editable: false, hidden: false, width: '65' },
            ],
            height: '205',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqPatientPrescriptionTablePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            autowidth: false,
            sortname: "",
            sortorder: "asc",
            cellEdit: true,
            loadonce: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            beforeRequest: function () {
                if ($jqGrid('#hdnFromAddProduct').val() == "1") {
                    $jqGrid("#show_removed").focus();
                }
                else {
                    $jqGrid("html, body").animate({ scrollTop: 0 }, 100);
                }
            },
            beforeProcessing: function () {
                if ($jqGrid('#hdnFromAddProduct').val() == "1") {
                    $jqGrid("#show_removed").focus();
                }
                else {
                    $jqGrid("html, body").animate({ scrollTop: 0 }, 100);
                }
            },
            gridComplete: function (data) {

                NotRemovedCount = 0;
                if (($jqGrid("#jqPatientPrescription").getGridParam("reccount")) == 0 || ($jqGrid('#divPrescription').hasClass('disable_div'))) {
                    DisableChangeNDD(true);
                }
                else {
                    DisableChangeNDD(false);
                }

                var gridrowdata = $jqGrid("#jqPatientPrescription").jqGrid('getRowData');
                if ($("#show_removed").is(':checked')) {
                    for (var i = 0; i < gridrowdata.length; i++) {
                        $jqGrid("#jqPatientPrescription #" + (i + 1)).show();
                    }
                }
                else {
                    for (var i = 0; i < gridrowdata.length; i++) {
                        if ($jqGrid(gridrowdata[i].IsRemoved).val() == 'removed') {
                            var checkID = $jqGrid(gridrowdata[i].IsRemoved).attr('id');
                            var hideID = checkID.split("_");
                            $jqGrid("#jqPatientPrescription #" + hideID[0]).hide();
                        }
                    }
                }
                var rowIds = $jqGrid(this).jqGrid('getDataIDs');
                for (var i = 1; i <= rowIds.length; i++) {

                    var rowData = $jqGrid(this).jqGrid('getRowData', i);
                    var isOverriden = $jqGrid("#" + rowIds[i - 1] + "_IsOverriddenFlag").is(':checked') ? true : false;
                    if (rowData['FlagDQ1'] == "true") {
                        $jqGrid(this).setCell(rowIds[i - 1], 'DQ1', '', { 'background': '#e7c558', 'color': '#000' });
                    }

                    if (rowData['FlagDQ2'] == "true") {
                        $jqGrid(this).setCell(rowIds[i - 1], 'DQ2', '', { 'background': '#e7c558', 'color': '#000' });
                    }
                    if (rowData['FlagDQ3'] == "true") {
                        $jqGrid(this).setCell(rowIds[i - 1], 'DQ3', '', { 'background': '#e7c558', 'color': '#000' });
                    }
                    if (rowData['FlagDQ4'] == "true") {
                        $jqGrid(this).setCell(rowIds[i - 1], 'DQ4', '', { 'background': '#e7c558', 'color': '#000' });
                    }

                    if (isOverriden) {
                        $jqGrid(this).setCell(rowIds[i - 1], 'DQ1', '', { 'editable': 'true' });
                    }
                    else {
                        $jqGrid(this).setCell(rowIds[i - 1], 'DQ1', '', { 'editable': 'false' });
                    }
                    if (rowData['PrescriptionAuthorizationApprovalFlag'] != undefined && rowData['PrescriptionAuthorizationApprovalFlag'].toString().toUpperCase() == valTrue) {
                        $jqGrid("#jqPatientPrescription").find("#" + i + "").css("background", "#0b80ab");
                        $jqGrid("#jqPatientPrescription").find("#" + i + "").css("color", "#fff");
                    }
                }

                window.PrescriptionData = $jqGrid("#jqPatientPrescription").jqGrid('getRowData');
                $jqGrid('#jqPatientPrescriptionTablePager_left').hide();
                $jqGrid('.ui-paging-info').css("text-align", "left");
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#jqPatientPrescriptionTablePager_center').hide();

                } else {
                    $jqGrid('#jqPatientPrescriptionTablePager_center').show();
                }
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });

                var grid = $jqGrid("#jqPatientPrescription"), ids = grid.jqGrid('getDataIDs'), i, l = ids.length;
                for (q = 0; q < l; q++) {
                    var isOverriddenFlagChecked = $jqGrid("#" + ids[q] + "_IsOverriddenFlag").is(':checked');
                    var isDisabled = $jqGrid("#" + ids[q] + "_IsRemoved").is(':disabled');
                    if (!isDisabled) {
                        if (isOverriddenFlagChecked) {
                            $jqGrid('#jqPatientPrescription').setColProp('AssessedPadsPerDay', { editable: false });
                            $jqGrid('#jqPatientPrescription').setColProp('DQ1', { editable: true });
                            $jqGrid('#jqPatientPrescription').setColProp('DQ2', { editable: true });
                            $jqGrid('#jqPatientPrescription').setColProp('DQ3', { editable: true });
                            $jqGrid('#jqPatientPrescription').setColProp('DQ4', { editable: true });
                        }
                        else {
                            $jqGrid('#jqPatientPrescription').setColProp('AssessedPadsPerDay', { editable: true });
                            $jqGrid('#jqPatientPrescription').setColProp('DQ1', { editable: false });
                            $jqGrid('#jqPatientPrescription').setColProp('DQ2', { editable: false });
                            $jqGrid('#jqPatientPrescription').setColProp('DQ3', { editable: false });
                            $jqGrid('#jqPatientPrescription').setColProp('DQ4', { editable: false });
                        }
                        //    $jqGrid('#jqPatientPrescription').setColProp('ActualPadsPerDay', { editable: true });

                        $jqGrid('#jqPatientPrescription').setColProp('ActualPPD', { editable: true });
                        $jqGrid('#jqPatientPrescription').setColProp('Frequency', { editable: true });
                        $jqGrid('#jqPatientPrescription').setColProp('ValidFromDate', { editable: true });
                        $jqGrid('#jqPatientPrescription').setColProp('ValidToDate', { editable: true });
                        $jqGrid('#jqPatientPrescription').setColProp('DeliveryDate', { editable: true });
                        $jqGrid('#jqPatientPrescription').setColProp('ChangeNDD', { editable: true });
                        grid.jqGrid('editRow', ids[q], true);
                        var rowStatus = $jqGrid('#jqPatientPrescription').jqGrid('getCell', ids[q], "RowStatus");
                        //var rowDeliveryDate = $jqGrid('#jqPatientPrescription').jqGrid('getCell', ids[q], "ChangeNDD");
                        var rowDeliveryDate = $jqGrid("#jqPatientPrescription #" + ids[q] + "_ChangeNDD").val();
                        if (window.gridid == "jqPatientPrescription" && rowStatus == "New") {
                            CalculateNDD(event, $jqGrid("#" + ids[q] + "_Frequency").val(), ids[q]);
                            $jqGrid('#jqPatientPrescription #' + ids[q] + '_ChangeNDD').val('').val(window.ChangeNDD);
                        }

                    }
                    if ($jqGrid("#" + ids[q] + "_IsRemoved").val() == 'removed')
                        continue;
                    NotRemovedCount = NotRemovedCount + 1;
                    //Set the Change NDD buttun disabled if all product are removed
                    if (NotRemovedCount == 0) {

                        DisableChangeNDD(true);
                        //If non care home then remove NDD without saving to hidden field else save in hidded field
                        PatientNDD = "";
                        $jqGrid('#DeliveryDate').text('');
                        $jqGrid("#hdnNextDeliverydate").val('');
                    }
                }
                //$jqGrid("#show_removed").focus();//set focus to avoid dialog on prescription
                if ($jqGrid('#hdnFromAddProduct').val() == "1") {
                    $jqGrid("#show_removed").focus();
                }
                else {
                    $jqGrid("html, body").animate({ scrollTop: 0 }, 100);
                }

                try
                {
                    if (!HasActivePrescriptionProduct()) {                    
                        $("#DeliveryDate").text('');
                        DisableChangeNDD(true);
                    }
                    else if ($jqGrid("#hdnNextDeliverydate").val() != undefined && $jqGrid("#hdnNextDeliverydate").val() != '') {
                        $("#DeliveryDate").text($jqGrid("#hdnNextDeliverydate").val());
                        DisableChangeNDD(false);
                    }
                } catch(err) { }
            },
            onCellSelect: function (rowid, iCol, e) {
                window.EditableRows = rowid;
                if ($jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html() != undefined &&
                     $jqGrid("#jqPatientPrescription tr#" + rowid).find("td.ApprovalFlag").html().toString().toUpperCase() != valTrue) {
                    $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', 'none');
                    $jqGrid("#jqPatientPrescription tr#" + rowid).css('background', '#fff');
                    $jqGrid("#jqPatientPrescription tr#" + rowid).css('color', '#222');
                }

                if (event.target.nodeName == 'TD')
                    return false;
                var cm = $jqGrid("#jqPatientPrescription").jqGrid("getGridParam", "colModel");
                var colName = cm[iCol].name;
                window.AssessedPadsPerDay = $jqGrid("#" + rowid + "_AssessedPadsPerDay").val();
                window.Frequency = $jqGrid("#" + rowid + "_Frequency").val();
                window.ValidFromDate = $jqGrid("#" + rowid + "_ValidFromDate").val();
                window.ValidToDate = $jqGrid("#" + rowid + "_ValidToDate").val();

                window.DQ1 = $jqGrid("#" + rowid + "_DQ1").val();
                if (window.DQ1 == undefined) {
                    window.DQ1 = $jqGrid('#jqPatientPrescription').jqGrid('getCell', rowid, 'DQ1');
                }
                window.DQ2 = $jqGrid("#" + rowid + "_DQ2").val();
                if (window.DQ2 == undefined) {
                    window.DQ2 = $jqGrid('#jqPatientPrescription').jqGrid('getCell', rowid, 'DQ2');
                }
                window.DQ3 = $jqGrid("#" + rowid + "_DQ3").val();
                if (window.DQ3 == undefined) {
                    window.DQ3 = $jqGrid('#jqPatientPrescription').jqGrid('getCell', rowid, 'DQ3');
                }
                window.DQ4 = $jqGrid("#" + rowid + "_DQ4").val();
                if (window.DQ4 == undefined) {
                    window.DQ4 = $jqGrid('#jqPatientPrescription').jqGrid('getCell', rowid, 'DQ4');
                }
                window.ActualPPD = $jqGrid("#" + rowid + "_ActualPPD").val();
                if (window.ActualPPD == undefined) {
                    window.ActualPPD = $jqGrid('#jqPatientPrescription').jqGrid('getCell', rowid, 'ActualPPD');
                }

                window.ProductDescription = $jqGrid("#" + rowid + "_Description").val();
                if (window.ProductDescription == undefined) {
                    window.ProductDescription = $jqGrid('#jqPatientPrescription').jqGrid('getCell', rowid, 'ProductName');
                }
                var isChecked = $jqGrid("#" + rowid + "_IsOverriddenFlag").is(':checked')
                $jqGrid('#jqPatientPrescription').jqGrid('restoreRow', rowid);

                if (window.gridid == "jqCommunityOrders" || window.gridid == "jqOneOffOrders") {
                    $jqGrid('#jqPatientPrescription').setColProp('AssessedPadsPerDay', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('IsOverriddenFlag', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('ActualPPD', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('Frequency', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('ValidFromDate', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('ValidToDate', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('DeliveryDate', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('DQ1', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('DQ2', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('DQ3', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('DQ4', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('ChangeNDD', { editable: false });
                }
                else {
                    $jqGrid('#jqPatientPrescription').setColProp('AssessedPadsPerDay', { editable: true });
                    $jqGrid('#jqPatientPrescription').setColProp('ActualPPD', { editable: true });
                    $jqGrid('#jqPatientPrescription').setColProp('Frequency', { editable: true });
                    $jqGrid('#jqPatientPrescription').setColProp('ValidFromDate', { editable: true });
                    $jqGrid('#jqPatientPrescription').setColProp('ValidToDate', { editable: true });
                    $jqGrid('#jqPatientPrescription').setColProp('DeliveryDate', { editable: true });
                    $jqGrid('#jqPatientPrescription').setColProp('ChangeNDD', { editable: true });

                }

                if (!isChecked) {
                    $jqGrid('#jqPatientPrescription').setColProp('DQ1', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('DQ2', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('DQ3', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('DQ4', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('ActualPadsPerDay', { editable: false });
                }
                if (isChecked) {
                    $jqGrid('#jqPatientPrescription').setColProp('AssessedPadsPerDay', { editable: false });
                }

                var isDisabled = $jqGrid("#" + rowid + "_IsRemoved").is(':disabled');
                if (isDisabled) {
                    $jqGrid('#jqPatientPrescription').setColProp('AssessedPadsPerDay', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('IsOverriddenFlag', { editable: false });
                    $jqGrid('#' + rowid + '_IsOverriddenFlag').attr('disabled', 'disabled');
                    $jqGrid('#jqPatientPrescription').setColProp('ActualPPD', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('Frequency', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('ValidFromDate', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('ValidToDate', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('DeliveryDate', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('DQ1', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('DQ2', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('DQ3', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('DQ4', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('ActualPadsPerDay', { editable: false });
                    $jqGrid('#jqPatientPrescription').setColProp('ChangeNDD', { editable: false });
                }

                $jqGrid('#jqPatientPrescription').jqGrid('editRow', rowid, true);
                $jqGrid("#" + rowid + "_" + colName + "").focus();
                if (window.AssessedPadsPerDay != undefined)
                    $jqGrid("#" + rowid + "_AssessedPadsPerDay").val(window.AssessedPadsPerDay);
                if (window.Frequency != undefined)
                    $jqGrid("#" + rowid + "_Frequency").val(window.Frequency);
                if (window.ValidFromDate != undefined)
                    $jqGrid("#" + rowid + "_ValidFromDate").val(window.ValidFromDate);
                if (window.ValidToDate != undefined)
                    $jqGrid("#" + rowid + "_ValidToDate").val(window.ValidToDate);
                if (window.DQ1 != undefined)
                    $jqGrid("#" + rowid + "_DQ1").val(window.DQ1);
                if (window.DQ2 != undefined)
                    $jqGrid("#" + rowid + "_DQ2").val(window.DQ2);
                if (window.DQ3 != undefined)
                    $jqGrid("#" + rowid + "_DQ3").val(window.DQ3);
                if (window.DQ4 != undefined)
                    $jqGrid("#" + rowid + "_DQ4").val(window.DQ4);
                if (window.ActualPPD != undefined) {
                    $jqGrid("#" + rowid + "_ActualPPD").val(window.ActualPPD);
                }
                if (window.ProductDescription != undefined) {
                    $jqGrid("#" + rowid + "_Description").val(window.ProductDescription);

                }

                $jqGrid("#" + rowid + "_" + 'AssessedPadsPerDay', e.target.ignore).focus(); //recheck added by jitendra to keep the focus on grid row

            },
            ondblClickRow: function (rowid) {
                if (window.gridid == "jqCommunityOrders" || window.gridid == "jqOneOffOrders") {
                    var rowData = $jqGrid(this).jqGrid('getRowData', rowid);
                    var gridid = window.gridid;
                    var grid1 = $jqGrid("#" + gridid + ""), idsgrid = grid1.jqGrid('getDataIDs'), m, p = idsgrid.length;
                    for (m = 0; m < p; m++) {
                        grid1.jqGrid('restoreRow', idsgrid[m]);
                    }
                    var deliveryDate = "";
                    var NDD = "";
                    var lastDeliveryDate = "";

                    var quantity = rowData['FlagDQ1'] == "true" ? rowData['DQ1'] : (rowData['FlagDQ2'] == "true" ? rowData['DQ2'] : (rowData['FlagDQ3'] == "true" ? rowData['DQ3'] : (rowData['FlagDQ4'] == "true" ? rowData['DQ4'] : 0)));
                    if (gridid == 'jqCommunityOrders') {
                        var rowId = 0;
                        var ids = $jqGrid("#" + gridid + "").jqGrid('getDataIDs')

                        if (ids.length > 0) {
                            rowId = ids[0];
                        }
                        var parentRowData = $jqGrid("#" + gridid + "").getRowData(rowId);

                        deliveryDate = parentRowData['DeliveryDate'];
                        if (deliveryDate == undefined || deliveryDate == "") {
                            deliveryDate = $('#hdnSessionNextDeliveryDate').val();
                        }
                        NDD = parentRowData['NextDeliveryDate'];
                        if (NDD == undefined) {
                            if (window.NextDeliveryDate != undefined) {
                                NDD = window.NextDeliveryDate;
                            }
                            else {
                                NDD = deliveryDate;
                            }
                        }
                        else {
                            //If there is atleast one row in the grid, then else part will be executed
                            window.NextDeliveryDate = NDD;
                        }
                        lastDeliveryDate = parentRowData['LastDeliveryDate'];
                    }
                    else if (gridid == 'jqOneOffOrders') {
                        deliveryDate = window.NDD;
                        if (deliveryDate == undefined)
                            deliveryDate = '@Convert.ToString(Session["OneOffNDD"])';
                    }

                    var productId = rowData["ProductId"];
                    var description = rowData["ProductName"];
                    var productDisplayId = rowData["ProductDisplayId"];
                    var salesUnit = rowData["SalesUnit"];
                    var datarow = { ProductDisplayId: productDisplayId, ProductId: productId, ProductName: description, Unit: salesUnit, DeliveryDate: deliveryDate, Quantity: quantity, QuantityToCompare: quantity, NextDeliveryDate: NDD, LastDeliveryDate: lastDeliveryDate, RowStatus: "New" };
                    var gridrowdata = $jqGrid("#" + gridid + "").jqGrid('getRowData');

                    var gridValidation = $jqGrid("#" + gridid + ""),
                    idsthis = gridValidation.jqGrid('getDataIDs'), p, m = idsthis.length;
                    for (p = 1; p <= m; p++) {
                        var rowDataBackgrid = $jqGrid("#" + gridid + "").jqGrid('getRowData', p);
                        var productDisplayIdgrid = rowDataBackgrid["ProductId"];
                        if (productDisplayIdgrid == undefined) {
                            productDisplayIdgrid = $jqGrid("#" + gridid + "").jqGrid('getCell', p, 'ProductId');
                        }
                        if (productId == productDisplayIdgrid) {
                            ClosePopup('divPrescriptionList');
                            $jqGrid('#divErrorProduct').dialog({
                                autoOpen: false,
                                modal: true,
                                closeOnEscape: false,
                                width: 'auto',
                                resizable: false,
                                buttons: {
                                    "Ok": function () {
                                        $jqGrid('#divErrorProduct').dialog('close');
                                    }
                                }

                            });
                            $jqGrid('#divErrorProduct').dialog('open');
                            return false;
                        }
                    }

                    $jqGrid("#" + gridid + "").jqGrid('addRowData', gridrowdata.length + 1, datarow, "first");
                    $jqGrid("#" + gridid + "").trigger('reloadGrid');//added to resolved page 1 of 0
                    ClosePopup('divPrescriptionList');

                    var grid = $jqGrid("#" + gridid + ""),
                              ids = grid.jqGrid('getDataIDs'), i, l = ids.length;
                    for (i = 0; i < l; i++) {
                        grid.jqGrid('editRow', ids[i], true);

                    }
                }
                $jqGrid("#chkRemove").prop("checked", false);
            },
            loadComplete: function () {
                window.PrescriptionEditedbyNurse = false;//reset the dirty bit
                var active = false;
                var removed = false;
                var rowIds = $jqGrid(this).jqGrid('getDataIDs');
                for (var i = 1; i <= rowIds.length; i++) {
                    var rowData = $jqGrid(this).jqGrid('getRowData', i);
                    if (rowData['PrescriptionAuthorizationApprovalFlag'] != undefined && rowData['PrescriptionAuthorizationApprovalFlag'].toString().toUpperCase() == valTrue) {
                        $jqGrid("#jqPatientPrescription").find("#" + i + "").css("background", "#0b80ab");
                        $jqGrid("#jqPatientPrescription").find("#" + i + "").css("color", "#fff");
                    }

                    if ($jqGrid("#jqPatientPrescription").find("#" + i + "_IsRemoved").val().toLowerCase() == "notremoved") {
                        active = true;
                    }
                    if ($jqGrid("#jqPatientPrescription").find("#" + i + "_IsRemoved").val().toLowerCase() == "removed") {
                        removed = true;
                    }
                }
                if (removed && !active)
                    window.IsReassessment = true;
            },

        }).navGrid("#jqPatientPrescriptionTablePager",
                       { search: false, refresh: false, add: false, edit: false, del: false },
                       {},
                       {},
                       {}
                   );

    }
    function addRemoveChkBox(cellValue, options, rowdata, action) {
        return '<input type="checkbox" class="chkVerify">';
    }

    function CalculateNDD(e, Frequency, isNewRow) {
        var rowId = undefined;
        
        if (isNewRow != undefined)
            rowId = isNewRow;
        else {
            var row = $jqGrid(e.target).closest('tr.jqgrow');
            rowId = row.attr('id');
        }

        var flag = true;

        if (window.IsReassessment) {
            $jqGrid.ajax({
                url: '/Patient/GetPatientNDDForFirstProduct',
                type: 'GET',
                cache: false,
                data: { patientId: $jqGrid("#PatientId").text() },
                async: false,
                success: function (responseData) {
                    if (responseData.length > 0) {
                        window.ChangeNDD = responseData;
                        $jqGrid('#jqPatientPrescription #' + rowId + '_ChangeNDD').val('').val(window.ChangeNDD);
                        $jqGrid("#hdnNextDeliverydate").val(window.ChangeNDD);
                        $jqGrid('#DeliveryDate').text(window.ChangeNDD);
                        SetChangeButtonEnable();
                        flag = false;
                    }
                },
                error: function (x, e) {
                    HandleAjaxError(x, e, jsfilename, "CalculateNDD");
                    return false;
                }
            });
        }

        if (flag)
            DisplayNDD(rowId);
    }


    function Checkfrequency(e) {
        if (window.isPrescriptionEditable.toString().toUpperCase() != value.toUpperCase() && window.RoleName == $jqGrid('#hdnNurseRoleName').val()) {
            window.PrescriptionEditedbyNurse = true;
            EnableNurseComments();
        }
        var oldFrequency = window.frequencyBeforeEdit;
        var row = $jqGrid(e.target).closest('tr.jqgrow');
        var rowId = row.attr('id');
        var Frequency = parseInt(e.target.value);
        window.Frequency = Frequency;
        var CustomerParamets = window.CustomerParamets;

        var patientTypeMinFrequency = window.PrescMinFrequency;
        var patientTypeMaxFrequency = window.PrescMaxFrequency;
        window.defaultFrequencyForCarehome = $("#DeliveryFrequency").val();
        window.FrequencyMultipleOf = window.IncrementFrequency;

        var defaultFreq = "";
        var NonCarehome = $jqGrid('#hdnNonCareHomePatientType').val().split(",");
        var PatientType = $("#ddlPatientType").val();
        if (jQuery.inArray(PatientType, NonCarehome) == -1) {
            defaultFreq = window.defaultFrequencyForCarehome;
        }
        else {
            defaultFreq = window.DefaultFrequency;
        }

        if (CustomerParamets != null && CustomerParamets != undefined) {

            if (Frequency < patientTypeMinFrequency) {
                if (Frequency != parseInt(defaultFreq)) {
                    $jqGrid("#" + rowId + "_Frequency").val('');
                    if (oldFrequency != "" && oldFrequency != undefined && (oldFrequency > patientTypeMinFrequency)) {
                        $jqGrid("#" + rowId + "_Frequency").val(oldFrequency);
                    }
                    else {
                        $jqGrid("#" + rowId + "_Frequency").val(patientTypeMinFrequency);
                    }

                    $jqGrid('#divFrequencyError').dialog({
                        autoOpen: false,
                        modal: true,
                        closeOnEscape: false,
                        width: 'auto',
                        resizable: false,
                        buttons: {
                            "Ok": function () {
                                $jqGrid('#divFrequencyError').dialog('close');
                            }
                        }
                    });
                    $jqGrid('#divFrequencyError').html('');
                    $jqGrid('#divFrequencyError').append("@Common.resErrorMinFrequency " + patientTypeMinFrequency);
                    $jqGrid('#divFrequencyError').dialog('open');
                }
            }

            if (Frequency > patientTypeMaxFrequency) {
                if (Frequency != parseInt(defaultFreq)) {
                    $jqGrid("#" + rowId + "_Frequency").val('');
                    if (oldFrequency != "" && oldFrequency != undefined && (oldFrequency < patientTypeMaxFrequency)) {
                        $jqGrid("#" + rowId + "_Frequency").val(oldFrequency);
                    }
                    else {
                        $jqGrid("#" + rowId + "_Frequency").val(patientTypeMaxFrequency);
                    }

                    $jqGrid('#divFrequencyError').dialog({
                        autoOpen: false,
                        modal: true,
                        closeOnEscape: false,
                        width: 'auto',
                        resizable: false,
                        buttons: {
                            "Ok": function () {
                                $jqGrid('#divFrequencyError').dialog('close');
                            }
                        }
                    });
                    $jqGrid('#divFrequencyError').html('');
                    $jqGrid('#divFrequencyError').append("@Common.resErrorMaxFrequency " + patientTypeMaxFrequency);
                    $jqGrid('#divFrequencyError').dialog('open');
                }
            }

            var currentFrequency = parseInt($jqGrid("#" + rowId + "_Frequency").val());
            if (currentFrequency < parseInt(patientTypeMinFrequency)) {
                currentFrequency = parseInt(patientTypeMinFrequency);
            }
            else if (currentFrequency >= parseInt(patientTypeMaxFrequency)) {
                currentFrequency = parseInt(patientTypeMaxFrequency);
                var remainder = parseInt(currentFrequency) % parseInt(window.FrequencyMultipleOf);
                if (remainder != 0) {
                    currentFrequency -= parseInt(remainder);
                }
            }
            var remainder = parseInt(currentFrequency) % parseInt(window.FrequencyMultipleOf);
            if (remainder != 0 && currentFrequency != parseInt(defaultFreq)) {
                currentFrequency = parseInt(currentFrequency) + parseInt(window.FrequencyMultipleOf) - parseInt(remainder);
            }

            // $jqGrid("#" + rowId + "_Frequency").val(currentFrequency);

            if ($jqGrid("#" + rowId + "_Frequency").val() % window.FrequencyMultipleOf != 0) {
                if (currentFrequency != parseInt(defaultFreq)) {
                    $jqGrid('#divFrequencyError').dialog({
                        autoOpen: false,
                        modal: true,
                        closeOnEscape: false,
                        width: 'auto',
                        resizable: false,
                        buttons: {
                            "Ok": function () {
                                $jqGrid('#divFrequencyError').dialog('close');
                            }
                        }
                    });
                    $jqGrid('#divFrequencyError').html('');
                    $jqGrid('#divFrequencyError').append("@Common.resErrorFrequency " + window.FrequencyMultipleOf);
                    $jqGrid('#divFrequencyError').dialog('open');
                }
            }
            $jqGrid("#" + rowId + "_Frequency").val(currentFrequency);

            CalculateNDD(e, $jqGrid("#" + rowId + "_Frequency").val());
        }
    }

    function CompareActualPPDwithMaxPPD(rowId) {
        var rowData = $jqGrid("#jqPatientPrescription").jqGrid('getRowData', rowId);
        var MaxPadPerDay = 0;
        var actualPPDValue = 0;
        var gridid = $jqGrid("#jqPatientPrescription"), ids = gridid.jqGrid('getDataIDs'), i, l = ids.length;
        for (var i = 1; i <= l; i++) {
            if (!$jqGrid("#" + i + "_IsRemoved").is(":checked")) {
                rowActualPPDValue = parseFloat($jqGrid("#" + i + "_ActualPPD").val());
                actualPPDValue += parseFloat(rowActualPPDValue);
                actualPPDValue = parseFloat(actualPPDValue.toFixed(2));
            }
        }
        var CustomerParamets = window.CustomerParamets;
        if (CustomerParamets != null) {
            MaxPadPerDay = CustomerParamets[0].MaxPadPerDay;

            if (MaxPadPerDay != undefined && MaxPadPerDay != null && MaxPadPerDay != 0) {
                if (parseFloat(MaxPadPerDay) < actualPPDValue) {
                    for (var i = 1; i <= l; i++) {
                        if (!$jqGrid("#" + i + "_IsRemoved").is(":checked")) {
                            $jqGrid('#jqPatientPrescription').jqGrid('setCell', i, 'PrescriptionAuthorizationApprovalFlag', 'true');
                        }
                    }
                }
                else if (!(window.IsPrescriptionApprovalRequired)) {
                    for (var i = 1; i <= l; i++) {
                        if (!$jqGrid("#" + i + "_IsRemoved").is(":checked") && $jqGrid('#jqPatientPrescription').jqGrid('getCell', i, 'ProductApprovalFlag').toString().toUpperCase() != valTrue) {
                            $jqGrid('#jqPatientPrescription').jqGrid('setCell', i, 'PrescriptionAuthorizationApprovalFlag', 'false');
                        }
                    }
                }
                if (actualPPDValue > parseFloat(MaxPadPerDay)) {
                    $jqGrid('#divMaxPadPerDayError').dialog({
                        autoOpen: false,
                        modal: true,
                        closeOnEscape: false,
                        width: 'auto',
                        resizable: false,
                        buttons: {
                            "Ok": function () {
                                $jqGrid('#divMaxPadPerDayError').dialog('close');
                            }
                        }
                    });
                    $jqGrid('#divMaxPadPerDayError').html('');
                    $jqGrid('#divMaxPadPerDayError').append("@Common.resErrorMaxPerDay " + MaxPadPerDay);
                    $jqGrid('#divMaxPadPerDayError').dialog('open');
                }
            }
        }
    }

    function IsOverridenFlagcheckBox(cellvalue, options, rowobject) {
        var isDisabled = rowobject['IsRemoved'];
        if (rowobject['IsOverridden'] == true || rowobject['IsOverridden'] == "1" || rowobject['IsOverriddenFlag'] == true) {
            return "<input type='checkbox' " + (isDisabled == true ? "disabled = 'disabled' " : "") + "checked='checked' class='chkOverrideClass' id=" + options['rowId'] + "_" + options.colModel["name"] + " onchange='PatientHasChanged(); MakeDQ1ToDQ2Editable(" + options['rowId'] + ");' >";
        }
        else {
            return "<input type='checkbox' " + (isDisabled == true ? "disabled = 'disabled' " : "") + "class='chkOverrideClass' id=" + options['rowId'] + "_" + options.colModel["name"] + " onchange='PatientHasChanged(); MakeDQ1ToDQ2Editable(" + options['rowId'] + ");' >";
        }

    }

    function IsRemove(cellvalue, options, rowobject) {
        if (rowobject['IsRemoved'] == true || rowobject['Status'] == "Removed") {
            //if (window.isPrescriptionEditable.toString().toUpperCase() != value.toUpperCase() && window.RoleName == $jqGrid('#hdnNurseRoleName').val()) {
            //    window.PrescriptionEditedbyNurse = true;
            //    EnableNurseComments();
            //}
            return "<input type='checkbox' onchange='RemoveCheckBoxCheck(" + options['rowId'] + ");' checked='checked' disabled='disabled' class='IsRemoveClass' id=" + options['rowId'] + "_" + options.colModel["name"] + " value='removed'>";
        }
        else {
            return "<input type='checkbox' onchange='RemoveCheckBoxCheck(" + options['rowId'] + ");' class='IsRemoveClass' id=" + options['rowId'] + "_" + options.colModel["name"] + " value='notremoved'>";
        }
    }


    function selectPrescriptionRows(cellvalue, options, rowobject) {
        return "<input type='checkbox' class='chkSelectPrescriptionProduct' id=prescription_" + rowobject["ProductId"] + ">";
    }

</script>



<div class="prescription_nformation_table">
    <div class="DisablePages disable_div max_width_1870px" id="divPrescription"></div>

    <table id="jqPatientPrescription"></table>
    <div id="jqPatientPrescriptionTablePager"></div>

</div>
<div id="divProductList" style="display:none">
    @{Html.RenderPartial("_ProductManagementPopup");}
</div>
<div class="float_left_150">
    <input type="checkbox" id="show_removed">&nbsp;<label for="show_removed">@Common.reschkShowRemoved</label>
</div>
<div class="analysis_information_addinfo">
    <a href="javascript:void(0);" id="btnAddProduct" class="search_form_buttons small_btn btnAddProduct" onclick="showPopupProduct(this.id, customerId)">@Common.reslnkaddProduct</a>
    <a href="javascript:void(0);" id="btnPrescriptionCalculate" class="search_form_buttons small_btn" onclick="CalculatePrescriptionValues();">@Common.reslnkCalculate</a>
    <a href="javascript:void(0);" id="btnPrescriptionDeliveryOverview" class="search_form_buttons small_btn" style="display:none">@Common.resklnkDeliveryOverview</a>
    @*<a href="javascript:void(0);" class="search_form_buttons small_btn" >@Common.reslnkChangeNDD</a>*@
    <input type="text" style="display:none" class="forChangeNDD" />
    <input type='button' class="form_buttons padding_left_right_15 small_btn" id='changeNDDPrescription' value="Change NDD" onclick="setNewNDD('jqPatientPrescription', null);" />
</div>

<div class="nurse_details" id="divNurseDetails">

    <span class="nurse_details_heading">@Common.resHeaderDetails </span> @*<span class="fontsise_11px">(Must be completed if authorised product has been selected):</span>*@
    <div class="nurse_details_name_cell">
        @*<span class="nurse_details_label">Name</span>*@
        <span class="nurse_details_field"><input type="text" placeholder="@Common.resPlaceHolderNurseName" id="txtNurseName" /></span>
    </div>
    <div class="nurse_details_mobile_cell">
        @*<span class="nurse_details_label">Mobile Numbar</span>*@
        <span class="nurse_details_field"><input type="text" placeholder="@Common.resPlaceHolderNurseMobile" id="txtNurseMobile" maxlength="11" /></span>
    </div>
    <div class="nurse_details_email_cell">
        @*<span class="nurse_details_label">Email</span>*@
        <span class="nurse_details_field"><input type="text" placeholder="@Common.resPlaceHolderNurseEmail" id="txtNurseEmail" /></span>
    </div>
    <div class="nurse_details_cmnt_cell">
        @*<span class="nurse_details_label">Comments</span>*@
        <span class="nurse_details_field">
            <textarea placeholder="@Common.resPlaceHolderNurseComments" id="txtNurseComments"></textarea>
        </span>
    </div>
    <input type="hidden" id="hdnNurseRoleName" value="@Common.resNurseRoleName" />


    <input type="hidden" id="hdnErrormsgNurseName" value="@Common.resErrorMsgNurseName" />
    <input type="hidden" id="hdnErrormsgNurseMobile" value="@Common.resErrorMsgNurseMobile" />
    <input type="hidden" id="hdnErrormsgNurseEmail" value="@Common.resErrorMsgNurseEmail" />
    <input type="hidden" id="hdnErrormsgNurseValidEmail" value="@Common.resErrorMsgNurseEmailInvalid" />
    <input type="hidden" id="hdnErrormsgNurseComments" value="@Common.resErrorMsgNurseComments" />

    <input type="hidden" id="hdnPlcHolderNurseName" value="@Common.resPlaceHolderNurseName" />
    <input type="hidden" id="hdnPlcHolderNurseMobile" value="@Common.resPlaceHolderNurseMobile" />
    <input type="hidden" id="hdnPlcHolderNurseEmail" value="@Common.resPlaceHolderNurseEmail" />
    <input type="hidden" id="hdnPlcHolderNurseComments" value="@Common.resPlaceHolderNurseComments" />
</div>

<input type="hidden" id="hdnPrescriptionGrdTitle" value="@Common.resPrescriptionGrdTitle" />
<input type="hidden" id="hdn1" value="@Session[Constants.SessionNDDEndDate]" />
<input type="hidden" id="hdnSessionNextDeliveryDate" value="@Session[Constants.SessionNextDeliveryDate]" />
<div id="divMaxPadPerDayError" style="display:none" class="validation_msg"></div>
<div id="divPatientTypeNotSelected" style="display:none" class="validation_msg">@Common.reserrormsgPatientType</div>
<div id="divFrequencyError" style="display:none" class="validation_msg"></div>
<div id="divDateInvalidError" style="display:none;min-height: 19px;">@Common.resInvalidValidFromDate</div>
<div id="divDeliveryDateInvalidError" style="display:none;min-height: 19px;">@Common.resPrescriptionExpired</div>
<div id="divToDateInvalidError" style="display:none;min-height: 19px;">@Common.resPrescriptionExpired<br />@Common.resResetDeliveryDate</div>
<div id="divRemovePrescription" style="display:none;min-height: 19px;"><i class="fa fa-trash"></i> @Common.resRemovePrescrptionmsg</div>
<div id="divRemovePrescriptionSucess" style="display:none" class="color_green"><i class="fa fa-check"></i> @Common.resRemovePrescrptionSucessmsg</div>
<input type="hidden" id="hdnPrescriptionActionName" value="@Constants.ActionGetHolidayList" />
<input type="hidden" id="hdnNDDStartDatePrescription" value="@Session[Constants.SessionNDDStartDate]">
<input type="hidden" id="hdnNDDEndDatePrescription" value="@Session[Constants.SessionNDDEndDate]">
<input type="hidden" id="hdnDatePickFrom">
<input type="hidden" id="hdnDatePickTo">
<input type="hidden" id="hdnDatePickLastValue">
<input type="hidden" id="hdnDatePickDeliveryDate">
<input type="hidden" id="hdnCarehomePatientNDD">
<input type="hidden" id="hdnSessionNDDEndDate" value="@Session[Constants.SessionNDDEndDate]">
<input type="hidden" id="hdnSessionOneOffNDDDate" value="@Convert.ToString(Session["OneOffNDD"])">
<input type="hidden" id="hdnFromAddProduct" value="0">
<input type="hidden" id="hdnErrorMaxPerDay" value="@Common.resErrorMaxPerDay">
<input type="hidden" id="hdnPatientSaveConfirmMessage" value="@Common.resPatientSaveConfirmMessage">


<div class="j_lightbox_error" id="divPrescriptionValidation" style="display:none">
    <div class="j_lightbox_error_wrapper short_pop padding_20 search_form_main_btns align_center validation_msg">
        <div id="divPrescValidationMsgText"> </div><br /><br /><br />
        <input type="button" onclick=" $jqGrid('#divPrescriptionValidation').hide();"
               class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only search_form_main_btns" value="@Common.resbtnErrorOk" />
    </div>

</div>

@Scripts.Render("~/bundles/Prescription")

