﻿@model SCA.Indigo.Web.UI.ViewModel.PatientTypeMatrixViewModel
@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Web.UI.Helper;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript">
    $jqGrid = jQuery.noConflict();

    $jqGrid(document).ready(function () {
        $jqGrid("#jqPatientTypeMatrix").jqGrid({
            datatype: "local",
            colNames: ['<i class="fa fa-trash"></i>', '', '', '@Common.resGrdPatientType', '@Common.resMaxFreq',
                       '@Common.resMinFreq', '@Common.resIncrementFreq','@Common.resDefaultFreq',
                           '@Common.resAdult', '@Common.resPaid', '@Common.resIndividualCarehomeOrder', '@Common.resIndividualCarehomeChangeOrder',
            '@Common.resIndividualPrescription', '@Common.resIndividualProducts',
            '@Common.resOneOffPrescription', '@Common.resOneOffProducts', '@Common.resPrescriptionApproval'],
            colModel: [
                { name: 'Remove', index: 'Remove', edittype: 'checkbox', width: '30', classes: 'align_center', formatter: PatientTypeMatrixObj.Removerows, editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false },
                { name: 'PatientTypeMatrixID', index: 'PatientTypeMatrixID', hidden: true, classes: 'align_left padding_left_10', editable: false },
                { name: 'PatientTypeId', index: 'PatientTypeId', hidden: true, classes: 'align_left padding_left_10', editable: false },
                { name: 'PatientType', index: 'PatientType', hidden: false, classes: 'align_left padding_left_10', width: '125', editable: false },
                {
                    name: 'PrescMaxFrequency', index: 'PrescMaxFrequency', editable: true, width: '60px', classes: 'align_center width_22', sorttype: 'int', editoptions: {
                        maxlength: 3,
                        dataInit: function (element) {
                            $(element).focus(function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowId = row.attr('id');
                                var gridMaxValue = $jqGrid("#" + rowId + "_PrescMaxFrequency").val();
                                if (gridMaxValue == undefined) {
                                    gridMaxValue = $jqGrid('#jqPatientTypeMatrix').jqGrid('getCell', rowid, 'PrescMaxFrequency')
                                }

                                if (gridMaxValue != undefined) {
                                    $jqGrid("#hdnPrescMaxFrequency").val(gridMaxValue);
                                }
                            });
                            $(element).keypress(function (e) {;
                                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                    return false;
                                }
                            });
                            $(element).keydown(function (e) {;
                                if (e.which == 13) {
                                    PatientTypeMatrixObj.IsTextboxValueChanged(e, "PrescMaxFrequency");
                                }
                            });
                        },
                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                PatientTypeMatrixObj.IsTextboxValueChanged(e, "PrescMaxFrequency");
                            }
                        }]
                    }
                },
                {
                    name: 'PrescMinFrequency', index: 'PrescMinFrequency', editable: true, width: '60px', classes: 'align_center width_22', sorttype: 'int', editoptions: {
                        maxlength: 2,
                        dataInit: function (element) {
                            $(element).focus(function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowId = row.attr('id');
                                var gridMinValue = $jqGrid("#" + rowId + "_PrescMinFrequency").val();
                                if (gridMinValue == undefined) {
                                    gridMinValue = $jqGrid('#jqPatientTypeMatrix').jqGrid('getCell', rowid, 'PrescMinFrequency')
                                }

                                if (gridMinValue != undefined) {
                                    $jqGrid("#hdnPrescMinFrequency").val(gridMinValue);
                                }
                            });

                            $(element).keypress(function (e) {;
                                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                    return false;
                                }
                            });
                            $(element).keydown(function (e) {;
                                if (e.which == 13) {
                                    PatientTypeMatrixObj.IsTextboxValueChanged(e, "PrescMinFrequency");                                    
                                }
                            });
                        },
                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                PatientTypeMatrixObj.IsTextboxValueChanged(e, "PrescMinFrequency");
                            }
                        }]
                    }
                },
                {
                    name: 'IncrementFrequency', index: 'IncrementFrequency', editable: true, width: '65px', classes: 'align_center width_22', sorttype: 'int', editoptions: {
                        maxlength: 2,
                        dataInit: function (element) {
                            $(element).focus(function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowId = row.attr('id');
                                var gridIncrement = $jqGrid("#" + rowId + "_IncrementFrequency").val();
                                if (gridIncrement == undefined) {
                                    gridIncrement = $jqGrid('#jqPatientTypeMatrix').jqGrid('getCell', rowid, 'IncrementFrequency')
                                }

                                if (gridIncrement != undefined) {
                                    $jqGrid("#hdnIncrementFrequency").val(gridIncrement);
                                }
                            });
                            $(element).keypress(function (e) {;
                                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                    return false;
                                }
                            });
                            $(element).keydown(function (e) {;
                                if (e.which == 13) {
                                    PatientTypeMatrixObj.IsTextboxValueChanged(e, "IncrementFrequency");
                                }
                            });
                        },
                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                PatientTypeMatrixObj.IsTextboxValueChanged(e, "IncrementFrequency");
                            }
                        }]
                    }
                },
                {
                    name: 'DefaultFrequency', index: 'DefaultFrequency', editable: true, width: '65px', classes: 'align_center width_22', sorttype: 'int', editoptions: {
                        maxlength: 2,
                        dataInit: function (element) {
                            $(element).focus(function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowId = row.attr('id');
                                var gridIncrement = $jqGrid("#" + rowId + "_DefaultFrequency").val();
                                if (gridIncrement == undefined) {
                                    gridIncrement = $jqGrid('#jqPatientTypeMatrix').jqGrid('getCell', rowid, 'DefaultFrequency')
                                }

                                if (gridIncrement != undefined) {
                                    $jqGrid("#hdnDefaultFrequency").val(gridIncrement);
                                }
                            });
                            $(element).keypress(function (e) {
                                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                    return false;
                                }
                            });
                            $(element).keydown(function (e) {;
                                if (e.which == 13) {                                    
                                    PatientTypeMatrixObj.IsTextboxValueChanged(e, "DefaultFrequency");
                                }
                            });
                        },
                        dataEvents: [{
                            type: 'change', fn: function (e) {                                
                                PatientTypeMatrixObj.IsTextboxValueChanged(e, "DefaultFrequency");
                            }
                        }]
                    }
                },
               {
                   name: 'AdultBillTo', index: 'AdultBillTo', editable: true, width: '90px', classes: 'align_center width_70', sorttype: 'int', editoptions: {
                       maxlength: 10,
                       dataInit: function (element) {
                           $(element).focus(function (e) {
                               var row = $jqGrid(e.target).closest('tr.jqgrow');
                               var rowId = row.attr('id');
                               var gridAdultBillTo = $jqGrid("#" + rowId + "_AdultBillTo").val();
                               if (gridAdultBillTo == undefined) {
                                   gridAdultBillTo = $jqGrid('#jqPatientTypeMatrix').jqGrid('getCell', rowid, 'AdultBillTo')
                               }

                               if (gridAdultBillTo != undefined) {
                                   $jqGrid("#hdnAdultBillTo").val(gridAdultBillTo);
                               }
                           });
                           $(element).keypress(function (e) {;
                               if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                   return false;
                               }
                           });
                           $(element).keydown(function (e) {;
                               if (e.which == 13) {
                                   PatientTypeMatrixObj.IsTextboxValueChanged(e, "AdultBillTo");
                               }
                           });
                       },
                       dataEvents: [{
                           type: 'change', fn: function (e) {
                               PatientTypeMatrixObj.IsTextboxValueChanged(e, "AdultBillTo");
                           }
                       }]
                   }
               },
                 {
                     name: 'PaedBillTo', index: 'PaedBillTo', editable: true, width: '90px', classes: 'align_center width_70', sorttype: 'int', editoptions: {
                         maxlength: 10,
                         dataInit: function (element) {
                             $(element).focus(function (e) {
                                 var row = $jqGrid(e.target).closest('tr.jqgrow');
                                 var rowId = row.attr('id');
                                 var gridPaedBillTo = $jqGrid("#" + rowId + "_PaedBillTo").val();
                                 if (gridPaedBillTo == undefined) {
                                     gridPaedBillTo = $jqGrid('#jqPatientTypeMatrix').jqGrid('getCell', rowid, 'PaedBillTo')
                                 }

                                 if (gridPaedBillTo != undefined) {
                                     $jqGrid("#hdnPaedBillTo").val(gridPaedBillTo);
                                 }
                             });
                             $(element).keypress(function (e) {;
                                 if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                     return false;
                                 }
                             });
                             $(element).keydown(function (e) {;
                                 if (e.which == 13) {
                                     PatientTypeMatrixObj.IsTextboxValueChanged(e, "PaedBillTo");
                                 }
                             });
                         },
                         dataEvents: [{
                             type: 'change', fn: function (e) {
                                 PatientTypeMatrixObj.IsTextboxValueChanged(e, "PaedBillTo");
                             }
                         }]
                     }
                 },
                  {
                      name: 'AdvanceOrderActivationDays', index: 'AdvanceOrderActivationDays', editable: true, width: '65px', classes: 'align_center width_22', sorttype: 'int', editoptions: {
                          maxlength: 2,
                          dataInit: function (element) {
                              $(element).focus(function (e) {
                                  var row = $jqGrid(e.target).closest('tr.jqgrow');
                                  var rowId = row.attr('id');
                                  var gridAdvanceDays = $jqGrid("#" + rowId + "_AdvanceOrderActivationDays").val();
                                  if (gridAdvanceDays == undefined) {
                                      gridAdvanceDays = $jqGrid('#jqPatientTypeMatrix').jqGrid('getCell', rowid, 'AdvanceOrderActivationDays')
                                  }

                                  if (gridAdvanceDays != undefined) {
                                      $jqGrid("#hdnAdvanceOrderActivationDays").val(gridAdvanceDays);
                                  }
                              });
                              $(element).keypress(function (e) {;
                                  if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                      return false;
                                  }
                              });
                              $(element).keydown(function (e) {;
                                  if (e.which == 13) {
                                      PatientTypeMatrixObj.IsTextboxValueChanged(e, "AdvanceOrderActivationDays");
                                  }
                              });
                          },
                          dataEvents: [{
                              type: 'change', fn: function (e) {
                                  PatientTypeMatrixObj.IsTextboxValueChanged(e, "AdvanceOrderActivationDays");
                              }
                          }]
                      }
                  },
                {
                    name: 'ChangeOrderNddDays', index: 'ChangeOrderNddDays', editable: true, width: '80px', classes: 'align_center width_22', sorttype: 'int', editoptions: {
                        maxlength: 2,
                        dataInit: function (element) {
                            $(element).focus(function (e) {
                                var row = $jqGrid(e.target).closest('tr.jqgrow');
                                var rowId = row.attr('id');
                                var gridChangedDays = $jqGrid("#" + rowId + "_ChangeOrderNddDays").val();
                                if (gridChangedDays == undefined) {
                                    gridChangedDays = $jqGrid('#jqPatientTypeMatrix').jqGrid('getCell', rowid, 'ChangeOrderNddDays')
                                }

                                if (gridChangedDays != undefined) {
                                    $jqGrid("#hdnChangeOrderNddDays").val(gridChangedDays);
                                }
                            });
                            $(element).keypress(function (e) {;
                                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                                    return false;
                                }
                            });
                            $(element).keydown(function (e) {;
                                if (e.which == 13) {
                                    PatientTypeMatrixObj.IsTextboxValueChanged(e, "ChangeOrderNddDays");
                                }
                            });
                        },
                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                PatientTypeMatrixObj.IsTextboxValueChanged(e, "ChangeOrderNddDays");
                            }
                        }]
                    }
                },
                { name: 'IsAddFromPrescriptionAllowed', index: 'IsAddFromPrescriptionAllowed', edittype: 'checkbox', width: '80px', classes: 'align_center isSelected', formatter: 'checkbox', editoptions: { value: 'true:false' }, formatoptions: { disabled: false }, sortable: false },
                { name: 'IsAddFromProductAllowed', index: 'IsAddFromProductAllowed', edittype: 'checkbox', width: '80px', classes: 'align_center isSelected', formatter: 'checkbox', editoptions: { value: 'true:false' }, formatoptions: { disabled: false }, sortable: false },
                { name: 'IsOneOffAddFromPrescriptionAllowed', index: 'IsOneOffAddFromPrescriptionAllowed', edittype: 'checkbox', width: '75px', classes: 'align_center isSelected', formatter: 'checkbox', editoptions: { value: 'true:false' }, formatoptions: { disabled: false }, sortable: false },
                { name: 'IsOneOffAddFromProductAllowed', index: 'IsOneOffAddFromProductAllowed', edittype: 'checkbox', width: '75px', classes: 'align_center isSelected', formatter: 'checkbox', editoptions: { value: 'true:false' }, formatoptions: { disabled: false }, sortable: false },
                { name: 'IsPrescriptionApprovalRequired', index: 'IsPrescriptionApprovalRequired', edittype: 'checkbox', width: '75px', classes: 'align_center isSelected', formatter: 'checkbox', editoptions: { value: 'true:false' }, formatoptions: { disabled: false }, sortable: false },
            ],
            height: '150',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqPatientTypeMatrixTablePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            sortname: "",
            sortorder: "asc",
            emptyrecords: '@Common.resGrdNoRecordsToView',
            gridComplete: function () {
                $jqGrid('#jqPatientTypeMatrixTablePager_left').hide();
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#jqPatientTypeMatrixTablePager_center').hide();

                } else {
                    $jqGrid('#jqPatientTypeMatrixTablePager_center').show();
                }
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });

                var grid = $jqGrid("#jqPatientTypeMatrix"), ids = grid.jqGrid('getDataIDs'), i, l = ids.length;
                for (q = 0; q < l; q++) {
                    grid.jqGrid('editRow', ids[q], true);
                }
                $jqGrid('#btnAddPatientType').focus();
            },
            loadComplete: function () {
            },
            onCellSelect: function (rowid, iCol) {
                $jqGrid(this).jqGrid('editRow', rowid, true);
            },
            ondblClickRow: function (rowid) {
            },

        }).navGrid("#jqPatientTypeMatrixTablePager",
        { search: false, refresh: false, add: false, edit: false, del: false },
        {},
        {},
        {}
    );

        // Add type button click event
        $jqGrid("#btnAddPatientType").click(function () {
            PatientTypeMatrixObj.AddTypesInGrid(this);
        });
        
    });//end of ready

    </script>

    <style>
        .form_main_btns {
            padding: 10px 0px;
        }

        .search_cell {
            padding: 6px 10px;
        }

        .page_heading {
            padding-top: 5px;
        }

        .ui-dialog.ui-resizable {
            min-width: 960px;
            height: 460px !important;
        }
    </style>

</head>
<body>   
        <div class="disable_pop"></div> 
        <div>
            <ul>
                <li>
                    <div class="new_select_for_search float_left">
                        <span class="map_rols_user_input_2 select-style width_195">
                            @Html.DropDownList("ddlPatientType", (IEnumerable<SelectListItem>)Model.PatientType, @Common.resddlPateintTypeDefaultValue, new { @class = "custom-select" })
                        </span>

                        &nbsp;&nbsp; <a href="javascript:void(0);" class="form_buttons padding_left_right_15 small_btn" id="btnAddPatientType">@Common.resPatientType</a>&nbsp;&nbsp;
                        <div id="communityMessage" style="display: none" class="field-validation-error"></div>
                    </div>
                    <div class="margin_bot_12">
                        <span class="cust_param_lable width_115 margin_top_5 padding_left_10">@Common.resCustomerName</span>
                        <span class="cust_param_input width_270 margin_top_5">
                            @Html.TextBoxFor(a => a.CustomerName, new { @id = "txtPatientTypeCustomerName", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                        </span>
                    </div>
                    <div class="margin_bot_12">
                        <span class="cust_param_lable width_115 margin_top_5 padding_left_10">@Common.resGeneralCustomerId</span>
                        <span class="cust_param_input margin_top_5">
                            @Html.TextBoxFor(a => a.CustomerId, new { @id = "txtPatientTypeSAPCustomerID", @class = "btn_disable", @readonly = "readonly", @disabled = "disabled" })
                        </span>
                    </div>
                </li>
                <li class="clear"></li>
            </ul>
        </div>

        <div class="table_section_2 height_260 mCustomScrollbar">
            <table id="jqPatientTypeMatrix"></table>
            <div id="jqPatientTypeMatrixTablePager"></div>
        </div>

        <div class="form_main_btns padding_top_bot_20">
            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" tabindex="22" onclick="PatientTypeMatrixObj.SavePatientTypeMatrix();" id="btnPatientTypeMatrixSubmit">@Common.resbtnSave</a>
            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" tabindex="23" id="btnPatientTypeExportToExcel">@Common.resbtnDownloadExcel</a>
            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" tabindex="24" onclick="PatientTypeMatrixObj.UndoPatientTypeMatrix();" id="btnPatientTypeMatrix">@Common.resBtnGeneralReset</a>
            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" tabindex="25" onclick="ClosePopup(PatientTypeMatrixObj.PatientTypeMatrixDialog)">@Common.reslnkExit</a>
        </div>

        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divPatientMatrixErrorMessage" class="pop_error">
                    </div>
                    <br />
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: none">
            <input type="hidden" id="hdnerrorNoPatientMatrisFound" value="@Common.resNoPatientMatrisFound" />
            <input type="hidden" id="hdnerrorInvalidPatientType" value="@Common.reserrormsgPatientType" />
            <input type="hidden" id="hdnerrorDefaultPatientType" value="@Common.resddlPateintTypeDefaultValue" />
            <input type="hidden" id="hdnerrorRecordAlreadyAvailable" value="@Common.reshdnerrorPateintTypeAlreadyExist" />
            <input type="hidden" id="hdnerrorGeneralNoModification" value="@Common.resGeneralNoModification" />
            <input type="hidden" id="hdnerrorPatientTypeMatrixSaveMessage" value="@Common.resPatientTypeMatrixSaveMessage" />
            <input type="hidden" id="hdnerrorPatientTypeMatrixErrorMessage" value="@Common.resPatientTypeMatrixErrorMessage" />
            <input type="hidden" id="hdnerrorPatientTypeMatrixRemove" value="@Common.resPatientMatrixRemove" />
            <input type="hidden" id="hdnerrorNumericMessage" value="@Common.resNumericMessage" />
            <input type="hidden" id="hdnActionSavePatientTypeMatrix" value="@Constants.ActionSavePatientTypeMatrix" />
            <input type="hidden" id="hdnCustomerController" value="@Constants.CustomerController" />
            <input type="hidden" id="hdnActionMethodGetPatientTypeMatrix" value="@Constants.ActionMethodGetPatientTypeMatrix" />
            <input type="hidden" id="hdnPatientTypeMatrixIncFreqValidation" value="@Common.resPatientTypeMatrixIncFreqValidation" />
            <input type="hidden" id="hdnMinMaxValidation" value="@Common.resPatientMatrixMinMaxValidation" />
            <input type="hidden" id="hdnPatientTypeMatrixZeroError" value="@Common.resPatientTypeMatrixZeroError" />  
            <input type="hidden" id="hdnRemovePatientTypeMatrixError" value="@Common.resPatientTypeMatrixRemoveError" />
            <input type="hidden" id="hdnActionMethodExportPatientTypeMatrix" value="@Constants.ActionMethodExportPatientTypeMatrix" />
            <input type="hidden" id="hdnPrescMinFrequency" value="" />  
            <input type="hidden" id="hdnPrescMaxFrequency" value="" />  
            <input type="hidden" id="hdnIncrementFrequency" value="" />  
            <input type="hidden" id="hdnAdultBillTo" value="" />  
            <input type="hidden" id="hdnPaedBillTo" value="" />  
            <input type="hidden" id="hdnAdvanceOrderActivationDays" value="" />  
            <input type="hidden" id="hdnChangeOrderNddDays" value="" />  
            <input type="hidden" id="hdnDefaultFrequency" value="" /> 
            <input type="hidden" id="hdnPatientTypeMatrixDefaultFreqValidation" value="@Common.resPatientTypeMatrixDefaultFreqValidation" />
            <input type="hidden" id="hdnDefaultMinValidation" value="@Common.resPatientMatrixDefaultMinValidation" />
        </div>
        <div id="divTrackDirty" class="j_lightbox_error">@Common.resGeneralTrackDirty</div>

        @Scripts.Render("~/bundles/PatientTypeMatrix")

</body>
</html>
