﻿<span class="heading-1">Patient Analysis Information</span>
<div class="analysis_information collapse">
    <table cellspacing="0" cellpadding="0" class="analysis_information_table">
        <tr>
            <td width="30%" class="width_30pc"><a href="medical_analysis_edit_pop.html?keepThis=true&amp;TB_iframe=true&amp;height=450&amp;width=800" class="thickbox">Continence Advisor</a></td>
            <td width="70%" class="width_70pc">oriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#">Nurse</a></td>
            <td width="70%" class="width_70pc">Loriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#">Nurse base</a></td>
            <td width="70%" class="width_70pc">Loriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#">Health Visitor</a></td>
            <td width="70%" class="width_70pc">Loriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#">HC</a></td>
            <td width="70%" class="width_70pc">Loriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#">Doctor</a></td>
            <td width="70%" class="width_70pc">Loriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#">GP Practice</a></td>
            <td width="70%" class="width_90pc">Loriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#">Caseload Holder</a></td>
            <td width="70%" class="width_70pc">Loriam epsume</td>
        </tr>

    </table>

</div>