﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;
@{
    Layout = null;
}

<script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {

        $jqGrid("#jqPatientNotes").jqGrid({
            datatype: "local",
            colNames: ['@Common.resGrdNote'],
            colModel: [
                { name: 'FormattedNote', index: 'FormattedNote', editable: false, hidden: false, classes: 'pnote_class', align: 'left', width: '710' }
            ],
            height: '185',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#divPatientNotesTablePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            autowidth: true,
            gridComplete: function () {
                $jqGrid('#divPatientNotesTablePager_left').hide();
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#divPatientNotesTablePager_center').hide();

                } else {
                    $jqGrid('#divPatientNotesTablePager_center').show();
                }
                $jqGrid('#jqPatientNotes_FormattedNote').hide();
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });                       
            },

        });

    });


</script>

@*<div class="cust_patient_name">
    <span> <strong>@Common.reslblCustomer :-&nbsp;&nbsp;</strong><span  id="lblNoteCustomerName" />" @HttpContext.Current.Session[Constants.SessionCustomerName] "</span>
        <br />
    <span> <strong>@Common.reslblPatient  :-&nbsp;&nbsp;</strong><span  id="lblNotePatientName" /></span>
</div>*@

<!--table_section-->
<div class="table_section_2 mCustomScrollbar">
    <table id="jqPatientNotes"></table>
    <div id="divPatientNotesTablePager"></div>
</div>
<!--table_section-->



<div class="pop_main_btns">
    <textarea class="note_textarea" placeholder="@Common.resPatientNotePlaceHolder" id="txtNote"></textarea>
    <div id="divErrorNote" style="display: none" class="field-validation-error">@Common.reslblPleaseEnterNote</div><br><br>
    <input type="button" value="Add" class="search_form_buttons padding_left_right_20 height_27 small_btn" id="btnAddPatientNote">&nbsp;&nbsp;
    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20 small_btn" onclick="ClosePopup('divPatientNotesPopup')">@Common.reslnkExit</a>
</div>

<input type="hidden" id="hdnNotePlaceholder" value="@Common.resPatientNotePlaceHolder" />







