﻿<span class="
      "><i class="fa fa-user-md"></i> Medical Staff</span>
<div class="staff_select_mode collapse">
    <table cellspacing="0" cellpadding="0" class="analysis_information_table">
        <tr>
            <td width="30%" class="width_30pc"><a href="#">Continence Advisor</a></td>
            <td width="70%" class="width_70pc">oriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#" id="lnkContinenceAdvisor">Nurse</a></td>
            <td width="70%" class="width_70pc">Loriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#">Nurse base</a></td>
            <td width="70%" class="width_70pc">Loriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#">Health Visitor</a></td>
            <td width="70%" class="width_70pc">Loriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#">HC</a></td>
            <td width="70%" class="width_70pc">Loriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#">Doctor</a></td>
            <td width="70%" class="width_70pc">Loriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#">GP Practice</a></td>
            <td width="70%" class="width_90pc">Loriam epsume</td>
        </tr>
        <tr>
            <td width="30%" class="width_30pc"><a href="#">Caseload Holder</a></td>
            <td width="70%" class="width_70pc">Loriam epsume</td>
        </tr>

    </table>
</div>


<div id="divMedicalStaffPopup" style="display:none">
    <table id="jqMedicalStaff"></table>
    <div id="jqMedicalStaffTablePager"></div>
</div>
<script src="~/Scripts/js/grid/MedicalStaff.js"></script>