﻿@model SCA.Indigo.Web.UI.ViewModel.PatientInfoViewModel
@using SCA.Indigo.Web.UI.Resource
@using System.Configuration;
@using SCA.Indigo.Web.UI.Helper;
@using SCA.Indigo.Common.Enums;
@{
    Layout = null;
}

@{
    string customerName = string.Empty;
    if (Session[Constants.SessionCustomerName] != null)
    {
        customerName = Session[Constants.SessionCustomerName].ToString();
    }

    string assignedPatientId = string.Empty;
    if (Session[Constants.SessionPatientId] != null)
    {
        assignedPatientId = Session[Constants.SessionPatientId].ToString();
    }
}
<link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
<script type="text/javascript">
    window.IsPatientChanged = true;
</script>
    

<style type="text/css">
    .ui-dialog .ui-dialog-content{overflow-y:auto; }
    .ui-dialog .validation_msg.ui-dialog-content{overflow-y:hidden;}
</style>

<div id="divPatientInfoDisplay">

    <div class="patientinfo_fields" style="width:860px">
        <div class="DisablePages disable_div"></div>
        <div class="patient_info_dis_msg disable_msg">@Common.resMessageNoAccess</div>

        @*patientinfo_form*@
        <div class="patientinfo_form">
            <div class="patientinfo_big">
                <span class="patientinfo_big_txt">@Common.reslblCustomerName</span>
                <span class="patientinfo_big_field width_758 select-style_big">
                    <select class="custom-select" id="ddlCustomer" tabindex="1">
                        <option>@Common.resCustomerDropdown</option>
                    </select>
                </span>
            </div>

            @*patientinfo_col1*@
            <div class="patientinfo_col1">
                <div class="patientinfo_cell">
                    <span class="patientinfo_col1_lable">@Common.reslblSAPPatientId</span>
                    <span class="patientinfo_col1_field">
                        <label class="label" id="SAPPatientNumber">@Html.DisplayFor(a => a.SAPPatientNumber, new { @class = "label", tabindex = "2" })</label>
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col1_lable">@Common.reslblInternalId</span>
                    <span class="patientinfo_col1_field">
                        <label class="label" id="PatientId">@Html.DisplayFor(a => a.PatientId, new { @class = "label", @Id = "PatientId", tabindex = "3" })</label>
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col1_lable">@Common.reslableLocalId</span>
                    <span class="patientinfo_col1_field col1_select_style">
                        @Html.TextBoxFor(a => a.LocalId, new { @maxlength = "16", tabindex = "4" })
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col1_lable spn_NHS">@Common.reslblNHSnumber</span>
                    <span class="patientinfo_col1_field">
                        @Html.TextBoxFor(a => a.NHSId, new { @maxlength = "10", tabindex = "5" })
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col1_lable">@Common.reslableCreatedBy</span>
                    <span class="patientinfo_col1_field">
                        <label class="label" id="CreatedBy">@Html.DisplayFor(a => Model.CreatedBy, new { @class = "label" })</label>
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col1_lable">@Common.reslblCreatedon</span>
                    <span class="patientinfo_col1_field">
                        <label class="label" id="CreatedDate">@Html.DisplayFor(a => Model.CreatedDate, new { @class = "label" })</label>
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col1_lable">@Common.resPateintStatusDropdown</span>
                    <span class="patientinfo_col1_field col1_select_style">
                        <select class="custom-select" id="ddlPatientStatus" tabindex="7">
                            <option> @Common.resddlPateintStatusDefaultValue</option>
                        </select>
                    </span>
                </div>
                <div class="patientinfo_cell" style="display:none;">
                    <span class="patientinfo_col1_lable">@Common.reslblCountry</span>
                    <span class="patientinfo_col1_field">
                        @Html.TextBoxFor(a => a.Country, new { @class = "s_txtbox bg_ddd", @maxlength = "32", @value = "UK" })
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col1_lable">@Common.resddlReasonCodeLabel</span>
                    <span class="patientinfo_col1_field col1_select_style">
                        <select class="custom-select" id="ddlReasonCode" >
                            <option>@Common.resddlReasonCodeDefaultValue</option>
                        </select>
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col1_lable">@Common.reslblRemovedStoppedDate</span>
                    <span class="patientinfo_col1_field">
                        <label class="label" id="RemovedStoppedDateTime">@Html.DisplayFor(a => Model.RemovedStoppedDateTime, new { @class = "label" })</label>
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col1_lable">@Common.resPateintTypeDropdown</span>
                    <span class="patientinfo_col1_field col1_select_style">
                        <select class="custom-select padding_right_30" id="ddlPatientType" tabindex="6">
                            <option>@Common.resddlPateintTypeDefaultValue</option>
                        </select>
                    </span>
                </div>
              
            </div>
            @*End patientinfo_col1*@

            @*patientinfo_col2*@
            <div class="patientinfo_col2">

                <div class="patientinfo_cell">
                    <span class="patientinfo_col2_lable">@Common.reslblGender</span>
                    <span class="patientinfo_col2_field col2_select_style">
                        <select class="custom-select" id="ddlGender" tabindex="7">
                            <option value="10103">Male</option>
                            <option value="10104">Female</option>
                        </select>
                    </span>
                </div>


                <div class="patientinfo_cell">
                    <span class="patientinfo_col2_lable">@Common.reslableNameTitle</span>
                    <span class="patientinfo_col2_field col2_select_style">
                        <select class="custom-select" id="ddlTitle" tabindex="8">
                            <option>@Common.resddlTitleDefaultValue</option>
                        </select>
                    </span>
                </div>



                <div class="patientinfo_cell">
                    <span class="patientinfo_col2_lable">@Common.reslableFirstName</span>
                    <span class="patientinfo_col2_field">
                        @Html.TextBoxFor(a => a.FirstName, new { @class = "firstCharUpper", @maxlength = "50", tabindex = "9" })
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col2_lable">@Common.reslblLastName</span>
                    <span class="patientinfo_col2_field">
                        @Html.TextBoxFor(a => a.LastName, new { @class = "firstCharUpper", @maxlength = "50", tabindex = "10" })
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col2_lable">@Common.reslableDateofBirth</span>
                    <span class="patientinfo_col2_field">
                        @Html.TextBoxFor(a => a.DateOfBirth, new { @class = "CalenderImg datepicker", placeholder = "DD/MM/YYYY", tabindex = "11" })
                        @Html.ValidationMessageFor(a => a.DateOfBirth)
                    </span>
                </div>


                <div class="patientinfo_cell">
                    <span class="patientinfo_col2_lable">@Common.reslblAssesmentDate</span>
                    <span class="patientinfo_col2_field">
                        @Html.TextBoxFor(a => a.AssessmentDate, new { @class = "datepicker", placeholder = "DD/MM/YYYY", tabindex = "12" })
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col2_lable spn_NextAssesmentDate">@Common.reslblNextAssesmentDate</span>
                    <span class="patientinfo_col2_field">
                        @Html.TextBoxFor(a => a.NextAssessmentDate, new { @class = "datepicker", placeholder = "DD/MM/YYYY", tabindex = "13" })
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col2_lable">@Common.resNextDelDate</span>
                    <span class="patientinfo_col2_field">
                        <label class="label" id="DeliveryDate">@Html.DisplayFor(a => a.DeliveryDate, new { @class = "label" })</label>
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span id="spnRoundId" class="patientinfo_col2_lable spn_RoundId">@Common.reslblRoundId
                        <span id="spnMandatory" style="display:none">*</span>
                    </span>
                    <span class="patientinfo_col2_field">
                        @Html.TextBoxFor(a => a.RoundId, new { @class = "bg_ddd uppercase", @maxlength = "7" })
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col2_lable">@Common.reslblDeliveryfrequency</span>
                    <span class="patientinfo_col2_field">
                        @Html.TextBoxFor(a => a.DeliveryFrequency, new { @class = "bg_ddd", @maxlength = "2" })
                    </span>
                </div>

            </div>
            @*End patientinfo_col2*@

            @*patientinfo_col3*@
            <div class="patientinfo_col3">
                <div class="patientinfo_cell">
                    <span class="patientinfo_col3_lable" id="lblPhoneNo">@Common.reslblTelephoneNumber</span>
                    <span class="patientinfo_col3_field">
                        @Html.TextBoxFor(a => a.PhoneNo, new { @maxlength = "20", tabindex = "14" })
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col3_lable" id="lblMobileNo">@Common.reslblMobileNumber</span>
                    <span class="patientinfo_col3_field">
                        @Html.TextBoxFor(a => a.MobileNo, new { @maxlength = "20", tabindex = "15" })
                    </span>
                </div>

                <div class="patientinfo_cell">
                    <span class="patientinfo_col3_lable" id="lblEmailAddress">@Common.reslblEmailAddress</span>
                    <span class="patientinfo_col3_field">
                        @Html.TextBoxFor(a => a.EmailAddress, new { @maxlength = "50", tabindex = "16" })
                    </span>
                </div>

                <div class="patientinfo_cell commDropdown">
                    <span class="patientinfo_col3_lable">@Common.resddlCommunicationFormatLabel</span>
                    <span class="patientinfo_col3_field col2_select_style" id="spncommunicationFormate">
                        <select class="custom-select " id="ddlCommunicationFormat" tabindex="17" multiple="multiple" onchange="SetMandatoryBasedOnMarketingPreferences()">
                            <option selected="selected">@Common.resddlCommunicationFormatDefaultValue</option>
                        </select>
                    </span>
                </div>

                <div class="patientinfo_cell prefDropdown display_none">
                    <span class="patientinfo_col3_lable">@Common.reslblMarketingPreference</span>
                    <span class="patientinfo_col3_field col3_select_style">
                        <select class="custom-select " id="ddlMarketingPreference" tabindex="18" multiple="multiple">
                            <option selected="selected">@Common.resddlMarketingPreferenceDefaultValue</option>
                        </select>
                    </span>
                </div>               

                <div class="patientinfo_cell display_none" id="divDataProtected">
                    <span class="patientinfo_col3_lable">@Common.reslblDataProtection</span>
                    <span class="patientinfo_col3_field padding_top_6">
                        <input id="chkIsDataProtected" type="checkbox" tabindex="19">
                    </span>
                </div>

            </div>
            @*End patientinfo_col3*@

        </div>
        <br /><br />
        @*End patientinfo_form*@
        <span class="heading-1 cust_param_collapse_heading span_expnd width_100p">
            <label class="heading_1_lable_1 padding_left_84">@Common.reslblDeliveryAddress</label>
            <label class="heading_1_lable_2">@Common.reslblPatientAddress</label>
            <label class="heading_1_lable_3">@Common.reslblADP</label>
            @*@Common.reslblAddressSection*@
        </span>


        <div class="patient_info_address padding_top_bot_20 collapse" style="display:block;">
            <div class="patientinfo_form">
                <div class="patientinfo_col1">

                    <div class="patientinfo_cell">
                        <span class="patientinfo_col1_lable"></span>
                        <span class="patientinfo_col1_field">
                            <input type="button" value="Add/Change Care Home" id="btnCarehome" class="search_form_buttons btnFocus width_100p" onclick="ShowCareHomePopup()" />
                            @*@Common.reslblAddChange*@
                        </span>
                    </div>

                    <div class="patientinfo_cell height_58">
                        <span class="patientinfo_col1_lable" id="lblCareHome">@Common.reslblHouseName</span>
                        <span class="patientinfo_col1_field">
                            @Html.TextAreaFor(a => a.CareHomeName, new { @class = "uppercase default_textarea height_43  width_155", @maxlength = "100" })
                            @Html.HiddenFor(a => a.CareHomeId, new { @id = "hdnCareHomeId" })
                        </span>
                    </div>
                    <div class="patientinfo_cell">
                        <span class="patientinfo_col1_lable">@Common.reslableAddress1</span>
                        <span class="patientinfo_col1_field">
                            @Html.TextBoxFor(a => a.Address1, new { @class = "uppercase", @maxlength = "40" })
                        </span>
                    </div>
                    <div class="patientinfo_cell">
                        <span class="patientinfo_col1_lable">@Common.reslableAddress2</span>
                        <span class="patientinfo_col1_field">
                            @Html.TextBoxFor(a => a.Address2, new { @class = "uppercase", @maxlength = "40" })
                        </span>
                    </div>
                    <div class="patientinfo_cell">
                        <span class="patientinfo_col1_lable">@Common.reslblTownCity</span>
                        <span class="patientinfo_col1_field">
                            @Html.TextBoxFor(a => a.TownOrCity, new { @class = "uppercase", @maxlength = "32" })
                        </span>
                    </div>
                    <div class="patientinfo_cell">
                        <span class="patientinfo_col1_lable">@Common.reslblCounty</span>
                        <span class="patientinfo_col1_field col1_select_style">
                            <select class="custom-select uppercase padding_right_30" id="ddlCounty" tabindex="35">
                                <option>@Common.resCountyDropdown</option>
                            </select>
                        </span>
                    </div>
                    <div class="patientinfo_cell">
                        <span class="patientinfo_col1_lable">@Common.reslblPostCode</span>
                        <span class="patientinfo_col1_field">
                            @Html.TextBoxFor(a => a.PostCode, new { @class = "s_txtbox width_64 uppercase", @maxlength = "10", tabindex = "20" })
                            <input type="button" value="@Common.reslnkCheckAddress" id="btnPostCode" class="search_form_buttons btnFocus" />
                        </span>
                    </div>

                </div>
                <div class="patientinfo_col2" id="divCorrespondenceAddress">
                    <div class="patientinfo_cell patientinfo_form">
                        <input id="chkSameAsDelivery" type="checkbox" onclick="CopyDeliveryAddress(true)" tabindex="21">
                        <a id="lnkSameAsDelivery" href="javascript:void(0);" class="form_font" onclick="SetSameAsDeliveryCheckBox()">@Common.rellblSameAsDeliveryAddress</a>
                    </div>
                    <div class="patientinfo_cell height_58">
                        <span class="patientinfo_col2_lable" id="lbldelCareHome">@Common.reslblHouseName</span>
                        <span class="patientinfo_col2_field">
                            @Html.TextAreaFor(a => a.CorrespondenceCareHomeName, new { @class = "uppercase default_textarea height_43  width_155", @id = "CorrespondenceCareHomeName", @maxlength = "100" })
                        </span>
                    </div>
                    <div class="patientinfo_cell">
                        <span class="patientinfo_col2_lable" id="lblAddress1">@Common.reslableAddress1</span>
                        <span class="patientinfo_col2_field">
                            @Html.TextBoxFor(a => a.CorrespondenceAddress1, new { @class = "uppercase", @maxlength = "40" })
                        </span>
                    </div>
                    <div class="patientinfo_cell">
                        <span class="patientinfo_col2_lable">@Common.reslableAddress2</span>
                        <span class="patientinfo_col2_field">
                            @Html.TextBoxFor(a => a.CorrespondenceAddress2, new { @class = "uppercase", @maxlength = "40" })
                        </span>
                    </div>
                    <div class="patientinfo_cell">
                        <span class="patientinfo_col2_lable" id="lblTownOrCity">@Common.reslblTownCity</span>
                        <span class="patientinfo_col2_field">
                            @Html.TextBoxFor(a => a.CorrespondenceTownOrCity, new { @class = "uppercase", @maxlength = "32" })
                        </span>
                    </div>
                    <div class="patientinfo_cell">
                        <span class="patientinfo_col2_lable" id="lblCounty">@Common.reslblCounty</span>
                        <span class="patientinfo_col2_field col2_select_style">
                            <select class="custom-select uppercase" id="ddlCorrespondenceCounty">
                                <option>@Common.resCountyDropdown</option>
                            </select>
                        </span>
                    </div>

                    <div class="patientinfo_cell">
                        <span class="patientinfo_col2_lable" id="lblPostCode">@Common.reslblPostCode</span>
                        <span class="patientinfo_col2_field">
                            @Html.TextBoxFor(a => a.CorrespondencePostCode, new { @class = "s_txtbox width_64 uppercase", @maxlength = "10", tabindex = "22" })
                            <input type="button" value="@Common.reslnkCheckAddress" id="btnCorrespondencePostCode" class="search_form_buttons btnFocus" />
                        </span>
                    </div>

                </div>
                <div class="patientinfo_col3">
                    <div class="patientinfo_cell padding_top_37">
                        <span class="patientinfo_col3_lableADP width_50 spn_ADP1" id="lblADP">@Common.reslblADP1</span>
                        <span class="patientinfo_col3_fieldADP width_210">
                            @Html.TextAreaFor(a => a.ADP1, new { @class = "default_textarea height_58  width_250", @maxlength = "396", tabindex = "23" })
                        </span>
                    </div>

                    <div class="patientinfo_cell">
                        <span class="patientinfo_col3_lableADP width_50">@Common.reslblADP2</span>
                        <span class="patientinfo_col3_fieldADP width_210">
                            @Html.TextBoxFor(a => a.ADP2, new { @class = "width_250", @maxlength = "30", tabindex = "24" })
                        </span>
                    </div>
                </div>
            </div>

        </div>



    </div>
    <div class="patient_information_btns">
        <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnContactInfo" onclick="ShowPopupContactInfo('@((int)SCAEnums.ObjectType.Patient)')">@Common.reslnkContactInfo</a>
        <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnRecentOrder" onclick="showPopupRecentOrders('@((int)SCAEnums.ObjectType.Patient)')">@Common.reslnkRecentOrders</a>
        <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnNotes" onclick="showPopupPatientNotes()">@Common.reslnkNotes</a>
        <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnSampleOrder" onclick="if (MenuClick(this)) { NavigateToSampleOrderMenu(); } else return false;">@Common.resSampleOrder</a>
        <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnInteractionsummary" onclick="InteractionObj.ShowPopupInteractionSummary('@Constants.PatientContactInfo')">@Common.resCreateInteractionTitle</a>
        <a href="javascript:void(0);" class="search_form_buttons small_btn btnAuditLog" id="btnPatientAuditLog" @*onclick="CommonScriptObj.ShowPopupInteractionSummary('@Constants.PatientContactInfo')"*@>Audit Log</a>
        <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnAttachment" onclick="AttachmentObj.ShowAttachmentPopup('@((int)SCAEnums.ObjectType.Patient)')">@Common.resAttachment</a>
    </div>



    <div class="j_lightbox_error" id="j_lightbox_error">
        <div class="j_lightbox_error_wrapper">
            <div class="pop_error">
                <div id="divErrorMessage" class="pop_error">
                </div>
                <br />
                <div class="j_lightbox_btns search_form_main_btns">
                    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                </div>
            </div>
            @*<div class="j_lightbox_error_close"></div>*@
        </div>
    </div>

    <div class="j_lightbox_error" id="divAttachmentError_lightbox">
        <div class="j_lightbox_error_wrapper">
            <div class="pop_error">
                <div id="divAttachmentError" class="pop_error">
                </div>
                <br />
                <div class="j_lightbox_btns search_form_main_btns">
                    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                </div>
            </div>
        </div>
    </div>

    <div style="display: none">
        @Html.HiddenFor(a => a.UserType, new { @id = "hdnuserType" })
        @Html.HiddenFor(a => a.IsCarehomePatient, new { @id = "hdIsCarehomePatient" })
        <input type="hidden" id="hdnDisplayDefaultRound" value="@Common.resDisplayRoundId" />
        <input type="hidden" id="hdnDefaultRound" value="@Common.resDefaultRound" />
        <input type="hidden" id="hdnreserrormsgValidRoundChar" value="@Common.resErrorMessageValidRoundId" />
        <input type="hidden" id="hdnreserrormsgRoundIdVal" value="@Common.resErrorMessageRoundId" />

        <input type="hidden" id="hdnreserrormsgPatientType" value="@Common.reserrormsgPatientType" />
        <input type="hidden" id="hdnreserrormsgPatientStatus" value="@Common.reserrormsgPatientStatus" />
        <input type="hidden" id="hdnreserrormsgReasonCode" value="@Common.reserrormsgReasonCode" />
        <input type="hidden" id="hdnreserrormsgLastName" value="@Common.reserrormsgLastName" />
        <input type="hidden" id="hdnreserrormsgAssessmentDate" value="@Common.reserrormsgAssessmentDate" />
        <input type="hidden" id="hdnreserrormsgDateofBirth" value="@Common.reserrormsgDateofBirth" />
        <input type="hidden" id="hdnreserrormsgGender" value="@Common.reserrormsgGender" />
        <input type="hidden" id="hdnreserrormsgTitle" value="@Common.reserrormsgTitle" />
        <input type="hidden" id="hdnreserrormsgCountry" value="@Common.resErrorMessageCountry" />
        <input type="hidden" id="hdnreserrormsgCustomer" value="@Common.resErrorMessageCustomer" />
        <input type="hidden" id="hdnreserrormsgNextAssesmentdate" value="@Common.resErrorMessageNextAssesmentdate" />
        <input type="hidden" id="hdnreserrormsgCity" value="@Common.resErrorMessageCity" />
        <input type="hidden" id="hdnreserrormsgCounty" value="@Common.resErrorMessageCounty" />
        <input type="hidden" id="hdnreserrormsgPostCode" value="@Common.resErrorMessagePostCode" />
        <input type="hidden" id="hdnreserrormsgCarehome" value="@Common.resCarehomeMessage" />
        <input type="hidden" id="hdnreserrormsNHSID" value="@Common.resNHSIDErrorMessage" />
        <input type="hidden" id="hdnreserrormsADP" value="@Common.resADP1ErrorMessage" />
        <input type="hidden" id="hdnreserrormsTelephone" value="@Common.resTelNoErrorMessage" />
        <input type="hidden" id="hdnreserrormsMobile" value="@Common.resMobileErrorMessage" />
        <input type="hidden" id="hdnreserrormsNextAssesmentDate" value="@Common.resNextAssesmentDateErrorMessage" />
        <input type="hidden" id="hdnreserrormsDOBAssDate" value="@Common.resErrorDOBAssDate" />
        <input type="hidden" id="hdnreserrormsDOBNextAssDate" value="@Common.resErrorDOBNextAssDate" />
        <input type="hidden" id="hdnresErrormsgValidNextAssDate" value="@Common.resErrormsgValidNextAssDate" />
        <input type="hidden" id="hdnresErrormsgValidDOB" value="@Common.resErrormsgValidDOB" />
        <input type="hidden" id="hdnresErrormsgValidAssDate" value="@Common.resErrormsgValidAssDate" />
        <input type="hidden" id="hdnresErrorMessageAssTodaysDate" value="@Common.resErrorMessageAssTodaysDate" />
        <input type="hidden" id="hdnresErrorMessageAddress1" value="@Common.resErrorAddress1" />
        <input type="hidden" id="hdnresErrorMessageAddress2" value="@Common.resErrorAddress2" />
        <input type="hidden" id="hdnresErrorMessageBlockedCustomer" value="@Common.resErrorMessageBlockedCustomer" />

        <input type="hidden" id="hdnresddlPateintTypeDefaultValue" value="@Common.resddlPateintTypeDefaultValue" />
        <input type="hidden" id="hdnresddlPateintStatusDefaultValue" value="@Common.resddlPateintStatusDefaultValue" />
        <input type="hidden" id="hdnresddlReasonCodeDefaultValue" value="@Common.resddlReasonCodeDefaultValue" />
        <input type="hidden" id="hdnresddlTitleDefaultValue" value="@Common.resddlTitleDefaultValue" />
        <input type="hidden" id="hdnresddlCommunicationFormatDefaultValue" value="@Common.resddlCommunicationFormatDefaultValue" />
        <input type="hidden" id="hdnresddlCountyDefaultValue" value="@Common.resCountyDropdown" />
        <input type="hidden" id="hdnresddlCUstomerDefaultValue" value="@Common.resCustomerDropdown" />
        <input type="hidden" id="hdnresddlGenderDefaultValue" value="@Common.resddlGenderDefaultValue" />
        <input type="hidden" id="hdnresInteractionSummaryTitle" value="@Common.resInteractionSummaryTitle" />
        <input type="hidden" id="hdnresAttachmentTitle" value="@Common.resAttachment" />
        <input type="hidden" id="hdnresPatientNoteTitle" value="@Common.resPatientNoteTitle" />
        <input type="hidden" id="hdnresPatientRecentOrderTitle" value="@Common.resPatientRecentOrderTitle" />
        <input type="hidden" id="hdnPostCodeSearchKey" value="@ConfigurationManager.AppSettings["PostCodeKey"]" />
        <input type="hidden" id="hdnPostCodeSearchUrl" value="@ConfigurationManager.AppSettings["PostCodeSearchUrl"]" />
        <input type="hidden" id="hdnPostCodeSearchRetrieve" value="@ConfigurationManager.AppSettings["PostCodeSearchRetrieve"]" />
        <input type="hidden" id="hdnPostCodeRequired" value="@Common.resPostCodeRequired" />
        <input type="hidden" id="hdnPostCodeInvalid" value="@Common.resPostCodeInvalid" />
        <input type="hidden" id="hdnPostCodeTitle" value="@Common.resPostCodeTitle" />
        <input type="hidden" id="hdnAddChangeCareHomeTitle" value="@Common.resAddChangeCareHomeTitle" />
        <input type="hidden" id="hdnJobTitleRequired" value="@Common.reserrormsgJobTitle" />
        <input type="hidden" id="hdnTelephoneNumberRequired" value="@Common.reserrormsgTelephoneNumber" />
        <input type="hidden" id="hdnMobileNumberRequired" value="@Common.reserrormsgMobileNumber" />
        <input type="hidden" id="hdnEmailRequired" value="@Common.reserrormsgEmailRequired" />
        <input type="hidden" id="hdnPatientStatus" />
        <input type="hidden" id="hdnPatientType" />
        <input type="hidden" id="Assignedcarehome" />
        <input type="hidden" id="hdnDeliverydate" />
        <input type="hidden" id="hdnNextDeliverydate" />
        <input type="hidden" id="hdnNHSIDMandetory" />
        <input type="hidden" id="hdnADPMandetory" />
        <input type="hidden" id="hdnTelephoneMandetory" />
        <input type="hidden" id="hdnNextAssesmentDateMandetory" />
        <input type="hidden" id="hdnNextAssesmentDate" />
        <input type="hidden" id="hdnAssignedCustomer" />
        <input type="hidden" id="hdnPatientController" value="@Constants.PatientController" />
        <input type="hidden" id="hdnGetRecentOrder" value="@Constants.ActionRecentOrders" />
        <input type="hidden" id="hdnGetSampleOrder" value="@Constants.ActionSampleOrder" />
        <input type="hidden" id="hdnlblCareHomeName" value="@Common.reslblCareHome" />
        <input type="hidden" id="hdnlblHouseName" value="@Common.reslblHouseName" />
        <input type="hidden" id="hdnPostcodeMatrix" />

        <input type="hidden" id="hdnLoadPatientNotes" value="@Constants.ActionLoadPatientNote" />
        <input type="hidden" id="hdnActivePatient" value="@Common.resPatientActive" />
        <input type="hidden" id="hdnPatientStatusRemoved" value="@Common.resPatientStatusRemoved" />
        <input type="hidden" id="hdnPatientStatusStopped" value="@Common.resPatientStatusStopped" />
        <input type="hidden" id="hdnActivePatientValue" value="@Common.resActivePatientValue" />
        <input type="hidden" id="hdnProCarePatient" value="@Common.resProcarePatient" />
        <input type="hidden" id="hdnSelfCarePatient" value="@Common.resSelfCarePatient" />
        <input type="hidden" id="hdnBulkPatient" value="@Common.resBulkPatient" />
        <input type="hidden" id="hdnBulkSelfcarePatient" value="@Common.resBulkSelfcarePatient" />
        <input type="hidden" id="hdnOrderController" value="@Constants.OrderController" />

        <input type="hidden" id="hdnNursingPatient" value="@Common.resNursingPatient" />
        <input type="hidden" id="hdnNursingSelfcarePatient" value="@Common.resNursingSelfcarePatient" />
        <input type="hidden" id="hdnResidentialPatient" value="@Common.resResidentialPatient" />
        <input type="hidden" id="hdnResidentialSelfcarePatient" value="@Common.resResidentialSelfcarePatient" />
        <input type="hidden" id="hdnHospitalPatient" value="@Common.resHospitalPatient" />
        <input type="hidden" id="hdnHospitalSelfcarePatient" value="@Common.resHospitalSelfcarePatient" />

        <input type="hidden" id="hdnPatientOkButton" value="@Common.resPatientOkButton" />
        <input type="hidden" id="hdnPatientSaveMessage" value="@Common.resPatientSaveMessage" />
        <input type="hidden" id="hdnMessageProductsSentForApproval" value="@Common.resMessageProductsSentForApproval" />
        <input type="hidden" id="hdnMessagePatientStopped" value="@Common.resMessagePatientStopped" class="validation_msg" />

        <input type="hidden" id="hdnCareHome" value="@Common.resCareHomeType" />
        <input type="hidden" id="hdnNonCareHome" value="@Common.resNoncareHomeType" />
        <input type="hidden" id="hdnRemovedPatient" value="@Convert.ToInt64(SCA.Indigo.Common.Enums.SCAEnums.PatientStatus.Removed)" />
        <input type="hidden" id="hdnStoppedPatient" value="@Convert.ToInt64(SCA.Indigo.Common.Enums.SCAEnums.PatientStatus.Stopped)" />
        <input type="hidden" id="hdnActivePatientStatus" value="@Convert.ToInt64(SCA.Indigo.Common.Enums.SCAEnums.PatientStatus.Active)" />
        <input type="hidden" id="hdnWaitingForApproval" value="@Convert.ToInt64(SCA.Indigo.Common.Enums.SCAEnums.StoppedPatientReasonCode.WaitingforApproval)" />
        <input type="hidden" id="hdnNonCareHomePatientType" value="@Model.NonCareHomePatientType" />
        <input type="hidden" id="hdnResidentialCareHome" value="@Convert.ToInt64(SCAEnums.PatientType.Residential)" />
        <input type="hidden" id="hdnProcare" value="@Constants.ProcarePatientType" />
        <input type="hidden" id="hdnSelfcare" value="@Constants.SelfcarePatientType" />
        <input type="hidden" id="hdnCareHomeRemovedStatus" value="@Convert.ToInt64(SCAEnums.CareHomeStatus.Removed)" />
        <input type="hidden" id="hdnInteractionRecentOrderValue" value="@((int)SCAEnums.ObjectType.Patient)" />
        <input type="hidden" id="hdnIsCarehomeRemoved" value="false" />
        <input type="hidden" id="hdnActiveCustomer" value="@Convert.ToInt64(SCA.Indigo.Common.Enums.SCAEnums.CustomerStatus.Active)" />
        <input type="hidden" id="hdnBlockedCustomer" value="@Convert.ToInt64(SCA.Indigo.Common.Enums.SCAEnums.CustomerStatus.Blocked)" />
        <input type="hidden" id="hdnNonCarehomePatientTypeWarning" value="@Common.resNoncareHomePatientTypeWarning" />
        <input type="hidden" id="hdnMandatoryClinicalContacts" value="@Common.resMandatoryClinicalContacts" />
        <input type="hidden" id="hdnRound" value="" />
        <input type="hidden" id="hdnRoundId" value="" />

        <input type="hidden" id="hdnActiveReasonCodeID" value="@Constants.ActiveReasonCodeId" />
        <input type="hidden" id="hdnStoppedReasonCodeID" value="@Constants.StoppedReasonCodeId" />
        <input type="hidden" id="hdnRemovedReasonCodeID" value="@Constants.RemovedReasonCodeId" />

        <input type="hidden" id="hdnNoteType" value="@Convert.ToInt32(SCAEnums.NoteType.PatientNote)" />
        <input type="hidden" id="hdnNoteTitle" value="@Common.resPatientNoteTitle" />
        <input type="hidden" id="hdnNoteType" value="@Convert.ToInt32(SCAEnums.NoteType.PatientNote)" />
        <input type="hidden" id="hdnNoteType" value="@Convert.ToInt32(SCAEnums.NoteType.PatientNote)" />

        <input type="hidden" id="hdnreserrormsCorrespondenceAddress1" value="@Common.resMessageCorrespondenceAddress1" />
        <input type="hidden" id="hdnreserrormsCorrespondenceTownOrCity" value="@Common.resMessageCorrespondenceTownOrCity" />
        <input type="hidden" id="hdnreserrormsddlCorrespondenceCounty" value="@Common.resMessageddlCorrespondenceCounty" />
        <input type="hidden" id="hdnreserrormsCorrespondencePostCode" value="@Common.resMessageCorrespondencePostCode" />

        <input type="hidden" id="hdnCommFormateEmail" value="@Convert.ToInt64(SCAEnums.CommunicationFormate.Email)" />
        <input type="hidden" id="hdnCommFormateTelephoneNo" value="@Convert.ToInt64(SCAEnums.CommunicationFormate.TelephoneNo)" />
        <input type="hidden" id="hdnCommFormateText" value="@Convert.ToInt64(SCAEnums.CommunicationFormate.Text)" />
        <input type="hidden" id="hdnCommFormatePost" value="@Convert.ToInt64(SCAEnums.CommunicationFormate.Post)" />
        <input type="hidden" id="hdnCommFormateNoCommunication" value="@Convert.ToInt64(SCAEnums.CommunicationFormate.Nocommunication)" />

        <input type="hidden" id="hdnPatientSAPCustomerNumber" value="" />
        <input type="hidden" id="hdnPatientCareHomeSAPId" value="" />
        <input type="hidden" id="hdnSampleOrderMenuTextMessage" value="@Common.resSampleOrderNotAllowedMessage" />
        <input type="hidden" id="hdnSampleOrderMenuText" value="@Constants.SampleOrderMenuText" />
        <input type="hidden" id="hdnCallingForm" value="PatientInfo" />
        <input type="hidden" id="hdnNavigateSampleOrderMenuText" value='@Url.Action("Sample", "Order")' />
        @Html.Hidden("hdnIsCalledFromHomepage", Model.IsCalledFromHomePage, new { id = "hdnIsCalledFromHomepage" })
        @Html.Hidden("hdnHomeInteractionId", Model.PatientInteractionId, new { id = "hdnHomeInteractionId" })
        <input type="hidden" id="hdnDefaultCountry" value="@Constants.DefaultCountry" />
        <input type="hidden" id="hdnCareHomeRemovedReasonCode" value="@Convert.ToInt64(SCAEnums.RemovedPatientReasonCode.CarehomeRemoved)" />
        <input type="hidden" id="hdnCareHomeStoppedReasonCode" value="@Convert.ToInt64(SCAEnums.StoppedPatientReasonCode.CarehomeStopped)" />
        <input type="hidden" id="hdnCareHomeWaitingForApproval" value="@Convert.ToInt64(SCAEnums.StoppedPatientReasonCode.WaitingforApproval)" />
        <input type="hidden" id="hdnCareHomeStoppedStatus" value="@Convert.ToInt64(SCAEnums.CareHomeStatus.Stopped)" />
        <input type="hidden" id="hdnCareHomeRemovedStatus" value="@Convert.ToInt64(SCAEnums.CareHomeStatus.Removed)" />
        <input type="hidden" id="hdnCareHomeActiveStatus" value="@Convert.ToInt64(SCAEnums.CareHomeStatus.Active)" />
        <input type="hidden" id="hdnStoppedStatusError" value="@Common.resStoppedStatusError" />
        <input type="hidden" id="hdnRemovedStatusError" value="@Common.resRemovedStatusError" />
        <input type="hidden" id="hdnSelectedCarehomeStatus" value="" />
        <!--Start 1.7.4 Uncomment For Sprint 2-->
        @*<input type="hidden" id="hdnPatientCopiedReasonCode" value="@Convert.ToInt64(SCAEnums.RemovedPatientReasonCode.Copied)" />*@
        <!--End 1.7.4 Uncomment For Sprint 2-->
    </div>
</div>


<div id="divNotesPopup" style="display: none">
    @{Html.RenderPartial("_NotesPopup");}
</div>

<div id="divPatientContactInfoPopup" style="display: none">
    @{Html.RenderPartial("_PatientContactInfoPopup");}
</div>

<div id="divPatientRecentOrdersPopup" style="display: none">
    @{Html.RenderPartial("_PatientRecentOrdersPopup");}
</div>

<div id="divCareHomePopup" style="display: none">
    @{Html.RenderPartial("_CareHomePopup");}
</div>

<div id="divInteractionSummaryPopup" style="display: none">
    @{Html.RenderPartial("_InteractionSummaryPopup");}
</div>

<div id="divCreateInteraction" style="display: none">

</div>

<div id="divAttachmentPopup" style="display: none">
    @{Html.RenderPartial("_AttachmentPopup");}
</div>

<div id="divPostCodeSearchPopup" style="display: none">
    @{Html.RenderPartial("_CheckAddressPopup");}
</div>

<div id="divAuditLogPartial" style="display:none; width:750px; height:420px !important;">
    @{Html.RenderPartial("_AuditLogPopup");}
</div>

<div id="divsaveSucess" style="display:none" class="success_msg">
    <label id="lblsuccess"></label>
</div>
<div id="divsaveSucessRemovedStopped" style="display:none" class="success_msg">
    <label id="lblsaveSuccessRemoved">@Common.resPatientRemovedMessage</label>
    <label id="lblsaveSuccessStopped">@Common.resPatientStoppedMessage</label>
</div>
<div id="divsaveError" style="display:none" class="validation_msg">
    <label>@Common.resSavePatientSucessErrorMsg</label>
</div>

<div id="divQuantityError" style="display:none" class="validation_msg">
    <label>@Common.resAssessedPadsPerDayError</label>
</div>


<div id="divAssessedPadError" style="display:none" class="validation_msg">
    <label>@Common.resAssessedPadsPerDayError</label>
</div>

<div id="divProductDescriptionError" style="display:none" class="validation_msg">
    <label>@Common.resProductDescriptionError</label>
</div>

<div id="divfrequencyError" style="display:none" class="validation_msg">
    <label class="validation_msg">@Common.resFrequencyError</label>
</div>

<div id="divstartDateError" style="display:none" class="validation_msg">
    <label>@Common.resStartDateError</label>
</div>

<div id="divendDateError" style="display:none" class="validation_msg">
    <label>@Common.resEndDateError</label>
</div>
<div id="divOrderActivated" style="display:none" class="success_msg">
    <label>@Common.resOrderActivationIntimation</label>
</div>
<div id="divPrescriptionApprovalPopupMsg" style="display:none" class="success_msg overflow_y_hidden">
    <label class="success_msg">@Common.resAuthorisationIntimation</label><br />
    <label class="success_msg">@Common.resMsgAmendPrescription</label>
</div>

<div id="divCancelPrompt" style="display:none" class="validation_msg overflow_y_hidden">
    @*<label class="validation_msg">@Common.resMessageUnsavedChanges</label>
        <br />*@
    <label class="validation_msg">@Common.resGeneralUndoMessage</label>
</div>
<div id="divValidationConfirmField" style="display:none;min-height: 19px;">@Common.resPatientUnsavedValidation</div>
<div id="divBackPrompt" style="display:none" class="validation_msg overflow_y_hidden">
    @*<label class="validation_msg">@Common.resMessageUnsavedChanges</label>
        <br />*@
    <label class="validation_msg">@Common.resMessageCancelPrompt</label>
</div>

@Html.Hidden("hdnCancelprompt", @Common.resMessageCancelPrompt, new { id = "hdnCancelprompt" })
<div class="j_lightbox_error" id="InteractionExitDiv">
    <div class="j_lightbox_error_wrapper">
        <div class="pop_error">
            <div id="divInteractionErrorMessage" class="pop_error">
            </div>
            <br />
            <div class="j_lightbox_btns search_form_main_btns">
                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_YesClicked">@Common.resLogOffYes</a>
                <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_NoClicked">@Common.resLogOffNo</a>
            </div>
        </div>
    </div>
</div>

<div class="j_lightbox_error" id="divViewPatientError">
    <div class="j_lightbox_error_wrapper short_pop">
        <div class="padding_20 search_form_main_btns align_center community_ord_mgs1">
            @Common.resSelectViewPatient<br /><br />
            <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_15 small_btn_2">Select Patient</a>
        </div>
    </div>
</div>
<div class="j_lightbox_error" id="divCopyPatientError">
    <div class="j_lightbox_error_wrapper short_pop">
        <div class="padding_20 search_form_main_btns align_center community_ord_mgs1">
            @Common.resSelectCopyPatient<br /><br />
            <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_15 small_btn_2">Select Patient</a>
        </div>
    </div>
</div>
<div class="j_lightbox_error" id="divCopyPatientActiveOrderError">
    <div class="j_lightbox_error_wrapper short_pop">
        <div class="padding_20 search_form_main_btns align_center community_ord_mgs1">
            @Common.resActiveOrderCopyPatient<br /><br />
            <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_15 small_btn_2">Select Patient</a>
        </div>
    </div>
</div>
<div class="j_lightbox_error" id="divCopyPatientStatusError">
    <div class="j_lightbox_error_wrapper short_pop">
        <div class="padding_20 search_form_main_btns align_center community_ord_mgs1">
            @Common.resPatientStatusCopyPatient<br /><br />
            <a href="@Url.Action("SearchData", "Search", new { patientId = "0" })" class="search_form_buttons padding_left_right_15 small_btn_2">Select Patient</a>
        </div>
    </div>
</div>
<div id="divSavePatientRemovedStopped" style="display:none" class="validation_msg">
    <label class="validation_msg" id="lblPatientStatusRemoved">@Common.resPatientStatusToRemoved</label>
    <label class="validation_msg" id="lblPatientStatusStopped">@Common.resPatientStatusToStopped</label>
</div>
<div id="divErrorReasonCodeNotSelected" style="display:none" class="validation_msg">
    <label class="validation_msg">@Common.reserrormsgReasonCode</label>
</div>
<div id="divSavePatientActive" style="display:none;" class="validation_msg overflow_y_hidden">
    <label class="validation_msg" id="lblPatientStatusActive">@Common.resPatientStatusToActive</label>
</div>

@*@Url.Action("GetInteractionSummary", "Patient", new { id = "GetInteractionSummaryUrl" })*@
@Html.Hidden("GetInteractionSummary", Url.Action("GetInteractionSummary", "Patient"), new { id = "GetInteractionSummary" })
@Html.Hidden("GetNDDForProcarePatient", Url.Action("GetNDDForProcare", "Patient"), new { id = "GetNDDForProcarePatient" })
@Html.HiddenFor(m => m.InteractionViewModel.ParentFormName, new { id = "ParentFormName" })
@Html.HiddenFor(m => m.FileCount, new { id = "hdnFileCount" })
@Html.HiddenFor(m => m.FileCountErrorMessage, new { id = "hdnFileCountErrorMessage" })
<input type="hidden" id="hdnIsClinicalContactWithLinkage" value="" />
