﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;
@{
    Layout = null;
}
@*<style>
    .uppercase {
        text-transform: uppercase;
    }
</style>*@
<script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {

        $jqGrid("#jqPostcodeMatrix").jqGrid({
            datatype: "local",
            colNames: ['@Common.resGrdCustomerIdfull', '@Common.resGrdRound'+'*', '@Common.resRoundId'+'*', '@Common.resGrdPostcode', '@Common.resGrdMonday', '@Common.resGrdTuesday', '@Common.resGrdWednesday', '@Common.resGrdThursday', '@Common.resGrdFriday', '@Common.resGrdRemove', '',''],
            colModel: [

                { name: 'CustomerID', index: 'CustomerID', width: '100', hidden: true, sorttype: 'int' },
                { name: 'Round', index: 'Round', width: '120', hidden: false, editable: true, editoptions: { maxlength: 10 }, classes : 'uppercase' },
                { name: 'RoundID', index: 'RoundID', width: '120', hidden: false, editable: true, editoptions: { maxlength: 4 }, classes : 'uppercase' },
                { name: 'Postcode', index: 'Postcode', width: '130', hidden: false, editable: true, editoptions: { maxlength: 10 }, classes: 'uppercase' },
                { name: 'Monday', index: 'Monday', editable: false, width: '90', edittype: 'checkbox', formatter: selectDay, editoptions: { value: 'rue:false' }, formatoptions: { disabled: false } },
                { name: 'Tuesday', index: 'Tuesday', editable: false, width: '90', edittype: 'checkbox', formatter: selectDay, editoptions: { value: 'True:False' }, formatoptions: { disabled: false } },
                { name: 'Wednesday', index: 'Wednesday', editable: false, width: '90', edittype: 'checkbox', formatter: selectDay, editoptions: { value: 'True:False' }, formatoptions: { disabled: false } },
                { name: 'Thursday', index: 'Thursday', editable: false, width: '90', edittype: 'checkbox', formatter: selectDay, editoptions: { value: 'True:False' }, formatoptions: { disabled: false } },
                { name: 'Friday', index: 'Friday', editable: false, width: '90', edittype: 'checkbox', formatter: selectDay, editoptions: { value: 'True:False' }, formatoptions: { disabled: false } },
                { name: 'Remove', index: 'Remove', editable: false, width: '90', edittype: 'checkbox', formatter: selectDay, editoptions: { value: 'rue:false' }, formatoptions: { disabled: false } },
                { name: 'PostcodeMatrixID', index: 'PostcodeMatrixID', hidden: true },
                { name: 'isNewRow', index: 'isNewRow', hidden: true },

            ],
            height: '175',            
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqPostcodeMatrixTablePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            autowidth: false,
            sortname: "",
            loadonce: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            sortorder: "asc",
            ignoreCase: true,
            cellEdit: true,
            cellsubmit: 'clientArray',
            gridComplete: function () {                
                $jqGrid('#jqPostcodeMatrixTablePager_left').hide();
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#jqPostcodeMatrixTablePager_center').hide();

                } else {
                    $jqGrid('#jqPostcodeMatrixTablePager_center').show();
                }
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });
                var customerDisplayName = $jqGrid("#" + CustomerParameterObj.CustomerDropDown).val() + ' ' + $jqGrid('#' + CustomerParameterObj.CustomerName + '').val() + ' (' + $jqGrid('#txtSAPCustomerNumber').val() +')';
                $jqGrid('#spanCustomerName').text(customerDisplayName);
                CustomerParameterObj.SetEditableRows();
            },
            onCellSelect: function (rowid, iCol, e) {
                                
                if ($jqGrid(this).jqGrid('getCell', rowid, 'isNewRow') == "new") {
                    $jqGrid(this).jqGrid('editRow', rowid, true);
                    $jqGrid("#jqPostcodeMatrix tr#" + rowid + " td .editable").attr('style', 'width: 60% !important');
                }
                var row = $jqGrid(e.target).closest('tr.jqgrow');
                var rowid = row.attr('id');              

            },
        }).navGrid("#jqPostcodeMatrixTablePager",
                { search: false, refresh: false, add: false, edit: false, del: false },
                {},
                {},
                {}
            );
    });

    function selectDay(cellvalue, options, rowobject) {
        if (cellvalue == true) {
            return "<input type='checkbox' checked='checked' id=" + options["rowId"] + "_" + options.colModel["name"] + ">";
        }
        else {

            return "<input type='checkbox' class='chkSelectClass' id=" + options["rowId"] + "_" + options.colModel["name"] + ">";
        }
    }
</script>

<div id="divCustomerNameHeader" class="cust_patient_name">
    <label id="lblCustomer" style="color:#005596;"><strong>@Common.resCustomerName</strong></label> : <span id="spanCustomerName" style="font-weight:bold">CustomerName</span>
</div>

<input type="hidden" id="hdnActionLoadCustomerPostcode" value="@Constants.ActionLoadCustomerPostcode" />
<input type="hidden" id="hdnActionSaveCustomerPostcode" value="@Constants.ActionSaveCustomerPostcode" />



<div class="table_section_2 height_240">
    <table id="jqPostcodeMatrix"></table>
    <div id="jqPostcodeMatrixTablePager"></div>
</div>

<div class="j_lightbox_error" id="msgSelectCustomer" style="display:none">
    <div class="j_lightbox_error_wrapper short_pop padding_20 search_form_main_btns align_center">
        @Common.resMsgCustomerPostcodeSaved<br /><br />
        <input type="button" onclick=" $jqGrid('#msgSelectCustomer').hide();"
               class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk" />
    </div>
</div> 

<div class="j_lightbox_error" id="msgPostcodeNotSaved" style="display:none">
    <div class="j_lightbox_error_wrapper short_pop padding_20 search_form_main_btns align_center">
        @Common.resMsgCustomerPostcodeNotSaved<br /><br />
        <input type="button" onclick=" $jqGrid('#msgPostcodeNotSaved').hide();"
               class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="@Common.resbtnErrorOk" />
    </div>
</div>
<br />
<div class="pop_main_btns text_align_right">
    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20 text_align_right small_btn" id="AddNewCustomerPostcode">@Common.resbtnAdd</a>
    &nbsp;<a href="javascript:void(0);" class="search_form_buttons padding_left_right_20 text_align_right small_btn" id="btnSavePostcodeMatrix">@Common.resbtnSave</a>
    &nbsp;<a href="javascript:void(0);" class="search_form_buttons padding_left_right_20 text_align_right small_btn" onclick="ClosePopup('divPostcodeMatrixPopup')">@Common.reslnkExit</a>
</div>

<input type="hidden" value="@Common.resErrorMsgRound" id="hdnRoundError" />
<input type="hidden" value="@Common.resErrorMsgRoundId" id="hdnRoundIdError" />
<input type="hidden" value="@Common.resErrorMsgPostcode" id="hdnPostcodeError" />
<input type="hidden" value="@Common.resErrorMsgForRowNumber" id="hdnForRowNumber" />
<input type="hidden" value="@Common.resErrorMsgDeliveryDay" id="hdnDeliveryDayError" />
<input type="hidden" value="@Common.resMsgCustomerPostcodeSaved" id="hdnPostcodeSaved" />
<input type="hidden" value="@Common.resMsgCustomerPostcodeNotSaved" id="hdnPostcodeNotSaved" />
<input type="hidden" value="@Common.resErrorMsgSelectCustomer" id="hdnMsgSelectCustomer" />
<span id="PostcodeErrorMsgSpan" class="field-validation-error margin_top_minus_50"></span>