﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;
@{
    Layout = null;
}

<script type="text/javascript">
    $jq = jQuery.noConflict();
    $jq(document).ready(function () {
        $jq("#jqPrintGrid").jqGrid({
            datatype: "local",
            colNames: ['', '', '', '', ''],
            colModel: [
                { name: 'ColumnOne', index: 'ColumnOne', sortable: false, width: '240' },
                { name: 'ColumnTwo', index: 'ColumnTwo', sortable: false, width: '200' },
                { name: 'ColumnThree', index: 'ColumnThree', sortable: false, width: '300' },
                { name: 'ColumnFour', index: 'ColumnFour', sortable: false, width: '200' },
                { name: 'IsBold', index: 'IsBold', hidden: true }
            ],
            toppager: false,
            rowNum: 100,
            jsonReader: { repeatitems: false },
            viewrecords: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            height: '350',
            sortname: "",
            cmTemplate: { align: "left", sortable: false },
            sortable: false,
            loadonce: true,
            ignoreCase: true,
            gridComplete: function () {
            },
            afterInsertRow: function (rowId, rowData, rowelem) {
                if (rowData.IsBold && rowId == 1) {
                    $jq("#jqPrintGrid").jqGrid('setRowData', rowId, false, 'headerBold');
                }
                else if (rowData.IsBold)
                {
                    $jq("#jqPrintGrid").jqGrid('setRowData', rowId, false, 'rowBold');
                }
            }
        })
    });
</script>
<style>
    .rowBold td {
        font-weight: bold !important;
        font-size:  18px;
    }
    .headerBold td {
        font-weight: bold !important;
        font-size:  24px;
    }
</style>
<div class="form_main_btns float_right">
    <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" onclick="CustomerParameterObj.PrintCustomerParameter()">@Common.resPrint</a>
</div>

<div class="table_section_2 height_370" id="divPrint">
    <table id="jqPrintGrid"></table>
    <div id="jqPrintGridPager"></div>
</div>
