﻿@using System.Activities.Validation
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.ViewModel;
@model ResetPasswordViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="@Url.Content("~/Content/css/reset.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/css/main.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/css/responsive.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/css/tooltip.css")">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/webfontkit/stylesheet.css")">

<script src="@Url.Content("~/Scripts/modernizr.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/respond.src.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/placeholders.min.js")" type="text/javascript"></script>
<style type="text/css">
    #container {
        background-color: transparent;
    }

    .login-cell input[type="password"] {
        color: #666;
    }

    .login-cell input[type="text"] {
        background: #ededed;
        color: #666;
    }
</style>
<script type="text/javascript">
    $jqGrid = jQuery.noConflict();

    $jqGrid(document).ready(function () {

        $jqGrid('#btnResetPassword').click(function (event) {
            $jqGrid('.removePlaceholder').each(function () {
                if ($jqGrid(this).val() == $jqGrid('#hdnResetNewPassword').val() || $jqGrid(this).val() == $jqGrid('#hdnConfirmResetPassword').val())
                    $jqGrid(this).removeClass('placeholdersjs');
        });
                if ($jqGrid("#NewPassword").val() != "" && $jqGrid("#ConfirmPassword").val() != "") {
                    ResetPasswordPopMessage(event);
                }            
    });
    });
    //end of ready    
</script>
<div>
    <!--Main-->
    <section id="main">
        <!--container-->
        @using (Html.BeginForm(null,null , FormMethod.Post, new
        {
            @id = "frmRest",
            @name = "frmRest",
            @class = "frmRest",            
        }))
        {
            @Html.ValidationSummary(true)
            <section id="container">
                <!--Login section-->
                <div class="login_section">
                    @Html.LabelFor(a => a.Username, new { id = "lblUsername" })
                    <div class="login-form changepass-form">
                        <div class="login-welcome">Reset Password</div>
                        <div class="changepass_msg">
                            @if (ControllerHelper.CurrentUser != null && ControllerHelper.CurrentUser.IsNewUser == true)
                            {
                                <span>@Common.resloginPasswordNewUser</span>
                            }
                            else if (ControllerHelper.CurrentUser != null && ControllerHelper.CurrentUser.IsExpired == true)
                            {
                                <span>@Common.resloginPasswordExpired</span>
                            }

                        </div>

                        <div class="login-cell change_pass_cell">
                            @Html.PasswordFor(a => a.NewPassword, new { placeholder = @Common.reslblNewPasswordPlaceHolder, @tabindex = 2, @class = "removePlaceholder" })
                            &nbsp;<a href="javascript:void(0);" class="info_icon tooltip_opt_2">
                                <span>
                                    <img class="callout" src="../../Images/callout.gif" alt="CSS Tooltip triggered by image">
                                    <ul>
                                        <li>@Common.reslblPasswordValidationToolTip</li>
                                        <li>@Common.reslblValidThreePasswordToolTip</li>
                                    </ul>
                                </span>
                            </a>
                            <div>
                                @Html.ValidationMessageFor(m => m.NewPassword, "")
                            </div>
                        </div>

                        <div class="login-cell change_pass_cell">
                            @Html.PasswordFor(a => a.ConfirmPassword, new { placeholder = @Common.reslblConfirmPasswordPlaceHolder, @tabindex = 3, @class = "removePlaceholder" })
                            &nbsp;<a href="javascript:void(0);" class="info_icon tooltip_opt_2">
                                <span>
                                    <img class="callout" src="../../Images/callout.gif" alt="CSS Tooltip triggered by image">
                                    <ul>
                                        <li>@Common.reslblPasswordValidationToolTip</li>
                                        <li>@Common.reslblValidThreePasswordToolTip</li>
                                    </ul>
                                </span>
                            </a>

                            <div>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                            </div>
                        </div>
                        <div>
                            @Html.HiddenFor(a => a.UserId)
                            @Html.HiddenFor(a=>a.Username)
                        </div>
                        <div class="login-cell">
                            <input id="btnResetPassword" type="submit" value="Reset Password" tabindex="4">
                        </div>

                    </div>
                </div>
                <!--End Login section-->

            </section>
        }
        <!--End container-->
    </section>
    <!--End Main-->
    <input type="hidden" id="hdnResetNewPassword" value="@Common.reslblNewPasswordPlaceHolder" />
    <input type="hidden" id="hdnConfirmResetPassword" value="@Common.reslblConfirmPasswordPlaceHolder" />
    <input type="hidden" id="hdnResetUnSuccessMessage" value="@Common.resResetErrorMessage">
    <input type="hidden" id="hdnResetSuccessMessage" value="@Common.resResetSuccessMessage">
</div>
@Scripts.Render("~/bundles/Validations")
