﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;

<script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {
        $jqGrid("#jqResetUnlockUsersResult").jqGrid({
            url: '/Account/GetUsersForResetUnlock',
            datatype: "local",
            mtype: "GET",
            colNames: ['UserId', '@Common.resResetUnlockUserName', '@Common.resResetUnlockName', '@Common.resResetUnlockEmailId', '@Common.resResetUnlockPinCode', '@Common.resResetUnlockIsUserLocked', '@Common.resResetUnlockUnlock', '@Common.resResetUnlockResetPass'],
            colModel: [
                { name: 'UserId', index: 'UserId', classes: 'align_left padding_left_10', editable: false, hidden: true },
                { name: 'UserName', index: 'UserName', classes: 'align_left padding_left_10', editable: false, width:135 },
                { name: 'Name', index: 'Name', classes: 'align_left padding_left_10', editable: false,width:170 },
                { name: 'EmailId', index: 'EmailId', editable: false, classes: 'align_right padding_right_10',width:170 },
                { name: 'PinCode', index: 'PinCode', classes: 'align_left padding_left_10', editable: false,width:80 },
                { name: 'IsAccountLocked', index: 'IsAccountLocked', editable: false, classes: 'align_center', width: 100 },
                { name: 'Locked', index: 'Locked', classes: 'align_center hyperLink Lock', editable: false, formatter: NameAsHyperLinkFormater, width: 100,sortable:false },
                { name: 'Reset', index: 'Reset', classes: 'align_center hyperLink Reset', editable: false, formatter: NameAsHyperLinkFormater, width: 100,sortable:false },
            ],
            height: '235',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqResetUnlockUsersResultTablePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            sortname: "",
            loadonce: false,
            emptyrecords: '@Common.resGrdNoRecordsToView',
            sortorder: "asc",
            ignoreCase: true,
            cellEdit: true,
            cellsubmit: 'clientArray',
            caption: 'Interaction Report',
            loadComplete: function () {
            },
            gridComplete: function () {
                $jqGrid('.ui-paging-info').css("text-align", "left");
                $jqGrid('#jqResetUnlockUsersResultTablePager_left').hide();
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#jqResetUnlockUsersResultTablePager_center').hide();
                } else {
                    $jqGrid('#jqResetUnlockUsersResultTablePager_center').show();
                }
            },
            onPaging: function (pgButton) {
                var newPage, lastPage;
                if ("user" == pgButton) {
                    newPage = parseInt($jqGrid(this.p.pager).find('input:text').val());
                    lastPage = parseInt($jqGrid(this).jqGrid('getGridParam', 'lastpage'));
                    if (newPage > lastPage) {
                        return 'stop';
                    }
                }
            },
            onSortCol: function (index, iCol, sortOrder) {

                var gridRows = $jqGrid("#jqResetUnlockUsersResult").jqGrid('getRowData');
                if (gridRows.length == 0) {
                    return 'stop';
                }
            },
        }).navGrid("#jqResetUnlockUsersResultTablePager",
            { search: false, refresh: false, add: false, edit: false, del: false },
            {},
            {},
            {}
        );
    });
</script>
<div class="search_pannel_results mCustomScrollbar">
    <table id="jqResetUnlockUsersResult"></table>
    <div id="jqResetUnlockUsersResultTablePager"></div>
</div>
@Html.Hidden("hdnUnlockResetAction", Url.Action("LockUnlcokUser", "Account"), new { id = "hdnUnlockResetAction" })
@ViewBag.isSuccess