﻿@model SCA.Indigo.Web.UI.ViewModel.UserAdmin.UserAdminViewModel
@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Web.UI.Resource
@using System.Configuration;
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Common.Enums

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript">
        $jqGrid = jQuery.noConflict();
        $jqGrid(document).ready(function () {

            $jqGrid("#jqMapUserCustomer").jqGrid({
                datatype: "local",
                colNames: ['@Common.resSrNo', '@Common.resGrdCustomerId', '@Common.resSAPCustomerNumber', '@Common.reslblCustomer', '@Common.resMap'],
                colModel: [
                    { name: 'SrNo', index: 'SrNo', editable: false, width: '70px', classes: 'align_center' },
                    { name: 'CustomerId', index: 'CustomerId', hidden: true, editable: false, width: '185px', classes: 'align_left padding_left_10' },
                    { name: 'SAPCustomerNumber', index: 'SAPCustomerNumber', editable: false, width: '170px', classes: 'align_center' },
                    { name: 'CustomerName', index: 'CustomerName', editable: false, width: '526px', classes: 'align_left padding_left_10' },
                    { name: 'MapCustomer', index: 'MapCustomer', edittype: 'checkbox', width: '110', classes: 'align_center', formatter: FormatMapCustomer, editoptions: { value: 'True:False' }, formatoptions: { disabled: false }, sortable: false },
                ],
                height: '150',
                width: 'auto',
                toppager: false,
                jsonReader: { repeatitems: false },
                pager: $jqGrid("#jqMapUserCustomerTablePager"),
                rowNum: 300,
                rowList: [300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200],
                viewrecords: true,
                autowidth: false,
                sortname: "",
                sortorder: "asc",
                gridComplete: function () {
                    $jqGrid('#jqMapUserCustomer_left').hide();
                    $jqGrid('#jqMapUserCustomerTablePager_left').hide();
                    $jqGrid('.ui-paging-info').css("text-align", "left");
                    var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                    if (rowcount == 0) {
                        $jqGrid('#jqMapUserCustomerTablePager_center').hide();
                    }
                    else {
                        $jqGrid('#jqMapUserCustomerTablePager_center').show();
                    }
                    $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                        var val = $jqGrid(this).val().trim();
                        ValidationGridPageInput(e, val);
                    });
                },
                onCellSelect: function (rowid, iCol) {
                    $jqGrid(this).jqGrid('editRow', rowid, true);
                },
                ondblClickRow: function (rowid) {
                },
                loadComplete: function (data) {
                    $jqComm('#jqMapUserCustomer input[type="checkbox"]').ezMark();
                },

            }).navGrid("#jqMapUserCustomerTablePager",
            { search: false, refresh: false, add: false, edit: false, del: false },
            {},
            {},
            {}
        );

            $jqGrid("#jqMapUserCustomer").trigger("reloadGrid");
            $jqGrid("#jqgh_jqMapUserCustomer_Remove").removeClass("ui-jqgrid-sortable");

            $jqGrid('#chkMapCustomer').click(function (event) {
                if ($jqGrid("#chkMapCustomer").is(":checked")) {
                    $jqGrid(".chkMapCustomerClass").prop("checked", true);
                } else {
                    $jqGrid(".chkMapCustomerClass").prop("checked", false);
                }
            });

            // Load all customers for the first time                        
            LoadUserToCustomer(true);

            // Check for ViewOnly 
            //linkId: - Menu Link Id, element: - Main Div of the Form
            CommonScriptObj.DisableFormControls("frm_MapUserCustomer");

            // Clear Patient Sesion
            CommonScriptObj.ClearPatientSession();

        });//end of ready
    </script>

    <style>

        .search_cell {
            padding: 6px 10px;
        }

        .page_heading {
            padding-top: 5px;
        }
    </style>

</head>
<body>
    <form id="frm_MapUserCustomer">
        <span class="page_heading">@Common.resMapCustomerToUser</span>

        <div class="map_rols_user_cell new_select_for_search">
            <span class="map_rols_user_input select-style">
                @Html.DropDownList("ddlUserToCustomer", (IEnumerable<SelectListItem>)Model.UserToCustomerItems, @Common.resUserDropdown, new { @class = "custom-select", @onchange = "LoadUserToCustomer(false);" })
            </span>
        </div>


        <div class="table_section_2 mCustomScrollbar">
            <table id="jqMapUserCustomer" class="analysis_information_table"></table>
            <div id="jqMapUserCustomerTablePager"></div>
        </div>

        <div class="form_main_btns">
            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_20" tabindex="12" onclick="SaveMapUserToCustomer(this);" id="btnSaveUserCustomer">@Common.resBtnGeneralSubmit</a>&nbsp;&nbsp;
            <a href="javascript:void(0);" tabindex="13" class="search_form_buttons padding_left_right_20" id="btnResetUserCustomer" onclick="ResetAll();">@Common.resBtnGeneralReset</a>
        </div>

        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divErrorMessage" class="pop_error">
                    </div>
                    <br />
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok small_btn_2">@Common.resbtnErrorOk</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="divNoCustomerFound" style="display:none;min-height: 19px;"></div>
        <div id="divOutPutMessage" style="display:none;min-height: 19px;">

        </div>

        <div id="divErrorMessage" style="display:none;min-height: 19px;">@Common.resGenericErrorForWrong</div>
        <div id="divNoDatabaseChange" style="display:none;min-height: 19px;">@Common.resNoDatabaseChange</div>
        <div id="divNotAlreadyMapped" style="display:none;min-height: 19px;">@Common.resNotAlreadyMapped</div>
        <input type="hidden" id="hdnerrorUserToCustomer" value="@Common.resErrorUserToCustomer" />
        <input type="hidden" id="hdnErrorInvaliSelection" value="@Common.resErrorInvaliSelection" />
        <input type="hidden" id="hdnresOutPutMessage" value="@Common.resOutPutMessage" />
        <input type="hidden" id="hdnUserAdminResetMessage" value="@Common.resUserAdminResetMessage" />
        <input type="hidden" id="hdnAdminUserName" value="@Constants.AdminUser"/>
        @Scripts.Render("~/bundles/UserAdmin")
    </form>
</body>

</html>
