﻿@model SCA.Indigo.Web.UI.ViewModel.UserAdmin.UserAdminViewModel
@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Web.UI.Resource
@using System.Configuration;
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Common.Enums

<script>
    $jqComm(function () {
        $jqComm("#tabs").css("height", "450px");
        $jqComm("#tabs").pwstabs();
    });
</script>
<script type="text/javascript">
    $jqGrid = jQuery.noConflict();
    $jqGrid(document).ready(function () {

        $jqGrid("#jqMapRoleMenu").jqGrid({
            datatype: "local",
            colNames: ['@Common.resGridRoleMenuIDXRoleMenuID', '@Common.resGridRoleMenuMenuID', '@Common.resGridRoleMenuSubMenuId', '@Common.resGridRoleMenuMenu', '<input type="checkbox" id="viewonly_chkbox" onClick = "SelectAllViewOnlyCheckBox(this)" />&nbsp;@Common.resGridRoleMenuViewOnly', '<input type="checkbox" id="fullRights_chkbox" onClick = "SelectAllEditCheckBox(this)" />&nbsp;@Common.resGridRoleMenuEdit', 'DisableMapRoleMenu',''],
            colModel: [
                { name: 'IDXRoleMenuID', index: 'IDXRoleMenuID', hidden: true, editable: false, width: '185px', classes: 'align_left padding_left_10' },
                { name: 'MenuId', index: 'MenuId', hidden: true, editable: false, width: '185px', classes: 'align_left padding_left_10' },
                { name: 'SubMenuId', index: 'SubMenuId', hidden: true, editable: false, width: '185px', classes: 'align_left padding_left_10' },
                { name: 'MenuName', index: 'MenuName', editable: false, width: '620px', classes: 'align_left padding_left_10'},
                { name: 'ViewOnly', index: 'ViewOnly', edittype: 'checkbox', formatter: 'checkbox', classes: 'viewOnly', width: '120', editable: false, editoptions: { value: 'true:false' }, formatoptions: { disabled: false }, sortable: false },
                { name: 'FullRights', index: 'FullRights', edittype: 'checkbox', formatter: 'checkbox', classes: 'align_center fullRights', width: '80', editable: false, editoptions: { value: 'true:false' }, formatoptions: { disabled: false }, sortable: false },
                { name: 'DisableMapRoleMenu', index: 'DisableMapRoleMenu', hidden: true, classes: 'align_center disableMapRoleMenu', width: '70', editable: false, editoptions: { value: 'true:false' }, formatoptions: { disabled: false } },
                { name: 'DisableViewOnlyMenu', index: 'DisableViewOnlyMenu', hidden: true, classes: 'align_center disableViewOnlyMenu', width: '70', editable: false, editoptions: { value: 'true:false' }, formatoptions: { disabled: false } },
            ],
            height: '245',
            width: 'auto',
            toppager: false,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqMapRoleMenuTablePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            autowidth: false,
            sortorder: "asc",
            gridComplete: function () {
                $jqGrid('#jqMapRoleMenuTablePager_left').hide();
                $jqGrid('#jqMapRoleMenu_left').hide();
                $jqGrid('.ui-paging-info').css("text-align", "left");
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#jqMapRoleMenuTablePager_center').hide();
                }
                else {
                    $jqGrid('#jqMapRoleMenuTablePager_center').show();
                }
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });
                $("#jqMapRoleMenu_ViewOnly").find("div").removeClass("ui-jqgrid-sortable");
                $("#jqMapRoleMenu_FullRights").find("div").removeClass("ui-jqgrid-sortable");

                setTimeout(function () {
                    var roleId = $("#DDLRoles :selected").val();
                    if (roleId == "") {
                        roleId = 0;
                    }
                    var disableMapRoleMenuTitle = $jqGrid("#hdnDisableMapRoleMenuTitle").val();
                    if (roleId == "0") {
                        $jqGrid("#jqMapRoleMenu").addClass("btn_disable");
                        $jqGrid("#jqMapRoleMenu").find("[type='checkbox']").attr("disabled", "disabled");
                        $jqGrid("#jqMapRoleMenu").find("[type='checkbox']").attr('readonly', 'true');
                    }
                    // Disable the Map role menu for Admin only
                    var disableMenus = $(".disableMapRoleMenu").filter(function (index) { return $(this).text() == "true"; });
                    disableMenus.parent().find("[type='checkbox']").attr("disabled", "disabled");
                    disableMenus.parent().find("[type='checkbox']").attr("readonly", "true");
                    disableMenus.parent().children().attr("title", disableMapRoleMenuTitle);

                    // Disable the viewonly column for search and authorisation
                    var disableViewOnlyMenus = $(".disableViewOnlyMenu").filter(function (index) { return $(this).text() == "true"; });
                    disableViewOnlyMenus.parent().find(".viewOnly input").attr("disabled", "disabled");
                    disableViewOnlyMenus.parent().find(".viewOnly input").attr("readonly", "true");
                    disableViewOnlyMenus.parent().children().attr("title", disableMapRoleMenuTitle);
      
                    ViewOnlySelectAllCheckEvent();
                   
                }, 100);
               
            },
            onCellSelect: function (rowid, iCol) {
                $jqGrid(this).jqGrid('editRow', rowid, true);
            },
            ondblClickRow: function (rowid) {
            },
            onSortCol: function (index, iCol, sortorder) {
                
            },
            loadComplete: function (data) {
                $jqComm('#jqMapRoleMenu input[type="checkbox"]').ezMark();
                RegisterRoleToFunctionalityGrid();
            },

        }).navGrid("#jqMapRoleMenuTablePager",
        { search: false, refresh: false, add: false, edit: false, del: false },
        {},
        {},
        {}
    );

        $jqGrid("#jqMapRoleMenu").trigger("reloadGrid");
        $jqGrid("#jqgh_jqMapRoleMenu_Remove").removeClass("ui-jqgrid-sortable");


        // Load the grid for First Time
        LoadRoleTofunctionality();

        //binding map user to role Grid

        $jqGrid("#jqMapUserRole").jqGrid({
            datatype: "local",
            colNames: ['<input type="checkbox" id="cbox" onClick = "SelectAllUserRoleMapping(this)" /> ', '@Common.resGridUserRoleIDXUserRoleId', '@Common.resGridUserRoleUserID', '@Common.resGridUserRoleUserName', '@Common.resGridUserRoleSAPCustomerID','@Common.resGridAssignedRole'],
            colModel: [
                { name: 'IsRoleAssigned', index: 'IsRoleAssigned', edittype: 'checkbox', formatter: 'checkbox', classes: 'check', width: '95', editable: false, editoptions: { value: 'true:false' }, formatoptions: { disabled: false }, sortable: false },
                { name: 'IDXUserRoleId', index: 'IDXUserRoleId', hidden: true, editable: false, classes: 'align_left padding_left_10' },
                { name: 'UserID', index: 'UserID', hidden: true, editable: false, width: '185px', classes: 'align_left padding_left_10' },
                { name: 'UserName', index: 'UserName', editable: false, width: '200px', classes: 'align_left padding_left_10', sorttype: 'text' },
                { name: 'SAPCustomerID', index: 'SAPCustomerID', editable: false, width: '300px', classes: 'align_left padding_left_10' },
                { name: 'RoleName', index: 'RoleName', editable: false, width: '220px', classes: 'align_left padding_left_10' },

            ],
            height: '150',
            width: 'auto',
            toppager: false,
            ignoreCase: true,
            jsonReader: { repeatitems: false },
            pager: $jqGrid("#jqMapUserRoleTablePager"),
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
            viewrecords: true,
            autowidth: false,
            sortname: "",
            //sortorder: "asc",
            gridComplete: function () {
                $jqGrid('#jqMapUserRoleTablePager_left').hide();
                $jqGrid('#jqMapUserRole_left').hide();
                $jqGrid('.ui-paging-info').css("text-align", "left");
                var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                if (rowcount == 0) {
                    $jqGrid('#jqMapUserRoleTablePager_center').hide();
                }
                else {
                    $jqGrid('#jqMapUserRoleTablePager_center').show();
                    //$jqGrid('#cbox').removeClass("ez-hide");
                }
                $jqGrid('.ui-pg-input').bind('keyup', function (e) {
                    var val = $jqGrid(this).val().trim();
                    ValidationGridPageInput(e, val);
                });
                
            },
            onCellSelect: function (rowid, iCol) {
                $jqGrid(this).jqGrid('editRow', rowid, true);
            },
            ondblClickRow: function (rowid) {
            },
            loadComplete: function (data) {
                $jqComm('#jqMapUserRole input[type="checkbox"]').ezMark();
                $jqGrid("#cbox").prop("checked", false).closest("div").removeClass("ez-checked");
                RegisterMapUserToRoleGrid();
            },

        }).navGrid("#jqMapUserRoleTablePager",
       { search: false, refresh: false, add: false, edit: false, del: false },
       {},
       {},
       {}
   );

        $jqGrid("#jqMapUserRole").trigger("reloadGrid");
        $jqGrid("#jqgh_jqMapUserRole_IsRoleAssigned").removeClass("ui-jqgrid-sortable");

        LoadRoleToUser();
    });//end of ready
</script>

<form id="frm_MapUserRole">
    <span class="page_heading padding_0">@Common.resMapUserRoleTitle</span>

    <div id="tabs">
        <div data-pws-tab="tabMapRoleToMenu" data-pws-tab-name="@Common.resMapRolesToFunctionalityTitle" data-pws-tab-icon="fa-map-marker">
            <div>
                <div class="map_rols_user_cell new_select_for_search">
                    <span class="map_rols_user_input select-style">
                        @Html.DropDownList("DDLRoles", Model.Roles, @Common.resMapUserRoleDropdown, new { @class = "custom-select", @onchange = "LoadRoleTofunctionality();" })
                    </span>
                    <span class="add_new_roleId form_main_btns">
                        <input type="text" id="newRoleTextBox" placeholder="Add New Role" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="roleType" id="externalUserType" value="External" />&nbsp;External&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="roleType" id="ScaUserType" value="SCA" />&nbsp;SCA&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="@Common.resBtnNameSave" id="btnSaveNewRole" class="search_form_buttons padding_left_right_20 height_30" onclick="SaveNewRole(); return false;">&nbsp;&nbsp;
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="javascript:void(0)" class="plus_sign" id="lnkAddNewRole" onclick="DisplayAddNewRoleSection();"><i class="fa fa-plus"></i>&nbsp;&nbsp; Click here to Add new Role</a>

                </div>

            </div>

            <div class="table_section_2 height_310 bg_border_none mCustomScrollbar">
                <table id="jqMapRoleMenu" class="analysis_information_table"></table>
                <div id="jqMapRoleMenuTablePager"></div>
            </div>

            <div class="form_main_btns padding_top_bot_10">
                <input type="submit" value="@Common.resBtnGeneralSubmit" id="btnSaveRole" class="search_form_buttons padding_left_right_20 height_30" onclick="SaveRoleMenuMapping(); return false;">
                <input type="submit" value="@Common.resBtnGeneralReset" id="btnResetRole" class="search_form_buttons padding_left_right_20 height_30" onclick="ResetRoleMenu(); return false;">&nbsp;&nbsp;
            </div>
            <div class="j_lightbox_error" id="j_lightbox_error">
                <div class="j_lightbox_error_wrapper">
                    <div class="pop_error">
                        <div id="divErrorMessage" class="pop_error">
                        </div>
                        <div class="j_lightbox_btns search_form_main_btns">
                            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok small_btn_2">@Common.resbtnErrorOk</a>
                        </div>
                    </div>

                </div>
            </div>
            <input type="hidden" id="hdnerrorSelectRole" value="@Common.resErrorSelectRole" />
            <input type="hidden" id="hdnDisableMapRoleMenuTitle" value="@Common.resDisableRoleMenuTitle" />
            <input type="hidden" id="hdnNewRoleErrorMessage" value="@Common.resNewRoleErrorMessage" />
            <input type="hidden" id="hdnNewRoleAlreadyExistErrorMessage" value="@Common.resNewRoleAlreadyExistErrorMessage" />
            <input type="hidden" id="hdnNewRoleAddedMessage" value="@Common.resNewRoleAddedMessage" />
            <input type="hidden" id="hdnUserAdminResetMessage" value="@Common.resUserAdminResetMessage" />
            <div id="divRoleFunctionalitySucess" style="display:none">
            </div>
            <input type="hidden" id="hdnresRoleFunctionalityMappingMessage" value="@Common.resRoleFunctionalityMappingMessage" />
        </div>
        <div data-pws-tab="tabMapUserToRole" data-pws-tab-name="@Common.resMapUserToRoleTitle" data-pws-tab-icon="fa-map-marker">
            <div class="search_cell new_select_for_search map_users_role_field">
                <span class="search_pannel_ordertxtbox">
                    <input type="text" id="userid" placeholder="User ID" />
                </span>
                <span class="search_pannel_ordertxtbox" style="display:block">
                    <input type="text" id="sapcustomerid" placeholder="SAP Customer ID" maxlength="20" />
                </span>
                <span class="inline_block float_left">
                    <a href="javascript:void(0)" class="clear_search search_02" id="btnSearchResultsRoleMenu" onclick="SearchUserRolemapping();"></a>
                </span>
            </div>
           
            <div class="table_section_3 bg_border_none mCustomScrollbar">
                <table id="jqMapUserRole" class="analysis_information_table"></table>
                <div id="jqMapUserRoleTablePager"></div>
            </div>

            <div class="map_rols_user_cell1 new_select_for_search">
                <span class="map_rols_user_input select-style">
                    @Html.DropDownList("DDLRolesToUser", Model.Roles, @Common.resMapUserRoleDropdown, new { @class = "custom-select" })
                </span>
            </div>
            <div class="form_main_btns">
                <input type="submit" value="@Common.resBtnGeneralSubmit" id="btnSaveRoleToUser" class="search_form_buttons padding_left_right_20 height_30" onclick="return SaveUserRoleMapping(); return false;">
                <input type="submit" value="@Common.resBtnGeneralReset" id="btnResetRoleToUser" class="search_form_buttons padding_left_right_20 height_30" onclick="ResetMapUserRole(); return false;">&nbsp;&nbsp;
            </div>
            <div id="divRoleUserSucess" style="display:none">

            </div>
            <div style="display: none">
                <input type="hidden" id="hdnerrorMsg" value="@Common.resSearchNoRecordFound" />
            </div>
            <input type="hidden" id="hdnresRoleUserMappingMessage" value="@Common.resRoleUserMappingMessage" />
        </div>
        @Scripts.Render("~/bundles/UserAdmin")
        @Styles.Render("~/bundles/tab")
    </div>
</form>

