﻿@using SCA.Indigo.Web.UI.Resource
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Common.Enums
@model SCA.Indigo.Web.UI.ViewModel.UserAdmin.CareHomeUserViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/MapUserToCareHome")
    @Scripts.Render("~/bundles/MapUserToCareHome")
    <script type="text/javascript">
        $jqGrid = jQuery.noConflict();
        $jqGrid(document).ready(function () {
            $jqGrid("#ddlCarehome").multiselect("disable");
            $jqGrid("#ddlUsers").multiselect("disable");
            $jqGrid("#ddlCustomer").select2();
        });

    </script>

</head>
<body>
    <form id="frm_MapUserCarehome">
       
        <span class="page_heading">@Common.resHdrCarehomeUsers</span>


        <ul class="care_home_maintenance_ul">
            <li class="width_910">
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="care_home_maintenance_lable">@Common.resCarehomeUserslblCustomerName</span>
                    <span class="care_home_maintenance_select select-style width_787" tabindex="1">
                        @Html.DropDownList("ddlCustomer", (IEnumerable<SelectListItem>)Model.Customers, @Common.resCarehomeUserddlCustomer, new { @class = "custom-select width_787", @id = "ddlCustomer", tabindex = "1" })
                    </span>
                </div>
            </li>
        </ul>
        <ul class="care_home_maintenance_ul">
            <li class="width_540">
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="care_home_maintenance_lable">@Common.resCarehomeUserslblCarehomeName</span>
                    <span class="care_home_maintenance_select select-style width_418 miltiselect_500" tabindex="1">
                        @Html.DropDownList("ddlCarehome", Enumerable.Empty<SelectListItem>(), new { multiple = "multiple", @class = "custom-select width_550", @id = "ddlCarehome", tabindex = "2" })
                    </span>
                </div>
            </li>

            <li class="width_auto margin_right_0">
                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                    <span class="care_home_maintenance_lable width_108">@Common.resCarehomeUserslblCarehomeUser</span>
                    <span class="care_home_maintenance_input select-style width_235">
                        @Html.DropDownList("ddlUsers", Enumerable.Empty<SelectListItem>(), new { multiple = "multiple", @class = "custom-select", @id = "ddlUsers", tabindex = "3" })
                    </span>
                </div>
            </li>
        </ul>
 
      
        <div class="search_form_main_btns padding_0">
            <input type="button" value="@Common.resCarehomeUserbtnSubmit" class="search_form_buttons padding_left_right_20 btnAddProduct" id="btnSubmit" />
            <input type="button" value="@Common.resCarehomeUserbtnUndo" class="search_form_buttons padding_left_right_20 btnAddProduct" id="btnUndo" />
        </div>

        <div class="j_lightbox_error" id="j_lightbox_error">
            <div class="j_lightbox_error_wrapper">
                <div class="pop_error">
                    <div id="divMapUserCarehomeErrorMessage" class="pop_error">
                    </div>
                    <br />
                    <div class="j_lightbox_btns search_form_main_btns">
                        <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="divSaveCarehomeUsers" style="display:none" class="validation_msg">
            <label class="success_msg">@Common.resCarehomeUserConfirmMsg</label>
        </div>
        <div id="divSaveCarehomeUsersSuccess" style="display:none" class="validation_msg">
            <label class="success_msg">@Common.resCarehomeUserSuccessMsg</label>
        </div>
        <input type="hidden" id="hdnresDefaultddlCarehome" value="@Common.resCarehomeUserddlCarehome" />
        <input type="hidden" id="hdnresDefaultddlUser" value="@Common.resCarehomeUserddlUser" />

        <input type="hidden" id="hdnresCustomerValidationMsg" value="@Common.resCustomerValidationMsg" />
        <input type="hidden" id="hdnresCarehomeValidationMsg" value="@Common.resCarehomeValidationMsg" />
        <input type="hidden" id="hdnresUserValidationMsg" value="@Common.resUserValidationMsg" />
    </form>
    <script type="text/javascript" src="~/Scripts/jquery.multiselect.filter.min.js"></script>
    <script type="text/javascript">
        $jqGrid = jQuery.noConflict();
        $jqGrid(document).ready(function () {
            $jqComm("#ddlCarehome").multiselect().multiselectfilter();
            $jqComm("#ddlUsers").multiselect().multiselectfilter();
            //$jqComm("#ddlCustomer").multiselectfilter();
        });
    </script>
    @Html.Hidden("hdnLoadDDLAction", Url.Action("GetDDLForCareHomeUser", "UserAdmin"), new { id = "hdnLoadDDLAction" })
    @Html.Hidden("hdnSubmitAction", Url.Action("SaveCareHomeUsers", "UserAdmin"), new { id = "hdnSubmitAction" })
</body>
</html>

