﻿@using SCA.Indigo.Web.UI.Resource;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Common.reslblTitle</title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
 
</head>
<body>

    <div>
        @*@section DetailPage{}|*@
             
        <div class="about-left">
            <span class="page_heading">@Common.resAboutUsHeader</span>
           
            <div class="about_doctor_img"><img src="../Images/contact-doctor-3.jpg" />
                <hr />
                <br />
               
            </div>

            <div class="float_left">
                <div class="float_left">
                    <span class="about_cell float_left margin_right_15">
                        <h3>@Common.resAboutUsAccountHandler</h3>
                        <img src="../Images/contact-icon.png" class="account_handlers_phone_icon" />
                        <ul class="ul_about_style">                            
                            <li>@Common.resAboutUsKamran</li>
                            <li>@Common.resAboutUsLea</li>                            
                            <li>@Common.resAboutUsTracy</li>
                            <li>@Common.resAboutUsFarah</li>
                        </ul>
                        <ul class="ul_about_style">
                            <span class="account_handlers_mail_icon"><i class="fa fa-envelope-o"></i></span>
                            <li>@Common.resAboutUsContact - <a href="mailto:account.handler@sca.com">account.handler@sca.com</a></li>
                        </ul>
                        <ul class="ul_about_style">
                            <img src="../Images/fax-icon.png" class="account_handlers_fax_icon" />
                            <li>@Common.resAboutUsFaxCustomer</li>
                        </ul>
                    </span>
                    <span class="about_cell  float_left min_height_214">
                        <h3>@Common.resAboutUsPatientLine</h3>
                        <img src="../Images/contact-icon.png" class="patient_line_phone_icon" />
                        <ul class="ul_about_style">
                            <li><strong>@Common.resAboutUsMobilePatientLine</strong></li>
                            <li>@Common.resAboutUsOption1</li>
                            <li>@Common.resAboutUsOption2</li>
                            <li>@Common.resAboutUsOption3</li>
                            <li><span class="contact_normal">@Common.resAbouUsYouCan <br /><a href="http://www.tena.co.uk/order" target="_blank">@Common.resLinkTenaOnlineOrder</a></span></li>
                        </ul>
                    </span>
                </div>
                <div class="float_left">
                    <span class="about_cell float_left margin_right_15">
                        <h3>@Common.resDataCapture</h3>
                        <ul class="ul_about_style">
                            <span class="data_capture_mail_icon"><i class="fa fa-envelope-o"></i></span>
                            <li>@Common.resAboutUsContact - <a href="mailto:sca.administration@nhs.net">@Common.resDataCaptureEmail</a>
                        </ul>
                        <ul class="ul_about_style">
                            <img src="../Images/fax-icon.png" class="data_capture_fax_icon" />
                            <li>@Common.resAboutUsDataCaptureFaxCustomer</li>
                        </ul>
                    </span>
                    <span class="about_cell float_left">
                        <h3>@Common.resTenaDirect</h3>
                        <img src="../Images/contact-icon.png" class="tena_direct_phone_icon" />
                        <span class="contact_normal">@Common.resToPurchaseProducts:</span>
                        <ul class="ul_about_style">
                            <li>@Common.resAboutUsTenaDirectTel</li>
                            <li><a href="http://www.tenadirect.co.uk" target="_blank">@Common.resTenadirectsite</a></li>
                            </ul>
                    </span>
                </div>
                </div>
            </div>                      
    </div>



</body>
</html>

