﻿@using SCA.Indigo.Web.UI.Resource;
@using SCA.Indigo.Web.UI.Helper;
@{
    Layout = null;
    var menuName = string.Empty;
    var actionName = string.Empty;
    var controllerName = string.Empty;

}
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/menu.css")">
<nav>
    <ul id="nav">
        @if (ViewBag.userMenu != null)
        {
        foreach (var item in ViewBag.userMenu)
        {
            <li>
                @if (item.ParentMenuId == 0)
                {
                    if (item.ControllerName != null)
                    {
                        menuName = item.MenuName;
                        actionName = item.ActionName;
                        controllerName = item.ControllerName;                        
                        @Html.ActionLink(menuName, actionName, controllerName, new { }, new { @class = "hsubs", IsViewOnly = item.ViewOnly, IsFullRights = item.FullRights, onclick = "return MenuClick(this);" });
                    }
                    else
                    {
                        <a class="hsubs" href="javascript:void(0);" onclick="return MenuClick(this);">@item.MenuName</a>
                    }
                }
                @if (item.HasSubMenu)
                {
                    <ul class="subs">

                        @foreach (var i in ViewBag.userSubMenu)
                        {
                            if (item.MenuId == i.ParentMenuId)
                            {
                                <li>
                                    @{
                                menuName = @i.MenuName;
                                actionName = @i.ActionName;
                                controllerName = @i.ControllerName;
                                    }
                                    @Html.ActionLink(menuName, actionName, controllerName, new { }, new { IsViewOnly = i.ViewOnly, IsFullRights = i.FullRights, onclick = "return MenuClick(this);" })
                                </li>
                            }
                        }
                    </ul>
                }

            </li>
        }
        }
        else
        {
            Response.Redirect("~/" + Constants.AccountController + "/" + Constants.ActionError);
        }
    </ul>
</nav>
<div class="j_lightbox_error" id="j_lightbox_logoff">
    <div class="j_lightbox_error_wrapper short_pop">
        <div class="padding_20 search_form_main_btns align_center community_ord_mgs1">
            @Common.resLogOffMessage<br /><br />
            @*<a href="@Url.Action("Logout", "Account")" class="search_form_buttons padding_left_right_15 small_btn_2 btnsessionLogOff">@Common.resLogOffYes</a>*@
            <a class="search_form_buttons padding_left_right_15 small_btn_2 btnsessionLogOff" onclick="LogOutFromSignalR();">@Common.resLogOffYes</a>
            <a href="javascript:void(0);" onclick="NoLogoff();" class=" search_form_buttons padding_left_right_15 small_btn_2">@Common.resLogOffNo</a>
        </div>
    </div>
</div>
<div class="j_lightbox_error" id="j_lightbox_session">
    <div class="j_lightbox_error_wrapper short_pop">
        <div class="padding_20 search_form_main_btns align_center community_ord_mgs1">
            @Common.reslblSessionExpired<br /><br />
            @*<a href="@Url.Action("Logout", "Account")" class="search_form_buttons padding_left_right_15 small_btn_2">@Common.resbtnSessionExpireOk</a>*@
            <a class="search_form_buttons padding_left_right_15 small_btn_2 btnsessionexpired">@Common.resbtnSessionExpireOk</a>
            <a href="@Url.Action("Logout", "Account")" style="display:none" class="ssoLogoutButton"></a>

        </div>
    </div>
</div>

<input type="hidden" id="hdnCurrentActionClicked" value="@ControllerHelper.CurrentActionClicked" />
<input type="hidden" id="hdnSSOLoginURL" value="@ControllerHelper.SSOURLReferrer" />

<script type="text/javascript">        
    var selectedController = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()';
    var selectedActionResult = '@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString()';
    var count = 0;
    var orderActivation = "Order Activation";
    var authorisation = "Authorisation";
    var userAdmin = "User Admin";
    var orderController = "Order";
    var carehome = "CareHome";
    var admin = "Admin";
    var report = "Report";
    var authoriseController = "Authorize";
    var userAdminController = "UserAdmin";    
    var auditLogController = "AuditLog";    
    var interactionController = "Interaction";
    var holidayProcessController = "HolidayProcess";
    var customerController = "Customer";
    var reportBuilderController = "ReportBuilder"
    var openInteractionMenuActionResult = "OpenInteractionMenu";
    var interactionReportActionResult = "InteractionReport";
    $(function () {
        $('#nav li a').each(function () {            
            count++;
            var arr = '';
            var current = '';            
            if ($(this).attr('href') != 'javascript:void(0);') {
                arr = $(this).attr('href').split('/');
                current = arr[1];                
            }
            else {                
                if ($(this).text().toUpperCase() == selectedController.toString().toUpperCase()) {
                    current = selectedController;
                }
                else if ($(this).text() == orderActivation && selectedController.toString() == orderController) {
                    current = selectedController;
                }
                else if ($(this).text() == authorisation && selectedController.toString() == authoriseController) {
                    current = selectedController;
                }
                else if ($(this).text() == userAdmin && selectedController.toString() == userAdminController) {
                    current = selectedController;
                }
                else if ($(this).text() == admin && selectedController.toString() == auditLogController) {                    
                    current = selectedController;
                }
                else if ($(this).text() == admin && selectedController.toString() == interactionController && selectedActionResult == openInteractionMenuActionResult) {
                    current = selectedController;
                }
                else if ($(this).text() == admin && selectedController.toString() == holidayProcessController) {
                    current = selectedController;
                }
                else if ($(this).text() == admin && selectedController.toString() == customerController) {
                    current = selectedController;
                }
                else if ($(this).text() == report && selectedController.toString() == reportBuilderController) {                    
                    current = selectedController;
                }
                else if ($(this).text() == report && selectedController.toString() == interactionController && selectedActionResult == interactionReportActionResult) {
                    current = selectedController;
                }
            }
            if (selectedController.toString().length != 0 && current != undefined) {
                if (selectedController.toString().toUpperCase() == current.toString().toUpperCase()) {
                    $(this).addClass('active_menu');                   
                }                
            }
        });
    });

    function MenuClick(e)
    {
        var isChanged = true;
        if (window.IsAuditLogFromMenu == true) {
            isChanged = CheckAuditLogRemarkChanges(e);
        }

        if (isChanged && window.IsNotesPopupOpen == true) {
            isChanged = ExitWarningMessage("", e)
        }

        if (isChanged && window.IsPatientChanged == true) {
            isChanged = CheckPatientDetailsChanges(e);
        }
        return isChanged;
    }

    function NoLogoff()
    {
        if (window.IsAuditLogFromMenu == false) {
            window.IsAuditLogFromMenu = true;
        }

        if (window.IsPatientChanged == false) {
            window.IsPatientChanged = true;
        }

        if (window.IsNotesPopupOpen == false) {
            window.IsNotesPopupOpen = true;
        }
        $('#j_lightbox_logoff').hide();
    }
</script>