﻿@model SCA.Indigo.Web.UI.ViewModel.CareHomeViewModel
@using SCA.Indigo.Web.UI.Resource
@using System.Configuration;
@using SCA.Indigo.Web.UI.Helper
@using SCA.Indigo.Common.Enums

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @Common.resCarehomeTitle</title>
    <link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
    <script type="text/javascript">
        $jqGrid = jQuery.noConflict();
        $jqGrid(document).ready(function () {
            $jqGrid("#jqCareHomePatientDetails").jqGrid({
                datatype: "local",
                colNames: ['@Common.reslblPatientId', '@Common.resGrdPatientIdfull', '', '@Common.resGrdFirstName', '@Common.reslblLastNameNotRequired', '@Common.resGrdPatientType', '', '@Common.resPatientStatus', '@Common.resGrdProductID', '@Common.resGrdDescription', '@Common.resFrequency', '@Common.resQuantity', '@Common.resPrescriptionNDD'],
                colModel: [
                    { name: 'PatientId', index: 'PatientId', editable: false, hidden: true, width: '90px', classes: 'align_left padding_left_10' },
                    { name: 'SAPPatientNumber', index: 'SAPPatientNumber', editable: false, width: '80px', classes: 'align_left padding_left_10' },
                    { name: 'SAPCustomerNumber', index: 'SAPCustomerNumber', editable: false, hidden: true, width: '150px', classes: 'align_left padding_left_10' },
                    { name: 'FirstName', index: 'FirstName', editable: false, width: '90px', classes: 'align_left padding_left_10' },
                    { name: 'LastName', index: 'LastName', editable: false, width: '90px', classes: 'align_left padding_left_10' },
                    { name: 'PatientTypeCode', index: 'PatientTypeCode', editable: false, width: '60px', classes: 'align_left padding_left_10' },
                    { name: 'PatientStatus', index: 'PatientStatus', editable: false, hidden: true, width: '100px', classes: 'align_left padding_left_10' },
                    { name: 'PatientStatusCode', index: 'PatientStatusCode', editable: false, hidden: false, width: '93px', classes: 'align_left padding_left_10' },
                    { name: 'SAPProductId', index: 'SAPProductId', editable: false, width: '70px', classes: 'align_left padding_left_10' },
                    { name: 'ProductDescription', index: 'ProductDescription', editable: false, width: '180px', classes: 'word_wrap_normal align_left padding_left_10' },
                    { name: 'DeliveryFrequency', index: 'DeliveryFrequency', editable: false, width: '52px', classes: 'align_right padding_right_10' },
                    { name: 'Quantity', index: 'Quantity', editable: false, width: '40px', classes: 'align_right padding_right_10' },
                    { name: 'DeliveryDate', index: 'DeliveryDate', editable: false, width: '90px', classes: 'align_left padding_left_10' }
                ],
                height: '305',
                width: 'auto',
                toppager: false,
                ignoreCase: true,
                jsonReader: { repeatitems: false },
                pager: $jqGrid("#jqCareHomePatientDetailsTablePager"),
                rowNum: 50,
                rowList: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
                viewrecords: true,
                autowidth: false,
                sortname: "",
                sortorder: "asc",
                gridComplete: function () {
                    $jqGrid('#jqCareHomePatientDetailsTablePager_left').hide();
                    $jqGrid('#jqCareHomePatientDetails_left').hide();
                    $jqGrid('.ui-paging-info').css("text-align", "left");
                    var rowcount = $jqGrid(this).jqGrid('getGridParam', 'records');
                    if (rowcount == 0) {
                        $jqGrid('#jqCareHomePatientDetailsTablePager_center').hide();
                    }
                    else {
                        $jqGrid('#jqCareHomePatientDetailsTablePager_center').show();
                    }
                    var grid = $jqGrid("#jqCareHomePatientDetails"), ids = grid.jqGrid('getDataIDs'), i, l = ids.length;
                    if ($jqGrid("#chkShowRemoved").is(':checked')) {
                        for (var i = 0; i < l; i++) {
                            $jqGrid("#jqCareHomePatientDetails #" + (ids[i])).show();
                        }
                    }
                    else {
                        for (var i = 0; i < l; i++) {
                            var isPatientStatusRemoved = $jqGrid('#jqCareHomePatientDetails').jqGrid('getCell', ids[i], 'PatientStatus');
                            if (isPatientStatusRemoved == $jqGrid('#hdnPatientStatusRemoved').val()) {
                                $jqGrid("#jqCareHomePatientDetails #" + ids[i]).hide();
                            }
                        }
                    }
                },
                onCellSelect: function (rowid, iCol) {
                    var rowData = $jqGrid(this).getRowData(rowid);
                    SetCareHomeSession();
                    SetPatientLoadParameter(rowData, true);
                    clickevent = "OnCellSelect";
                    $jqGrid.ajax({
                        url: '/Patient/SetClickEventInSession',
                        type: 'GET',
                        async: false,
                        data: { redirectEvent: clickevent },
                        cache: false,
                        success: function (Data) {
                            return true;
                        }
                    });
                    return true;
                },
                ondblClickRow: function (rowid) {
                    SetCareHomeSession();
                    clickevent = "OndblClickRow";
                    $jqGrid.ajax({
                        url: '/Patient/SetClickEventInSession',
                        type: 'GET',
                        async: false,
                        data: { redirectEvent: clickevent },
                        cache: false,
                        success: function (Data) {
                            return true;
                        }
                    });
                    window.location.href = "../../Patient/ViewDetails/" + $("#hdnCareHomeId").val();
                },
                loadComplete: function (data) {
                }
            }).navGrid("#jqCareHomePatientDetailsTablePager",
       { search: false, refresh: false, add: false, edit: false, del: false },
       {},
       {},
       {}
    );
           

        });//end of ready
    </script>

    <style type="text/css">
     .care_home_maintenance_input {position:relative;}
     .ui-datepicker-trigger {cursor: pointer; width: 26px; position: absolute; top: 0; right: 0;}
    </style>

</head>
<body>
    <div id="div_Carehome">
        <form id="frm_CareHome">
            <div class="search_form_main_btns search_form_main_btns_1 carehome_maint_top_btns">
                <span class="page_heading float_left">@Common.resCarehomeTitle</span>
                <a class="search_form_buttons padding_left_right_20" tabindex="12" onclick="return SaveCareHomeDetails();" id="btnSaveHolidayProcess">@Common.resBtnNameSave</a>
                <a href="javascript:void(0);" tabindex="13" class="search_form_buttons padding_left_right_20" onclick="UndoCareHome();">@Common.resBtnGeneralReset</a>
                <a href="javascript:void(0);" tabindex="13" class="search_form_buttons padding_left_right_20" onclick="CancelClick();" id="btnCareHomeCancel">@Common.resBack</a>

            </div>


            <div class="care_home_maintenance">
                <ul class="care_home_maintenance_ul">
                    <li class="width_630">
                        <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                            <span class="care_home_maintenance_lable">@Common.reslblCustomerName</span>
                            <span class="care_home_maintenance_select select-style width_500" tabindex="1">
                                @Html.DropDownList("ddlCustomer", (IEnumerable<SelectListItem>)Model.CustomersList, @Common.resGeneralCustomerDefaultValue,
                                        new { @id = "ddlCustomer", @class = "custom-select width_550" })
                            </span>
                        </div>
                    </li>

                    <li class="width_auto">
                        <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                            <span class="care_home_maintenance_lable">@Common.resCustomerId</span>
                            <span class="care_home_maintenance_input width_130">
                                <label class="read_only_lable" id="lblCustomerId">@Html.DisplayFor(a => a.CustomerId, new { @class = "label" })</label>

                            </span>
                        </div>
                    </li>
                </ul>

                <ul class="care_home_maintenance_ul">
                    <li class="width_630">
                        <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                            <span class="care_home_maintenance_lable">@Common.reslblCareHomeName*</span>
                            <span class="care_home_maintenance_input">
                                @Html.TextBoxFor(a => a.CareHomeName, new { @id = "txtCareHomeName", @maxlength = "100", tabindex = "2", @class = "btn_disable customerInfo width_490", @readonly = "readonly", @disabled = "disabled" })
                            </span>
                        </div>
                    </li>
                    <li class="width_auto">
                        <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                            <span class="care_home_maintenance_lable">@Common.reslblCarehomeId</span>
                            <span class="care_home_maintenance_input width_130">
                                <label class="read_only_lable_2" id="lblCareHomeId">@Html.DisplayFor(a => a.SapCareHomeNumber, new { @class = "label" })</label>
                            </span>
                        </div>
                    </li>
                    </ul>
                <ul class="care_home_maintenance_ul">
                    <li class="width_370px">
                        <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                            <span class="care_home_maintenance_lable">@Common.reslblDeliveryfrequencyCarhome*</span>
                            <span class="care_home_maintenance_input">
                                @Html.TextBoxFor(a => a.DeliveryFrequency, new { @id = "txtDeliveryFrequency", @maxlength = "2", tabindex = "3" })
                            </span>
                        </div>
                    </li>

                    <li class="width_260 margin_right_0">
                        <div class="map_rols_user_cell margin_bot_12" id="divNDD">
                            <span class="care_home_maintenance_lable width_78">@Common.resNextDeliveryDate*</span>
                            <span class="care_home_maintenance_input width_145">
                                @Html.TextBoxFor(a => a.NextDeliveryDate, new { @id = "txtNDD", @class = "CalenderImg datepicker width_114", placeholder = "DD/MM/YYYY", tabindex = "4" })
                                <label id="lblDateParse" style="color:red;font-size:12px"></label>
                            </span>
                        </div>
                    </li>

                    <li class="width_250">
                        <div class="map_rols_user_cell margin_bot_12 search_form_main_btns padding_0" id="divCareHomeReport">
                            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_7x15" id="btnCarehomeReport" onclick="ShowPopupCareHomeReport();">@Common.resbtnCarehomeReport</a>
                        </div>
                    </li>
                </ul>

                <span class="heading-1 cust_param_collapse_heading span_expnd width_100p">@Common.resTitleCareHome</span>
                <div class="care_home_maintenance_block collapse" style="display:block;">
                    <ul class="care_home_maintenance_ul">
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslblHouseName</span>
                                <span class="care_home_maintenance_input">
                                    @Html.TextBoxFor(a => a.HouseName, new { @id = "txtHouseName", @maxlength = "100", tabindex = "5" })
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslblTelephoneNumber*</span>
                                <span class="care_home_maintenance_input">
                                    @Html.TextBoxFor(a => a.PhoneNo, new { @id = "txtPhoneNo", @maxlength = "20", tabindex = "12" })
                                </span>
                            </div>
                        </li>
                        <li style="display:none">@*Requrirment from jude to hide this*@
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslblHouseNumber</span>
                                <span class="care_home_maintenance_input">
                                    @Html.TextBoxFor(a => a.HouseNumber, new { @id = "txtHouseNumber", @maxlength = "40"})
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslableAddress1</span>
                                <span class="care_home_maintenance_input">
                                    @Html.TextBoxFor(a => a.Address1, new { @id = "txtAddress1", @class = "upper", @maxlength = "100", tabindex = "6" })
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslblEmailAddress</span>
                                <span class="care_home_maintenance_input">
                                    @Html.TextBoxFor(a => a.EmailAddress, new { @id = "txtEmailAddress", @maxlength = "50", tabindex = "13"})
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslableAddress2</span>
                                <span class="care_home_maintenance_input">
                                    @Html.TextBoxFor(a => a.Address2, new { @id = "txtAddress2", @class = "upper", @maxlength = "100", tabindex = "7" })
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.resddlCommunicationFormatLabel</span>
                                <span class="care_home_maintenance_select select-style bg_white" tabindex="14">
                                    @*@Html.DropDownList("ddlCarehomeType", (IEnumerable<SelectListItem>)Model.CarehomeTypeList, @Common.reslblCareHomeType,
            new { @class = "custom-select", tabindex = "15" })*@
                                    @Html.DropDownList("ddlCommunicationFormat", (IEnumerable<SelectListItem>)Model.CommunicationFormatList,null,new { @class = "custom-select",multiple="multiple" })
                                    @Html.HiddenFor(x => x.CarehomeCommunicationPreferences)
                                </span>
                            </div>
                        </li>    
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslblTownCity</span>
                                <span class="care_home_maintenance_input">
                                    @Html.TextBoxFor(a => a.TownOrCity, new { @id = "txtTownOrCity", @class = "upper", @maxlength = "32", tabindex = "8" })
                                </span>
                            </div>
                        </li>                   
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslblRound*</span>
                                <span class="care_home_maintenance_input uppercase">
                                    @Html.TextBoxFor(a => a.Round, new { @id = "txtRound", @maxlength = "10", tabindex = "15", @class = "uppercase" })
                                </span>
                            </div>
                        </li>                        
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslblCounty</span>
                                <span class="care_home_maintenance_select select-style bg_white" tabindex="9">
                                    @Html.DropDownList("ddlCounty", (IEnumerable<SelectListItem>)Model.CountyList, @Common.resCountyDropdown, new { @class = "custom-select" })
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslblRoundId*</span>
                                <span class="care_home_maintenance_input">
                                    @Html.TextBoxFor(a => a.RoundId, new { @id = "txtRoundId", @maxlength = "4", tabindex = "16", @class = "uppercase" })
                                </span>
                            </div>
                        </li> 
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslblPostCode</span>
                                <span class="care_home_maintenance_input">
                                    @Html.TextBoxFor(a => a.PostCode, new { @id = "PostCode", @class = "s_txtbox width_108 uppercase", @maxlength = "10", tabindex = "10" })
                                    <input type="button" value="@Common.reslnkCheckAddress" id="btnPostCode" class="search_form_buttons btnFocus" onclick="showPopupPostCode('carehome')" />

                                </span>
                            </div>
                        </li>                       
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslblOrderType*</span>
                                <span class="care_home_maintenance_select select-style bg_white" tabindex="17">
                                    @Html.DropDownList("ddlOrderType", (IEnumerable<SelectListItem>)Model.CarehomeOrderTypeList, @Common.reslblOrderType,
                            new { @class = "custom-select" })
                                </span>
                            </div>
                        </li>   
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslblPurchaseOrderNo</span>
                                <span class="care_home_maintenance_input">
                                    @Html.TextBoxFor(a => a.PurchaseOrderNo, new { @id = "txtPurchaseOrderNo", @maxlength = "20", tabindex = "11" })
                                </span>
                            </div>
                        </li>                    
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslblCarehomeStatus*</span>
                                <span class="care_home_maintenance_select select-style bg_white" tabindex="18">
                                    @Html.DropDownList("ddlStatus", (IEnumerable<SelectListItem>)Model.CarehomeStatusList, @Common.reslblCarehomeStatus,
                            new { @class = "custom-select" })
                                </span>
                            </div>
                        </li>                        
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslableCreatedBy</span>
                                <span class="care_home_maintenance_input">
                                    <label class="read_only_lable_2 width_195" id="lblCreatedBy">@Html.DisplayFor(a => Model.CreatedBy, new { @class = "label" })</label>

                                </span>
                            </div>
                        </li>                        
                        <li>
                            <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                <span class="care_home_maintenance_lable">@Common.reslblCreatedon</span>
                                <span class="care_home_maintenance_input">
                                    <label class="read_only_lable_2 width_195" id="lblCreatedDate">@Html.DisplayFor(a => Model.CreatedDate, new { @class = "label" })</label>
                                </span>
                            </div>
                        </li>
                        @*<li>
                                <div class="map_rols_user_cell new_select_for_search margin_bot_12">
                                    <span class="care_home_maintenance_lable">@Common.reslblMobileNumber</span>
                                    <span class="care_home_maintenance_input">
                                       @Html.TextBoxFor(a => a.MobileNo, new { @id = "txtMobileNo", @maxlength = "20", tabindex = "10" })
                                    </span>
                                </div>
                            </li>*@


                    </ul>

                </div>


                <div class="table_section_4 margin_top_15 mCustomScrollbar">
                    <table id="jqCareHomePatientDetails" class="analysis_information_table"></table>
                    <div id="jqCareHomePatientDetailsTablePager"></div>
                </div>
                <div class="float_left_150">
                    <input type="checkbox" id="chkShowRemoved">&nbsp;<label for="chkShowRemoved">@Common.resChkIncludeRemoved</label>
                </div>
                <div class="patient_information_btns">
                    <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnContactInfo" onclick="ShowPopupContactInfo('@Convert.ToInt32(SCAEnums.ObjectType.CareHome)')">@Common.reslnkContactInfosmall</a>
                    <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnRecentOrder" onclick="showPopupRecentOrders('@Convert.ToInt32(SCAEnums.ObjectType.CareHome)')">@Common.reslnkRecentOrders</a>
                    <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnInteractionsummary" onclick="InteractionObj.ShowPopupInteractionSummary('CareHome')">@Common.resCreateInteractionTitle</a>
                    <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnNote" onclick="ShowCarehomeNotePopup()">Note</a>
                    <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnAddPatient" onclick="AddPatient()">@Common.reslnkAddPatient</a>
                    <a href="javascript:void(0);" class="search_form_buttons small_btn" id="btnAttachment" onclick="AttachmentObj.ShowAttachmentPopup('@((int)SCAEnums.ObjectType.CareHome)')">@Common.resAttachment</a>
                    <a href="javascript:void(0);" class="search_form_buttons small_btn btnAuditLog" id="btnCareHomeAuditLog">Audit Log</a>
                </div>
            </div>

            <div id="divInteractionSummaryPopup" style="display: none">
                @{Html.RenderPartial("_InteractionSummaryPopup");}
            </div>

            <div style="display: none">
                @Html.HiddenFor(a => a.OldCarehomeStatus, new { @id = "hdnCarehomeStatus" })
                @Html.HiddenFor(a => a.HasAnyActiveOrderForOrderType, new { @id = "hdnHasAnyActiveOrderForOrderType" })
                @Html.HiddenFor(a => a.CustomerId, new { @id = "hdnCustomerId" })
                @Html.HiddenFor(a => a.CareHomeId, new { @id = "hdnCareHomeId" })
                @Html.HiddenFor(a => a.UserType, new { @id = "hdnUserType" })
                @Html.HiddenFor(a => a.ShowViewAlert, new { @id = "hdnShowViewAlert" })
                @Html.HiddenFor(m => m.FileCountErrorMessage, new { id = "hdnFileCountErrorMessage" })
                @Html.HiddenFor(q => q.SAPCustomerNumber, new { id = "hdnSAPCustomerNumber" })
                @Html.Hidden("hdnIsCalledFromSearchPage", Model.IsCalledFromSearchPage, new { id = "hdnIsCalledFromSearchPage" })
                @Html.Hidden("hdnIsCalledFromHomePage", Model.IsCalledFromHomePage, new { id = "hdnIsCalledFromHomePage" })
                @Html.Hidden("hdnIsCalledFromInteractionMenu", Model.IsCalledFromInteractionMenu, new { id ="hdnIsCalledFromInteractionMenu"})
                @Html.Hidden("hdnHomeInteractionId", Model.CareHomeInteractionId, new { id = "hdnHomeInteractionId" })
                @Html.Hidden("hdnSetCarehomeSession", Url.Action("SetCareHomeSession", "CareHome"), new { id = "hdnGoBackUrl" })
                <input type="hidden" id="hdnIsReloadCarehome" />
                <input type="hidden" id="hdnresddlCUstomerDefaultValue" value="@Common.resCustomerDropdown" />
                <input type="hidden" id="hdnPostCodeRequired" value="@Common.resPostCodeRequired" />
                <input type="hidden" id="hdnPostCodeInvalid" value="@Common.resPostCodeInvalid" />
                <input type="hidden" id="hdnPostCodeTitle" value="@Common.resPostCodeTitle" />
                <input type="hidden" id="hdnPostCodeSearchKey" value="@ConfigurationManager.AppSettings["PostCodeKey"]" />
                <input type="hidden" id="hdnPostCodeSearchUrl" value="@ConfigurationManager.AppSettings["PostCodeSearchUrl"]" />
                <input type="hidden" id="hdnPostCodeSearchRetrieve" value="@ConfigurationManager.AppSettings["PostCodeSearchRetrieve"]" />
                <input type="hidden" id="hdnPatientStatusRemoved" value="@((int)SCAEnums.PatientStatus.Removed)" />
                @*Validation Message*@>
                <input type="hidden" id="hdnreserrormsgCustomer" value="@Common.resErrorMessageCustomer" />
                <input type="hidden" id="hdnreserrormsgCarehome" value="@Common.resErrorCarehome" />
                <input type="hidden" id="hdnreserrormsgNDD" value="@Common.resErrorNdd" />
                <input type="hidden" id="hdnreserrormsgValidNDD" value="@Common.resValidNdd" />
                <input type="hidden" id="hdnreserrormsgPostCode" value="@Common.resErrorMessagePostCode" />
                <input type="hidden" id="hdnresErrorMessageAddress1" value="@Common.resErrorAddress1" />
                <input type="hidden" id="hdnresErrorMessageAddress2" value="@Common.resErrorAddress2" />
                <input type="hidden" id="hdnreserrormsgCity" value="@Common.resErrorMessageCity" />
                <input type="hidden" id="hdnreserrormsgCounty" value="@Common.resErrorMessageCounty" />
                <input type="hidden" id="hdnreserrormsTelephone" value="@Common.resTelNoErrorMessage" />
                <input type="hidden" id="hdnreserrormsgEmailAddress" value="@Common.reserrormsgEmailAddress" />
                <input type="hidden" id="hdnreserrormsgDeliveryFrequency" value="@Common.resErrorMessageDeliveryFrequency" />
                <input type="hidden" id="hdnreserrormsgRound" value="@Common.resErrorMessageRound" />
                <input type="hidden" id="hdnreserrormsgValidRound" value="@Common.resErrorMessageValidRound" />
                <input type="hidden" id="hdnreserrormsgRoundId" value="@Common.resErrorMessageRoundId" />
                <input type="hidden" id="hdnreserrormsgOrderType" value="@Common.resErrorMessageOrderType" />
                <input type="hidden" id="hdnreserrormsgCareHomeStatus" value="@Common.reserrormsgCareHomeStatus" />
                <input type="hidden" id="hdnreserrormsgCareHomeType" value="@Common.resErrorMessageCareHomeType" />
                <input type="hidden" id="hdnSuccessMessage" value="@Common.resDataSavedSuccessMessage" />
                <input type="hidden" id="hdnFailedMessage" value="@Common.resDataSavedFailedMessage" />
                <input type="hidden" id="hdnCareHomeType" value="@Convert.ToInt32(SCAEnums.ListType.Hospital)" />
                <input type="hidden" id="hdnCareHomeRemovedStatus" value="@Convert.ToInt64(SCAEnums.CareHomeStatus.Removed)" />
                <input type="hidden" id="hdnresInteractionSummaryTitle" value="@Common.resInteractionSummaryTitle" />
                <input type="hidden" id="hdnresGeneralUndoMessage" value="@Common.resGeneralUndoMessage" />
                <input type="hidden" id="hdnInteractionRecentOrderValue" value="@Convert.ToInt32(SCAEnums.ObjectType.CareHome)" />
                <input type="hidden" id="hdnNoteType" value="@Convert.ToInt32(SCAEnums.NoteType.CareHomeNote)" />
                <input type="hidden" id="hdnNoteTitle" value="@Common.resCareHomeNoteTitle" />
                <input type="hidden" id="hdnresAttachmentTitle" value="@Common.resAttachment" />
                <input type="hidden" id="hdnreserrormsgDeliveryFrequencyZero" value="@Common.reserrormsgDeliveryFrequencyZero" />
                <input type="hidden" id="hdnDefaultRoundChar" value="GBHD0000" />
                <input type="hidden" id="hdnresddlCommunicationFormatDefaultValue" value="@Common.resddlCommunicationFormatDefaultValue" />
                <input type="hidden" id="hdnCommFormateNoCommunication" value="@Convert.ToInt64(SCAEnums.CommunicationFormate.Nocommunication)" />
                <input type="hidden" id="hdnCallingForm" value="CareHome"/>
                <input type="hidden" id="hdnCarehomeOrderTypeAutomatic" value="@Convert.ToInt64(SCAEnums.CareHomeOrderType.Automatic)" />
                <input type="hidden" id="hdnCareHomeActiveStatus" value="@Convert.ToInt64(SCAEnums.CareHomeStatus.Active)" />
                <input type="hidden" id="hdnCareHomeStoppedActiveForAddPatient" value="@Common.resCareHomeStoppedActiveForAddPatient" />
                <input type="hidden" id="hdnuserType">
                <input type="hidden" id="hdnreserrormsddlCorrespondenceCounty" value="@Common.resMessageddlCorrespondenceCounty" />
                <input type="hidden" id="hdnresddlCountyDefaultValueForCarehome " value="@Common.resCountyDropdown" />
                <input type="hidden" id="hdnAlertNotePage" value="Carehome" />
                @if (Session[Constants.SessionDoNotShowForCarehome] != null)
                {
                    <input type="hidden" id="hdnSessionDoNotShow" value="@Session[Constants.SessionDoNotShowForCarehome]" />
                }

                @if (Model != null && Model.NddEndDate!=null)
                {
                    @Html.HiddenFor(a => a.NddStartDate, new { @id = "hdnNddStartDate" })
                    @Html.HiddenFor(a => a.NddEndDate, new { @id = "hdnNddEndDate" })                    
                }
            </div>

            @Scripts.Render("~/bundles/CareHomeMaintenance")

            <div id="divCreateInteraction" style="display: none">

            </div>

            <div id="divPostCodeSearchPopup" style="display: none">
                @{Html.RenderPartial("_CheckAddressPopup");}
            </div>

            <div id="divNotesPopup" style="display: none">
                @{Html.RenderPartial("_NotesPopup");}

            </div>

            <div id="divAttachmentPopup" style="display: none">
                @{Html.RenderPartial("_AttachmentPopup");}
            </div>

            <div id="divCareHomeReportPopup" style="display: none">
                @{Html.RenderPartial("_CareHomeReportPopup", Model);}
            </div>

            <div class="j_lightbox_error" id="j_lightbox_error">
                <div class="j_lightbox_error_wrapper">
                    <div class="pop_error">
                        <div id="divErrorMessage" class="pop_error">
                        </div>
                        <br />
                        <div class="j_lightbox_btns search_form_main_btns">
                            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Hidden("hdnCancelprompt", @Common.resMessageCancelPrompt, new { id = "hdnCancelprompt" })
            <div class="j_lightbox_error" id="InteractionExitDiv">
                <div class="j_lightbox_error_wrapper">
                    <div class="pop_error">
                        <div id="divInteractionErrorMessage" class="pop_error">
                        </div>
                        <br />
                        <div class="j_lightbox_btns search_form_main_btns">
                            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_YesClicked">@Common.resLogOffYes</a>
                            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_NoClicked">@Common.resLogOffNo</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="j_lightbox_error" id="divAttachmentError_lightbox">
                <div class="j_lightbox_error_wrapper">
                    <div class="pop_error">
                        <div id="divAttachmentError" class="pop_error">
                        </div>
                        <br />
                        <div class="j_lightbox_btns search_form_main_btns">
                            <a href="javascript:void(0);" class="search_form_buttons padding_left_right_15 j_lightbox_error_ok">@Common.resbtnErrorOk</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="j_lightbox_error" id="divViewCarehomeError">
                <div class="j_lightbox_error_wrapper short_pop">
                    <div class="padding_20 search_form_main_btns align_center community_ord_mgs1">
                        @Common.resSelectViewCareHome<br /><br />
                        <a href="@Url.Action("SearchData", "Search")" class="search_form_buttons padding_left_right_15 small_btn_2">@Common.resBtnSelectCarehome</a>
                    </div>
                </div>
            </div>

            <div id="divHasActiveOrderCarehomeOrderType" class="pop_error" style="display:none">
                <span class="pop_error_ul">@Common.resMsgCarehomeOrderTypeChange<br /></span>
            </div>

            <div id="divCarehomeOrderTypeAutomatic" class="pop_error" style="display:none">
                <span class="">@Html.Raw(Common.resCarehomeOrderTypeChangeAutomatic)<br /></span>
            </div>

            <div id="divPatientContactInfoPopup" style="display: none">
                @{Html.RenderPartial("_PatientContactInfoPopup");}
            </div>

            <div id="divPatientRecentOrdersPopup" style="display: none">
                @{Html.RenderPartial("_PatientRecentOrdersPopup");}
            </div>

            <div id="divAuditLogPartial" style="display:none; width:750px; height:420px !important;">
                @{Html.RenderPartial("_AuditLogPopup");}
            </div>

            <div id="divHasActiveOrderForStatusChange" class="pop_error" style="display:none">
                <span class="pop_error_ul">@Common.resErrorForActiveOrder<br /></span>
            </div>           
        </form>
    </div>
</body>
</html>
